﻿@model Datasoft.AssistedLiving.Web.Models.LoginViewModel

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/GuestNotification/services.js"></script>
<script src="~/Scripts/GuestNotification/guestnotification.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://unpkg.com/jspdf-autotable@2.3.2"></script>

<style>
    #res_container {
        /*position: relative;*/
        /*width: 480px;*/
        height: 530px;
        overflow: auto;
    }
    .msg_button {
        margin-top: -19px !important;
        margin-left: -134px !important;
    }

    @@media (max-width:1024px) {
        .m-portlet .m-portlet__head {
            height: 3rem !important;
        }

        .m-widget4 .m-widget4__item {
            padding-top: .3rem !important;
            padding-bottom: .3rem !important;
        }

    }
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__body ">
                <button class="btn btn-accent m-btn " type="button" id="changePassword" target="#changePasswordDiag" data-toggle="modal">
                    Change Password
                </button>

                <button class="btn btn-primary" type="button" id="changeContactInfo" data-target="#changeContactInfoDiag" data-toggle="modal">

                    Change Contact Info
                </button>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="row">
    <div class="col-lg-3" >
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> RESIDENT </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="res_container">
                <div class="m-widget4" id="resident_table">

                </div>
                @*<table id="resident_tbl">
                    <tbody id=""></tbody>
                </table>*@

            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> RESIDENT DETAIL -&nbsp;<span id="res_name"></span></h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body" id="rm_container2">

                <input type="hidden" id="current_resident_id" value="" />
                <input type="hidden" id="res_id" value="" />
                <input type="hidden" name="responsible_person_guest" id="responsible_person_guest" />
                <input type="hidden" id="monthfilter" />
                <input type="hidden" id="yrfilter" />
                <input type="hidden" id="cidtext" />

                <form id="residentmodal_form">
                    <div id="residentForm" class="content">
                        <div class="form row m-row--no-padding m-form tabs" style="overflow:hidden !important;">
                            <ul class="nav nav-tabs nav-fill">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                        Services
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">
                                        Unusual Incident Report
                                    </a>
                                </li>
                            </ul>
                        </div>



                        <div class="tabPanels tab-content" style="overflow:hidden !important">

                            <div id="tab-1" class="form resForm tab-pane active" role="tabpanel">

                                <div class="m-portlet__head" style="margin-top: -14px;">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon">
                                                    <i id="labelheaderimg"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text" id="labelheader"></h3>
                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul id="legend_list" class="m-portlet__nav">
                                                <li>
                                                    <a id="seldaterange" data-toggle="modal" data-target="#dateRange" href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air add">
                                                        <span>
                                                            <i class="la la-plus"></i>
                                                            <span>Select Date Range</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <table id="services_tbl" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th>Task Date</th>
                                                <th>Task</th>
                                                <th>Carestaff</th>
                                                <th>Department</th>
                                                <th>Schedule</th>
                                                <th>Duration</th>
                                                <th>Status</th>
                                                <th>Remarks</th>
                                                <th>Acknowledge By</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody id="resident_task"></tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                            <div id="tab-2" class="resForm tab-pane" role="tabpanel">
                                @*<div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon">
                                                    <i id="labelHeaderImg"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul id="legend_list" class="m-portlet__nav">
                                                <li>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">*@
                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <table id="uir_tbl" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th>Resident Involved</th>
                                                <th>Date Occured</th>
                                                <th>Incident Description</th>
                                                <th>Action Taken</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="incident_report"></tbody>
                                    </table>
                                </div>


                                @*</div>*@

                            </div>

                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="changePasswordDiag" modalid="changePasswordDiag_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('changePasswordDiag')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="form-group row">
                        <label>Current Password:</label>
                        <input type="password" id="CurrentPassword" name="CurrentPassword" class="form-control m-input" required />
                    </div>
                    <div class="form-group row">
                        <label> New Password:</label>
                        <input type="password" id="Password" name="Password" class="form-control m-input" required />
                    </div>
                    <div class="form-group row">
                        <label>Confirm Password:</label>
                        <input type="password" id="ConfirmPassword" autofocus name="ConfirmPassword" maxlength="150" class="form-control m-input" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('changePasswordDiag')">Close</button>
                <button type="button" class="btn btn-primary" id="save_password">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeContactInfoDiag" modalid="changeContactInfoDiag_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Contact Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('changeContactInfoDiag')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="form-group row">
                        <label>Name:</label>
                        <input type="text" id="Name" name="Name" class="form-control m-input" />
                    </div>
                    <div class="form-group row">
                        <label>Address:</label>
                        <input type="text" id="Address" name="Address" class="form-control m-input" />
                    </div>
                    <div class="form-group row">
                        <label>Telephone:</label>
                        <input type="text" id="TelNumber" name="TelNumber" class="form-control m-input" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('changeContactInfoDiag')">Close</button>
                <button type="button" class="btn btn-primary" id="save_contactInfo">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dateRange" modalid="dateRange_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Generate Date Range</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('dateRange')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="display:inline-block;">
                        <table>
                            <tr>
                                <td>
                                    <label>Start Date:</label>
                                    <input type="text" id="completion_date" name="completion_date" class="form-control m-input" />
                                </td>
                                <td style="width:10px;"></td>
                                <td>
                                    <label>End Date:</label>
                                    <input type="text" id="completion_date_end" name="completion_date_end" class="form-control m-input" />
                                </td>
                            </tr>
                        </table>


                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal" onclick="closeModal('dateRange')">Close</button>
                <button type="button" class="btn btn-primary" id="generatedataRange">Generate</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="guestDiag" modalid="guestDiag_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('guestDiag')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="container">
                            <div class="well well-sm" id="well_comment">

                            </div>
                            <br />
                            <div class="form-group">
                                
                                    
                                    <textarea id="comment" name="comment" class="form-control m-input" maxlength="150" rows="4" ></textarea>

                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal" onclick="closeModal('guestDiag')">Close</button>
                <button type="button" class="btn btn-primary" id="sendMessage">Send Message</button>
            </div>
        </div>
    </div>
</div>












