﻿@{
    ViewBag.Title = "Dashboard";
}

<script src="~/Scripts/dashboard.layout.min.js?v=1"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dashboard.min.css")" media="all" />
<article id="dashboardMainContainer" style="width:100vw;margin:0 !important;padding: 0!important;">
    <content id="dashboardCenterContainer">
        <div>
            <div class="headers">
                <h2 class="left">Dashboard Updates</h2>
            </div>
        </div>
        <div id="dashboardContainer">
            <div id="dashboardContent">
                <div id="DashboardForm"  style="overflow:hidden !important;">
                    <div id="dashTabs" class="tabs">
                        <ul style="width: 94%">
                            <li><a href="#Home">Home</a></li>
                            <li><a href="#PendingAdmission">Pending Admissions</a></li>
                            <li><a href="#Activities">Activities</a></li>
                        </ul>
                    </div>
                    <div id="dashTabsContent" class="tabPanels" style="overflow:hidden !important;">
                        <div id="Home">
                            <table class="box">
                                <tr>
                                    <td>
                                        <div class="box-left" style="border:solid 2px #4F81BD;">
                                            <div class="header" style="color:#4F81BD">REFERRAL</div>
                                            <div class="col-header" style="">
                                                <div class="content-header" style="background-color: #4F81BD"><span>NEW LEADS</span><a id="btnCreate" class="new" style="padding-left:20px" title="Create New Referral">+</a></div>
                                                <div class="content-body-blue" style="overflow-y:auto !important">
                                                    <table style="width:100%;"><tbody></tbody></table>
                                                </div>
                                            </div>

                                            <div class="col-header" style="margin-top:20px">
                                                <div class="content-body-blue1 below-blue">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="text-align:center"><strong>FOLLOW UP</strong></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="content-body-blue below-blue2" style="overflow-y:auto !important">
                                                    <table style="width:100%;"><tbody></tbody></table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box-left" style="border:solid 2px #C0504D;">
                                            <div class="header" style="color:#C0504D">TOUR</div>
                                            <div class="col-header" style="">
                                                <div class="content-header" style="background-color: #C0504D">SCHEDULE</div>
                                                <div class="content-body-red" style="overflow-y:auto !important">
                                                    <table style="width:100%;"><tbody></tbody></table>
                                                </div>
                                            </div>
                                            <div class="col-header" style="margin-top:20px">
                                                <div class="content-body-red1 below-red">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="text-align:center"><strong>COMPLETED TOUR</strong></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="content-body-red below-red2" style="overflow-y:auto !important">
                                                        <table style="width:100%;"><tbody></tbody></table>
                                                    </div>
                                                 </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box-left" style="border:solid 2px #8064A2;">
                                            <div class="header" style="color:#8064A2">ASSESSMENT</div>
                                            <div class="col-header" style="">
                                                <div class="content-header" style="background-color: #8064A2">FOR COMPLETION</div>
                                                <div class="content-body-purple" style="overflow-y:auto !important">
                                                    <table style="width:100%;"><tbody></tbody></table>
                                                </div>
                                            </div>
                                            <div class="col-header" style="margin-top:20px">
                                                <div class="content-body-purple1 below-purple">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="text-align:center"><strong>COMPLETED</strong></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="content-body-purple below-purple2" style="overflow-y:auto !important">
                                                    <table style="width:100%;border-collapse: separate !important;"><tbody></tbody></table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="box-left" style="border:solid 2px #9BBB59;">
                                            <div class="header" style="color:#9BBB59">MOVE IN</div>
                                            <div class="col-header" style="">
                                                <div class="content-header" style="background-color: #9BBB59">SCHEDULE</div>
                                                <div class="content-body-lime" style="overflow-y:auto !important">
                                                    <table style="width:100%;"><tbody></tbody></table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="PendingAdmission" style="padding:10px">
                            <div style="padding: 5px 0">
                                <button id="admitResidents" class="primaryBtn" type="button">Admit as Resident(s)</button> <span style="font-size:10px;font-weight:normal">Use 'Shift + Click' if you want to select range of resident checkboxes.</span>
                            </div>
                            <div id="divdataTable" style="padding-top:10px;overflow-y:auto !important">
                                <table id="dataTable">
                                    <thead>
                                        <tr>
                                            <td style="width:10%;text-align:center;">Select</td>
                                            <td style="width:50%">Resident Name</td>
                                            <td style="width:20%">Pre-Admission Date</td>
                                            <td style="width:20%">Admission Status</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div id="Activities" style="padding:10px">
                            Activities
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</article>

