﻿@{
    bool IsCarestaff = false;
    bool IsDeptHead = false;
    bool IsGuest = false;

    string CurrentDateTime = "";
    string CD = "";
    string timeout = "";
    string isauth = "";
    var tm = "";
    var usr = User.Identity.Name;
    string username = "";
    string ishomecare = "";
    string lastUpdate = "";
    string version = "";
    if (usr != "")
    {
        var toSplit = usr.Split('|');
        if (toSplit.Length > 1)
        {
            tm = toSplit[3];
            username = toSplit[0].ToString();
            username = username.ToUpper();
            ishomecare = toSplit[4].ToString();
            lastUpdate = toSplit[5].ToString();
            version = toSplit[6].ToString();
        }
    }


    if (User.IsInRole("4") || User.IsInRole("5") || User.IsInRole("6") || User.IsInRole("7"))
    {
        IsCarestaff = true;
    }
    // 9, 10, 11, 12, 13
    if (User.IsInRole("9") || User.IsInRole("10") || User.IsInRole("11") || User.IsInRole("12") || User.IsInRole("13"))
    {
        IsDeptHead = true;
    }
    string GetLink = "";

    if (ishomecare == "True")
    {
        if (User.IsInRole("1"))
        {
            GetLink = Url.Content("~/HomeCare");
        }
        else
        {
            GetLink = Url.Content("~/HomeCareCarestaff");
        }
    }
    else
    {

        if (User.IsInRole("3"))
        {
            GetLink = Url.Content("~/MAR");
        }
        else if (User.IsInRole("8"))
        {
            GetLink = Url.Content("~/Marketer");
        }
        else if (User.IsInRole("1"))
        {
            GetLink = Url.Content("~/Home");
        }

        else if (User.IsInRole("16") || User.IsInRole("20") || User.IsInRole("19"))
        {
            GetLink = Url.Content("~/GuestNotification");
            IsCarestaff = true;
            IsGuest = true;
        }
        else if (IsCarestaff || IsDeptHead)
        {
            GetLink = Url.Content("~/Transsched");
        }
        else
        {
            GetLink = Url.Content("~/Home");
        }

    }




    //var toSplit = usr.Split('|');
    //tm = toSplit[3];
    if (Request.IsAuthenticated)
    {
        CurrentDateTime = DataSoft.Helpers.Utility.ToTimezonedDateTimeFriendlyTZ(DateTime.Now, "ddd, MMM dd yyyy h:mmtt");
        CD = DataSoft.Helpers.Utility.ToTimezonedDateTime(DateTime.Now, "MM/dd/yyyy");
        timeout = tm == null ? "3" : tm;
        isauth = "yes";
    }
    else
    {
        isauth = "no";
    }
}
<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")"/>*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.min.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fonts.min.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/master.min.css?v=2.3")" media="screen" />*@

    <script src="@Url.Content("~/assets/dist/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.maskedinput.min-1.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.plugins.min.js?v=2.1")"></script>
    <script src="@Url.Content("~/Scripts/jquery.timepicker.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.qtip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.blockUI.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/scripts/jquery.fileupload-ui.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    @*<script src="@Url.Content("~/scripts/jquery.layout.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/site.layout.min.js?v=1.8")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/jquery.layout.min.js")" type="text/javascript"></script>*@
    @*<link href="@Url.Content("~/jGrid/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/jGrid502/css/ui.jqgrid-custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/jGrid502/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/jGrid502/js/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/jGrid502/js/jquery.jqGrid.dynamicLink.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>


    @* START: DOWNLOADED SCRIPTS *@
    <script src="~/assets/dist/jquery-ui.js"></script>
    <script src="~/assets/dist/popper.min.js"></script>
    <script src="~/assets/dist/bootstrap.min.js"></script>
    <script src="~/assets/dist/promise-polyfill.js"></script>
    <script src="~/assets/dist/moment.js"></script>
    <script src="~/assets/dist/perfect-scrollbar.js"></script>
    <link href="~/assets/dist/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/vendors/custom/custom-style.css" rel="stylesheet" />
    <script src="~/assets/dist/jquery.validate.js"></script>
    <link href="~/assets/dist/toastr.min.css" rel="stylesheet" />
    <script src="~/assets/dist/toastr.min.js"></script>
    <script src="~/assets/dist/jquery.cookie.js"></script>
    <link href="~/assets/dist/datatables.bundle.css" rel="stylesheet" />
    <script src="~/assets/demo/demo7/sweetalert2.js"></script>
    <script src="~/assets/dist/typeahead.bundle.js"></script>

    @* this should be on the bottom of the src scripts *@
    <script src="~/assets/dist/custom-settings.js"></script>
    @* END: DOWNLOADED SCRIPTS *@
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }
    </script>


    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    <link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/demo7/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="~/Images/assisted-living-logo2.png" />
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var isAuthPage = true;
        var ALC_URI = {
            Dashboard: '@Url.Content("~/Dashboard")',
            Admin: '@Url.Content("~/Admin")',
            Home: '@Url.Content("~/Home")',
            Login: '@Url.Content("~/Login")',
            Referral: '@Url.Content("~/Referral")',
            MAR: '@Url.Content("~/MAR")',
            Marketer: '@Url.Content("~/Marketer")',
            Account: '@Url.Content("~/Account")',
            SwitchRole: '@Url.Content("~/SwitchRole")',
            Transsched: '@Url.Content("~/Transsched")',
            GuestNotification: '@Url.Content("~/GuestNotification")',
            HomeCare: '@Url.Content("~/HomeCare")',
        }

        var ALC_Util = {
            CurrentDate: '@CD',
            IsAuthenticated : @(Request.IsAuthenticated ? 1 : 0),
        }

        var Grid = { Settings: { init: function () { } } };

        $(document).on('mouseenter','#mainMenuDropdown',function () {
            $('#mainMenuDropdownContainer').show();
        });
        $(document).on('mouseleave', '#mainMenuDropdown', function () {
            $('#mainMenuDropdownContainer').hide();
        });

        var is_auth = "@isauth";
        if ( is_auth == "yes"){
            CheckIdleTime(@timeout);
        }


        function CheckIdleTime(t) {
            var timeout = t *60*1000;
            var t = setTimeout(logout, timeout);

            window.onload = resetTimer;
            window.onmousemove = resetTimer; // catches mouse movements
            window.onmousedown = resetTimer; // catches mouse movements
            window.onclick = resetTimer;     // catches mouse clicks
            window.onscroll = resetTimer;    // catches scrolling
            window.onkeypress = resetTimer;  //catches keyboard actions

            function resetTimer() {
                clearTimeout(t);
                t = setTimeout(logout, timeout);
            }

           function logout() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: ALC_URI.Login +"/LogOff",
                async: false,
                success: function (m) {
                    location.href = "Login";
                    //if (m.Result == 1) {
                    //    debugger

                    //    //location.href = m.RedirectUrl;

                    //}
                }
            });
            }

        }

    </script>

    <style>
               #jsTreeView .m-menu__link-text {
                   /*visibility: hidden !important;*/
               }

               .dataTables_wrapper .dataTable .selected td, .dataTables_wrapper .dataTable .selected th {
                   background-color: #c4efff;
                   color: #000000;
               }

               table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
                   color: #000000;
               }

               .m-footer {
                   position: fixed;
                   top: auto;
                   bottom: 0px;
                   left: 0px;
                   right: 0px;
                   width: auto;
                   z-index: 0;
                   display: block;
                   visibility: visible;
                   height: 30px !important;
                   min-height: 30px !important;
               }

               .m-portlet {
                   margin-bottom: 1.2rem;
               }

                   .m-portlet .m-portlet__body {
                       padding: 1rem 1rem;
                   }

               @@media (max-width:1024px) {
                   body, html {
                       font-size: 11px !important;
                   }

                   #m_aside_left {
                       width: 255px !important;
                   }

                   .loader {
                       left: 45% !important;
                       width: 40px !important;
                       height: 40px !important;
                       border: 9px solid #ebedf2 !important;
                       border-top: 9px solid #3498db !important;
                   }
               }

               @@media (min-width:1025px) {

                   .loader {
                       left: 49% !important;
                   }
               }

               .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
                   color: black !important;
                   font-weight: bold !important; /*Angelie here*/
               }

               .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-icon {
                   color: black !important;
                   font-weight: bold !important; /*Angelie here*/
               }

               #lblAgencyName {
                   /*margin-top: 15px !important;*/
               }
               /*
        * Timepicker stylesheet
        * Highly inspired from datepicker
        * FG - Nov 2010 - Web3R
        *
        * version 0.0.3 : Fixed some settings, more dynamic
        * version 0.0.4 : Removed width:100% on tables
        * version 0.1.1 : set width 0 on tables to fix an ie6 bug
        */
               .ui-timepicker-inline {
                   display: inline;
               }

               #ui-timepicker-div {
                   font: normal 12px/1.0 'Tahoma';
                   padding: 0.2em;
                   border: 1px solid #bac9e0;
                   background: #dde5f1;
               }

               .ui-timepicker-table {
                   display: inline-table;
                   width: 0;
               }

                   .ui-timepicker-table table {
                       margin: 0.15em 0 0 0;
                       border-collapse: collapse;
                   }

               .ui-timepicker-hours, .ui-timepicker-minutes {
                   padding: 0.2em;
               }

               .ui-timepicker-table .ui-timepicker-title {
                   line-height: 1.8em;
                   text-align: center;
                   border: 1px solid #bac9e0;
                   background: #3b5998;
                   color: #fff
               }

               .ui-timepicker-table td {
                   padding: 0.1em;
                   width: 2.2em;
               }

               .ui-timepicker-table th.periods {
                   padding: 0.1em;
                   width: 2.2em;
               }

               /* span for disabled cells */
               .ui-timepicker-table td span {
                   display: block;
                   padding: 0.2em 1.3em 0.2em 0.5em;
                   width: 1.2em;
                   text-align: right;
                   text-decoration: none;
               }
               /* anchors for clickable cells */
               .ui-timepicker-table td a {
                   display: block;
                   padding: 0.2em 1.3em 0.2em 0.5em;
                   width: 1.2em;
                   cursor: pointer;
                   text-align: right;
                   text-decoration: none;
                   border: 1px solid #bac9e0;
                   background: #bac9e0;
               }

                   .ui-timepicker-table td a:hover {
                       display: block;
                       padding: 0.2em 1.3em 0.2em 0.5em;
                       width: 1.2em;
                       cursor: pointer;
                       text-align: right;
                       text-decoration: none;
                       border: 1px solid #bac9e0;
                       background: #3b5998;
                       color: #bac9e0
                   }

                   .ui-timepicker-table td a.ui-state-active {
                       display: block;
                       padding: 0.2em 1.3em 0.2em 0.5em;
                       width: 1.2em;
                       cursor: pointer;
                       text-align: right;
                       text-decoration: none;
                       border: 1px solid #bac9e0;
                       background: #3b5998;
                       color: #bac9e0;
                   }
    </style>

</head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default" style="">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                @if (ishomecare == "True")
                                {

                                <a href="HomeCare" class="m-brand__logo-wrapper">

                                    <img alt="" src="~/Images/HomeCareCentre.png">
                                </a>
                                }
                                else
                                {
                                <a href="Home" class="m-brand__logo-wrapper">
                                    <img alt="" src="~/Images/assisted-living-logo2.png">
                                   
                                </a>
                                }



                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>
                                <!-- BEGIN: Topbar Toggler -->
                            </div>
                        </div>
                    </div>
                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                        <!-- BEGIN: Horizontal Menu -->
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                            <i class="la la-close"></i>
                        </button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
                                    <h2 id="lblAgencyName" class="agencyName"></h2>
                                </li>

                            </ul>
                           
                        </div>
                        <!-- END: Horizontal Menu -->
                        <!-- BEGIN: Topbar -->
                        @{
                            if (isauth == "yes")
                            {

                                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">

                                    <div class="m-stack__item m-topbar__nav-wrapper">
                                        <span style="font-size: 14px; font-weight: 400;">Hi, <span id="username"> @username</span>! </span>
                                        <ul class="m-topbar__nav m-nav m-nav--inline">
                                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">

                                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                                    <span class="m-topbar__userpic m--hide">
                                                        <img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="">
                                                    </span>
                                                    <span class="m-nav__link-icon m-topbar__usericon">
                                                        <span class="m-nav__link-icon-wrapper">
                                                            <i class="flaticon-user-ok"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                                <div class="m-dropdown__wrapper">
                                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                    <div class="m-dropdown__inner">
                                                        <div class="m-dropdown__header m--align-center">
                                                            <div class="m-card-user m-card-user--skin-light">
                                                                <div class="m-card-user__pic">
                                                                    <img id="usrpic" src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="">
                                                                </div>
                                                                <div class="m-card-user__details">
                                                                    <span id="usrname" class="m-card-user__name m--font-weight-500">

                                                                    </span>
                                                                    <a href="" id="usremail" class="m-card-user__email m--font-weight-300 m-link">

                                                                    </a>
                                                                    <button type="submit" class="btn btn-primary" id="btnchange" data-target="#pass_modal" data-toggle="modal">Change Password</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            @{
                                                if (User.IsInRole("1"))
                                                {
                                                    <li id="m_quick_sidebar_toggle" class="m-nav__item">
                                                        <a href="Message" id="msg_btn" class="m-nav__link ">
                                                            <span id="comment_notif" class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                                                            <span class="m-nav__link-icon">
                                                                <span id="msg_count" alt="Unread Message" style="color:#36a3f7;font-weight:bold;margin-left: -2px;position:absolute;margin-top: 32px;"></span>
                                                                <span class="m-nav__link-icon-wrapper">
                                                                    <i class="la la-envelope"></i>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light " style="width: 70px;">
                <!-- BEGIN: Brand -->
                <div class="m-brand  m-brand--skin-light ">
                    @{
                        if (isauth == "yes")
                        {
                            if (ishomecare == "True")
                            {

                                if (User.IsInRole("1"))
                                {
                                    <a href="HomeCare" class="m-brand__logo">
                                        <img alt="" src="~/Images/HomeCareCentre.png">
                                    </a>
                                }
                                else
                                {
                                    <a href="HomeCareStaff" class="m-brand__logo">
                                        <img alt="" src="~/Images/HomeCareCentre.png">
                                    </a>
                                }

                            }
                            else
                            {
                                if (User.IsInRole("1"))
                                {
                                    <a href="Home" class="m-brand__logo">
                                        <img alt="" src="~/Images/Assistive.png">
                                    </a>
                                }
                                else if (User.IsInRole("8"))
                                {
                                    <a href="Marketer" class="m-brand__logo">
                                        <img alt="" src="~/Images/Assistive.png">
                                    </a>
                                }
                                else if (User.IsInRole("3") || User.IsInRole("9"))
                                {
                                    <a href="MAR" class="m-brand__logo">
                                        <img alt="" src="~/Images/Assistive.png">
                                    </a>
                                }
                                else if (User.IsInRole("16") || User.IsInRole("20") || User.IsInRole("19"))
                                { //CHANGE THIS. DETERMINE GUEST ROLE FIRST!!!!!!
                                    <a href="GuestNotification" class="m-brand__logo">
                                        <img alt="" src="~/Images/Assistive.png">
                                    </a>
                                }
                                else
                                {
                                    <a href="Transsched" class="m-brand__logo">
                                        <img alt="" src="~/Images/Assistive.png">
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            <a href="~/Login" class="m-brand__logo">
                                <img alt="" src="~/Images/Assistive.png">
                            </a>
                        }

                    }

                </div>
                <!-- END: Brand -->
                <!-- BEGIN: Aside Menu -->
                <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " data-menu-vertical="true" m-menu-scrollable="true" m-menu-dropdown-timeout="500">
                    <div>
                        <div id="jsTreeView" class="ajsTreePanel">
                        </div>
                    </div>

                    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                        @{
                            if (User.IsInRole("1"))
                            {
                                <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-2" aria-haspopup="true" m-menu-submenu-toggle="click">
                                    <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                        <i class="m-menu__link-icon socicon-periscope"></i>
                                        <span class="m-menu__link-text">
                                            Help
                                        </span>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="m-menu__submenu m-menu__submenu--up">
                                        <span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                                <a href="inner.html" class="m-menu__link " id="preflink" data-target="#preference_modal" data-toggle="modal">
                                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                                    <span class="m-menu__link-text">
                                                        Preferences
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }

                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-1" aria-haspopup="true" m-menu-submenu-toggle="click">
                            @{
                                if (isauth == "yes")
                                {
                                    <a href="javascript:;" class="m-menu__link m-menu__toggle" id="logoutLink">
                                        <i class="m-menu__link-icon la la-sign-out"></i>
                                        <span class="m-menu__link-text">
                                            Logout
                                        </span>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <!-- END: Aside Menu -->
            </div>
            <div class="m-aside-menu-overlay"></div>
            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                    <!--Begin::Section-->

                    @RenderBody()

                    @*<div class="m-portlet">
                            <div class="m-portlet__body  m-portlet__body--no-padding">
                                <div class="row m-row--no-padding m-row--col-separator-xl">

                                </div>
                            </div>
                        </div>*@


                    <!--End::Section-->
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item		m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                        <span class="m-footer__copyright">

                            @*Add date updated here : Angelie, 07-12-22 *@
                            Data Soft Logic Corporation &copy; 2015.  All rights reserved &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Last Update : @lastUpdate &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                            @if (Request.IsAuthenticated)
                            {
                                <span style="text-align: right; font-style:italic;font-size:11px ">Current Date & Time: <span id="spCT">@CurrentDateTime</span></span>
                            }
                        </span>
                    </div>

                </div>
            </div>
        </footer>
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Quick Sidebar -->
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
    <!-- begin::Quick Nav -->
    <!--begin::Base Scripts -->
    <script src="~/assets/vendors/custom/custom-vendor.js" type="text/javascript"></script>

    <script src="~/assets/demo/demo7/base/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/assets/dist/datatables.bundle.js"></script>
    <script src="~/assets/dist/dataTables.buttons.min.js"></script>
    <script src="~/assets/dist/dataTables.select.min.js"></script>
    <script src="~/assets/dist/jszip.min.js"></script>
    <script src="~/assets/dist/buttons.flash.min.js"></script>
    <script src="~/assets/dist/buttons.html5.min.js"></script>
    <link href="~/assets/dist/buttons.dataTables.min.css" rel="stylesheet" />


    <script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="@Url.Content("~/scripts/jquery.fileupload.js")" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Vendors -->

    <script src="@Url.Content("~/assets/dist/bootstrap-datepicker.init.js")"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Snippets -->
    @*<script src="~/assets/app/js/dashboard.js" type="text/javascript"></script>*@
    <!--end::Page Snippets -->
    <!-- end::Body -->
    @*<div class="loader" style="display:none;z-index:3000 !important"></div>*@
    <div class="daterangepicker dropdown-menu ltr opensleft">
        <div class="calendar left">
            <div class="daterangepicker_input">
                <input class="input-mini form-control" type="text" name="daterangepicker_start" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
                <div class="calendar-time" style="display: none;">
                    <div></div>
                    <i class="fa fa-clock-o glyphicon glyphicon-time"></i>
                </div>
            </div>
            <div class="calendar-table"></div>
        </div>
        <div class="calendar right">
            <div class="daterangepicker_input">
                <input class="input-mini form-control" type="text" name="daterangepicker_end" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
                <div class="calendar-time" style="display: none;">
                    <div></div>
                    <i class="fa fa-clock-o glyphicon glyphicon-time"></i>
                </div>
            </div>
            <div class="calendar-table"></div>
        </div>
        <div class="ranges">
            <ul>
                <li data-range-key="Today">Today</li>
                <li data-range-key="Yesterday">Yesterday</li>
                <li data-range-key="Last 7 Days">Last 7 Days</li>
                <li data-range-key="Last 30 Days">Last 30 Days</li>
                <li data-range-key="This Month">This Month</li>
                <li data-range-key="Last Month">Last Month</li>
                <li data-range-key="Custom Range">Custom Range</li>
            </ul>
            <div class="range_inputs"><button class="applyBtn btn btn-sm btn-success" disabled="disabled" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button></div>
        </div>
    </div>


    <div class="modal fade" id="preference_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Preferences</h3>
                    @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>*@
                </div>
                @*<form>*@
                <div class="modal-body" id="prefCont" style="padding:0">
                </div>
                @*</form>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('preference_modal')">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnPreference" )">Save</button>
                </div>
            </div>

        </div>
    </div>
    <script src="~/Scripts/initscript.js"></script>

    <script type="text/javascript">
        var res_id ="";
        //get unread messages count

        function getUnreadCount(name) {
            $.ajax({
                url: ALC_URI.GuestNotification + '/GetUnreadCount',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                success: function (d) {

                    if(d.comment_count == 0){
                        $("#comment_notif").hide();
                    }else{
                        $("#comment_notif").show();
                    }

                    if(name != "#well_comment"){
                        counter = d.comment_count;
                        // $("#msgcntr").html("Unread Messages: " + counter);
                        $("#msg_count").html("");
                        if (counter != 0){
                            $("#msg_count").html(counter);
                        }
                    }
                }
            });
        }

        function getResWithComments(){
            $.ajax({
                url: ALC_URI.GuestNotification + '/GetResidents',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                success: function (d) {
                    $('#resident_table').find(".resident_name").css("color", "#5867dd");
                    $('#resident_table').find(".resident_name i").removeClass("fa fa-envelope");
                        $.each(d.with_comment, function (i, data) {
                            var rid = data.resident_id;

                            $('#resident_table').find(".resident_name[id='" + rid + "']").css("color", "red");
                            $('#resident_table').find(".resident_name[id='" + rid + "'] i").addClass("fa fa-envelope");
                            //$('#services_tbl').find("td .addComment[cid='" + cid + "'] .buttontext").css("color", "red");
                            //$('#services_tbl').find("td .addComment[cid='" + cid + "'] .buttontext").css("font-weight", "bold");
                            //$('#services_tbl').find("td .addComment[cid='" + cid + "'] .btext").text("New Message!");
                            //$('#resident_table').find(".resident_name[id='" + rid + "']").css("color", "red");
                            //$('#services_tbl').find("tr .addComment[cid='" + cid + "']").closest("tr").css("font-weight", "bold");
                        });
                }
            });
        }

        var getGuestCommentRead = function (resident_id) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url:ALC_URI.GuestNotification + "/GetGridData?func=guest_comment&param=" + resident_id,
                dataType: "json",
                success: function (m) {
                    if (m.length > 0) {
                        $.each(m, function (i, data) {
                            var cid = data.cid;
                            var rid = data.resident_id;
                            if (data.guest_read_status == "unread") {
                                $('#services_tbl').find("td .addComment[cid='" + cid + "'] i").addClass("fa fa-envelope");
                                $('#services_tbl').find("td .addComment[cid='" + cid + "'] .buttontext").css("color", "red");
                                $('#services_tbl').find("td .addComment[cid='" + cid + "'] .buttontext").css("font-weight", "bold");
                                $('#services_tbl').find("td .addComment[cid='" + cid + "'] .btext").text("New Message!");
                                $('#resident_table').find(".resident_name[id='" + rid + "']").css("color", "red");
                                $('#services_tbl').find("tr .addComment[cid='" + cid + "']").closest("tr").css("font-weight","bold");
                            } else {
                                //$("#services_tbl").find("td .addComment[cid='" + cid + "']").addClass("read");
                            }
                        });
                    }
                }
            });
        }

        var chat = $.connection.chatHub;
        var counter = 0;

        // Create a function that the hub can call back to display messages.
        chat.client.addNewMessageToPage = function (name, message, cid) {

            getUnreadCount(name);
            getResWithComments();
            getGuestCommentRead(res_id);

            if (name == "#message"){
                if($("#message").attr("cid") == cid){
                    $(name).html(message);
                }else{
                    //alert("NEW MESSAGE!");
                }
            }else if (name == "#well_comment") {
                if($("#cidtext").val() == cid){
                    $(name).html(message);
                }else{
                    //alert("NEW MESSAGE!");
                }
            }

            //$.ajax({
            //    type: "POST",
            //    url: 'Message/GetResidentsWithComment',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",

            //    success: function (d) {
            //        $("#resident_list_admin_side").html("");
            //        if (d.length != "") {

            //            for (var i = 0; i <= d.length - 1 ; i++) {


            //                $('#resident_list_admin_side').append($('<option>', {
            //                    value: d[i].ResidentId,
            //                    text: d[i].Name
            //                }));
            //            }

            //        }
            //    }
            //});
            //$.ajax({
            //    type: "POST",
            //    url: 'Message/GetResidentsWithComment',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",

            //    success: function (d) {
            //        $("#resident_list_admin_side").html("");
            //        if (d.length != "") {
            //            //var string = "";

            //            for (var i = 0; i <= d.length-1 ; i++) {
            //                //commented this because Sir Chris requested to have dropdown here
            //                //string += "<tr id=\"" + d[i].ResidentId + "\" class=\"show_message\">";
            //                //string += "<td width=\"25%\">";
            //                //string += "<img style=\"vertical-align:bottom\" class='imgsrc' src='Resource/ResidentImage?id=" + d[i].ResidentId + " 'width='100%'/></td>";
            //                //string += "<td>" + d[i].Name + "</td>";
            //                //string += "<td width=\"10%\">";
            //                //string += "<img style=\"vertical-align:top:height:10px;margin-left:-30px;margin-top: 20px;\" class='imgsrc' src=\"/ALS/Images/chat_message.png\" width=\"75%\"/><b><span style=\"color:red;margin-left:-5px;\"><sup>" + (d[i].Unread_Count == "0" ? "" : d[i].Unread_Count) + "</sup></span></b></td>";
            //                //string += "</tr>";

            //                $('#resident_list_admin_side').append($('<option>', {
            //                    value: d[i].ResidentId,
            //                    text: d[i].Name
            //                }));
            //            }


            //          //  $("#resident_list_admin_side").append(string);
            //        }


            //    }
            //});
            // $("#message").html(message);

        };
        var is_auth = "@isauth";
        if ( is_auth == "yes"){
            if (isAuthPage == true){
                getUnreadCount();
            }
        }

        $.connection.hub.start().done(function () {});

        //added this for reconnecting to the hub incase its disconnected
        $.connection.hub.disconnected(function() {
            setTimeout(function() {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
        });

        var clicked = 0;
        $(document).on("click", ".m-menu__item", function () {
            clicked = $(this).attr('id');

        });

        //kim add this code for refresh of the time 02/15/2022
        //setinterval(function () {
        //    $('#spCT').load(document.url + '#spCT');
        //}, 2000);

        //kim add this code for refresh of the time 02/15/2022
        setInterval(function () {
          //  $('#spCT').load(document.URL + '#spCT');
            $('#spCT').load(document.URL +' #spCT');
        }, 5000);



        $(document).on("click", "div.m-menu__submenu ul li.m-menu__item", function(){
            $("#m_aside_left_close_btn").click();
        });
        window.addEventListener("click", function (e) {
            var target = $(e.target);

            if (!(target.parents('div#m_ver_menu').length)) {
                if ($('#' + clicked).hasClass('m-menu__item--hover')) {
                    $('#' + clicked).removeClass('m-menu__item--hover');
                }
            }
        });


        var id;
        $(document).on('mouseenter', '.m-menu__item', function () {
            //id = "#" + $(this).attr('id');
            id = "#" + $(this).closest('.jstree-open').attr("id");
            $(id).addClass("m-menu__item--hover");
        }).on('mouseleave', '.m-menu__item', function () {
            $(id).removeClass("m-menu__item--hover");
        });

        $(document).on('click', '.resident_name', function () {
            res_id = $(this).attr('id');
        });

    </script>

    <div class="modal fade" id="pass_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-residentName">Change Password</h5>
                    @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    <div class="form">
                        <input type="hidden" name="Iduser" id="Iduser" />
                        <input type="hidden" name="change" id="change" value="change" />
                        <div class="form-group m-form__group">
                            <span style="color: red;">*</span>
                            <label class="">Old Password</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="password" id="OldPassword" name="OldPassword" class=" m-input required" style="padding-right: 50px;"/><br />
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <span style="color: red;">*</span>
                            <label class="">New Password</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="password" id="firstpassword" name="firstpassword" class=" m-input required" style="padding-right: 50px;" /><br />
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <span style="color: red;">*</span>
                            <label class="">Confirm New Password</label>

                            <div class="m-input-icon m-input-icon--right">
                                <input type="password" id="secondpassword" name="secondpassword" class=" m-input required"  style="padding-right: 50px;"/><br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelbutton" data-dismiss="modal" onclick="closeModal('pass_modal')">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="savePassword">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>


