﻿
@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {

        if (location.href.toLowerCase().indexOf('marketer') != -1) {
            $('a[href="#tabs-6a"],#tabs-6a').remove();
            //  $('#btnNew,#btnNewAgr').remove();

        }
        $("#diagNewAppraisal").dialog({
            zIndex: 0,
            autoOpen: false,
            modal: true,
            title: "New Appraisal",
            dialogClass: "companiesDialog",
            open: function () {
            }
        });
        $('#AAAgreementDate,#NewAgreementDate,#ANSAppraisalDate,#NewAppraisalDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            defaultDate: new Date()
        });
        $("#diagNewAgreement").dialog({
            zIndex: 0,
            autoOpen: false,
            modal: true,
            title: "New Agreement",
            dialogClass: "companiesDialog",
            open: function () {
            }
        });

        var scroll1 = new PerfectScrollbar('#tabs-1a');
        var scroll2 = new PerfectScrollbar('#tabs-2a');
        var scroll3 = new PerfectScrollbar('#assScroll');
        var scroll4 = new PerfectScrollbar('#tabs-3r');

        

    });
</script>

<style>
    label {
        color: black;
        font-weight: 400;
    }

    .smalltext {
        color: black;
        font-weight: 400;
    }

    a.form_id {
        text-decoration: underline;
        color: black;
    }

    input {
        text-transform: capitalize;
    }
    #txtPhysicianEmail {
        text-transform: none;
    }
    .tag-container {
        width: 100%;
        height: 100%;
        border: 2px solid #ccc;
        display: flex;
        flex-wrap: wrap;
    }

    .tag-container .tag {
            padding: 5px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            border-radius: 3px;
            background: #f2f2f2;
            cursor: default;
    }

    .tag c {
        font-size: 8px;
        margin-left: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .tag-container input {
        flex: 1;
        font-size: 14px;
        padding: 1px;
        outline: none;
        border: 0;
        width: 100%;
    }
</style>
@*kim add this capitalize all input textbox 03/10/22 *@


<div id="admForm" class="form row m-row--no-padding m-form">
    <div id="tabs">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tabs-1a">
                    General Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2a">
                    Document Checklist
                </a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3a">
                        Needs and Services Plan worksheet
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-4a">
                        Admission Agreement
                    </a>
                </li>
            *@
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-ass">
                    Assessment
                </a>
            </li>

            @if (ViewBag.isHomeCare == "True")
            {
                <li class="nav-item" style="display:none">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3r">
                        New Resident Move-In Memo
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3r">
                        New Resident Move-In Memo
                    </a>
                </li>
            }


        </ul>
    </div>

    <div class="tab-content adm-content" style="width:100%; overflow-y:unset!important;">
        <div class="tab-pane active admTbs m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" id="tabs-1a" role="tabpanel" style="height: 100%;">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <br />
                    <div class="col-lg-4">
                        <input type="hidden" id="txtAdmissionId" name="AdmissionId" />
                        <span style="color: red;">*</span>
                        <label>Admission Date</label>
                        <div class="m-input-icon m-input-icon--right">
                            @if (ViewBag.forMarRoleId == 1)
                            {
                                <input type="text" class="form-control m-input content-datepicker" id="txtAdmissionDate" name="AdmissionDate" maxlength="10" required>
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="far fa-calendar-alt"></i></span></span>
                            }
                            else
                            {
                                <input type="text" class="form-control m-input content-datepicker adminonly" id="txtAdmissionDate" name="AdmissionDate" maxlength="10" title="Only Administrator can admit resident." placeholder="No permission to admit." disabled>
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="far fa-calendar-alt"></i></span></span>
                            }

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Physician</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtPhysician" name="Physician" class="form-control m-input" maxlength="50">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user-md"></i></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-4"> 
                        @if (ViewBag.isHomeCare == "True")
                        {
                            <label class="">Client</label>
                        }
                        else { 
                            <label class="">Resident</label>
                        }
                        <div class="m-input-icon m-input-icon--right" id="liResident">
                            <input type="hidden" id="txtResidentId" name="ResidentId" />
                            <input type="text" id="txtResidentName" class="form-control m-input" readonly="readonly" autofocus name="Name" maxlength="150">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Physician Phone</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtPhysicianPhone" name="PhysicianPhone" class="form-control m-input" maxlength="20">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-phone"></i></span></span>
                        </div>
                    </div>

                </div>
                <div class="form-group m-form__group row">
                    @if (ViewBag.isHomeCare == "False")
                    {
                        <div class="col-lg-4">
                            <label class="">Room</label>
                            <div class="m-input-icon m-input-icon--right" id="liRoom">
                                <select class="form-control m-input m-input--square" name="Room_Facility_Id" id="room_facility"></select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4">
                            <label class="">Allergies</label> <label class="" style="font-size:8px;">(Complete your Allergies Tags with Space Bar)</label>
                            <div class="m-input-icon m-input-icon--right">
                                <div class="tag-container">

                                    <input list="Allergies" name="RAllergies" type="text" id="txtAllergy" class="form-control m-input" style="text-transform: capitalize;" maxlength="80" />
                                    <datalist id="Allergies" onchange="getallergy"></datalist>

                                </div>
                                @*<input type="text" id="txtAllergies" name="Allergies" class="form-control m-input" maxlength="150">
        <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-allergies"></i></span></span>*@
                            </div>
                        </div>
                    }
                    <div class="col-lg-4">
                        <label class="">Physician Fax</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtPhysicianFax" name="PhysicianFax" class="form-control m-input" maxlength="20">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-fax"></i></span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        <label class="">Physician Email</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtPhysicianEmail" name="PhysicianEmail" class="form-control m-input" maxlength="60">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-at"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Pharmacy</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtPharmacy" name="Pharmacy" class="form-control m-input" maxlength="70">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="far fa-building"></i></span></span>
                        </div>
                    </div>
                </div>
                @*Hide admitted by and referred by if agency is homecare kim 08/01/2022*@
                @if (ViewBag.isHomeCare == "False")
                {
                <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                        <label class="">Admitted By</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtAdmittedBy" name="AdmittedBy" class="form-control m-input" maxlength="60">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="">Referred By</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtReferredBy" name="ReferredBy" class="form-control m-input" maxlength="60">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>
                        </div>
                    </div>
                </div>
                        }

                 
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label class="">Hospital</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" id="txtHospital" name="Hospital" class="form-control m-input" maxlength="50">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-hospital"></i></span></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="">Pharmacy Phone</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" id="txtPharmacyPhone" name="PharmacyPhone" class="form-control m-input" maxlength="15">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-phone"></i></span></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label class="">Hospital Address</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" id="txtHospitalAddress" name="HospitalAddress" class="form-control m-input" maxlength="60">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-map-marker-alt"></i></span></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="">Discharge Date</label>
                            <div class="m-input-icon m-input-icon--right">
                                <!--kim disable discharge date  05/02/22-->
                                <input type="text" id="txtDischargeDate" name="DischargeDate" class="form-control m-input" maxlength="12" disabled>
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="far fa-calendar-alt"></i></span></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label class="">Hospital Phone</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" id="txtHospitalPhone" name="HospitalPhone" class="form-control m-input" maxlength="15">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-phone"></i></span></span>
                            </div>
                        </div>
                        @if (ViewBag.isHomeCare == "False")
                        {

                        <div class="col-lg-4">
                            <label class="">Allergies</label> <label class="" style="font-size:8px;">(Complete your Allergies Tags with Space Bar)</label>
                            <div class="m-input-icon m-input-icon--right">
                                <div class="tag-container">

                                    <input list="Allergies" name="RAllergies" type="text" id="txtAllergy" class="form-control m-input" style="text-transform: capitalize;" maxlength="60" />
                                    <datalist id="Allergies" onchange="getallergy"></datalist>

                                </div>
                                @*<input type="text" id="txtAllergies" name="Allergies" class="form-control m-input" maxlength="150">
            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-allergies"></i></span></span>*@
                            </div>
                        </div>
                        }
                    </div>

                </div>
        </div>


        <div class="tab-pane admTbs" id="tabs-2a" role="tabpanel" style="height: 100%;">
            <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">

                        <div class="col-lg-3">
                            <span class="smalltext">Resident Name :</span>
                            <input type="text" id="DCResidentName" maxlength="150" class="form-control m-input" />
                        </div>
                        @if (ViewBag.isHomeCare == "False")
                        {
                            <div class="col-lg-3">
                                <span class="smalltext">Room Number :</span>
                                <input id="DCRoomNumber" name="DCRoomNumber" type="text" class="form-control m-input form-control m-input" maxlength="20" />
                            </div>
                        }

                        </div>
                    <div class="form-group m-form__group row">
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><center><span class="smalltext">Form Description</span></center></td>
                                    <td><center><span class="smalltext">RB Form No.</span></center></td>
                                    <td><center><span class="smalltext">Form No.</span></center></td>
                                    <td><center><span class="smalltext">Initial</span></center></td>
                                    <td><center><span class="smalltext">Date</span></center></td>
                                    <td><center><span class="smalltext">Form</span></center></td>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    @*kim add for signed admission agreement change label 08/09/22*@
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <span class="smalltext"><a href="#" class="form_id" docname="AAform">Signed Admission Agreement</a></span>
                                    }
                                    else
                                    {
                                        <span class="smalltext"><a href="#" class="form_id" docname="AAform">Contract Agreement</a></span>
                                    }

                                </td>
                                <td>
                                    <input id="DCRBFormNoSAA" name="DCRBFormNoSAA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoSAA" name="DCFormNoSAA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialSAA" name="DCInitialSAA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateSAA" name="DCDateSAA" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <button type="button" class="form_id m-btn--air m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="AAform" title="Signed Admission Aggreement"> View/Edit</button>

                                    }
                                    else
                                    {
                                        <button type="button" class="form_id m-btn--air m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="AAform" title=">Contract Agreement"> View/Edit</button>

                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="EIform">Emergency Identification Sheet</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoEIS" name="DCRBFormNoEIS" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoEIS" name="DCFormNoEIS" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialEIS" name="DCInitialEIS" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateEIS" name="DCDateEIS" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="EIform" title="Emergency Identification Sheet "> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="PRform">Signed Physicians Report xx</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoSPR" name="DCRBFormNoSPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoSPR" name="DCFormNoSPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialSPR" name="DCInitialSPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateSPR" name="DCDateSPR" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="PRform" title="Signed Physicians Report"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="smalltext"><a href="#" class="form_id" docname="RMIform">Release of Medical Information</a></span></td>
                                <td>
                                    <input id="DCRBFormNoRMI" name="DCRBFormNoRMI" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoRMI" name="DCFormNoRMI" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialRMI" name="DCInitialRMI" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateRMI" name="DCDateRMI" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="RMIform" title="Release of Medical Information"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="CMEform">Consent to Medical Examination</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoCME" name="DCRBFormNoCME" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoCME" name="DCFormNoCME" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialCME" name="DCInitialCME" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateCME" name="DCDateCME" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="CMEform" title="Consent to Medical Examination"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="smalltext"><a href="#" class="form_id" docname="CETform">Consent of Emergency Treatment</a></span></td>
                                <td>
                                    <input id="DCRBFormNoCET" name="DCRBFormNoCET" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td><input id="DCFormNoCET" name="DCFormNoCET" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" /></td>
                                <td>
                                    <input id="DCInitialCET" name="DCInitialCET" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateCET" name="DCDateCET" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="CETform" title="Consent of Emergency Treatment"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="PAform">Pre-Placement Appraisal</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoPPA" name="DCRBFormNoPPA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoPPA" name="DCFormNoPPA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialPPA" name="DCInitialPPA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDatePPA" name="DCDatePPA" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="PAform" title="Pre-Placement Appraisal"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="RAform">Residential Appraisal</a></span>
                                </td>


                                <td>
                                    <input id="DCRBFormNoRA" name="DCRBFormNoRA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoRA" name="DCFormNoRA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialRA" name="DCInitialRA" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateRA" name="DCDateRA" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="RAform" title="Residential Appraisal"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="NSPform">Needs and Service Plan</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoNSP" name="DCRBFormNoNSP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoNSP" name="DCFormNoNSP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialNSP" name="DCInitialNSP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateNSP" name="DCDateNSP" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="NSPform" title="Needs and Service Plan"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="PRSform">Personal Rights</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoPR" name="DCRBFormNoPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoPR" name="DCFormNoPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialPR" name="DCInitialPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDatePR" name="DCDatePR" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="PRSform" title="Personal Rights"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="TDNform">Telecomunication Device Notification</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoTDN" name="DCRBFormNoTDN" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoTDN" name="DCFormNoTDN" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialTDN" name="DCInitialTDN" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateTDN" name="DCDateTDN" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="TDNform" title="Telecomunication Device Notification"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="PPRform">Personal Property Record</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoPPR" name="DCRBFormNoPPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoPPR" name="DCFormNoPPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialPPR" name="DCInitialPPR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDatePPR" name="DCDatePPR" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="PPRform" title="Personal Property Record"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="RBTLform">RB Theft and Loss Policy</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoTLP" name="DCRBFormNoTLP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoTLP" name="DCFormNoTLP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialTLP" name="DCInitialTLP" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateTLP" name="DCDateTLP" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="RBTLform" title="RB Theft and Loss Policy"> View/Edit</button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="RMDTform">Right Re: Med Decision/ Treatment</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoMDT" name="DCRBFormNoMDT" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoMDT" name="DCFormNoMDT" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialMDT" name="DCInitialMDT" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateMDT" name="DCDateMDT" type="text" class="form-control m-input form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="RMDTform" title="Right Re: Med Decision/ Treatment"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="UIRform">Unusual Insident Report (as needed)</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoUIR" name="DCRBFormNoUIR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoUIR" name="DCFormNoUIR" type="text" class="form-control m-input form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialUIR" name="DCInitialUIR" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateUIR" name="DCDateUIR" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="UIRform" title="Unusual Insident Report (as needed)"> View/Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="RWRform">Resident Weight Record (Binder)</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoRWR" name="DCRBFormNoRWR" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoRWR" name="DCFormNoRWR" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialRWR" name="DCInitialRWR" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateRWR" name="DCDateRWR" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="RWRform" title="Resident Weight Record (Binder)"> View/Edit</button>
                                </td>
                            </tr>
                            @if (ViewBag.isHomeCare == "False")
                            {
                                <tr>
                                    <td>


                                        <span class="smalltext"><a href="#" class="form_id" docname="CSMform">Centrally Stored Medication (Book)</a></span>
                                    </td>
                                    <td>
                                        <input id="DCRBFormNoCSM" name="DCRBFormNoCSM" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                    </td>
                                    <td>
                                        <input id="DCFormNoCSM" name="DCFormNoCSM" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                    </td>
                                    <td>
                                        <input id="DCInitialCSM" name="DCInitialCSM" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                    </td>
                                    <td>
                                        <input id="DCDateCSM" name="DCDateCSM" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                    </td>
                                    <td>
                                        <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="CSMform" title="Centrally Stored Medication (Book)"> View/Edit</button>
                                    </td>
                                </tr>

                            }

                            <tr>
                                <td>
                                    <span class="smalltext"><a href="#" class="form_id" docname="PCform">Photographic Consent</a></span>
                                </td>
                                <td>
                                    <input id="DCRBFormNoPC" name="DCRBFormNoPC" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCFormNoPC" name="DCFormNoPC" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCInitialPC" name="DCInitialPC" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDatePC" name="DCDatePC" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <button type="button" class="form_id m-btn--air btn m-btn--pill btn-outline-accent btn-sm" docname="PCform" title="Photographic Consent"> &nbsp;&nbsp; &nbsp;&nbsp;View&nbsp;&nbsp; &nbsp;&nbsp;</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="form-group m-form__group row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><span class="smalltext">Copy of Documents Provided to Resident</span></td>
                                    <td><span class="smalltext">Initial</span></td>
                                    <td><span class="smalltext">Date</span></td>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <span class="smalltext">Admission Agreement</span>

                                    }
                                    else
                                    {
                                        <span class="smalltext">Contract Agreement</span>
                                    }

                                </td>
                                <td>
                                    <input id="DCInitialCAA" name="DCInitialCAA" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateCAA" name="DCDateCAA" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext">Personal Rights</span>
                                </td>
                                <td>
                                    <input id="DCInitialCPR" name="DCInitialCPR" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateCPR" name="DCDateCPR" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="smalltext">Rights to make Decision re Medical Treatment</span>
                                </td>
                                <td>
                                    <input id="DCInitialCMDT" name="DCInitialCMDT" type="text" class="form-control m-input w150px" maxlength="100" style="min-width:100px" />
                                </td>
                                <td>
                                    <input id="DCDateCMDT" name="DCDateCMDT" type="text" class="form-control m-input content-datepicker w150px" maxlength="100" style="min-width:100px" />
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="tabs-ass" class="assTab tab-pane" style="display: none;">
            <div class="m-portlet__body">
                <div class="row" style="margin:0 !important">
                    <div id="assessmentlist_container" style="margin:2px" class="col-lg-8">
                        <p class="col-lg-3">Assessment List</p><br>
                        <select id="assessment_list" class="form-control m-input col-lg-2"></select>
                        <span class=""></span>
                    </div>
                    <div>
                        <button type="button" id="addNewAssessment" class="col-lg-12 btn m-btn--air btn-primary m-btn m-btn--icon m-btn--outline-2x" style="float:right;" value="">ADD NEW ASSESSMENT</button>
                    </div>

                    <div style="margin-left:10px;">
                        <button type="button" id="printAssessment" class="col-lg-12 btn m-btn--air btn-info m-btn m-btn--icon m-btn--outline-2x" style="float:right;" value="">PRINT ASSESSMENT</button>
                    </div>
                </div>
                @Html.Partial("AssessmentWizard")
                <div class="form-group m-form__group row" id="revert_status_div">
                    <div class="col-lg-12">
                        <b>Total Score:&nbsp;&nbsp;<span id="label-TotalScore"></span></b>
                    </div>

                </div>
            </div>

        </div>

        <div class="tab-pane admTbs" id="tabs-3r" role="tabpanel" style="height:100%;">
            <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded">
                <div class="m-portlet__body">
                    @Html.Partial("NewResidentMoveInMemo")
                </div>
            </div>
        </div>

    </div>
</div>

