﻿<br />
<table class="form-fieldset" style="width:100%">
    <tr>
        <td>
            <table style="width:100%" class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded">
                <colgroup style="width:20%;"></colgroup>
                <colgroup style="width:25%;"></colgroup>
                <colgroup style="width:20%;"></colgroup>
                <colgroup style="width:35%;"></colgroup>

                <tr>
                    <td>
                        <label>Date of Admission</label>
                    </td>
                    <td>
                        <input id="AAAdmissionDate" type="text" class="content-datepicker w200px form-control m-input form-control m-input" maxlength="100" />
                    </td>
                    <td>
                        <label>Room No.</label>
                    </td>
                    <td>
                        <input id="AARoomNo" name="AARoomNo" type="text" class="w200px form-control m-input form-control m-input" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Resident's Name</label>
                    </td>
                    <td>
                        <input id="AAResidentName" type="text" class="w200px form-control m-input form-control m-input" maxlength="100" />
                    </td>
                    <td>
                        <label>Total Monthly Rate</label>
                    </td>
                    <td>
                        <input id="AATotalRate" name="AATotalRate" type="text" class="w200px form-control m-input form-control m-input numeric_only" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Socal Security No.</label>
                    </td>
                    <td>
                        <input id="AASSNo" name="AASSNo" type="text" class="w200px form-control m-input form-control m-input" maxlength="9" />
                    </td>
                    <td>
                        <label>Date of Birth:</label>
                    </td>
                    <td>
                        <input id="AADOB" name="AADOB" type="text" class="content-datepicker w200px form-control m-input form-control m-input" maxlength="100" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <fieldset>
                <legend>Lodgings</legend>
                <table style="width:100%;font-size:11px">
                    <colgroup style="width:25%;"></colgroup>
                    <colgroup style="width:25%;"></colgroup>
                    <colgroup style="width:25%;"></colgroup>
                    <colgroup style="width:25%;"></colgroup>

                    <tr>
                        <td colspan="4">  Check all resident requires or desires: </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" id="AARoomShared" name="AARoom" value="1" />Shared Room
                        </td>
                        <td>
                            <input type="checkbox" id="AARoomSingle" name="AARoom" value="1" />Single Room
                        </td>
                        <td>
                            <input type="checkbox" id="AARoomSuite" name="AARoom" value="1" />Suite (Double Room)
                        </td>

                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td>
            <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="padding:5px">
                <legend>Basic Services</legend>

                <table style="width:100%;font-size:11px">

                    <tr>
                        <td>
                            The following basic services must be made available to all residents.
                            The services actually provided will be those the resident wants and those the resident needs,
                            base on the individual's pre-admission appraisal needs and service plan.
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:15px;">
                            <input type="checkbox" id="AABSMeals" name="AABSMeals" value="1" style="margin-right: 5px;"/>Three nutritious meals daily and between meals nurishment or snack.<br />
                            <input type="checkbox" id="AABSHygiene" name="AABSHygiene" value="1" style="margin-right: 5px;"/>Hygiene items of general use such as soap and toilet tissue.<br />
                            <input type="checkbox" id="AABSLinens" name="AABSLinens" value="1" style="margin-right: 5px;"/>Fresh bath towels and bed linens weekly.<br />
                            <input type="checkbox" id="AABSBed" name="AABSBed" value="1" style="margin-right: 5px;"/>Comfortable and suitable bed and bedroom furnitures.<br />
                            <input type="checkbox" id="AABSRoom" name="AABSRoom" value="1" style="margin-right: 5px;"/>Cleaning of residents room.<br />
                            <input type="checkbox" id="AABSActivity" name="AABSActivity" value="1" style="margin-right: 5px;"/>Planned activity programs.<br />
                            <input type="checkbox" id="AABSTransportation" name="AABSTransportation" value="1" style="margin-right: 5px;"/>Plan, arrange and or provide transportation to medical and dental appointments on the following 3 designated days and within 10 miles from the facility:<br /> <strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;(TUE and THUR from 8:00pm to 12:00PM and every WED from 1:00PM to 4:00PM only)
                            </strong><br />
                            <input type="checkbox" id="AABSObservation" name="AABSObservation" value="1" style="margin-right: 5px;"/>Continuous observation for change in physical, mental, emotional, and social functioning and report to family, physician and other appropriate person or agency of any significant changes and or needs.
                        </td>
                    </tr>

                </table>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="padding:5px">
                <legend>Optional Services</legend>

                <table style="width:100%;font-size:11px">
                    <colgroup style="width:7%;"></colgroup>
                    <colgroup style="width:15%;"></colgroup>
                    <colgroup style="width:30%;"></colgroup>
                    <colgroup style="width:48%;"></colgroup>

                    <tr>
                        <td colspan="4">
                            Please Check and initial service you decline to purchase at this time.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" id="AAOSIniMedication" name="AAOSMedication" value="1" style="margin-right: 5px;"/>Initial
                        </td>
                        <td>
                            <input id="AAOSIniMedicationDef" name="AAOSIniMedicationDef" type="text" class="w150px form-control m-input form-control m-input" maxlength="100" />
                        </td>
                        <td colspan="2">
                            <input type="checkbox" id="AAOSPurMedication" name="AAOSMedication" value="1" style="margin-right: 5px;"/>Assistance with taking prescribed and over-the-counter medication in accordance with physician's instructions unless prohibited by law or regulations
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="AAOSIniBathing" name="AAOSBathing" value="1" style="margin-right: 5px;"/>Initial
                        </td>
                        <td>
                            <input id="AAOSIniBathingDef" name="AAOSIniBathingDef" type="text" class="w150px form-control m-input form-control m-input" maxlength="100" />
                        </td>
                        <td colspan="2">
                            <input type="checkbox" id="AAOSPurBathing" name="AAOSBathing" value="1" style="margin-right: 5px;"/>Assistance with bathing, grooming, dressing and toileting
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="AAOSIniIncontinent" name="AAOSIncontinent" value="1" style="margin-right: 5px;"/>Initial
                        </td>
                        <td>
                            <input id="AAOSIniIncontinentDef" name="AAOSIniIncontinentDef" type="text" class="w150px form-control m-input form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input type="checkbox" id="AAOSPurIncontinent" name="AAOSIncontinent" value="1" style="margin-right: 5px;"/>Incontinent Care
                        </td>
                        <td>
                            <input type="checkbox" id="AAOSOtherIncontinent" name="AAOSIncontinent" value="1" style="margin-right: 5px;"/>Other: <strong>ALW PARTICIPANT Refer to Care Plan. Tier 2</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="AAOSIniFood" name="AAOSFood" value="1" style="margin-right: 5px;"/>Initial
                        </td>
                        <td>
                            <input id="AAOSIniFoodDef" name="AAOSIniFoodDef" type="text" class="w150px form-control m-input form-control m-input" maxlength="100" />
                        </td>
                        <td colspan="2">
                            <input type="checkbox" id="AAOSPurFood" name="AAOSFood" value="1" style="margin-right: 5px;"/>Food tray service
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="AAOSIniLaundry" name="AAOSLaundry" value="1" style="margin-right: 5px;"/>Initial
                        </td>
                        <td>
                            <input id="AAOSIniLaundryDef" name="AAOSIniLaundryDef" type="text" class="w150px form-control m-input form-control m-input" maxlength="100" />
                        </td>
                        <td colspan="2">
                            <input type="checkbox" id="AAOSPurLaundry" name="AAOSLaundry" value="1" style="margin-right: 5px;"/>Personal weekly laundry service.
                        </td>
                    </tr>



                </table>
            </div>
        </td>
    </tr>



</table>

<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="padding:5px">
    <table class="table table-bordered m-table">
        <thead>
            <tr>
                <th colspan="2">Monthly Charges</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">Monthly Basic Rate:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAMonthlyRate" name="AAMonthlyRate" />
                </td>
            </tr>
            <tr>
                <td valign="top">Plus: Monthly Optional Services:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAOpServices" name="AAOpServices" />
                </td>
            </tr>
            <tr>
                <td valign="top">TOTAL MONTHLY RATE:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AATMRate" name="AATMRate" />
                </td>
            </tr>

        </tbody>
    </table>
</div>

<p>Monthly rate are paid in advance and is due on the 1st of each month. A late fee of $50.00 will be charged for rent paid after the 5th. A monthly statement will be provided itemizing all charges agreed to in this agreement every 1st of the month.</p>

<h6 style="font-style:italic">Community Fee:</h6>

<p>Each new residents pays a one-time non-refundable Community Fee equal to 1 (one) month rent to cover the cost associated with the move-in, including but not limited to preparing the room/s for occupancy and administrative cost. </p>

<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="padding:5px">
    <table class="table table-bordered m-table">
        <thead>
            <tr>
                <th colspan="4">Amount Due upon move-in:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">Total Monthly Rate for the period of:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input" id="AAPeriodRateDate1" name="AAPeriodRateDate1" />
                </td>
                <td valign="top">
                    <input type="text" class="form-control m-input" id="AAPeriodRateDate2" name="AAPeriodRateDate2" />
                </td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAPeriodRate" name="AAPeriodRate" />
                </td>
            </tr>
            <tr>
                <td valign="top">Prorated Rent for the period of:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input" id="AAProratedRateDate1" name="AAProratedRateDate1" />
                </td>
                <td valign="top">
                    <input type="text" class="form-control m-input" id="AAProratedRateDate2" name="AAProratedRateDate2" />
                </td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAProratedRate" name="AAProratedRate" />
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="3">Plus: One Time Non-Refundable Community Fee</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAOnetimeFee" name="AAOnetimeFee" />
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="3">Less: Payment Paid in Advance</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AAAdvancePay" name="AAAdvancePay" />
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="3">TOTAL DUE UPON MOVE-IN:</td>
                <td valign="top">
                    <input type="text" class="form-control m-input numeric_only" id="AATotalDue" name="AATotalDue" />
                </td>
            </tr>

        </tbody>
    </table>
</div>


<table style="width:100%;">
    <colgroup style="width:25%;"></colgroup>
    <colgroup style="width:25%;"></colgroup>
    <colgroup style="width:25%;"></colgroup>
    <colgroup style="width:25%;"></colgroup>

    <tr>
        <td colspan="4"> Funding Source: </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input type="checkbox" id="AAFSPrivate" name="AAFundSource" value="1" />Private
        </td>
        <td>
            <input type="checkbox" id="AAFSFunds" name="AAFundSource" value="1" />Includes SSI/SSP Funds
        </td>
        <td>
            <input type="checkbox" id="AAFSRefuse" name="AAFundSource" value="1" />Refuse to Disclose
        </td>

    </tr>
</table>
<br/>
<p>
    Notice to SSI/SSP Beneficiaries and their responsible persons: <br/>
    It is a violation of state law for the licensee to purposely obtain an SSI/SSP beneficiary's personal and incidental (P&I) needs allowance to pay for basic services. To enable verification that this law is being properly observed, The State Department of Social Services recommends that residents voluntarily disclose in this admission agreement whether the rate paid to the facility includes SSI/SSP benefits INITIAL
    <input type="text" id="AAFSInitial" name="AAFSInitial" class="form-control m-input"/>
</p>

<p>
    If additional services become available for purchase that were not available at the time this agreement was signed, a list of these services and charges in the form of an addendum will be provided to the resident or the resident's responsible person, who must sign and date acknowledging the acceptance or refusal to purchase said services.
</p>

<p>
    Basic Transportation to and from MD appointments is included within a radius of ten (10) miles on designated days. Transportation beyond the included radius will only be charged to the private pay resident and or responsible party at the rate of Thirty-Four (34) cents per mile as it reads on the vehicle odometer. In the event that facility transportation is not available at the time requested by the private pay resident, we will assist in procuring transportation at the sole cost to the resident. A regular schedule of when transportation is offered for designated days will be posted and given to the resident at the time of move-in
</p>

<h5>Third Party Services:</h5>
<p>
    The Residences at <span class="AAagencyName"></span> allows the use of outside services and agencies to supplement care given by the facility under the following conditions:
</p>
<ul>
    <li>The service provider is licensed by the appropriate government agency to provide such service.</li>
    <li>The service provider is covered by appropriate insurance for its employees and for the type of service it provides.</li>
    <li>The service provider's staff has a criminal background clearance and health screening clearance and that particular service provider is regulated to have such
clearances for its employees by their overseeing agencies.</li>
    <li>All service provider staff will sign-in when entering the facility and report to the
administrator to describe the type of service being provided and sign-out when leaving the facility providing duration of the visit.</li>
    <li>Provide the facility with any and all notes regarding any services and or treatments being provided for the resident consistent with those required by our licensing agency. </li>
    <li>The resident understands that the resident, the resident's insurance, or the responsible party is financially responsible for the payment of third party services.The agency reserves the right to request a change in service providers and their staff if any of the above requirements are not met. </li>
</ul>

<p>
    <h5>Notice of Rate Changes:</h5>If the facility rate for services increases because the resident's level of care services change, the resident and or responsible person will receive a written two day notice of such a fee change with a detailed explanation and description of the new services, and will be accompanied by a new itemized bill including the detailed explanation of additional services. If the rate change reflects a government fund increase, written notice is required from the licensee as soon as the agency is notified. The rate change will take effect on the operative date of the government fund increase. For all rate increases due to general facility operational increases, a sixty (60) day written notice from The Residences at <span class="AAagencyName"></span> will be given.
</p>

<p>
    <h5>Refund / Proration Policy:</h5>All charges will be refunded on a prorated basis upon receipt of written notice that the Resident's medical condition will not allow a return to the facility and the resident's belongings are completely removed from the facility. If the Resident leaves the Facility for other than a medical condition, and no required notice is given, the balance of the month's payment will be retained by the Facility. If a Resident wishes to hold a room for any reason (medical or non-medical) the rate will not change. To hold a room for any portion of the month, the entire month's rent must be paid.
</p>

<h5>House Rules:</h5>
<p>The following house rules are for the purpose of making it possible for residents to live together in a healthy and safe environment.</p>
<ul>
    <li>To follow all of the facility's safety posted signs.</li>
    <li>To be considerate and respectful of all facility personnel and other residents. </li>
    <li>To cooperate with all staff. </li>
    <li>No verbal or physical abuse may be directed towards other residents or staff.</li>
    <li>No use of profanity or offensive language.</li>
    <li>No willful destruction of facility property or the property of other residents.</li>
    <li>No violent or anti-social behavior.</li>
    <li>No resident may have family/visitors that are abusive to other residents/staff or upset the general facility population.</li>
    <li>Resident must ask permission to use the office facility telephone.</li>
    <li>All calls from the office telephone are limited to 5 minutes.</li>
    <li>Resident must practice proper personal hygiene to include, but not limited to frequent bathing, daily oral care and clean clothing on a daily basis. </li>
    <li>The agency is a non-smoking facility.</li>
    <li>Residents may bring their own furniture.</li>
    <li>The agency will only inventory and provide the resident or
responsible party with a copy of the resident's personal properties/valuables as inventoried items if said items are entrusted to the facility and are stored in a secured area controlled by the facility. Any and all other personal properties or valuables are solely the responsibility of the resident and/or their responsible party. The resident or responsible party must request The Residences at <span class="AAagencyName"></span> when inventoried items are to be removed from the entrusted area. All transactions must be documented by signature.</li>
    <li>No Alcohol or Illicit drugs are permitted on the premises. </li>
    <li>Prescribed medications must be kept as prescribed by the physician.</li>
    <li>The resident, the resident's family, or resident's responsible person may not bring any medications, special foods, or beverages into the facility without the prior knowledge of the Administrator.</li>
    <li>Resident may only store prescribed and over the counter medications with the
Primary Physicians written order, and should be stored in a secured locked location to prevent any unauthorized usage.</li>
    <li>Resident may not disregard physician's orders which would result in a threat to the personal safety or well being of the resident and or general resident population.</li>
    <li>No use of illegal drugs or any medication not prescribed by the residents own physician.</li>
    <li>Residents must be dressed appropriately with shoes when leaving their rooms and
the facility.</li>
    <li>All visitors must check in with the staff on duty and sign-in / sign-out each visit. Resident or responsible party must sign-out when leaving the facility and sign-in when returning and inform the staff on duty. </li>
    <li>Television, Radio, and all noisy appliances must be lowered after 10:00 PM. </li>
    <li> Change in accommodations may be made by the administrator when necessary,
and when the health and safety of all would be realized.</li>
    <li> Resident may not change or add any lock or locking device to their room without prior written consent of the facility. If such permission is granted resident must
provide the facility with a copy of the key.</li>
    <li>NO SMOKING WITHIN THE FACILITY BUILDING.</li>
</ul>

<p style="font-weight:bold"> I understand the NO SMOKING POLICY of The Residences at <span class="AAagencyName"></span> </p>
<p>House rules may be amended with prior approval from Community Care Licensing if unique situations arise. The resident will receive a 30 day notice of such changes. The management of The Residences at <span class="AAagencyName"></span> will enlist the assistance and input of the residents when considering any house rule changes.</p>
<p>Facility Visiting Hours are: 8:00 AM to 8:00 PM 7days/week. The visiting policy for The Residences at <span class="AAagencyName"></span> is designed to encourage family involvement and participation. Visitors shall be expected to respect the rights of all residents and not to interfere with care schedules and established activities. </p>

<p><h5>Communication with Responsible Persons:</h5>The Residences at <span class="AAagencyName"></span> will communicate all needs of the resident and any and all unusual incidents to the responsible person of the resident immediately following any needs that arise or unusual incidents occur.</p>

<p><h5>Theft and Loss Prevention Program:</h5>The Residences at <span class="AAagencyName"></span> is required by law to notify new residents, upon admission, of our written policies and procedures regarding theft and loss. The law is set forth in the Health and Safety Code Sections 1569.152 through 154 of which, I have received a copy
</p>

<p><h5>Personal Rights:</h5>The Residences at <span class="AAagencyName"></span> is required to advise our residents or responsible party of, and provide a copy of, the personal rights required by California Code of Regulations Section 87468. Those personal rights are attached. All agency contact numbers are posted for resident complaints or concerns. I have received a copy of these rights, and had them clearly explained to me.</p>

<p><h5>Complaints and Concerns:</h5>The Residences at <span class="AAagencyName"></span> will post in a prominent place all contact numbers for appropriate agencies to voice any complaints and concerns regarding facility operations:</p>
<ul>
    <li>Department of Social Services, Community Care Licensing: 818-596-4334 </li>
    <li>Wise Senior Service, Ombudsman: Toll Free 800-334-9473 Advanced Health Care</li>
</ul>
<p>
<h5>Directive:</h5>
    The Residences at <span class="AAagencyName"></span> provides written information to residents upon admission regarding the right to make decisions concerning medical care, including the right to accept or reject treatment, and the right, under state law, to formulate an advance health directive.
</p>

<p>I have received the brochure entitled "Your Right to Make Decisions about Medical Treatment" and a copy of California Code of Regulations, Title 22, Sections 87569(b) & (c)</p>

<p><h5>Right to Respect:</h5>As per Section 87755 of the California Code of Regulations, the licensing agency has the right to perform inspections and examine resident records at any time. </p>

<p><h5>Termination of Agreement: </h5>30 DAYS WRITTEN NOTICE is required in order to terminate this agreement. However, this agreement will be automatically terminated by the death of the resident. The resident's relatives and/or responsible persons will not be liable for any payment beyond what is due at the date of death unless agreed to in writing on ordered by the court. After all belongings are removed from the facility, all monies due will be returned to the responsible person within 15 days.</p>

<p> I acknowledge that the licensing agency has the authority to order my relocation for any of the following reasons:
</p>

<ol>
    <li> My health condition is beyond the scope of the limits of the licensee</li>
    <li>I require inpatient care in another appropriate Health Care Facility</li>
    <li>My mental or physical condition requires immediate transfer to protect my
safety and or safety of others</li>
    <li>I have a prohibited health condition</li>
</ol>

<p><h5>Eviction Procedures:</h5> Residential Care Facilities for the Elderly<br/>
    A) A written notice including specific facts concerning the date, place, witnesses, and circumstances for eviction will be provided to the resident and/ or their Responsible Person. <br/>
    B) The licensee/administrator of The Residences at <span class="AAagencyName"></span> may, upon thirty (30) days written notice to the resident, evict the resident for one or more of the following reasons: 
</p>
<ol>
    <li>Non-payment of the rate for basic services within ten (10) days of the due date;</li>
    <li>Failure of the resident to comply with state or local law after receiving written
notice of the alleged violation;</li>
    <li>Failure of resident to comply with general policies of the facility. Said general
policies must be in writing, must be for the purpose of making it possible for residents to live together and must be made part of the admission
agreement. (See agency House Rules)</li>
    <li>If, after admission, it is determined that the resident has a need not previously
identified and a re-appraisal has been conducted pursuant to Section 87463, and the licensee and the person who performs the reappraisal believe that
the facility is not appropriate for the resident.</li>
    <li>Change of use of the facility;</li>
    <li>Willful destruction of facility property or the property of other residents.</li>
</ol>

<p>C) The licensee and/or administrator of The Residences at <span class="AAagencyName"></span> may give a 3 day written notice to evict provided written approval is obtained from the Department of Social Services. The Department may grant approval for the eviction upon finding good cause. </p>

<p>The licensee/administrator of The Residences at <span class="AAagencyName"></span> shall, in addition to either serving a thirty (30) day notice or seeking approval from the Department and serving a three (3) day notice to the resident, notify and mail a copy of the notice to the resident's Responsible Person, if any. The Residences at <span class="AAagencyName"></span> will forward a written report of any eviction to the licensing agency within five (5) days.
</p>

<p>In order to evict a resident who remains in The Residences at <span class="AAagencyName"></span> after the effective date of the termination, The Residences at <span class="AAagencyName"></span> must file an unlawful detainer action in Superior court and receive a written judgment signed by the judge. If The Residences at <span class="AAagencyName"></span> pursues an unlawful detainer action, you must be served with a summons and complaint. You have a right to contest the eviction in writing and through a hearing. In addition, you may request that the Department of Social Services to investigate the reasons given for an eviction notice.</p>

<p>D) The resident may appeal this action to the appropriate agencies. If, after an investigation by said agencies the eviction is upheld, The Residences at <span class="AAagencyName"></span> will offer relocation assistance in the form of phone calls to other facilities or placement agencies. The agency staff will, if requested by the resident or responsible person, assist in packing up the resident's personal belongings.  </p>

<h5>Statements:</h5>
<ol>
    <li>The Residences at <span class="AAagencyName"></span> shall not enter into any continuing care contract with resident without prior approval by the Department of Social Services in accordance with Health and Safety Code, Chapter 10, Division 2.</li>
    <li>This agreement shall not include any ground for involuntary transfer or eviction unless those grounds are specified under state law or regulation. The resident has the right to appeal any relocation order to the proper agency. </li>
    <li>This agreement in part or whole does not release The Residences at <span class="AAagencyName"></span> from the responsibility of providing safe and healthful facilities, equipment, and accommodations.</li>
    <li>Per AB 1572 1569.157 and 1569.158 The Residences at <span class="AAagencyName"></span> at the request of two or more residents, shall assist the residents in establishing and maintaining a single resident council at the facility. The resident council shall be composed of residents of the facility, family members, residents representatives, facility staff, or others may participate in residents council meetings and activities at the invitation of the resident council. Family notices shall be provided adequate space on a prominent bulletin board.</li>
    <li>Nondiscrimination Per Section 1569-269(b) of the Health and safety code, licensees of privately operated facilities are not permitted to discriminate against a person seeking admission to a facility or a resident of a facility based on his or her sex, race, color, religion, national origin, marital status, registered domestic partner status, ancestry, actual or perceived sexual orientation, or actual or perceived gender identity. Licensees are required to comply with this new law, as well as continue to comply with all of the nondiscrimination protection specified in CCR, Title 22 Section #87118. </li>
</ol>

<p><h5>Acknowledgment of Provisions: </h5>
    The resident and responsible person agree to cooperate with all house rules set forth by The Residences at <span class="AAagencyName"></span> and to pay for basic and any optional services purchased by the due date set forth in this agreement. The signature of the resident and responsible person below indicates that he/she has read, or had read and explained to him/her, the provisions of this agreement, and accepts all provisions willingly and voluntarily. 
</p>

<table class="table table-bordered m-table">
    <tbody>
        <tr style="font-weight: 500;">
            <td>Date of Admission</td>
            <td>Monthly Room Rate Charge</td>
            <td>Room No.</td>
        </tr>
        <tr>
            <td valign="top">
                <input type="text" class="form-control m-input" id="AAAdmissionDate2" name="AAAdmissionDate2" readonly="readonly"/>
            </td>
            <td valign="top">
                <!--disable monthly room rate charge in Admission Agreement add readonly="readonly" kim 11/22/2021-->
                <input type="text" class="form-control m-input" id="AATotalRate2" name="AATotalRate2" readonly="readonly" />
            </td>
            <td valign="top">
                <input type="text" class="form-control m-input" id="AARoomNo2" name="AARoomNo2" readonly="readonly"/>
            </td>
        </tr>
        <tr style="font-weight: 500;">
            <td>Resident's Name</td>
            <td>Social Security No.</td>
            <td>Date of Birth</td>
        </tr>
        <tr>
            <td valign="top">
                <input type="text" class="form-control m-input" id="AAResidentName2" name="AAResidentName2" readonly="readonly"/>
            </td>
            <td valign="top">
                <input type="text" class="form-control m-input" id="AASSNo2" name="AASSNo2" readonly="readonly"/>
            </td>
            <td valign="top">
                <input type="text" class="form-control m-input" id="AADOB2" name="AADOB2" readonly="readonly"/>
            </td>
        </tr>
    </tbody>
</table>

