﻿<div id="tabs-1" class="form resForm">
    <!---<ul style="width:100%">-->
    @*<header>
        <center><h1>CONSENT FOR EMERGENCY MEDICAL TREATMENT</h1><br /></center>
    </header>*@

    <input type="hidden" id="CEMTResidentName" name="CEMTResidentName" />
    <table class="form-fieldset" style="width:100%">
        <tr>
            <td>
                <fieldset style="overflow:hidden;">
                    <legend>Consent Information</legend>
                
                    <table style="width:100%;">
                        <colgroup style="width:20%;"></colgroup>
                        <colgroup style="width:30%;"></colgroup>
                        <colgroup style="width:20%;"></colgroup>
                        <colgroup style="width:30%;"></colgroup>
                        <tr>
                            <td>
                                <label>FACILITY NAME</label>
                            </td>
                            <td>
                                <input type="text" id="CEMTagencyname" name="CEMTagencyname" class="w250px  form-control m-input form-control m-input" placeholder="" disabled/>
                            </td>
                            <td>
                                <label>HOME ADDRESS</label>
                            </td>
                            <td>
                                <input type="text" id="CEMTHomeAddressField" name="CEMTHomeAddressField" class="w250px  form-control m-input form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>HOME PHONE</label>
                            </td>
                            <td>
                                <input type="text" id="CEMTHomePhoneField" name="CEMTHomePhoneField" class="w250px  form-control m-input form-control m-input" />
                            </td>
                            <td>
                                <label>WORK PHONE</label>
                            </td>
                            <td>
                                <input type="text" id="CEMTWorkPhoneField" name="CEMTWorkPhoneField" class="w250px  form-control m-input form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    CLIENT'S MEDICATION ALLERGIES
                                </label>
                            </td>
                            <td>
                                <textarea id="CEMTClientMedicationAllergiesField" name="CEMTClientMedicationAllergiesField" style="height:100px" class="w500px  form-control m-input form-control m-input" disabled></textarea>
                            </td>
                        </tr>
                    </table>

                        
                </fieldset>
                
            </td>
            
        </tr>
        
    </table>
</div>