﻿<table class="form-fieldset" style="width:100%">
    @*<tr>
        <td>
            <header>
                <center><span style="font-size:14px;"><strong>CONSENT TO A MEDICAL EXAMINATION</strong></span></center>            
            </header>
        </td>
    </tr>*@
    <tr>
        <td>
            <fieldset>
                <legend>State of California - Health and Human Services Agency</legend>
  
                    <table style="width: 85%; margin:auto;">
                        <tr>
                            <td>
                                <label>
                                    Responsible Person:
                                </label>
                            </td>
                            <td>
                                <input type="text" id="CMESignName1" size="43" placeholder="Client/Resident,Parent,Authorized Representative" class=" form-control m-input form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    Client/Resident:
                                </label>
                            </td>
                            <td>
                                <input type="text" id="CMEResidentField1" size="30" placeholder="Client/Resident" class=" form-control m-input form-control m-input" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Relationship to Client/Resident (If other than client/Resident)</label>
                            </td>
                            <td>
                                <input type="text" id="CMERelationship1" class="w250px form-control m-input form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Address</label>
                            </td>
                            <td>
                                <input type="text" id="CMEAddress1" class="w250px form-control m-input form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>City/State/Zip Code</label>
                            </td>
                            <td>
                                <input type="text" id="CMEZip1" class="w250px form-control m-input form-control m-input" />
                            </td>
                        </tr>

                    </table>
            </fieldset>
        </td>
    </tr>

    <tr>
        <td>
            <fieldset>
                <legend>State of California - Health and Welfare Agency</legend>

                <table style="width: 85%; margin:auto;">
                    <tr>
                        <td>
                            <label>
                                Responsible Person:
                            </label>
                        </td>
                        <td>
                                <input type="text" id="CMESignName2" size="43" placeholder="Client/Resident,Parent,Authorized Representative" class="w250px form-control m-input form-control m-input"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                Client/Resident:
                            </label>
                        </td>
                        <td>
                            <input type="text" id="CMEResidentField3" size="30" placeholder="Client/Resident" class="w250px form-control m-input form-control m-input" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Relationship to Client/Resident (If other than client/Resident)</label>
                        </td>
                        <td>
                            <input type="text" id="CMERelationship2" class="w250px form-control m-input form-control m-input"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address</label>
                        </td>
                        <td>
                            <input type="text" id="CMEAddress2" class="w250px form-control m-input form-control m-input" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>City/State/Zip Code</label>
                        </td>
                        <td>
                            <input type="text" id="CMEZip2" class="w250px form-control m-input form-control m-input" />
                        </td>
                    </tr>

                </table>
                
            </fieldset>
        </td>
    </tr>
  
    
            


</table>