﻿<center>
    <h3>ELDER ABUSE ACKNOWLEDGEMENT</h3>
</center>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">Name</label>
    <div class="col-lg-3">
        <input type="text" id="EAusername" name="EAusername" class="form-control m-input" disabled />
        <input type="text" class="w300px" hidden />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">Position</label>
    <div class="col-lg-3">
        <input type="text" id="EAuserposition" name="EAuserposition" class="form-control m-input" disabled />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">Facility</label>
    <div class="col-lg-3">
        <input type="text" id="EAfacilityname" name="EAfacilityname" class="form-control m-input" disabled/>
    </div>
</div>


<div class="form-group m-form__group row">
    <div class="col-lg-12">
        @if (ViewBag.isHomeCare == "True")
        {
            <p style="text-align:justify;">
                California law REQUIRES certain persons to report known or suspected abuse of dependent adults or elders.
                As a caregiver or volunteer at a licensed facility, you are one of those persons - a "mandated reporter".
            </p>
        }
        else
        {
            <p style="text-align:justify;">
                California law REQUIRES certain persons to report known or suspected abuse of dependent adults or elders.
                As an employee or volunteer at a licensed facility, you are one of those persons - a "mandated reporter".
            </p>
        }

    </div>
</div>


<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">PERSONS WHO ARE REQUIRED TO REPORT ABUSE</label>
    <br /><br />
    <div class="col-lg-12">
        @if (ViewBag.isHomeCare == "True")
        {
            <p style="text-align:justify;">
                <b>Mandated reporters</b> include care custodians and any person who has assumed full or intermittent responsibility for care
                or custody of an elder or dependent adult, whether or not paid for that responsibility. [Welfare and Institutions Code ("W&I") section 15630(a)]
                <b>Care custodians</b> include administrators or caregivers of any CDSS licensed facility, including support
                and maintenance staff, or persons providing care or services for elders or dependent adults. [W&I §§ 15610.17(e)&(j)]

            </p>
        }
        else
        {
            <p style="text-align:justify;">
                <b>Mandated reporters</b> include care custodians and any person who has assumed full or intermittent responsibility for care
                or custody of an elder or dependent adult, whether or not paid for that responsibility. [Welfare and Institutions Code ("W&I") section 15630(a)]
                <b>Care custodians</b> include administrators or employees of any CDSS licensed facility, including support
                and maintenance staff, or persons providing care or services for elders or dependent adults. [W&I §§ 15610.17(e)&(j)]

            </p>
        }

    </div>

</div>


<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">PERSONS WHO ARE THE SUBJECT OF THE REPORT</label>
    <br /><br />
    <div class="col-lg-12">
        <p style="text-align:justify;">
            <b>Elder</b> means any California resident, 65 years or older. [W&I § 15610.27]
            <br>
            <b>Dependent adult</b> means any California resident, aged 18 through 64, who has physical or mental limitations that restrict his/her ability to carry out
            normal activities or to protect his/her rights including, but not limited, to persons who have physical or developmental disabilities
            or whose physical or mental abilities have diminished because of age. [W&I § 15610.23]

        </p>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">WHEN REPORTING ABUSE IS REQUIRED</label>
    <br /><br />
    <div class="col-lg-12">
        <p style="text-align:justify;">
            Any mandated reporter, who in his or her professional capacity, or within the scope of his or her employment,
            has observed or has knowledge of an incident that reasonably appears to be abuse or neglect, or is told by an elder or dependent adult that
            he or she has experienced behavior constituting abuse or neglect, or reasonably suspects that abuse, shall report the known or suspected instance
            of abuse. This must be done BY TELEPHONE IMMEDIATELY or as soon as practically possible, and BY WRITTEN REPORT WITHIN TWO (2) WORKING DAYS. [W&I § 15630(b)]
        </p>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">PENALTY FOR FAILURE TO REPORT ABUSE</label>
    <br /><br />
    <div class="col-lg-12">
        <p style="text-align:justify;">
            <u>Failure</u>
            <u>to</u>
            <u>report</u>
            <u>abuse</u>
            <u>of</u>
            <u>an</u>
            <u>elder</u>
            <u>or</u>
            <u>dependent</u>
            <u>adult</u>
            <u>is</u>
            <u>a</u>
            <u>MISDEMEANOR</u>
            <u>CRIME</u>, punishable by jail time, fine or both. [W&I § 15630(h)]
        </p>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">CONFIDENTIALITY OF REPORTER AND OF ABUSE REPORTS</label>
    <br /><br />
    <div class="col-lg-12">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;"></label>
    <div class="col-lg-12">
        <p style="text-align:justify;">
            The duties of mandated reporters are individual and no supervisor or administrator shall impede or inhibit the reporting duties,
            and no person making the report shall be subject to any sanction for making the report. However, internal procedures to facilitate reporting, ensure confidentiality, and appraise supervisors and administrators of reports
            may be established, provided they are not inconsistent with the reporting law. [W&I 15630(f)]
        </p>
        <br />
        <p style="text-align:justify;">
            The reporting person, the report, and the information on the report, shall be kept confidential and may be disclosed ONLY as provided by law. Any violation of confidentiality is a MISDEMEANOR CRIME. [W&I § 15633(a)]
        </p>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">ABUSE THAT MUST BE REPORTED</label>
    <br /><br />
    <div class="col-lg-12">
        <p style="text-align:justify;">
            Abuse of an elder or dependent adult that must be reported includes: <br />
            1) <u>physical abuse</u>; <br />
            2) <u>neglect</u>; <br />
            3) <u>financial abuse</u>;<br />
            4) <u>abandonment</u>;<br />
            5) <u>isolation</u>;<br />
            6) <u>abduction</u>. [W&I § 15630(b)]
        </p>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">DEFINITIONS OF ABUSE</label>
    <br /><br />
    <div class="col-lg-12">
        <p style="text-align:justify;">
            <b>Physical abuse</b> means any of the following: <br />
            (1) <b>assault</b> (an unlawful attempt, coupled with a present ability, to commit a violent injury on another person);
            or assault with a deadly weapon;<br />
            (2) <b>battery</b> (willful and unlawful use of force or violence upon another person);<br />
            (3) <b>unreasonable physical constraint, or prolonged or continual deprivation of food or water;</b><br />
            (4) <b>sexual assault</b> (as defined in the Penal Code); or <br />
            (5) <b>use of a physical or chemical restraint or psychotropic medication</b> for (a) punishment, or (b) a period beyond that for which the meditation was ordered, or (c) any purpose not authorized by the physician
            and surgeon. [W&I § 15610.63]

        </p>
        <br />
        <p style="text-align:justify;">
            <b>Neglect</b> means the negligent failure of any person having the care or custody of an elder or dependent adult to exercise that degree of care that a reasonable person in a like position would exercise.<br /><br />
            [W&I § 15610.57 (a)] Neglect Includes, but is not limited to, the following:<br />
            (a) failure to assist in personal hygiene, or in the provision of food, clothing, or shelter;<br />
            (b) failure to provide medical care for physical and mental health needs (unless the sole reason is voluntarily relying on treatment by spiritual means through prayer alone in lieu of medical treatment);<br />
            (c) failure to protect from health and safety hazards; or<br />
            (d) failure to prevent malnutrition or dehydration. [W&I § 15610.57(b)]

        </p>
        <br />
        <p style="text-align:justify;">
            <b>Financial abuse</b> occurs when a person or entity does any of the following:<br />
            (1) takes, secretes, appropriates, or retains real or personal property of an elder or dependent adult to a wrongful use or with intent to defraud, or both; or<br />
            (2) assists in any of these acts. [W&I § 15610.30(a)]

        </p>
        <br />
        <p style="text-align:justify;">
            <b>Abandonment</b> means the desertion or willful forsaking of an elder or dependent adult by anyone having care or custody of that person under circumstances in which a reasonable person would continue to provide care and custody. [W&I § 15610.65]

        </p>
        <br />
        <p style="text-align:justify;">
            <b>Isolation</b> means any of the following:<br />
            (1) acts intentionally committed for the purpose of preventing, and that do serve to prevent, an elder or dependent adult from receiving his or her mail or telephone calls;<br />
            (2) telling a caller or prospective visitor that an elder or dependent adult is not present or does not wish to talk
            with the caller, or does not wish to meet with the visitor where the statement is false, is contrary to the express wishes of the elder or dependent adult, whether he or she is competent or not, and is made for the purpose of preventing the elder or dependent adult from having contact with family, friends or concerned persons<br />
            (3) false imprisonment (the unlawful violation of the personal liberty of another); or<br />
            (4) physical restraint for the purpose of preventing the elder or dependent adult from meeting with visitors. [W&I § 15610.43(a)] These acts shall not constitute isolation if they are performed in response to a reasonably perceived threat of danger to property or physical safety. [W&I § 15610.43(c)]

        </p>
        <br />
        <p style="text-align:justify;">
            <b>Abduction</b> means the removal from California and the restraint from returning, or the restraint from returning, of any elder or dependent adult who does not have the capacity to consent to the removal or restraint. [W&I § 15610.06]

        </p>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-12" style="font-weight:bold;">WHERE TO CALL IN AND SEND THE WRITTEN ABUSE REPORT</label>
    <br /><br />
          <div class="col-lg-12">
              <p style="text-align:justify;">
                  If the abuse is alleged to have occured in a long-term care facility, including a licensed or unlicensed residential facility serving adults or elders or an adult day program, you must report to either local law enforcement or the local long-term care ombudsman. [W&I § 15630(b)(1)(A)] If the abuse
                  is alleged to have occured anywhere other than a long-term care facility, you must report to either local law enforcement or country adult protective services. [W&I 15630(b)(1)(C)]
              </p>
              <br />
              @if (ViewBag.isHomeCare == "True")
              {
                  <p style="text-align:justify;">
                      AS A CAREGIVER OR VOLUNTEER OF THIS FACILITY, YOU MUST COMPLY WITH THE DEPENDENT ADULT AND ELDER ABUSE REQUIREMENTS, AS STATED ABOVE. IF YOU DO NOT COMPLY, YOU MAY BE SUBJECT TO CRIMINAL PENALTY.
                  </p>
              }
              else
              {
                  <p style="text-align:justify;">
                      AS AN EMPLOYEE OR VOLUNTEER OF THIS FACILITY, YOU MUST COMPLY WITH THE DEPENDENT ADULT AND ELDER ABUSE REQUIREMENTS, AS STATED ABOVE. IF YOU DO NOT COMPLY, YOU MAY BE SUBJECT TO CRIMINAL PENALTY.
                  </p>
              }
              <br />
          </div>
</div>
<div class="form-group m-form__group row">
    <br /><br />
    <label class="col-lg-1" style="text-align:right;">I, </label>
    <div class="col-lg-2"> <input type="text" id="EAusername2" name="EAusername2" class="form-control m-input" disabled /></div>
    <div class="col-lg-9"> have read and understand my responsibility to report known or suspected abuse of dependent adults or elders. I will comply with the reporting requirements.</div>
</div>
