﻿<center>
    @if (ViewBag.isHomeCare == "True")
    {
        <h3>CAREGIVER HANDBOOK</h3>
    }
    else
    {
        <h3>EMPLOYEE HANDBOOK</h3>
    }

    <br />
    <h4>ACKNOWLEDGEMENT RECEIPT</h4>
</center>
<br />


<table class="form-fieldset" style="width:100%;">

    <tr>
        <td>
            <fieldset>
                <legend> </legend>
                <br />
                <table style="width:65%;margin:auto" cellspacing="2">
                    <tr>
                        <td>
                            <br /><br />
                            I RECEIVED THE COMPANY HANDBOOK AND BY SIGNING BELOW I
                            ACKNOWLEDGE RECEIPT OF SAME.

                            <br /><br />
                           
                        </td>
                    </tr>
                </table>
                <br/><br/>

                <table style="width:65%;margin:auto" cellspacing="2">
                    <colgroup style="width:30%;"></colgroup>
                    <colgroup style="width:70%;"></colgroup>

                    <tr>
                        <td>
                            @if (ViewBag.isHomeCare == "True")
                            {
                                <label>Printed Caregiver Name: </label>
                            }
                            else
                            {
                                <label>Printed Employee Name: </label>
                            }
                        </td>
                        <td>
                            <div class="col-lg-4">
                                <input type="text" id="EHempName" class="form-control m-input" disabled />
                            </div>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Address: </label>
                        </td>
                        <td>
                            <div class="col-lg-8">
                                <input type="text" id="EHempAdress" class="form-control m-input" disabled />
                            </div>
                        </td>
                    </tr>


                </table>
                      
            </fieldset>

        </td>
    </tr>


</table>
