﻿
@{
    Layout = null;
}



<style>

    #tabsFormselect {
  display: none;
}
    .usrTbs {
        font-size: 0.9rem;
        font-weight: 600;
    }

   
</style>

<script type="text/javascript">
    $(document).ready(function () {
        if (location.href.toLowerCase().indexOf('marketer') != -1) {
            $('a[href="#tabs-6a"],#tabs-6a').remove();
            $('#btnNew,#btnNewAgr').remove();
        }
        $("#diagNewAppraisal").dialog({
            zIndex: 0,
            autoOpen: false,
            modal: true,
            title: "New Appraisal",
            dialogClass: "companiesDialog",
            open: function () {
            }
        });
        $('#AAAgreementDate,#NewAgreementDate,#ANSAppraisalDate,#NewAppraisalDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            defaultDate: new Date()
        });
        $("#diagNewAgreement").dialog({
            zIndex: 0,
            autoOpen: false,
            modal: true,
            title: "New Agreement",
            dialogClass: "companiesDialog",
            open: function () {
            }
        });

        $("#emp_forms").height($('#employee_modal .modal-content').height() - 250);
        var emp_scroll = new PerfectScrollbar('#emp_forms');
        
    });
</script>


<div id="empForm" class="form row">

    <div class="tab-content col-md-3" style="border-right: 1px solid gray;overflow-y: auto;" id="emp_forms" >

        <ul class="nav nav-tabs nav-fill" role="tablist" id="tabsForm" style="display: table-row;">
            <li class="nav-item">
                <a class="nav-link  active show" data-toggle="tab" href="#tabs-1a">Personnel File Checklist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2a">Health Screening Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3a">Criminal Record Statement</a>
            </li>
            <li class="nav-item">
                @if (ViewBag.isHomeCare == "True")
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-4a">Caregiver Rights Form</a>
                }
                else
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-4a">Employee Rights Form</a>
                }
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-5a">Elder Abuse Acknowledgement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-6a">Photography/Video Consent</a>
            </li>
            <li class="nav-item">
                @if (ViewBag.isHomeCare == "True")
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-7a">Caregiver Handbook Receipt</a>
                }
                else
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-7a">Employee Handbook Receipt</a>
                }

            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-8a">Hepatitis B Declination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-9a">Personnel Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-10a">Request for Live Scan Service</a>
            </li>
            <li class="nav-item">
                @if (ViewBag.isHomeCare == "True")
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-13a">Caregiver Eligibility Verification</a>
                }
                else
                {
                    <a class="nav-link" data-toggle="tab" href="#tabs-13a">Employment Eligibility Verification</a>
                }

            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-14a">Payroll Withholding Notice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-11a">Signed Job Description</a>
            </li>
            
        </ul>

        <select class="form-control nav nav-tabs nav-fill" role="tablist" id="tabsFormselect">
            <option value="#tabs-1a">
                Personnel File Checklist
            </option>
            <option value="#tabs-2a">
                Health Screening Report
            </option>
            <option value="#tabs-3a">
                Criminal Record Statement
            </option>
            @if (ViewBag.isHomeCare == "True")
            {
                <option value="#tabs-4a">
                    Caregiver Rights Form
                </option>
            }
            else
            {
                <option value="#tabs-4a">
                    Employee Rights Form
                </option>
            }

            <option value="#tabs-5a">
                Elder Abuse Acknowledgement
            </option>
            <option value="#tabs-6a">
                Photography/Video Consent
            </option>
            @if (ViewBag.isHomeCare == "True")
            {
                <option value="#tabs-7a">
                    Caregiver Handbook Receipt
                </option>
            }
            else
            {
                <option value="#tabs-7a">
                    Employee Handbook Receipt
                </option>
            }

            <option value="#tabs-8a">
                Hepatitis B Declination
            </option>
            <option value="#tabs-9a">
                Personnel Record
            </option>
            <option value="#tabs-10a">
                Request for Live Scan Service
            </option>
            <option value="#tabs-13a">
                Employment Eligibility Verification
            </option>
            <option value="#tabs-14a">
                Payroll Withholding Notice
            </option>
            <option value="#tabs-11a">
                Signed Job Description
            </option>


        </select>
    
    </div>

    <div class="tab-content col-md-9" id="tabsformviews" style="font-size: 1.2em;padding:20px">
        <div id="tabs-1a" class="tab-pane active show usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                <div id="content-admission" style="margin:10px">
                    <center><h3>Personnel File Checklist</h3></center>

                    <br />

                    <div class="form-group m-form__group row">
                        @if (ViewBag.isHomeCare == "True")
                        {
                            <label class="col-lg-1  col-form-label"><strong>Caregiver Name</strong></label>
                        }
                        else
                        {
                            <label class="col-lg-1  col-form-label"><strong>Employee Name</strong></label>
                        }
                        <div class="col-lg-3">
                            <input type="text" id="PFCempname" maxlength="150" class="form-control m-input" disabled />
                        </div>
                        <label class="col-lg-1  col-form-label"><strong>Hire Date</strong></label>
                        <div class="col-lg-3">
                            <input id="PFChiredate" type="text" class="form-control m-input" maxlength="100" />
                        </div>
                    </div>


                    <div class="form-group m-form__group row">
                        <label class="col-lg-1 col-form-label"><strong>Department</strong></label>
                        <div class="col-lg-3">
                            <input type="text" id="PFCdepartment" maxlength="150" class="form-control m-input" disabled />
                        </div>
                        <label class="col-lg-1 col-form-label"><strong>Start Date</strong></label>
                        <div class="col-lg-3">
                            <input id="PFCstartdate" type="text" class="form-control m-input" maxlength="100" />
                        </div>
                        <label class="col-lg-1 col-form-label"><strong>End Date</strong></label>
                        <div class="col-lg-3">
                            <input id="PFCenddate" type="text" class="form-control m-input" maxlength="100" />
                        </div>
                    </div>


                    <br /><br /><br />
                    <div class="form-group m-form__group row">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Form Description</th>
                                    <th>Form No.</th>
                                    <th>Reviewed By</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input style="text-align:center;min-width: 100px;" id="PFCpersonalrecordcode" type="text" class="form-control m-input" maxlength="100"/></td>
                                    <td>Personnel Record</td>
                                    <td><input style="text-align:center;min-width: 100px;" id="PFCpersonalrecordform" type="text" class="form-control m-input" maxlength="100" /></td>
                                    <td><input style="text-align:center;min-width: 100px;" id="PFCpersonalrecordrevby" type="text" class="form-control m-input" maxlength="100" /></td>
                                    <td><input style="text-align:center;min-width: 100px;" id="PFCpersonalrecorddate" type="text" class="content-datepicker form-control m-input" maxlength="100" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChealthscreencode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Health Screening Report</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChealthscreenform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChealthscreenrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChealthscreendate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCcriminalrecordcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Criminal Record Statement</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCcriminalrecordform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCcriminalrecordrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCcriminalrecorddate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFClivescancode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Request for Live Scan Service</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFClivescanform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFClivescanrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFClivescandate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCbgclearancecode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Background Clearance</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCbgclearanceform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCbgclearancerevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCbgclearancedate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemployeerightcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    @if (ViewBag.isHomeCare == "True")
                                    {
                                        <td>Caregiver Right Form</td>
                                    }
                                    else
                                    {
                                        <td>Employee Right Form</td>
                                    }

                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemployeerightform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemployeerightrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemployeerightdate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCelderabusecode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Elder Abuse Acknowledgement</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCelderabuseform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCelderabuserevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCelderabusedate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChepatitiscode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Hepatitis B Vaccine Notice</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChepatitisform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChepatitisrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFChepatitisdate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCeligibilitycode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Employment Eligibility Verification</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCeligibilityform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCeligibilityrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCeligibilitydate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCpayrollcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Payroll Withholding Notice</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCpayrollform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCpayrollrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCpayrolldate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsignedjobcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Signed Job Description</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsignedjobform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsignedjobrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsignedjobdate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCfirstaidcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Copy of First Aid Card</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCfirstaidform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCfirstaidrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCfirstaiddate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCinservicecode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Proof of In-Service Training</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCinserviceform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCinservicerevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCinservicedate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCdriverslicensecode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Copy of Driver's License</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCdriverslicenseform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCdriverslicenserevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCdriverslicensedate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsocialsecuritycode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Copy of Social Security Card</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsocialsecurityform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsocialsecurityrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCsocialsecuritydate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemphandbookcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    @if (ViewBag.isHomeCare == "True")
                                    {
                                        <td>Caregiver Handbook</td>
                                    }
                                    else
                                    {
                                        <td>Employee Handbook</td>
                                    }

                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemphandbookform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemphandbookrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCemphandbookdate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCtbclearancecode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>TB Clearance</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCtbclearanceform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCtbclearancerevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCtbclearancedate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCphotographcode" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>Photograph Consent Form</td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCphotographform" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCphotographrevby" type="text" class="form-control m-input" maxlength="100" />
                                    </td>
                                    <td>
                                        <input style="text-align:center;min-width: 100px;" id="PFCphotographdate" type="text" class="content-datepicker form-control m-input" maxlength="100" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br /><br />
                        <table class="table">
                            <tr>
                                <td>
                                    <strong>Comments</strong>
                                    <textarea rows="4" id="PFCcomment" class="form-control"> </textarea>
                                </td>
                            </tr>
                        </table>

                    </div>

                    @* END - CONTENT ADMISSION DIV *@
                </div>

            </form>
           
        </div>
        <div id="tabs-2a" class="tab-pane usrTbs col-lg-12" role="tabpanel">
            <form class="form" autocomplete="off">


                <center>
                    <h3>HEALTH SCREENING REPORT</h3>
                    <br /> <h4>FACILITY PERSONNEL</h4>
                </center>
                <br />
                <input type="hidden" id="txtempname" name="txtempname" />

                <div class="form-group m-form__group row">
                    <label class="col-lg-1  col-form-label">Facility Name</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRfacilityname" name="HSRfacilityname" class="form-control m-input" disabled />
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label class="col-lg-1  col-form-label">Facility Address</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRfacilityaddress" name="HSRfacilityaddress" class="form-control m-input" disabled/>
                    </div>
                </div>

                <br />

                <div class="form-group m-form__group row">
                    <label class="col-lg-1  col-form-label">Person's Name</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRusername" class="form-control m-input" disabled />
                    </div>
                    @if (ViewBag.isHomeCare == "True")
                    {
                        <label class="col-lg-1  col-form-label" hidden>Position Title</label>
                        <div class="col-lg-3" hidden>
                            <input type="text" id="HSRuserposition" class="form-control m-input" hidden />
                        </div>
                    }
                    else
                    {
                        <label class="col-lg-1  col-form-label">Position Title</label>
                        <div class="col-lg-3">
                            <input type="text" id="HSRuserposition" class="form-control m-input" disabled />
                        </div>
                    }

                    <label class="col-lg-1  col-form-label">Age</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRuserage" class="form-control m-input" disabled/>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label class="col-lg-1  col-form-label">Type of Facility</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRfacilitytype" class="form-control m-input" />
                    </div>

                    <label class="col-lg-1  col-form-label">Work days per week</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRworkdays" class="form-control m-input" />
                    </div>

                    <label class="col-lg-1  col-form-label">Work hours per day</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRworkhours" class="form-control m-input" />
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label class="col-lg-1  col-form-label">Duty Statement</label>
                    <div class="col-lg-3">
                        <textarea id="HSRdutystatement" class="form-control m-input" rows="4" />
                    </div>



                </div>


                <br /><br />


                <div class="m-form__group form-group row" style="margin-left: 5px;">
                    <label class="col-lg-12 col-form-label"><b>Types of Persons Served (Check appropriate items)</b></label>
                    <div class="m-checkbox-list col-lg-3">
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRinfants"> Infants
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRchildren"> Children
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRadults"> Adults
                            <span></span>
                        </label>
                    </div>
                    <div class="m-checkbox-list col-lg-3">
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRelderly"> Elderly
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRdisabled"> Developmentally Disabled
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRmentallydisordered"> Mentally Disordered
                            <span></span>
                        </label>
                    </div>
                    <div class="m-checkbox-list col-lg-3">
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRhandicapped"> Physically Handicapped
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRaddiction"> Drug/Alcohol Addiction
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--success m-checkbox--state-success">
                            <input type="checkbox" class="" id="HSRothers"> Other (specify)
                            <span></span>
                        </label>
                        <input type="text" id="HSRotherdetails" class="form-control m-input" />
                    </div>
                </div>
                @*<script> //added on part : 3-24-2022 : Cheche //commented to enable multiple selecting of checkboxes above - alona
                    $('input.ef').on('change', function () {
                        $('input.ef').not(this).prop('checked', false);
                    });
                </script>*@

                <br /><br />

                <div class="m-form__group form-group row">
                    <label class="col-lg-12 col-form-label"><b>Authorization for Release of Medical Information</b></label>
                </div>


                <div class="m-form__group form-group row">

                    <div class="col-lg-12 row">
                        @if (ViewBag.isHomeCare == "True")
                        {
                            <label class="col-lg-4  col-form-label">Address of Applicant/Licensee or Caregiver</label>
                        }
                        else
                        {
                            <label class="col-lg-4  col-form-label">Address of Applicant/Licensee or Employee</label>
                        }

                        <div class="col-lg-4">
                            <input type="text" id="HSRlicenseeaddress" class="form-control m-input" />
                        </div>
                    </div>
                </div>

                <div class="m-form__group form-group row">

                    <div class="col-lg-12 row">
                        <label class="col-lg-4 col-form-label">Evaluation of General Health</label>
                        <div class="col-lg-4">
                            <textarea id="HSRgenhealth" class="form-control m-input" rows="3" />
                        </div>
                    </div>
                </div>

                <div class="m-form__group form-group row">
                    <div class="col-lg-12 row">
                        <label class="col-lg-4 col-form-label">Evaluation of ability to perform work described in the above duty statement</label>
                        <div class="col-lg-4">
                            <textarea id="HSRability" class="form-control m-input" rows="3" />
                        </div>
                    </div>
                </div>

                <div class="m-form__group form-group row">
                    <div class="col-lg-12 row">
                        <label class="col-lg-4 col-form-label">Note any health condition that would create hazard to the person, clients, children or other personnel</label>
                        <div class="col-lg-4">
                            <textarea id="HSRhealthcondition" class="form-control m-input" rows="3" />
                        </div>
                    </div>
                </div>

                <div class="m-form__group form-group row">
                    <label class="col-lg-1 col-form-label">Date of TB Test</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRtbdate" class="form-control m-input" />
                    </div>

                    <div class="col-lg-2 m-checkbox-inline">
                        <label class="m-checkbox m-checkbox--state-success">
                            @*kim add code here 04/25/22*@
                            @*<input type="radio" id="HSRtbpositive" value="" name="tboption"> Positive*@
                            <input type="checkbox" id="HSRtbpositive" class="tbopt" name="tboption"> YES
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--state-success">
                            @*<input type="radio" id="HSRtbnegative" value="" name="tboption"> Negative*@
                            <input type="checkbox" id="HSRtbnegative" class="tbopt" name="tboption"> NO
                            <span></span>
                        </label>
                        @*alona for checkbox 6/6/22*@
                        <script>
                            $('input.tbopt').on('change', function () {
                                $('input.tbopt').not(this).prop('checked', false);
                            });
                        </script>
                    </div>


                    <label class="col-lg-2  col-form-label">Action Taken (if positive)</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRtbifpositive" class="form-control m-input" />
                    </div>
                </div>

                <div class="m-form__group form-group row">
                    <label class="col-lg-1 col-form-label">Date of Health Screening</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRhealthscreendate" class="form-control m-input" />
                    </div>

                    <label class="col-lg-2 col-form-label">Name of Physician (Physician's Stamp)</label>
                    <div class="col-lg-3">
                        <input type="text" id="HSRphysicianname" class="form-control m-input" />
                    </div>

                    <label class="col-lg-1 col-form-label">Date</label>
                    <div class="col-lg-2">
                        <input type="text" id="HSRdate" class="form-control m-input" />
                    </div>
                </div>


            </form>
        </div>
        <div id="tabs-3a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">

                <center>
                    <h3>CRIMINAL RECORD STATEMENT</h3>
                </center>
                <br />

                <div class="m-form__group form-group row">
                    <label class="col-4 col-form-label">Have you ever been convicted of a crime in California?</label>
                    <div class="col-8">
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox m-checkbox--state-success chckbox">
                                <input type="checkbox" id="CRConvictedCrimeInCaliforniaYes" class="CRS" name="CRConvictedCrimeInCalifornia"> YES
                                <span></span>

                            </label>
                            <label class="m-checkbox m-checkbox--state-success chckbox">
                                <input type="checkbox" id="CRConvictedCrimeInCaliforniaNo" class="CRS" name="CRConvictedCrimeInCalifornia"> NO
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @*kim for checkbox 05/13/22*@
                    <script>
                        $('input.CRS').on('change', function () {
                            $('input.CRS').not(this).prop('checked', false);
                        });
                    </script>
                </div>

                <div class="m-form__group form-group col-lg-12 row">
                    <p>
                        You need to disclose any marijuana-related offenses covered by the marijuana reform legislation codified at HEALTH
                        and Safety Code sections 11361.5 and 11361.7.
                    </p>
                </div>

                <div class="m-form__group form-group row">
                    <label class="col-7 col-form-label">Have you ever been convicted of a crime from another state, federal court, military or jurisdiction outside of U.S.?</label>
                    <div class="col-5">
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox m-checkbox--state-success chckbox">
                                <input type="checkbox" id="CRConvictedCrimeAnotherStateYes" class="CRSS" name="ConvictedCrimeAnotherState"> YES
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--state-success chckbox">
                                <input type="checkbox" id="CRConvictedCrimeAnotherStateNo" class="CRSS" name="ConvictedCrimeAnotherState"> NO
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @*kim for checkbox 05/13/22*@
                    <script>
                        $('input.CRSS').on('change', function () {
                            $('input.CRSS').not(this).prop('checked', false);
                        });
                    </script>
                </div>

                <div class="m-form__group form-group col-lg-12 row">
                    <p>
                        <u>Criminal convictions from another State or Federal court are considered the same as criminal convictions in California.</u>

                        <br /><br />
                        If you answer YES, give details indicating the nature and circumstances of each crime and the date and the location in which each crime occured.
                        <br /><br />
                        You must disclose convictions, including reckless and drunk driving convictions even if:
                        <br /><br />
                        1. It happened a long time ago;<br />
                        2. It was only a misdemeanor;<br />
                        3. You didn't have to go to court (your attorney went for you);<br />
                        4. You had no jail time or the sentence was only a fine or probation;<br />
                        5. You received a certificate of rehabilitation;<br />
                        6. The conviction was later dismissed, set aside or the sentence was suspended.<br />
                    </p>

                    <br />
                    <textarea id="CRConvictedCrimeAnotherStateYesDetail" name="CRConvictedCrimeAnotherStateYesDetail" rows="10" cols="50" class="form-control"></textarea>
                    <br />
                    <br />
                    <b>Note:</b> IF THE CRIMINAL BACKGROUND CHECK REVEALS ANY CONVICTION(S) THAT YOU DID NOT DISCLOSE ON THIS FORM, YOUR FAILURE
                    TO DISCLOSE THE CONVICTION(S) WILL RESULT IN AN EXEMPTION DENIAL, LICENSE APPLICATION DENIAL, LICENSE REVOCATION OR EXCLUSION FROM
                    A LICENSED FACILITY.
                </div>

                <div class="m-form__group form-group col-lg-12 row">
                    <p style="font-weight:bold;">
                        I declare under penalty of perjury under the laws of the State of California that I have read and understand the information contained in this affidavit
                        and that my responses and any accompanying attachments are true and correct.
                    </p>
                </div>

                <table style="width:90%;margin:auto" cellpadding="5">
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:30%;"></colgroup>
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:30%;"></colgroup>

                    <tr>
                        <td>
                            <label>Facility Name</label>
                        </td>
                        <td>
                            <input type="text" id="CRFacilityName" name="CRFacilityName" class="form-control m-input" disabled />
                        </td>
                        <td>
                            <label>Facility NUMBER</label>
                        </td>
                        <td>
                            <input type="text" id="CRFacilityNumber" name="CRFacilityNumber" class="form-control m-inputx" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.isHomeCare == "True")
                            {
                                <label>Caregiver Name</label>
                            }
                            else
                            {
                                <label>Employee Name</label>
                            }

                        </td>
                        <td>
                            <input type="text" id="CREmployeeName" name="CRFacilityName" class="form-control m-input" disabled />
                        </td>
                        <td>
                            @if (ViewBag.isHomeCare == "True")
                            {
                                <label>Caregiver Address</label>
                            }
                            else
                            {
                                <label>Employee Address</label>
                            }

                        </td>
                        <td>
                            <input type="text" id="CREmployeeAddress" name="CREmployeeAddress" class="form-control m-input" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>CITY</label>
                        </td>
                        <td>
                            <input type="text" id="CRCityField" name="CRCityField" class="form-control m-input" disabled />
                        </td>
                        <td>
                            <label>ZIP</label>
                        </td>
                        <td>
                            <input type="text" id="CRZipField" name="CRZipField" class="form-control m-input" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>SOCIAL SECURITY NUMBER (SEE PRIVACY STATEMENT)</label>
                        </td>
                        <td>
                            <input type="text" id="CRSocialSecurityNumber" name="CRSocialSecurityNumber" class="form-control m-input" disabled />
                        </td>
                        <td>
                            <label>Date of Birth</label>
                        </td>
                        <td>
                            <input type="text" id="CRDateOfBirth" name="CRDateOfBirth" class=" datepicker form-control m-input" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>DMV LICENSE NUMBER</label>
                        </td>
                        <td>
                            <input type="text" id="CRDMVLicenseNumber" name="CRDMVLicenseNumber" class="form-control m-input" />
                        </td>
                        <td></td>
                        <td></td>

                    </tr>

                </table>


                <fieldset>
                    <legend>I. Instructions to Respondents</legend>

                    <table style="width:90%;margin:auto" cellspacing="2">
                        <tr>
                            <td>
                                <p>
                                    If you have been convicted of a crime in California, another state or in federal court, provide the following information:<br>
                                    <span style="font-size:12px;"><i>(You need to disclose any marijuana-related offenses covered by the marijuana reform legislation codified at Health and Safety Code sections 11361.5 and 11361.7.)</i></span>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table style="width:90%;margin:auto" cellspacing="2">
                        <colgroup style="width:40%;"></colgroup>
                        <colgroup style="width:60%;"></colgroup>
                        <tr>
                            <td>
                                <label>What was the offense?</label>
                            </td>
                            <td>
                                <input type="text" id="CRWhatWasTheOffense" name="CRWhatWasTheOffense" class="form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>In which state and city did you commit the offense?</label>
                            </td>
                            <td>
                                <input type="text" id="CRWhichStateAndCity" name="CRWhichStateAndCity" class="form-control m-input" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>When did this occur?</label>
                            </td>
                            <td>
                                <input type="text" id="CRWhenDidThisOccur" name="CRWhenDidThisOccur" class="datepicker form-control m-input" /> 
                            </td>
                        </tr>
                        <tr align="top">
                            <td>Tell us what happened</td>
                            <td>
                                <textarea id="CROffenseDetail" name="CRCROffenseDetail" rows="10" cols="50" class="form-control m-input"></textarea>
                            </td>
                        </tr>
                    </table>
                    <br /><br />
                    <table style="width:90%;margin:auto" cellspacing="2">
                        <tr>
                            <td>
                                <p>I certify under penalty of perjury that the above information is true and correct to the best of my knowledge.</p>
                            </td>
                        </tr>
                    </table>


                </fieldset>
                <fieldset>
                    <legend>II. Instructions to Licensees</legend>
                    <table style="width:90%;margin:auto" cellspacing="2">
                        <tr>
                            <td>
                                <p>
                                    If the person discloses a criminal conviction, review the person's statement and discuss it with your Licensing Program Analyst (LPA).
                                    Maintain this form in your facility personnel file and send a copy to your LPA.
                                </p>
                                <p align="center" style="font-size:16px; font-weight:bold; margin:0px;">PRIVACY STATEMENT</p>

                                @if (ViewBag.isHomeCare == "True")
                                {
                                    <p style="font-size:12px; margin-left:5px; margin-right:5px;">
                                        Pursuant to the Federal Privacy Act (P.L.93-579) and the Information Practices Act of 1977 (Civil Code section 1798 et seq.),
                                        notice is given for the request of the Social Security Number (SSN) on this form. The California Department of Justice uses a person's
                                        SSN as an identifying number. The requested SSN is voluntary. Failure to provide the SSN may delay the processing of this form and the criminal record check.
                                        <br><br>
                                        In order to be licensed, work at, or be present at, a licensed facility, the law requires that you complete a criminal background check. (Health and Safety Code sections 1522, 1568.09, 1569.17 and 1596.871) The
                                        Department will create a file conerning your criminal background check that will contain certain documents, including information that you provide. You have the right to access certain records containing your
                                        personal information maintained by the Department (Civil Code section1798 et seq.). Under the California Public Records Act, the Department may have to provide copies of some of the records in the file to members of the public who ask for them,
                                        including newspaper and television reporters.
                                        <br><br>
                                        NOTE: IMPORTANT INFORMATION
                                        <br>

                                        The Department is required to tell people who ask, including the press, if someone in a licensed facility has a criminal record exemption. The Department must also tell people who ask, the name of a licensed facility that has a licensee, caregiver, client,
                                        or other person with a criminal record exemption.
                                        <br><br>
                                        If you have any questions about this form, please contact your local licensing regional office.
                                    </p>
                                }
                                else
                                {
                                    <p style="font-size:12px; margin-left:5px; margin-right:5px;">
                                        Pursuant to the Federal Privacy Act (P.L.93-579) and the Information Practices Act of 1977 (Civil Code section 1798 et seq.),
                                        notice is given for the request of the Social Security Number (SSN) on this form. The California Department of Justice uses a person's
                                        SSN as an identifying number. The requested SSN is voluntary. Failure to provide the SSN may delay the processing of this form and the criminal record check.
                                        <br><br>
                                        In order to be licensed, work at, or be present at, a licensed facility, the law requires that you complete a criminal background check. (Health and Safety Code sections 1522, 1568.09, 1569.17 and 1596.871) The
                                        Department will create a file conerning your criminal background check that will contain certain documents, including information that you provide. You have the right to access certain records containing your
                                        personal information maintained by the Department (Civil Code section1798 et seq.). Under the California Public Records Act, the Department may have to provide copies of some of the records in the file to members of the public who ask for them,
                                        including newspaper and television reporters.
                                        <br><br>
                                        NOTE: IMPORTANT INFORMATION
                                        <br>

                                        The Department is required to tell people who ask, including the press, if someone in a licensed facility has a criminal record exemption. The Department must also tell people who ask, the name of a licensed facility that has a licensee, employee, resident,
                                        or other person with a criminal record exemption.
                                        <br><br>
                                        If you have any questions about this form, please contact your local licensing regional office.
                                    </p>
                                }

                            </td>
                        </tr>
                    </table>
                </fieldset>

            </form>
        </div>

        <div id="tabs-4a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("EmployeeRights")
            </form>
           
        </div>
        <div id="tabs-5a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("ElderAbuseAcknowledgement")
            </form>
        </div>
        <div id="tabs-6a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("PhotographyConsentForm")
            </form>
           
        </div>
        <div id="tabs-7a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("EmployeeHandbook")
            </form>
</div>
        <div id="tabs-8a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("HepatitisBDeclination")
            </form>
        </div>
        <div id="tabs-9a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("PersonnelRecord")
            </form>
        </div>
        <div id="tabs-10a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("RequestLiveScanService")
            </form>
        </div>
        <div id="tabs-11a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("SignedJobDescription")
            </form>
        </div>

        <div id="tabs-13a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("EmploymentEligibilityVerification")
            </form>
        </div>

        <div id="tabs-14a" class="tab-pane usrTbs" role="tabpanel">
            <form class="form" autocomplete="off">
                @Html.Partial("PayrollWithholdingNotice")
            </form>
        </div>

    </div>


</div>


