﻿<center>
    <h3>EMPLOYMENT ELIGIBILITY VERIFICATION</h3>
</center>
<br />

<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label">
        @if (ViewBag.isHomeCare == "True")
        {
            <strong>Section 1. Caregiver Information and Attestation</strong> <span style="font-style:italic;font-size:12px;">(Caregivers must complete and sign Section 1 of Form 1-9 no later than the <strong>first day of employment</strong>, but not before accepting a job offer)</span>
        }
        else
        {
            <strong>Section 1. Employee Information and Attestation</strong> <span style="font-style:italic;font-size:12px;">(Employees must complete and sign Section 1 of Form 1-9 no later than the <strong>first day of employment</strong>, but not before accepting a job offer)</span>
        }

    </label>
</div>

<div style="border:solid 1px #a4a4a4;padding: 25px;">

    <div class="form-group m-form__group row">
        <div class="col-lg-2">
            <label>Last Name</label>
            <input type="text" id="EEVlastname" name="EEVlastname" class="form-control m-input" disabled />
        </div>
        <div class="col-lg-2">
            <label>First Name</label>
            <input type="text" id="EEVfirstname" name="EEVfirstname" class="form-control m-input" disabled />
        </div>
        <div class="col-lg-2">
            <label>Middle Initial</label>
            <input type="text" id="EEVmiddleinitial" name="EEVmiddleinitial" class="form-control m-input" disabled />
        </div>
        <label class="col-lg-2  col-form-label">Other Names Used <span style="font-style:italic">(if any)</span></label>
        <div class="col-lg-2">
            <input type="text" id="EEVothernames" name="EEVothernames" class="form-control m-input" />
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-12 col-form-label"><strong>Address</strong></label>
    </div>

    <div class="form-group m-form__group row">
        <div class="col-lg-3">
            <label>Street Number and Name</label>
            <input type="text" id="EEVaddress" name="EEVaddress" class="form-control m-input"/>
        </div>
        <div class="col-lg-2">
            <label>Apt. Number</label>
            <input type="text" id="EEVaptno" name="EEVaptno" class="form-control m-input"/>
        </div>
        <div class="col-lg-2">
            <label>City or Town</label>
            <input type="text" id="EEVcityortown" name="EEVcityortown" class="form-control m-input"/>
        </div>
        <div class="col-lg-2">
            <label>State</label>
            <input type="text" id="EEVstate" name="EEVstate" class="form-control m-input"/>
        </div>
        <div class="col-lg-2">
            <label>Zip Code</label>
            <input type="text" id="EEVzipcode" name="EEVzipcode" class="numonly form-control m-input" />
        </div>
    </div>

    <div class="form-group m-form__group row">
        
        <div class="col-lg-3">
            <label>U.S. Social Security Number</label>
            <input type="text" id="EEVssnumber" name="EEVssnumber" maxlength="9" class="numonly form-control m-input" disabled />
        </div>
        <div class="col-lg-2">
            <label>Date of Birth</label>
            @*kim remove style="width:154px;height:30px;"  below code 04/29/22*@
            <input type="text" id="EEVdob" name="EEVdob" class="datepicker form-control m-input" disabled />
        </div>
        <div class="col-lg-4">
            <label>Email Address</label>
            <input type="text" id="EEVemail" name="EEVemail" class="form-control m-input"/>
        </div>
        <div class="col-lg-2">
            <label>Telephone Number</label>
            <input type="text" id="EEVtelno" name="EEVtelno" class="numonly form-control m-input" />
        </div>
    </div>
</div>

<br /><br />
      <div class="form-group m-form__group row">
          <label class="col-lg-12  col-form-label">
              I am aware that federal law provides for imprinsonment and/or fines for false statements or use of false documents in connection with the completion of this form.

              <br /><br />
              I attest, under penalty of perjury, that I am (check one of the following)
          </label>

          <div class="col-lg-12">

              <table>
                  <colgroup style="width:10%;"></colgroup>
                  <colgroup style="width:80%;"></colgroup>
                  <tr>
                      <td style="float:right;">
                          <input type="checkbox" class="el" id="EEVuscitizen" name="EEVuscitizen" />
                      </td>
                      <td>
                          A citizen of the United State
                      </td>
                  </tr>
                  <tr>
                      <td style="float:right;">
                          <input type="checkbox" class="el" id="EEVnotuscitizen" name="EEVnotuscitizen" />
                      </td>
                      <td>
                          A noncitizen of the United States <span style="font-style:italic;font-size:12px;">(See instructions)</span>
                      </td>
                  </tr>
                  <tr>
                      <td style="float:right;">
                          <input type="checkbox" class="el" id="EEVpermanentresident" name="EEVpermanentresident" />
                      </td>
                      <td>
                          A lawful permanent resident (Alien Registration Number/USCIS Number):
                          <input type="text" id="EEVuscisnumber" name="EEVuscisnumber" class="form-control m-input" />
                      </td>
                  </tr>
                  <tr>
                      <td style="float:right;">
                          <input type="checkbox" class="el" id="EEValien" name="EEValien" />
                      </td>
                      <td>
                          An alien authorized to work until (expiration date, if applicable, mm/dd/yyy)
                          <input type="text" id="EEVexpdate" name="EEVexpdate" class="datepicker form-control m-input" /><br />Some aliens may write "N/A" in this field.<span style="font-style:italic;font-size:12px;">(See instructions)</span>
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>

                          <span style="font-style:italic;font-size:12px;"> For aliens authorized to work, provide your Alien Registration Number/USCIS Number OR Form I-94 Admission Number.</span>
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          <br /><br />
                          1. Alien Registration Number/USCIS Number:
                          <input type="text" id="EEValienregistrationnumber" name="EEValienregistrationnumber" class="form-control m-input" />
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          <br />
                          2. Form I-94 Admission Number:
                          <input type="text" id="EEVadmissionnumber" name="EEVadmissionnumber" class="form-control m-input" />
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          <br /><br />
                          If you obtained your admission number from CBP in connection with your arrival in the United States, include the following:
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          <br />
                          Foreign Passport Number: &nbsp;
                          <input type="text" id="EEVforeignpassportnumber" name="EEVforeignpassportnumber" class="form-control m-input" />
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          <br />
                          Country of Issuance: &nbsp;
                          <input type="text" id="EEVcountryofissuance" name="EEVcountryofissuance" class="form-control m-input" />
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>
                          Some aliens may write "N/A" on the Foreign Passport Number and Country of Issuance fields. <span style="font-style:italic">(See instructions)</span>
                      </td>
                  </tr>
              </table>

          </div>
          <script> // added by Cheche : 3-24-2022
              $('input.el').on('change', function () {
                  $('input.el').not(this).prop('checked', false);
              });
          </script>
      </div>


<br /><br />

<div style="border:solid 1px #a4a4a4;padding: 25px;">
    <div class="form-group m-form__group row">
        <strong>Preparer and/or Translator Certification </strong><span style="font-style:italic;font-size:12px;">(To be completed and signed if Section 1 is prepared by a person other than the employee.)</span>

        <br /><br /><br />
        <strong>I attest, under penalty of perjury, that I have assisted in the completion of this form and that to the best of my knowledge the information is true and correct.</strong>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">Last Name <span style="font-style:italic;font-size:12px;">(Family Name)</span></label>
        <div class="col-lg-2">
            <input type="text" id="EEVpreplastname" name="EEVpreplastname" class="form-control m-input"/>
        </div>
        <label class="col-lg-2 col-form-label">First Name <span style="font-style:italic;font-size:12px;">(Given Name)</span></label>
        <div class="col-lg-2">
            <input type="text" id="EEVprepfirstname" name="EEVprepfirstname" class="form-control m-input"/>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">Address <span style="font-style:italic;font-size:12px;">(Street Number and Name)</span></label>
        <div class="col-lg-2">
            <input type="text" id="EEVstreetnumname" name="EEVstreetnumname" class="form-control m-input"/>
        </div>

        <label class="col-lg-2 col-form-label">City or Town</label>
        <div class="col-lg-2">
            <input type="text" id="EEVprepcityortown" name="EEVprepcityortown" class="form-control m-input"/>
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="col-lg-2 col-form-label">State</label>
        <div class="col-lg-2">
            <input type="text" id="EEVprepstate" name="EEVprepstate" class="form-control m-input"/>
        </div>

        <label class="col-lg-2 col-form-label">Zip Code</label>
        <div class="col-lg-2">
            <input type="text" id="EEVprepzipcode" name="EEVprepzipcode" class="form-control m-input numonly"/>
        </div>
    </div>

</div>

<br /><br />
      <div class="form-group m-form__group row">
          <label class="col-lg-12  col-form-label">
              @if (ViewBag.isHomeCare == "True")
              {
                  <strong>Section 2. Employer or Authorized Representative Review and Verification</strong><span style="font-style:italic;font-size:14px;">(Employers or their authorized representative must complete and sign Setion 2 within 3 business days of the caregiver's first day of employment. You must physically examie one document from List A OR examine a combination of one document from List B and pne document form List C as listed on the "Lists of Acceptable Documents" on the next page of this form. or each document you review, record the following: document title, issuing authority, document number, and expiration date, if any.)</span>
              }
              else
              {
                  <strong>Section 2. Employer or Authorized Representative Review and Verification</strong><span style="font-style:italic;font-size:14px;">(Employers or their authorized representative must complete and sign Setion 2 within 3 business days of the employee's first day of employment. You must physically examie one document from List A OR examine a combination of one document from List B and pne document form List C as listed on the "Lists of Acceptable Documents" on the next page of this form. or each document you review, record the following: document title, issuing authority, document number, and expiration date, if any.)</span>
              }

          </label>
          <br /><br />
          @if (ViewBag.isHomeCare == "True")
          {
              <label class="col-lg-4 col-form-label">Caregiver Last Name, First Name and Middle Initial from Section 1:</label>
          }
          else
          {
              <label class="col-lg-4 col-form-label">Employee Last Name, First Name and Middle Initial from Section 1:</label>
          }

          <div class="col-lg-2">
              <input type="text" id="EEVname" name="EEVname" class=" form-control m-input " />
          </div>
      </div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label"><strong>List A</strong></label>
    <label class="col-lg-1 col-form-label">OR</label>
    <label class="col-lg-3 col-form-label"><strong>List B</strong></label>
    <label class="col-lg-1 col-form-label">AND</label>
    <label class="col-lg-3 col-form-label"><strong>List C</strong></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label">Identify and Employment Authorization</label>
    <label class="col-lg-1 col-form-label"></label>
    <label class="col-lg-3 col-form-label">Identity</label>
    <label class="col-lg-1 col-form-label"></label>
    <label class="col-lg-3 col-form-label">Employment Authorization</label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Document Title</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdoctitle1" name="EEVdoctitle1" class="form-control m-input"/>
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Document Title</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdoctitle2" name="EEVdoctitle2" class="form-control m-input"/> 
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Document Title </label>
    <div class="col-lg-2">
        <input type="text" id="EEVdoctitle3" name="EEVdoctitle3" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Issuing Authority </label>
    <div class="col-lg-2">
        <input type="text" id="EEVissuingauthority1" name="EEVissuingauthority1" class="form-control m-input"/>
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Issuing Authority </label>
    <div class="col-lg-2">
        <input type="text" id="EEVissuingauthority2" name="EEVissuingauthority2" class="form-control m-input"/>
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Issuing Authority </label>
    <div class="col-lg-2">
        <input type="text" id="EEVissuingauthority3" name="EEVissuingauthority3" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Document Number</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdocnumber1" name="EEVdocnumber1" class="form-control m-input"/>
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Document Number</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdocnumber2" name="EEVdocnumber2" class="form-control m-input"/>
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Document Number</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdocnumber3" name="EEVdocnumber3" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Expiration Date <span style="font-style:italic;font-size:12px;">(if any)(mm/dd/yyyy)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpirationdate1" name="EEVexpirationdate1" class="ndatepicker form-control m-input" />
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Expiration Date <span style="font-style:italic;font-size:12px;">(if any)(mm/dd/yyyy)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpirationdate2" name="EEVexpirationdate2" class="ndatepicker form-control m-input" />
    </div>

    <div class="col-lg-1"></div>

    <label class="col-lg-1 col-form-label">Expiration Date <span style="font-style:italic;font-size:12px;">(if any)(mm/dd/yyyy)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpirationdate3" name="EEVexpirationdate3" class="ndatepicker form-control m-input" />
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Document Title:</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdoctitle4" name="EEVdoctitle4" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Issuing Authority</label>
    <div class="col-lg-2">
        <input type="text" id="EEVissuingauthority4" name="EEVissuingauthority4" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Document Number</label>
    <div class="col-lg-2">
        <input type="text" id="EEVdocnumber4" name="EEVdocnumber4" class="form-control m-input" />
    </div>

</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">Expiration Date <span style="font-style:italic;font-size:12px;">(if any)(mm/dd/yyyy)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpirationdate4" name="EEVexpirationdate4" class="ndatepicker form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <div class="col-lg-12  col-form-label">
        <strong>Certification</strong>
        <br /><br />
        @if (ViewBag.isHomeCare == "True")
        {
            <strong>I attest, under penalty of perjury, that(1) I have examined the document(s) presented by the above-named caregiver, (2) the above-listed document(s) appear to be genuine and to relate to the employee named, and (3) to the best of my knowledge the caregiver is authorized to work in the United States.</strong>
        }
        else
        {
            <strong>I attest, under penalty of perjury, that(1) I have examined the document(s) presented by the above-named employee, (2) the above-listed document(s) appear to be genuine and to relate to the employee named, and (3) to the best of my knowledge the employee is authorized to work in the United States.</strong>
        }

    </div>
    <br /><br />
    @if (ViewBag.isHomeCare == "True")
    {
         <label class="col-lg-3 col-form-label">The caregiver's first day of employment (mm/dd/yyyy)</label>
    }
    else
    {
        <label class="col-lg-3 col-form-label">The employees's first day of employment (mm/dd/yyyy)</label>
    }
    <div class="col-lg-2">
        <input type="text" id="EEVfirstdayofemployment" name="EEVfirstdayofemployment" class="datepicker form-control m-input" style="width: inherit;" />
    </div>
    <div class="col-lg-6">
        <span style="font-style:italic;font-size:12px;">(See instructions for exemptions.)</span>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label">Last Name <span style="font-style:italic;font-size:12px;">(Family Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVemplastname" name="EEVemplastname" class="form-control m-input"/>
        <input type="text" id="Id" name="Id" hidden />
    </div>
    <label class="col-lg-3 col-form-label">Title of Employer or Authorized Representative</label>
    <div class="col-lg-2">
        <input type="text" id="EEVemptitle" name="EEVemptitle" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">First Name <span style="font-style:italic;font-size:12px;">(Given Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVempgivenname" name="EEVempgivenname" class="form-control m-input"/>
    </div>
    <label class="col-lg-3  col-form-label">Employer's Business or Organization Name</label>
    <div class="col-lg-2">
        <input type="text" id="EEVempbusinessname" name="EEVempbusinessname" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Employer's Business or Organization Address <span style="font-style:italic;font-size:12px;">(Street Number and Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVempbusinessaddress" name="EEVempbusinessaddress" class="form-control m-input"/>
    </div>
    <label class="col-lg-3  col-form-label">City or Town</label>
    <div class="col-lg-2">
        <input type="text" id="EEVempbusinessaddcity" name="EEVempbusinessaddcity" class="form-control m-input"/>
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">State</label>
    <div class="col-lg-2">
        <input type="text" id="EEVempbusinessaddstate" name="EEVempbusinessaddstate" class="form-control m-input"/>
    </div>
    <label class="col-lg-3  col-form-label">Zip Code</label>
    <div class="col-lg-2">
        <input type="text" id="EEVempbusinessaddzip" name="EEVempbusinessaddzip" class="form-control m-input"/>
    </div>
</div>


<div class="form-group m-form__group row">
    <div class="col-lg-12  col-form-label">
        <strong>Section 3. Reverification and Rehires</strong><span style="font-style:italic;font-size:12px;">(To be completed and signed by employer or authorized representative.)</span>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-4  col-form-label">A.</label>
    <label class="col-lg-5  col-form-label">B.</label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">New Name <span style="font-style:italic;font-size:12px;">(If applicable)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVnewname" name="EEVnewname" class="form-control m-input"/>
    </div>
    <label class="col-lg-3  col-form-label">Date of Rehire &nbsp;<span style="font-style:italic;font-size:12px;">(if applicable)(mm/dd/yyyy)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVdateofrehire" name="EEVdateofrehire" class="datepicker form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Last Name<span style="font-style:italic;font-size:12px;">(Family Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVfamilyname" name="EEVfamilyname" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">First Name<span style="font-style:italic;font-size:12px;">(Given Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVfirstname1" name="EEVfirstname1" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Middle Initial<span style="font-style:italic;font-size:12px;">(Family Name)</span></label>
    <div class="col-lg-2">
        <input type="text" id="EEVmiddleinitial1" name="EEVmiddleinitial1" class="form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
   @if (ViewBag.isHomeCare == "True")
    {
        <label class="col-lg-12 col-form-label">
            C. If caregiver's previous grant of employment authorization has expired, provide the information for the document from List A or List C the caregiver presented that establishes current  employment authorization in the space provided below.
        </label>
    }
    else
    {
        <label class="col-lg-12 col-form-label">
            C. If employee's previous grant of employment authorization has expired, provide the information for the document from List A or List C the employee presented that establishes current  employment authorization in the space provided below.
        </label>
    }

</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Document Title</label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpdoctitle" name="EEVexpdoctitle" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Document Number</label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpdocnumber" name="EEVexpdocnumber" class="form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Expiration Date </label>
    <div class="col-lg-2">
        <input type="text" id="EEVexpdocexpirationdate" name="EEVexpdocexpirationdate" class="datepicker form-control m-input" />
    </div>
</div>


<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-12 col-form-label">
        @if (ViewBag.isHomeCare == "True")
        {
            <strong>
                I attest, under penalty of perjury, that to the best of my knowlegde, this caregiver is authorized to work in the United States, an if the caregiver presented document(s), the document(s) I have examined appear to be genuine and to relate to the individual.
            </strong>
        }
        else
        {
            <strong>
                I attest, under penalty of perjury, that to the best of my knowlegde, this employee is authorized to work in the United States, an if the employee presented document(s), the document(s) I have examined appear to be genuine and to relate to the individual.
            </strong>
        }

    </label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-4  col-form-label">Print Name of Employer or Authorized Representative</label>
    <div class="col-lg-2">
        <input type="text" id="EEVempprintname1" name="EEVempprintname1" class="form-control m-input"  />
    </div>
</div>

