﻿<center>
    <h3>NOTICE</h3>
    <br />
    @if (ViewBag.isHomeCare == "True")
    {
        <h4>CAREGIVER RIGHTS</h4>
    }
    else
    {
        <h4>EMPLOYEE RIGHTS</h4>
    }

</center>


<div class="form-group m-form__group row">
    @if (ViewBag.isHomeCare == "True")
    {
    <div class="col-lg-12">
        This form is intended to meet the requirements of Health and Safety Code Sections 1596.881 and 1596.882 which require that caregiver
        be informed of their rights, at the time of employment, to filing complaints against their employer for violating any licensing law or
        regulation. The child care facility licensee is required to give the caregiver this form, to have the caregiver complete and detach the
        bottom of the form, and to maintain the signed acknowledgement of receipt of the form in the caregiver's file.

        <br /><br />

        No employer shall discharge, demote, suspend or threaten to discharge, demote or suspend, or in any manner discriminate against any
        caregiver for taking any of the following actions:

        <br /><br />

        1. Making an oral or written complaint against the employer to the California Department of Social Services or other agency having
        statutory responsibility for enforcement of the law or to the employer or representative of the employer for the violation of any
        licensing law or other laws (including but not limited to laws relating to child abuse, staff-child ratios, etc.).

        <br /><br />

        2. Instituting or causing to be instituted any proceeding against the employer regarding the violation of any licensing law or other laws.

        <br /><br />

        3. Is, or will be, a witness or testifier in a proceeding regarding the violation of any licensing law or other law.

        <br /><br />

        4. Refusing to perform work that is in violation of a licensing law or regulation after notifying the employer of the violation.

        <br /><br />

        Pursuant to Health and Safety Code Section 1596.882, an caregiver alleging the violation by the employer of any action described above
        shall do the following:

        <br /><br />

        1. Present the employer with a claim alleging violation of the caregiver's rights within 45 days after the discharge, demotion,
        suspension or threat thereof or for discriminating against the caregiver for taking such action.

        <br /><br />

        2. File a claim with the Division of Labor Standards Enforcement no later than 90 days after the employer takes any of the above
        described actions against the caregiver.

        <br /><br />

        Upon receipt of the caregiver's complaint, the Division of Labor Standards Enforcement shall do whatever investigation it deems
        appropriate to resolve the complaint. If it is determined that the employer has violated the caregiver's rights, the Division of Labor
        Standards Enforcement shall take action against the employer in any appropriate court. The court shall have jurisdiction of any action
        taken as well as to issue restraining orders and any other appropriate relief, including rehiring and reinstatements of the caregiver to his or
        her former position with backpay and benefits.

        <br /><br />

        Within 30 days of receipt of a complaint from an caregiver as outlined above, the Division of Labor Standards Enforcement shall review
        the facts of the complaint and set either a hearing date or notify the caregiver and the employer of its decision. Where necessary, the
        Division of Labor Standards Enforcement shall begin the appropriate court action to enforce the decision.

        <br /><br />

        Except for any grievance procedure or arbitration or hearing that is available to the caregiver pursuant to a collective bargaining
        agreement, Section 1596.882 is the exclusive means for presenting claims.

        <br /><br />

        To file a claim with the Division of Labor Standards Enforcement, check the white pages of the local telephone directory under State
        Government Offices, California State of, Industrial relations Department, Labor Standards Enforcement-Working Conditions, for the local
        telephone number and address of the nearest office, or contact the headquarters office at P.O. Box 603, San Francisco, CA 94101,
        telephone (415) 703-4810.

    </div>
    }
    else
    {
        <div class="col-lg-12">
            This form is intended to meet the requirements of Health and Safety Code Sections 1596.881 and 1596.882 which require that employees
            be informed of their rights, at the time of employment, to filing complaints against their employer for violating any licensing law or
            regulation. The child care facility licensee is required to give the employee this form, to have the employee complete and detach the
            bottom of the form, and to maintain the signed acknowledgement of receipt of the form in the employee's file.

            <br /><br />

            No employer shall discharge, demote, suspend or threaten to discharge, demote or suspend, or in any manner discriminate against any
            employee for taking any of the following actions:

            <br /><br />

            1. Making an oral or written complaint against the employer to the California Department of Social Services or other agency having
            statutory responsibility for enforcement of the law or to the employer or representative of the employer for the violation of any
            licensing law or other laws (including but not limited to laws relating to child abuse, staff-child ratios, etc.).

            <br /><br />

            2. Instituting or causing to be instituted any proceeding against the employer regarding the violation of any licensing law or other laws.

            <br /><br />

            3. Is, or will be, a witness or testifier in a proceeding regarding the violation of any licensing law or other law.

            <br /><br />

            4. Refusing to perform work that is in violation of a licensing law or regulation after notifying the employer of the violation.

            <br /><br />

            Pursuant to Health and Safety Code Section 1596.882, an employee alleging the violation by the employer of any action described above
            shall do the following:

            <br /><br />

            1. Present the employer with a claim alleging violation of the employee's rights within 45 days after the discharge, demotion,
            suspension or threat thereof or for discriminating against the employee for taking such action.

            <br /><br />

            2. File a claim with the Division of Labor Standards Enforcement no later than 90 days after the employer takes any of the above
            described actions against the employee.

            <br /><br />

            Upon receipt of the employee's complaint, the Division of Labor Standards Enforcement shall do whatever investigation it deems
            appropriate to resolve the complaint. If it is determined that the employer has violated the employee's rights, the Division of Labor
            Standards Enforcement shall take action against the employer in any appropriate court. The court shall have jurisdiction of any action
            taken as well as to issue restraining orders and any other appropriate relief, including rehiring and reinstatements of the employee to his or
            her former position with backpay and benefits.

            <br /><br />

            Within 30 days of receipt of a complaint from an employee as outlined above, the Division of Labor Standards Enforcement shall review
            the facts of the complaint and set either a hearing date or notify the employee and the employer of its decision. Where necessary, the
            Division of Labor Standards Enforcement shall begin the appropriate court action to enforce the decision.

            <br /><br />

            Except for any grievance procedure or arbitration or hearing that is available to the employee pursuant to a collective bargaining
            agreement, Section 1596.882 is the exclusive means for presenting claims.

            <br /><br />

            To file a claim with the Division of Labor Standards Enforcement, check the white pages of the local telephone directory under State
            Government Offices, California State of, Industrial relations Department, Labor Standards Enforcement-Working Conditions, for the local
            telephone number and address of the nearest office, or contact the headquarters office at P.O. Box 603, San Francisco, CA 94101,
            telephone (415) 703-4810.

        </div>
    }

</div>

<br /><br />
      <div class="form-group m-form__group row">
          <div class="col-lg-12">
              <center>
                  @if (ViewBag.isHomeCare == "True")
                  {
                      <h3>Caregiver Rights</h3>
                  }
                  else
                  {
                      <h3>Employee Rights</h3>
                  }

              </center>
          </div>
          <br /><br /><br /><br />
          <div class="col-lg-12 row">
              @if (ViewBag.isHomeCare == "True")
              {
                  <div class="col-lg-2" style="text-align:right">This is to acknowledge that I,</div>
                  <div class="col-lg-2"><input type="text" class="form-control m-input" id="ERResidentName" /></div>
                  <div class="col-lg-5" style="text-align:center;"> (Name of Caregiver), have received a copy of "CAREGIVER RIGHTS" from my employer </div>
                  <div class="col-lg-2"><input type="text" class="form-control m-input" id="EREmployeeName" /></div>
                  <div class="col-lg-5" style="text-align:center;"> (Name of Employer), who is the licensee or authorized representative of </div>
                  <div class="col-lg-2"> <input type="text" class="form-control m-input" id="ERFacilityName" /></div>
                  <div class="col-lg-2"> (Name of Facility).</div>
              }
              else
              {
                  <div class="col-lg-2" style="text-align:right">This is to acknowledge that I,</div>
                  <div class="col-lg-2"><input type="text" class="form-control m-input" id="ERResidentName" disabled/></div>
                  <div class="col-lg-5" style="text-align:center;"> (Name of Employee), have received a copy of "EMPLOYEE RIGHTS" from my employer </div>
                  <div class="col-lg-2"><input type="text" class="form-control m-input" id="EREmployeeName" disabled/></div>
                  <div class="col-lg-5" style="text-align:center;"> (Name of Employer), who is the licensee or authorized representative of </div>
                  <div class="col-lg-2"> <input type="text" class="form-control m-input" id="ERFacilityName" disabled/></div>
                  <div class="col-lg-2"> (Name of Facility).</div>
              }

          </div>

      </div>


<table class="form-fieldset" style="width:100%;">

    <tr>
        <td>
            <fieldset>
                <legend> </legend>
                <br />
                <table style="width:95%;margin:auto" cellspacing="2">
                    <tr>
                        <td>
                            
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend> </legend>
                <table style="width:90%;margin:auto" cellspacing="2">
                    <tr>
                        <td>
                        <span style="font-weight:bold">
                           
                        </span><br /><br />

                            
                        </td>
                    </tr>
                </table>
            </fieldset>

        </td>
    </tr>


</table>
