﻿<center>
    <h3>HEPATITIS B VACCINE DECLINATION FORM</h3>
</center>
<br />

<div>

    <p style="padding: 10px;">
        I understand that due to my occupational exposure to blood or other
        potentially infectious materials, I may be at risk of acquiring Hepatitis B Virus
        (HBV) infection.
    </p>
    <p style="padding: 10px;">
        I have been given the opportunity to be vaccinated with Hepatitis B vaccine,
        at no charge to my self. However, I decline Hepatitis B vaccination at this
        time.
    </p>
    <p style="padding: 10px;">
        I understand that by declining this vaccine, I continue to be at risk of
        acquiring Hepatitis B, a serious disease. If in the future I continue to have
        occupational exposure to blood or other potentially infectious materials and I
        want to be vaccinated with Hepatitis B vaccine, I can receive the vaccination
        series at no cost to myself.
    </p>
    <br /><br />

    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:30%;"></colgroup>
        <colgroup style="width:70%;"></colgroup>

        <tr>
            <td>
                @if (ViewBag.isHomeCare == "True")
                {
                    <label style="float:right;">Printed Caregiver Name:</label>
                }
                else
                {
                    <label style="float:right;">Printed Employee Name:</label>
                }

            </td>
            <td>
                <div class="col-lg-4">
                    <input type="text" id="HBDName" name="HBDName" class="form-control m-input" disabled />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label style="float:right;">Address:</label>
            </td>
            <td>
                <div class="col-lg-8">
                    <input type="text" id="HBDAddress" name="HBDAddress" class="form-control m-input" disabled />
                </div>
            </td>
        </tr>
    </table>

    <br /><br />
    @if (ViewBag.isHomeCare == "True")
    {
        <p align="center" style="font-weight:bold; text-align:center; margin-bottom:0px;">
            Caregiver who declines the Hepatitis B vaccine is required to sign a "Hepatitis
            B Vaccine Declination Form". <br />A copy of this form is to be attached and kept with the
            Hepatitis B Vaccine records.
        </p>
    }
    else
    {
        <p align="center" style="font-weight:bold; text-align:center; margin-bottom:0px;">
            Employee who declines the Hepatitis B vaccine is required to sign a "Hepatitis
            B Vaccine Declination Form". <br />A copy of this form is to be attached and kept with the
            Hepatitis B Vaccine records.
        </p>
    }

</div>
