﻿<center>
    <h4>
        Morse Fall Scale
        <br />
        <small class="text-muted">(Adapted with permission, SAGE publications)</small>
    </h4>
</center>
<br />
<br />
<p>The Morse Fall Scale (MFS) is a rapid and simple method of assessing a patient's likelihood of falling. A large majority of nurses (82.9%) rate the scale as "quick and easy to use," and 54% estimated that it took less than 3 minutes to rate a patient. It consists of six variables that are quick and easy to score, and it has been shown to have predictive validity and interrater reliability. The MFS is used widely in acute care settings, both in the hospital and long term care inpatient settings.</p>

<br />

<table class="table table-bordered m-table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Scale</th>
            <th>Scoring</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="top">1. History of falling; immediate or within 3 months</td>
            <td valign="top">
                <p style="float: left;">
                    No<br />
                    Yes
                </p>
                <p style="float: right;">
                    0<br />
                    25
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSHistoryofScoring" name="MFSHistoryofScoring" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">2. Secondary diagnosis</td>
            <td valign="top">
                <p style="float: left;">
                    No<br />
                    Yes
                </p>
                <p style="float: right;">
                    0<br />
                    15
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSSecondaryDiagnosis" name="MFSSecondaryDiagnosis" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">
                3. <u>Ambulatory aid</u><br />
                &nbsp;&nbsp;&nbsp;&nbsp;Bed rest/nurse assist<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Crutches/cane/walker<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Furniture

            </td>
            <td valign="top">
                <p style="float: left;">
                </p>
                <p style="float: right;">
                    <br />
                    0<br />
                    15<br />
                    30
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSAmbulatoryAid" name="MFSAmbulatoryAid" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">4. IV/Heparin Lock</td>
            <td valign="top">
                <p style="float: left;">
                    No<br />
                    Yes
                </p>
                <p style="float: right;">
                    0<br />
                    20
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSHeparinLock" name="MFSHeparinLock" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">
                5. <u>Gait/Transferring</u><br />
                &nbsp;&nbsp;&nbsp;&nbsp;Normal/bedrest/immobile<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Weak<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Impaired
            </td>
            <td valign="top">
                <p style="float: left;"></p>
                <p style="float: right;">
                    <br />
                    0<br />
                    10<br />
                    20
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSGait" name="MFSGait" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top">
                6. <u>Mental status</u><br />
                &nbsp;&nbsp;&nbsp;&nbsp;Oriented to own ability<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Forgets limitations <br/><br/>
               
            </td>
            <td valign="top">
                <p style="float: left;"></p>
                <p style="float: right;">
                    <br />
                    0<br />
                    15
                </p>
            </td>
            <td valign="top">
                <textarea class="form-control m-input" id="MFSMentalStatus" name="MFSMentalStatus" rows="3" maxlength="500"></textarea>
            </td>
        </tr>
        <tr>
            <td valign="top" align="right">Total Score:</td>
            <td valign="top"></td>
            <td valign="top"><span id="totalrisk"></span></td>
        </tr>
        
        
       
    </tbody>
</table>
<table class="table table-bordered m-table">
    <tr>
        <td style="font-weight:700;font-style:italic;text-align: center;">
            Risk Level
        </td>
    </tr>
</table>

    <p style="font-size:11px;">The items in the scale are scored as follows:</p>

    <p style="font-size:11px;"><span style="font-style:italic">History of falling: </span>This is scored as 25 if the patient has fallen during the present hospital admission or if there was an immediate history of physiological falls, such as from seizures or an impaired gait prior to admission. If the patient has not fallen, this is scored as 0. Note: If a patient falls for the first time, then his or her score immediately increases by 25.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Secondary diagnosis: </span>This is scored as 15 if more than one medical diagnosis is listed on the patient's chart; if not, score 0.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Ambulatory aids: </span>This is scored as 0 if the patient walks without a walking aid (even if assissted by a nurse), uses a wheelchair, or is on a bed rest and does not get out of bed at all. If the patient uses crutches, a cane, or a walker, this item scores 15; if the patient ambulates clutching onto the furniture for support, score this item 30.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Intravenous therapy: </span>This is scored as 20 if the patient has an intravenous apparatus or a heparin lock inserted; if not, score 0.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Gait: </span>A normal gait is characterized by the patient walking with head erect, arms swingingly freely at the side, and striding without hesitant. This gait scores 0. With a weak gait (score as 10), the patient is stooped but is able to lift the head while walking without losing balance. Steps are short and the patient may shuffle. With an impaired gait (score 20), the patient may have difficulty rising from the chair, attempting to get up by pushing on the arms of the chair/or by bouncing (i.e., by using several attempts to rise). The patient's head is down, and he or she watches the ground. Because the patient's balance is poor, the patient grasps onto the furniture, a support person, or a walking aid for support and cannot walk without this assistance.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Mental Status: </span>When using this Scale, mental status is measured by checking the patient's own self-assessment of his or her own ability to ambulate. Ask the patient, "Are you able to go to the bathroom alone or do you need assistance?" If the patient's reply judging his or her own ability is consistent with the ambulatory order on the Kardex® the patient is rated as "normal" and scored 0. If the patient's response is unrealistic, then the patient is considered to overestimate his or her own abilities and to be forgetful of limitations and scored as 15.</p>
    <p style="font-size:11px;"><span style="font-style:italic">Scoring and Risk Level: </span>Scoring and Risk Level: The score is then tallied and recorded on the patient's chart. Risk level and recommended actions (e.g. no interventions needed, standard fall preventions, high risk prevention interventions) are then identified.</p>
    <p style="font-size:11px;"><span style="font-style:italic;font-weight:700">Important Note: </span>The Morse Fall Scale should be calibrated for each particular healthcare setting or unit so that fall prevention strategies are targeted to those most at risk. In other words, risk cut off scores may be different depending on if you are using it in an acute care hospital, nursing home, or rehabilitation facility. In addition, scales may be set differently between particular units within a given facility.</p>
    <p style="font-size:11px;font-weight:700;text-align: center;">
        Sample Risk Level
    </p>

    <table class="table table-bordered m-table">
        <tr>
            <td style="font-weight:700;font-style:italic;text-align: center;">
                Risk Level
            </td>
            <td style="font-weight:700;font-style:italic;text-align: center;">
                MFS Score
            </td>
            <td style="font-weight:700;font-style:italic;text-align: center;">
                Action
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                No Risk
            </td>
            <td style="text-align: center;">
                0-24
            </td>
            <td style="text-align: center;">
                Good Basic Nursing Care
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                Low Risk
            </td>
            <td style="text-align: center;">
                25-50
            </td>
            <td style="text-align: center;">
                Implement Standard Fall Prevention Interventions
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                High Risk
            </td>
            <td style="text-align: center;">
                ≥51
            </td>
            <td style="text-align: center;">
                Implement High Risk Fall Prevention Interventions
            </td>
        </tr>
    </table>
