﻿<table class="form-fieldset" style="width:100%">
    <tr>
        <td>
            <table style="width:100%">
                <colgroup style="width:40%;"></colgroup>
                <colgroup style="width:60%;"></colgroup>

                <tr>
                    <td>
                        <label>Move-In Date</label>
                    </td>
                    <td>
                        <input id="RMMMoveInDate" name="RMMMoveInDate" type="text" class="content-datepicker w250px form-control m-input" maxlength="10" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Resident's Name</label>
                    </td>
                    <td>
                        <input id="RMMResidentName" type="text" class="w250px form-control m-input" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Room Number</label>
                    </td>
                    <td>
                        <input id="RMMRoomNo" name="RMMRoomNo" type="text" class="w250px form-control m-input" maxlength="20" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <fieldset>
                <legend>Remarks</legend>
                <table style="width:100%">
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:80%;"></colgroup>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input id="RMMRemarks" name="RMMRemarks" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                </table>

            </fieldset>
        </td>
    </tr>


    <tr>
        <td>
            <fieldset>
                <legend>Family Emergency Contact</legend>
                <table style="width:100%">
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:60%;"></colgroup>

                    <tr>
                        <td>
                            <label>Medication Mgnt</label>
                        </td>
                        <td>
                            <input id="RMMECMedMgnt1" name="RMMECMedMgnt1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECMedMgnt2" name="RMMECMedMgnt2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Q-Check</label>
                        </td>
                        <td>
                            <input id="RMMECQCheck1" name="RMMECQCheck1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECQCheck2" name="RMMECQCheck2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Bathing Assist</label>
                        </td>
                        <td>
                            <input id="RMMECBathing1" name="RMMECBathing1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECBathing2" name="RMMECBathing2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Laundry Service</label>
                        </td>
                        <td>
                            <input id="RMMECLaundry1" name="RMMECLaundry1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECLaundry2" name="RMMECLaundry2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Incontinent Care </label>
                        </td>
                        <td>
                            <input id="RMMECIncontinent1" name="RMMECIncontinent1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECIncontinent2" name="RMMECIncontinent2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tray/ Room Service</label>
                        </td>
                        <td>
                            <input id="RMMECTray1" name="RMMECTray1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECTray2" name="RMMECTray2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Escort Assistance</label>
                        </td>
                        <td>
                            <input id="RMMECEscort1" name="RMMECEscort1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECEscort2" name="RMMECEscort2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Special Diet</label>
                        </td>
                        <td>
                            <input id="RMMECDiet1" name="RMMECDiet1" type="text" class="w150px form-control m-input" maxlength="100" />
                        </td>
                        <td>
                            <input id="RMMECDiet2" name="RMMECDiet2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Other</label>
                        </td>
                        <td colspan="2">
                            <input id="RMMECOther1" name="RMMECOther1" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Other</label>
                        </td>
                        <td colspan="2">
                            <input id="RMMECOther2" name="RMMECOther2" type="text" class="w500px form-control m-input" maxlength="100" />
                        </td>
                    </tr>
                </table>

            </fieldset>
        </td>
    </tr>



</table>
