﻿<section>

    <div class="container" style="height:40px">
        <div style="padding:0">
            <div style="height:40px;width:60%;float:left;border-right: 1px solid #a4a4a4;padding:0">
                <div style="padding:0">
                    <span class="smalltext" style="font-style:italic"><strong>Residents name</strong></span>
                    <div style="padding:0">
                        <input type="text" id="ANSResidentName" maxlength="150" class="w400px" />
                    </div>
                </div>
            </div>
            <div style="height:40px;width:24%;float:left;border-right: 1px solid #a4a4a4;padding:0">
                <span class="smalltext" style="font-style:italic"><strong>DOB</strong></span>
                <div style="padding:0">
                    <input id="ANSDOB" name="ANSDOB" type="text" class="content-datepicker w150px" maxlength="100" />
                </div>
            </div>
            <div style="height:40px;width:15%;float:right;">
                <span class="smalltext" style="font-style:italic"><strong>AGE</strong></span>
                <div style="padding:0">
                    <input id="ANSAge" name="ANSAge" type="text" class="w50px" maxlength="10" />
                </div>
            </div>
            <div style="clear:both" />
        </div>
    </div>
    <br />
    <div id="ansBody">
        <div class="container" style="height:83px">
            <div style="padding:0">

                <span class="smalltext">
                    Residents is a
                    <input type="text" id="ANSAge2" name="ANSAge2" maxlength="10" class="w50px" /> years old
                    &nbsp;
                    <label><input type="checkbox" id="ANSGenderMale" name="ANSGender" value="1" />Male</label>
                    <label><input type="checkbox" id="ANSGenderFemale" name="ANSGender" value="1" />Female</label>
                    &nbsp;
                    whose diagnosis includes the following:
                </span>
                <div style="padding:0">
                    <input type="text" id="ANSDiagnosis" name="ANSDiagnosis" maxlength="500" class="w500px" />
                </div>
                <span class="smalltext">
                    Recent surgery or incident that cause o ALF:
                </span>
                <div style="padding:0">
                    <input type="text" id="ANSSurgeryorIncident" name="ANSSurgeryorIncident" maxlength="500" class="w500px" />
                </div>
            </div>
        </div>
        <div class="container" style="height:55px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Family involved in residents care included:
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:40px;width:49%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFIStrongFamily" name="ANSFamilyInvolved" value="1" />Strong Family support available/involved in care</label><br />
                            <label><input type="checkbox" id="ANSFIPrivateCaretaker" name="ANSFamilyInvolved" value="2" />Private caretaker is employed to provide care</label>
                        </div>
                    </div>

                    <div style="height:40px;width:50%;float:right;">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFIHomeHealth" name="ANSFamilyInvolved" value="3" />Home Health Service/ Hospice involved</label><br />
                            <label><input type="checkbox" id="ANSFIOther" name="ANSFamilyInvolved" value="4" />Other: <input type="text" id="ANSFIOtherDef" name="ANSFIOtherDef" maxlength="150" class="w150px" /></label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:35px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Residents Functional Limitation: Physical
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLCane" name="ANSFunctionalLimitation" value="1" />Use cane/ walker</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLWheelchair" name="ANSFunctionalLimitation" value="1" />Wheelchair bound</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLBed" name="ANSFunctionalLimitation" value="1" />Bedbound</label>
                        </div>
                    </div>

                    <div style="height:40px;width:24%;float:right;">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLFullAmbu" name="ANSFunctionalLimitation" value="1" />Fully Ambulatory no restrictions</label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:80px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        At the time of admission client is:
                    </strong>
                </span>

                <div style="padding:0">
                    <label><input type="checkbox" id="ANSCIGeneralWeakness" name="ANSClientis" value="1" />Experiencing general weakness only requires minimal to moderate assistance with ADL's</label><br />
                    <label><input type="checkbox" id="ANSCIRecovering" name="ANSClientis" value="1" />Recovering from surgery and is physically weak and needs minimal or as needed assistance</label><br />
                    <label><input type="checkbox" id="ANSCIWheelchair" name="ANSClientis" value="1" />Wheelchair bound and needs assistance to move in and out of wheelchair and other activities of daily leaving</label><br />
                    <label><input type="checkbox" id="ANSCIWalk" name="ANSClientis" value="1" />Unable to walk and needs assistance when transferring to and from chair or bed</label>

                </div>
            </div>
        </div>
        <div class="container" style="height:60px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Resident Emotional Status:
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:42px;width:19%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSEmoPrivate1" name="ANSEmo1" value="1" />Private</label><br />
                            <label><input type="checkbox" id="ANSEmoAnxious2" name="ANSEmo2" value="1" />Anxious</label>
                        </div>
                    </div>
                    <div style="height:42px;width:19%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSEmoHappy1" name="ANSEmo1" value="1" />Happy</label><br />
                            <label><input type="checkbox" id="ANSEmoFearful2" name="ANSEmo2" value="1" />Fearful</label>
                        </div>
                    </div>
                    <div style="height:42px;width:19%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSEmoFriendly1" name="ANSEmo1" value="1" />Friendly</label><br />
                            <label><input type="checkbox" id="ANSEmoDepress2" name="ANSEmo2" value="1" />Depress</label>
                        </div>
                    </div>
                    <div style="height:42px;width:19%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSEmoAnxious1" name="ANSEmo1" value="1" />Anxious</label><br />
                            <label><input type="checkbox" id="ANSEmoQuiet2" name="ANSEmo2" value="1" />Quiet</label>
                        </div>
                    </div>
                    <div style="height:42px;width:23%;float:right;">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSEmoOther1" name="ANSEmo1" value="1" />Other: <input type="text" id="ANSEmoOther1Def" name="ANSEmoOther1Def" maxlength="150" class="w150px" /></label><br />
                            <label><input type="checkbox" id="ANSEmoOther2" name="ANSEmo2" value="1" />Other: <input type="text" id="ANSEmoOther2Def" name="ANSEmoOther2Def" maxlength="150" class="w150px" /></label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:160px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Resident Bahavioral status including likes and dislikes:
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:180px;width:49%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSBahaviorAroundPeople" name="ANSBahaviorAroundPeople" value="1" />Loves being around people with the same interest</label><br />
                            <label><input type="checkbox" id="ANSBahaviorReadWrite" name="ANSBahaviorReadWrite" value="1" />Enjoys reading and writing</label><br />
                            <label><input type="checkbox" id="ANSBahaviorJokes" name="ANSBahaviorJokes" value="1" />Sociable and likes to tell Jokes</label><br />
                            <label><input type="checkbox" id="ANSBahaviorHumor" name="ANSBahaviorHumor" value="1" />Have sense of humor and very well liked</label><br />
                            <label><input type="checkbox" id="ANSBahaviorTalking" name="ANSBahaviorTalking" value="1" />Likes to sit in the lobby and enjoys talking</label><br />
                            <label><input type="checkbox" id="ANSBahaviorPeers" name="ANSBahaviorPeers" value="1" />Initiates conversation with peers and staff</label><br />
                            <label><input type="checkbox" id="ANSBahaviorDrives" name="ANSBahaviorDrives" value="1" />Still Drive and get around without help</label><br />
                            <label><input type="checkbox" id="ANSBahaviorCompliment" name="ANSBahaviorCompliment" value="1" />Likes to give compliments to staff and peers</label><br />
                            <label><input type="checkbox" id="ANSBahaviorDress" name="ANSBahaviorDress" value="1" />Enjoys Dressing up and putting makeup</label>
                        </div>
                    </div>
                    <div style="height:180px;width:50%;float:right">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSBahaviorFearful" name="ANSBahaviorFearful" value="1" />Fearful and avoid interaction with peers and staff</label><br />
                            <label><input type="checkbox" id="ANSBahaviorAlone" name="ANSBahaviorAlone" value="1" />Prefers to be alone in the room and watch TV</label><br />
                            <label><input type="checkbox" id="ANSBahaviorSelective" name="ANSBahaviorSelective" value="1" />Selectively friendly likes small circle of friends</label><br />
                            <label><input type="checkbox" id="ANSBahaviorRoom" name="ANSBahaviorRoom" value="1" />Often retreats back to the room after meals</label><br />
                            <label><input type="checkbox" id="ANSBahaviorIsolate" name="ANSBahaviorIsolate" value="1" />Will isolate self if permitted</label><br />
                            <label><input type="checkbox" id="ANSBahaviorInteract" name="ANSBahaviorInteract" value="1" />Will interact only when guided or prompted</label><br />
                            <label><input type="checkbox" id="ANSBahaviorStory" name="ANSBahaviorStory" value="1" />Likes to tell stories about past experiences and family life</label><br />
                            <label><input type="checkbox" id="ANSBahaviorAppreciate" name="ANSBahaviorAppreciate" value="1" />Very appreciative to staff when given assistance</label><br />
                            <label><input type="checkbox" id="ANSBahaviorOther" name="ANSBahaviorOther" value="1" /><input type="text" id="ANSBahaviorOtherDef" name="ANSBahaviorOtherDef" maxlength="150" class="w150px" /></label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:55px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Resident Physical problem:
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:42px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSPhysProbVision" name="ANSPhysProb" value="1" />Poor Vision</label><br />
                            <label><input type="checkbox" id="ANSPhysProbSOB" name="ANSPhysProb" value="1" />SOB use Oxygen</label>
                        </div>
                    </div>
                    <div style="height:42px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSPhysProbBlind" name="ANSPhysProb" value="1" />Legally Blind</label><br />
                            <label><input type="checkbox" id="ANSPhysProbHear" name="ANSPhysProb" value="1" />HO Hearing</label>
                        </div>
                    </div>
                    <div style="height:42px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSPhysProbGen" name="ANSPhysProb" value="1" />Gen Weakness</label><br />
                            <label><input type="checkbox" id="ANSPhysProbWalk" name="ANSPhysProb" value="1" />Difficulty walking</label>
                        </div>
                    </div>
                    <div style="height:42px;width:24%;float:right">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSPhysProbGait" name="ANSPhysProb" value="1" />Unsteady Gait</label><br />
                            <label><input type="checkbox" id="ANSPhysProbOther" name="ANSPhysProb" value="1" />Other: <input type="text" id="ANSPhysProbOtherDef" name="ANSPhysProbOtherDef" maxlength="150" class="w150px" /></label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:35px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Residents Functional Limitation: Physical
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLCane2" name="ANSFunctionalLimitation2" value="1" />Use cane/ walker</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLWheelchair2" name="ANSFunctionalLimitation2" value="1" />Wheelchair bound</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLBed2" name="ANSFunctionalLimitation2" value="1" />Bedbound</label>
                        </div>
                    </div>

                    <div style="height:40px;width:24%;float:right;">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLFullAmbu2" name="ANSFunctionalLimitation2" value="1" />Fully Ambulatory no restrictions</label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:35px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Residents Functional Limitation: Mental
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLMAlert" name="ANSFLMental" value="1" />Alert/ Oriented</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLMForget" name="ANSFLMental" value="1" />Forgetful at Times</label>
                        </div>
                    </div>
                    <div style="height:40px;width:25%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLMConfused" name="ANSFLMental" value="1" />Confused at times</label>
                        </div>
                    </div>

                    <div style="height:40px;width:24%;float:right;">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSFLMShort" name="ANSFLMental" value="1" />Short term memory</label>
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:80px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Assistance Needed:
                    </strong>
                </span>

                <div style="padding:0">
                    <div style="height:80px;width:49%;float:left;padding:0">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSAssistanceMedication" name="ANSAssistanceMedication" value="1" />Medication Management</label><br />
                            <label><input type="checkbox" id="ANSAssistanceBathing" name="ANSAssistanceBathing" value="1" />Bathing, Grooming, and Dressing</label><br />
                            <label><input type="checkbox" id="ANSAssistanceTransfer" name="ANSAssistanceTransfer" value="1" />Transfer to and from chair/ bed</label><br />
                            <label><input type="checkbox" id="ANSAssistanceMeal" name="ANSAssistanceMeal" value="1" />Occasional meal/ tray in the room</label><br />
                        </div>
                    </div>
                    <div style="height:80px;width:50%;float:right">
                        <div style="padding:0">
                            <label><input type="checkbox" id="ANSAssistanceLaundry" name="ANSAssistanceLaundry" value="1" />Personal laundry and room upkeep</label><br />
                            <label><input type="checkbox" id="ANSAssistanceIncontinent" name="ANSAssistanceIncontinent" value="1" />Assistance related to incontinent care</label><br />
                            <label><input type="checkbox" id="ANSAssistanceReminders" name="ANSAssistanceReminders" value="1" />Need frequent reminders of sched activities</label><br />
                            <label><input type="checkbox" id="ANSAssistanceMinimal" name="ANSAssistanceMinimal" value="1" />Requires only minimal assistance or as needed</label><br />
                        </div>
                    </div>
                    <div style="clear:both" />
                </div>
            </div>
        </div>
        <div class="container" style="height:40px">
            <div style="padding:0">
                <span class="smalltext" style="font-style:italic">
                    <strong>
                        Remarks:
                    </strong>
                </span>

                <div style="padding:0">
                    <input type="text" id="ANSRemarks" name="ANSRemarks" maxlength="150" class="w500px" />

                </div>
            </div>
        </div>
    </div>
</section>