﻿<center>
    <h3>Form W-4</h3>
    <br />
    <h4>Department of the Treasury Internal Revenue Service</h4>

    <br /><br />
    @if (ViewBag.isHomeCare == "True")
    {
        <h4>CAREGIVERS'S WITHHOLDING ALLOWANCE CERTIFICATE</h4>
    }
    else
    {
        <h4>EMPLOYEE'S WITHHOLDING ALLOWANCE CERTIFICATE</h4>
    }

    <p>
        Whether you're entitled to claim a certain number of allowances or exemption
        from withholding is subject to review by the IRS. Your employer may be required to send a copy of this form to the IRS.
    </p>
</center>
<br />
<br />

<div class="form-group m-form__group row">
    @*<label class="col-lg-12  col-form-label"><b>1.</b></label>*@
    <label class="col-lg-3 col-form-label"> <b> 1.</b> Name and Middle Initial</label>
    <div class="col-lg-2">
        <input type="text" id="PWNnamemi" name="PWNnamemi" class=" form-control m-input " disabled />
    </div>
    <label class="col-lg-3  col-form-label">Last Name</label>
    <div class="col-lg-2">
        <input type="text" id="PWNlastname" name="PWNlastname" class=" form-control m-input " disabled />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Home Address (number and street or rural route)</label>
    <div class="col-lg-2">
        <input type="text" id="PWNhomeaddress" name="PWNhomeaddress" class=" form-control m-input " />
    </div>
    <label class="col-lg-3  col-form-label">City or town, state, and ZIP Code</label>
    <div class="col-lg-2">
        <input type="text" id="PWNcitystate" name="PWNcitystate" class=" form-control m-input " />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label"><b>2.</b> Social Security Number</label>
    <div class="col-lg-2">
        <input type="text" id="PWNssn" name="PWNssn" class=" form-control m-input " disabled />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label"><b>3. Status</b></label>
    <div class="col-lg-9">
        <div class="m-checkbox-inline">
            <label class="m-checkbox">
                <input type="checkbox" class="stat" id="PWNsingle"> Single
                <span></span>
            </label>
            <label class="m-checkbox">
                <input type="checkbox" class="stat" id="PWNmarried"> Married
                <span></span>
            </label>
            <label class="m-checkbox">
                <input type="checkbox" class="stat" id="PWNmarriedwithhold"> Married, but withhold at higher Single rate.
                <span></span>
            </label>
        </div>
        <script>
    // added on 3-24-2022 : Cheche
            $('input.stat').on('change', function () {
                $('input.stat').not(this).prop('checked', false);
            });
        </script>

    </div>
    <div class="col-lg-12">
        <p>Note: If married filing sepearately, check "Married, but withhold at higher Single rate.</p>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-5 col-form-label"><b>4.</b> If your last name differs from that shown on your social security card, check here. </label>
    <div class="col-lg-5" style="margin-left: -25px;margin-top: -9px;">
        <div class="m-checkbox-inline">
            <label class="m-checkbox">
                <input type="checkbox" id="PWNSSNdiff">
                <span></span>
            </label>
        </div>
    </div>
    <div class="col-lg-12">
        <p>You must call 800-772-1213 for a replacement card.</p>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-6 col-form-label"><b>5.</b> Total number of allowances you're claiming (from the applicable worksheet on the following pages)</label>
    <div class="col-lg-2">
        <input type="text" id="PWNallowno" name="PWNallowno" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-4 col-form-label"><b>6.</b> Additional Amount, if any, you want withheld from each paycheck</label>
    <div class="col-lg-2" style="display:inline-block;">
        <span style="margin-left: -10px;"></span>
        <input type="text" id="PWNaddtlamount" name="PWNaddtlamount" class=" form-control m-input " style="margin-top: -25px;margin-left: 5px;">
        @*<input type="text" id="PWNaddtlamount" name="PWNaddtlamount" class="form-control m-input" style="margin-top: -25px;margin-left: 5px;"
               onblur="formatCurrency(this)">*@
    </div>
</div>

<div class="form-group m-form__group row">
    <div class="col-lg-6">
        <b>7.</b> I claim exemption from withholding for 2018, and I certify that I meet both of the following consitions for exemption.<br />

        -  Last year I had a right to refund of all federal income tax withheld because I had no tax liability, and <br />
        -  This year I expect a refund aof all federal income tax withheld because I expect to have no tax liability.<br />

        If you meet both conditions, write "Exempt" here.
    </div>
    <div class="col-lg-2">
        <input type="text" id="PWNexemption" name="PWNexemption" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-12 col-form-label">
        <b>8.</b> Employer's name and address (<span style="font-weight:bold"> Employer:</span> Complete boxes 8 and 10 if sending to the IRS and complete boxes 8, 9, 10
        if sending to State Directory of New Hires
    </label>
    <div class="col-lg-3">
        <textarea id="PWNempnameadd" name="PWNempnameadd" class="form-control"></textarea>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label"><b>9.</b> First date of Employment:</label>
    <div class="col-lg-2">
        <input type="text" id="PWNempdate" name="PWNempdate" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label"><b>10.</b> Employer Identification Number:</label>
    <div class="col-lg-2">
        <input type="text" id="PWNempidno" name="PWNempidno" class=" form-control m-input ">
    </div>
</div>

<br />
<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label">
        <b>Personal Allowances Worksheet (Keep for your records.)</b>
    </label>
</div>


<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>A.</b></label>
    <label class="col-lg-10  col-form-label">Enter “1” for yourself</label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWa" name="PWN_PAWa" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>B.</b></label>
    <label class="col-lg-10  col-form-label">
        Enter “1” if you will file as married filing jointly
    </label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWb" name="PWN_PAWb" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>C.</b></label>
    <label class="col-lg-10  col-form-label">Enter “1” if you will file as head of household</label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWc" name="PWN_PAWc" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>D.</b></label>
    <label class="col-lg-10  col-form-label">
        Enter “1” if:<br />
        - You’re single, or married filing separately, and have only one job; or <br />
        - You’re married filing jointly, have only one job, and your spouse doesn’t work; or <br />
        - Your wages from a second job or your spouse’s wages (or the total of both) are $1,500 or less.
    </label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWd" name="PWN_PAWd" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>E.</b></label>
    <label class="col-lg-10  col-form-label">
        <span style="font-weight:bold">Child tax credit.</span> See Pub. 972, Child Tax Credit, for more information.<br />
        - If your total income will be less than $69,801 ($101,401 if married filing jointly), enter “4” for each eligible child. <br />
        - If your total income will be from $69,801 to $175,550 ($101,401 to $339,000 if married filing jointly), enter “2” for each eligible child. <br />
        - If your total income will be from $175,551 to $200,000 ($339,001 to $400,000 if married filing jointly), enter “1” for each eligible child. <br />
        - If your total income will be higher than $200,000 ($400,000 if married filing jointly), enter “-0-”
    </label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWe" name="PWN_PAWe" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>F.</b></label>
    <label class="col-lg-10  col-form-label">
        <span style="font-weight:bold">Credit for other dependents.</span> <br />
        - If your total income will be less than $69,801 ($101,401 if married filing jointly), enter “1” for each eligible dependent. <br />
        - If your total income will be from $69,801 to $175,550 ($101,401 to $339,000 if married filing jointly), enter “1” for every two dependents (for example, “-0-” for one dependent,
        “1” if you have two or three dependents, and “2” if you have four dependents). <br />
        - If your total income will be higher than $175,550 ($339,000 if married filing jointly), enter “-0-”
    </label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWf" name="PWN_PAWf" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>G.</b></label>
    <label class="col-lg-10  col-form-label"><span style="font-weight:bold">Other credits.</span>If you have other credits, see Worksheet 1-6 of Pub. 505 and enter the amount from that worksheet here</label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWg" name="PWN_PAWg" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>H.</b></label>
    <label class="col-lg-10  col-form-label">
        Add lines A through G and enter the total here
    </label>
    <div class="col-lg-1">
        <input type="text" id="PWN_PAWh" name="PWN_PAWh" class=" form-control m-input ">
    </div>
</div>

<br />
<br />
<br />

<div class="form-group m-form__group row">
    <div class="col-lg-12">
        <p>For accuracy, complete all worksheets that apply.</p>
        <br /><br />

        - If you plan to <span class="bold"> itemize </span>or <span class="bold">
            claim adjustments to income
        </span>and want to reduce your withholding, or if you
        have a large amount of nonwage income and want to increase your withholding, see the
        <span class="bold">Deductions, Adjustments, and Additional Income Worksheet </span>below.
        <br /><br />

        - If you <span class="bold"> have more than one job at a time </span> or are
        <span class="bold"> married filing jointly and you and your spouse both work </span>
        and the combined earnings from all jobs exceed $52,000 ($24,000 if married filing jointly), see the
        <span class="bold"> Two-Earners/Multiple Jobs Worksheet </span> on page 4 to avoid having too little tax withheld.

        <br /><br />
        - If <span class="bold"> neither </span>of the above situations applies, stop here and enter the number from line H on line 5 of Form W-4 above.
    </div>
</div>

<br />
<div class="form-group m-form__group row">
    <div class="col-lg-12  col-form-label">
        <b>Deductions, Adjustments, and Additional Income Worksheet</b>
        <br /><br />
        <b>Note:</b> Use this worksheet <span style="font-style:italic">only </span>if you plan to itemize deductions, claim certain adjustments to income, or have a large amount of nonwage
        income.
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>1. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter an estimate of your 2018 itemized deductions. These include qualifying home mortgage interest, charitable contributions, state and local taxes (up to $10,000), and medical expenses in excess of 7.5% of your income. See Pub. 505 for details
    </label>
    <div class="col-lg-2">
        <input type="text" id="PWN_DAA1" name="PWN_DAA1" class="form-control m-input currency-input"
              onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>2. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter: <br />
        - $24,000 if you’re married filing jointly or qualifying widow(er) <br />
        - $18,000 if you’re head of household <br />
        - $12,000 if you’re single or married filing separately
    </label>
    <div class="col-lg-2">
        <input type="text" id="PWN_DAA2" name="PWN_DAA2" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>3. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Subtract </span>line 2 from line 1. If zero or less, enter “-0-”
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA3" name="PWN_DAA3" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>4. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter an estimate of your 2018 adjustments to income and any additional standard deduction for age or
        blindness (see Pub. 505 for information about these items)
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA4" name="PWN_DAA4" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>5. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Add </span>lines 3 and 4 and enter the total
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA5" name="PWN_DAA5" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>6. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter an estimate of your 2018 nonwage income (such as dividends or interest)
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA6" name="PWN_DAA6" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>7. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Subtract </span>line 6 from line 5. If zero, enter “-0-”. If less than zero, enter the amount in parentheses
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA7" name="PWN_DAA7" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>8. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Divide </span>the amount on line 7 by $4,150 and enter the result here.
        If a negative amount, enter in parentheses. Drop any fraction
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA8" name="PWN_DAA8" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>9. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter the number from the <span style="font-weight:bold">Personal Allowances Worksheet</span>, line H above
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA9" name="PWN_DAA9" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>10. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Add </span>lines 8 and 9 and enter the total here. If zero or less, enter “-0-”. If you plan to use the
        <span style="font-weight:bold"> Two-Earners/Multiple Jobs Worksheet</span>, also enter this total on line 1, page 4. Otherwise, stop here and enter this total on Form W-4, line 5, page 1
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_DAA10" name="PWN_DAA10" class=" form-control m-input ">
    </div>
</div>

<br />
<div class="form-group m-form__group row">
    <div class="col-lg-12  col-form-label">
        <b>Two-Earners/Multiple Jobs Worksheet</b>
        <br /><br />
        <span style="font-weight:bold">
            Note:
        </span> Use this worksheet only if the instructions under line H from the
        <span style="font-weight:bold">Personal Allowances Worksheet </span>direct you here.
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>1. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter the number from the <span style="font-weight:bold">Personal Allowances Worksheet</span>, line H, page 3 (or, if you used the
        <span style="font-weight:bold">Deductions, Adjustments, and Additional Income Worksheet</span> on page 3, the number from line 10 of that worksheet)
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ1" name="PWN_TMJ1" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>2. </b></label>
    <label class="col-lg-9  col-form-label">
        Find the number in <span style="font-weight:bold">Table 1</span>, below that applies to the
        <span style="font-weight:bold">LOWEST </span>paying job and enter it here.
        <span style="font-weight:bold">However,</span> if you’re
        married filing jointly and wages from the highest paying job are $75,000 or less and the combined wages for
        you and your spouse are $107,000 or less, don’t enter more than “3”
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ2" name="PWN_TMJ2" class=" form-control m-input ">
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>3. </b></label>
    <label class="col-lg-9  col-form-label">
        If line 1 is <span style="font-weight:bold">more than or equal to </span>, line 2, subtract line 2 from line 1.
        Enter the result here (if zero, enter “-0-”) and on Form W-4, line 5, page 1.
        <span style="font-weight:bold">Do not </span> use the rest of this worksheet
        <br />
        <span style="font-weight:bold">
            Note:
        </span> If line 1 is <span style="font-weight:bold">less than</span> line 2, enter “-0-” on Form W-4, line 5, page 1.
        Complete lines 4 through 9 below to figure the additional withholding amount necessary to avoid a year-end tax bill.
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ3" name="PWN_TMJ3" class=" form-control m-input ">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>4. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter the number from line 2 of this worksheet
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ4" name="PWN_TMJ4" class=" form-control m-input ">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>5. </b></label>
    <label class="col-lg-9  col-form-label">
        Enter the number from line 1 of this worksheet
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ5" name="PWN_TMJ5" class=" form-control m-input ">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>6. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Subtract </span>line 5 from line 4
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ6" name="PWN_TMJ6" class=" form-control m-input ">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>7. </b></label>
    <label class="col-lg-9  col-form-label">
        Find the amount in <span style="font-weight:bold">Table 2 </span>below that applies to the
        <span style="font-weight:bold">HIGHEST </span>paying job and enter it here
    </label>
 
    <div class="col-lg-2">

        <input type="text" id="PWN_TMJ7" name="PWN_TMJ7" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>8. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Multiply </span>line 7 by line 6 and enter the result here. This is the additional annual withholding needed
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ8" name="PWN_TMJ8" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label" style="text-align: right;"><b>9. </b></label>
    <label class="col-lg-9  col-form-label">
        <span style="font-weight:bold">Divide </span>line 8 by the number of pay periods remaining in 2018. For example, divide by 18 if you’re paid every
        2 weeks and you complete this form on a date in late April when there are 18 pay periods remaining in
        2018. Enter the result here and on Form W-4, line 6, page 1. This is the additional amount to be withheld
        from each paycheck
    </label>

    <div class="col-lg-2">
        <input type="text" id="PWN_TMJ9" name="PWN_TMJ9" class="form-control m-input currency-input"
               onblur="formatCurrency(this)">
    </div>
</div>

<div classPWN_DAA8="form-group m-form__group row" style="width:95%;margin:auto">
    <table style="width:50%;float:left;border:solid 2px #a4a4a4" cellspacing="2">
        <colgroup style="width:35%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>
        <colgroup style="width:35%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>

        <tr>
            <td colspan="4" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> Table 1</td>
        </tr>
        <tr style="text-align:center;border:solid 1px #a4a4a4">
            <td colspan="2" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> Married Filing Jointly</td>
            <td colspan="2" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> All Others</td>
        </tr>
        <tr>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                If wages from <span style="font-weight:bold">LOWEST</span> paying job are—
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                Enter on line 2 above
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                If wages from <span style="font-weight:bold">LOWEST</span> paying job are—
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                Enter on line 2 above
            </td>
        </tr>
        <tr>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                $0 - $5,000 <br />
                5,001 - 9,500 <br />
                9,501 - 19,000 <br />
                19,001 - 26,500 <br />
                26,501 - 37,000 <br />
                37,001 - 43,500 <br />
                43,501 - 55,000 <br />
                55,001 - 60,000 <br />
                60,001 - 70,000 <br />
                70,001 - 75,000 <br />
                75,001 - 85,000 <br />
                85,001 - 95,000 <br />
                95,001 - 130,000 <br />
                130,001 - 150,000 <br />
                150,001 - 160,000 <br />
                160,001 - 170,000 <br />
                170,001 - 180,000 <br />
                180,001 - 190,000 <br />
                190,001 - 200,000 <br />
                200,001 and over
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                0  <br />
                1   <br />
                2   <br />
                3   <br />
                4   <br />
                5   <br />
                6   <br />
                7   <br />
                8   <br />
                9   <br />
                10  <br />
                11  <br />
                12  <br />
                13  <br />
                14  <br />
                15  <br />
                16  <br />
                17  <br />
                18  <br />
                19  <br />
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                $0 - $7,000 <br />
                7,001 - 12,500 <br />
                12,501 - 24,500 <br />
                24,501 - 31,500 <br />
                31,501 - 39,000 <br />
                39,001 - 55,000 <br />
                55,001 - 70,000 <br />
                70,001 - 85,000 <br />
                85,001 - 90,000 <br />
                90,001 - 100,000 <br />
                100,001 - 105,000  <br />
                105,001 - 115,000  <br />
                115,001 - 120,000  <br />
                120,001 - 130,000  <br />
                130,001 - 145,000  <br />
                145,001 - 155,000  <br />
                155,001 - 185,000  <br />
                185,001 and over
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                0  <br />
                1  <br />
                2  <br />
                3  <br />
                4  <br />
                5  <br />
                6  <br />
                7  <br />
                8  <br />
                9  <br />
                10 <br />
                11 <br />
                12 <br />
                13 <br />
                14 <br />
                15 <br />
                16 <br />
                17 <br />
            </td>
        </tr>
    </table>

    <table style="width:50%;float:left;border:solid 2px #a4a4a4" cellspacing="2">
        <colgroup style="width:35%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>
        <colgroup style="width:35%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>

        <tr>
            <td colspan="4" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> Table 1</td>
        </tr>
        <tr style="text-align:center;border:solid 1px #a4a4a4">
            <td colspan="2" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> Married Filing Jointly</td>
            <td colspan="2" style="font-weight:bold" style="text-align:center;border:solid 1px #a4a4a4"> All Others</td>
        </tr>
        <tr>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                If wages from <span style="font-weight:bold">HIGHEST</span> paying job are—
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                Enter on line 7 above
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                If wages from <span style="font-weight:bold">HIGHEST</span> paying job are—
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4">
                Enter on line 7 above
            </td>
        </tr>
        <tr>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                $0 - $24,375 <br />
                24,376 - 82,725 <br />
                82,726 - 170,325 <br />
                170,326 - 320,325 <br />
                320,326 - 405,325 <br />
                405,326 - 605,325 <br />
                605,326 and over
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                $420 <br />
                500 <br />
                910 <br />
                1,000 <br />
                1,330 <br />
                1,450 <br />
                1,540
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                $0 - $7,000 <br />
                7,001 - 36,175 <br />
                36,176 - 79,975 <br />
                79,976 - 154,975 <br />
                154,976 - 197,475 <br />
                197,476 - 497,475 <br />
                497,476 and over
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </td>
            <td style="text-align:center;border:solid 1px #a4a4a4;vertical-align:top">
                $420 <br />
                500 <br />
                910 <br />
                1,000 <br />
                1,330 <br />
                1,450 <br />
                1,540
            </td>
        </tr>
    </table>

</div>
<script>
    function formatCurrency(input) {
        let value = input.value.replace(/[^0-9.]/g, ''); // Remove non-numeric characters except .

        if (value) {
            input.value = '$' + parseFloat(value).toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            });
        } else {
            input.value = ''; // Keep empty if no input
        }
    }

    function removeDollarSignBeforeSubmit() {
        document.querySelectorAll(".currency-input").forEach(input => {
            input.value = input.value.replace(/\$/g, ''); // Remove $ before saving
        });
    }

    document.querySelector("form").addEventListener("submit", function () {
        removeDollarSignBeforeSubmit();
    });
</script>
