﻿ <br />  
@*<table style=" width: calc(100% - 0px); margin:auto;">
        <tr><td><p align="center" style="font-size:13px; font-weight:bold; text-align:center; margin-bottom:0px;">PERSONAL RIGHTS<br/> RESIDENTIAL CARE FACILITIES FOR THE ELDERLY</p></td></tr>
    </table>*@

<table class="form-fieldset" style="width:100%">
    
    <tr>
        <td>
            <fieldset>
                <legend> Resident or authorized representative</legend>
                <br/>
                <table style="width:90%;margin:auto" cellspacing="2">
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:30%;"></colgroup>
                    <colgroup style="width:20%;"></colgroup>
                    <colgroup style="width:30%;"></colgroup>

                    <tr>
                        <td>
                            <label>Facility Name</label>
                        </td>
                        <td>
                            <input type="text" id="PERfacilityname" class="w300px form-control m-input form-control m-input" disabled/>
                        </td>
                        <td>
                            <label>Facility Address</label>
                        </td>
                        <td>
                            <input type="text" id="PERfacilityaddress" class="w300px form-control m-input form-control m-input"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Resident Name</label>
                        </td>
                        <td>
                            <input type="text" id="PERresidentname" class="w300px form-control m-input form-control m-input" disabled/>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Title of Authorized Representative</label>
                        </td>
                        <td>
                            <input type="text" id="PERauthreptitle" class="w300px form-control m-input form-control m-input" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4"> <br/><br />THE RESIDENT AND/OR THE REPRESENTATIVE/PARENT HAS THE RIGHT TO BE INFORMED OF THE APPROPRIATE LICENSING AGENCY 
                        TO CONTACT REGARDING COMPLAINTS, WHICH IS:<br/><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Name</label>
                        </td>
                        <td>
                            <input type="text" id="PERLAname" class="w300px form-control m-input form-control m-input" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address</label>
                        </td>
                        <td>
                            <input type="text" id="PERLAaddress" class="w300px form-control m-input form-control m-input" />
                        </td>
                        <td>
                            <label>Zip Code</label>
                        </td>
                        <td>
                            <input type="text" id="PERLAzipcode" class="w150px form-control m-input form-control m-input" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>City</label>
                        </td>
                        <td>
                            <input type="text" id="PERLAcity" class="w300px form-control m-input form-control m-input" />
                        </td>
                        <td>
                            <label>Area Code/ <br/>Tel. No.</label>
                        </td>
                        <td>
                            <input type="text" id="PERLAareatel" class="w150px form-control m-input form-control m-input" />
                        </td>
                    </tr>
                    
                </table>
            </fieldset>
        </td>
    </tr>



</table>