﻿<center>
    <h3>PERSONNEL RECORD</h3>
</center>
<br /><br />

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Date</label>
    <div class="col-lg-3">
        <input type="text" id="PRdate" name="PRdate" class="datepicker form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Name of Facility</label>
    <div class="col-lg-3">
        <input type="text" id="PRfacilityname" name="PRfacilityname" class=" form-control m-input" disabled />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Facility Address</label>
    <div class="col-lg-3">
        <input type="text" id="PRfacilityaddress" name="PRfacilityaddress" class=" form-control m-input" disabled />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">Facility File Number</label>
    <div class="col-lg-3">
        <input type="text" id="PRfacilityfilenumber" name="PRfacilityfilenumber" class=" form-control m-input" disabled />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label"><b>1.PERSONAL</b></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">NAME</label>
    <div class="col-lg-3">
        <input type="text" id="PRname" name="PRname" class="form-control m-input" disabled />
    </div>
    <label class="col-lg-3  col-form-label">SOCIAL SECURITY NUMBER: (VOLUNTARY FOR ID ONLY)</label>
    <div class="col-lg-3">
        <input type="text" id="PRssnumber" name="PRssnumber" class=" form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">ADDRESS</label>
    <div class="col-lg-3">
        <input type="text" id="PRaddress" name="PRaddress" class=" form-control m-input" disabled />
    </div>
    <label class="col-lg-3  col-form-label">DATE OF LAST PHYSICAL EXAMINATION</label>
    <div class="col-lg-3">
        <input type="text" id="PRdateoflastPE" name="PRdateoflastPE" class="datepicker  form-control m-input" />
    </div>

</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label">TELEPHONE</label>
    <div class="col-lg-3">
        <input type="text" id="PRtelephone" name="PRtelephone" class=" form-control m-input" disabled />
    </div>

    <label class="col-lg-3  col-form-label">DATE OF LAST TB TEST</label>
    <div class="col-lg-3">
        <input type="text" id="PRdateoflastTBtest" name="PRdateoflastTBtest" class="datepicker  form-control m-input" />
    </div>
</div>

<br /><br />
      <div class="m-form__group form-group row">
          <label class="col-lg-4 col-form-label">ARE YOU 18 YEARS OF AGE OR OLDER?</label>
          <div class="col-lg-2">
              <div class="m-checkbox-inline">
                  <label class="m-checkbox ">
                      <input type="checkbox" class="PRage" id="PRage18yes" name="PRage" > YES &nbsp;
                      <span></span>
                  </label>
                  <label class="m-checkbox ">
                      <input type="checkbox" class="PRage" id="PRage18no" name="PRage" > NO &nbsp;&nbsp;&nbsp;
                      <span></span>
                  </label>
              </div>
          </div>
          <script>    
              $('input.PRage').on('change', function () {
                  $('input.PRage').not(this).prop('checked', false);
              });
          </script>

          <label class="col-lg-2  col-form-label">IF NO, PLEASE STATE YOUR AGE</label>
          <div class="col-lg-3">
              <input type="text" id="PRage" name="PRage" class="form-control m-input" autocomplete="off" />
          </div>

      </div>

      <div class="m-form__group form-group row">
          <label class="col-lg-4 col-form-label">HAVE YOU EVER BEEN EMPLOYED UNDER A DIFFERENT NAME?</label>
          <div class="col-lg-2">
              <div class="m-checkbox-inline">
                  <label class="m-checkbox ">
                      <input type="checkbox" class="PRdiffname" id="PRdiffnameyes" name="PRdiffname" > YES
                      <span></span>
                  </label>
                  <label class="m-checkbox ">
                      <input type="checkbox" class="PRdiffname" id="PRdiffnameno" name="PRdiffname" > NO
                      <span></span>
                  </label>
              </div>
          </div>
          <script>
              $('input.PRdiffname').on('change', function () {
                  $('input.PRdiffname').not(this).prop('checked', false);
              });
          </script>

          <label class="col-lg-2  col-form-label">IF YES, PLEASE LIST ALL NAMES USED.</label>
          <div class="col-lg-3">
              <input type="text" id="PRothernames" name="PRothernames" class=" form-control m-input" />
          </div>

      </div>

      <div class="m-form__group form-group row">
          <label class="col-lg-4 col-form-label">DO YOU POSSESS A VALID CALIFORNIA DRIVER'S LICENSE?</label>
          <div class="col-lg-2">
              <div class="m-checkbox-inline">
                  <label class="m-checkbox ">
                      <input type="checkbox"  class="PRdlicense" id="PRdlicenseyes" name="PRdlicense" > YES
                      <span></span>
                  </label>
                  <label class="m-checkbox ">
                      <input type="checkbox"  class="PRdlicense" id="PRdlicenseno" name="PRdlicense" > NO
                      <span></span>
                  </label>
              </div>
          </div>
          <script>
              $('input.PRdlicense').on('change', function () {
                  $('input.PRdlicense').not(this).prop('checked', false);
              });
          </script>

          <label class="col-lg-2  col-form-label">CDL NUMBER</label>
          <div class="col-lg-3">
              <input type="text" id="PRcdlnumber" name="PRcdlnumber" class="numonly  form-control m-input" />
          </div>

      </div>

      <div class="m-form__group form-group row">
          <label class="col-lg-4 col-form-label">HAS YOUR DRIVER'S LICENSE EVER BEEN SUSPENDED OR REVOKED?</label>
          <div class="col-lg-2">
              <div class="m-checkbox-inline">
                  <label class="m-checkbox ">
                      <input type="checkbox"  class="PRrevoked" id="PRrevokedyes" name="PRrevoked" > YES
                      <span></span>
                  </label>
                  <label class="m-checkbox ">
                      <input type="checkbox"  class="PRrevoked" id="PRrevokedno" name="PRrevoked" > NO
                      <span></span>
                  </label>
              </div>
          </div>
          <script>
              $('input.PRrevoked').on('change', function () {
                  $('input.PRrevoked').not(this).prop('checked', false);
              });
          </script>

          <label class="col-lg-2  col-form-label">IF YES, PLEASE EXPLAIN.</label>
          <div class="col-lg-3">
              <textarea id="PRexplain" name="PRexplain" class=" form-control m-input"></textarea>
          </div>
      </div>

<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label">NEAREST LIVING RELATIVE</label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">NAME</label>
    <div class="col-lg-3">
        <input type="text" id="PRrelativename" name="PRrelativename" class=" form-control m-input" />
    </div>
    <label class="col-lg-1  col-form-label">TELEPHONE NUMBER</label>
    <div class="col-lg-3">
        <input type="text" id="PRrelnumber" name="PRrelnumber" class="numonly  form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">RELATIONSHIP</label>
    <div class="col-lg-3">
        <input type="text" id="PRrelationship" name="PRrelationship" class=" form-control m-input" />
    </div>
    <label class="col-lg-1  col-form-label">ADDRESS</label>
    <div class="col-lg-3">
        <input type="text" id="PRreladdress" name="PRreladdress" class=" form-control m-input" />
    </div>
</div>


<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label"><b>2.POSITION</b></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">TITLE</label>
    <div class="col-lg-3">
        <input type="text" id="PRposition" name="PRposition" class=" form-control m-input" />
    </div>
    <label class="col-lg-2 col-form-label">DATE OF EMPLOYMENT</label>
    <div class="col-lg-3">
        <input type="text" id="PRdateofemployment" name="PRdateofemployment" class="datepicker  form-control m-input" />
    </div>

</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">SALARY</label>
    <div class="col-lg-3">
        <input type="text" id="PRsalary" name="PRsalary" class="numonly  form-control m-input" />
    </div>
    <label class="col-lg-2 col-form-label">NAME OF SUPERVISOR</label>
    <div class="col-lg-3">
        <input type="text" id="PRsupervisor" name="PRsupervisor" class=" form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">HOURS</label>
    <div class="col-lg-3">
        <input type="text" id="PRhours" name="PRhours" class=" form-control m-input" />
    </div>
</div>


<br /><br />
<div class="form-group m-form__group row">
    @*<label class="col-lg-12  col-form-label"><b>3.PREVIOUS EMPLOYMENT (List most recent experience first.If additional space is needed, please attach a separate page.)</b></label>*@
    <label class="col-lg-12  col-form-label"><b>3.PREVIOUS EMPLOYMENT (List most recent experience first.If additional space is needed, please contact admin support.)</b></label>
</div>

<div class="form-group m-form__group row">
   
    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:20%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <colgroup style="width:20%;"></colgroup>
        <colgroup style="width:20%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <tr>
            <td>

                NAME AND ADDRESS OF EMPLOYER

            </td>
            <td>

                TELEPHONE NUMBER

            </td>
            <td>

                JOB TITLE AND TYPE OF WORK

            </td>
            <td>

                REASON FOR LEAVING

            </td>
            <td>

                DATES
                <br /> FROM


            </td>
            <td>

                TO

            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr1" name="PRnameaddr1" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber1" name="PRtelnumber1" class="numonly form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle1" name="PRjobtitle1" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving1" name="PRreasonforleaving1" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom1" style="width:100px;height: 30px;" name="PRdatefrom1" class="datepicker form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto1" style="width:100px;height: 30px;" name="PRdateto1" class="datepicker form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr2" name="PRnameaddr2" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber2" name="PRtelnumber2" class="numonly form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle2" name="PRjobtitle2" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving2" name="PRreasonforleaving2" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom2" style="width:100px;height: 30px;" name="PRdatefrom2" class="datepicker form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto2" style="width:100px;height: 30px;" name="PRdateto2" class="datepicker form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr3" name="PRnameaddr3" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber3" name="PRtelnumber3" class="numonly form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle3" name="PRjobtitle3" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving3" name="PRreasonforleaving3" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom3" style="width:100px;height: 30px;" name="PRdatefrom3" class="datepicker form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto3" style="width:100px;height: 30px;" name="PRdateto3" class="datepicker form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr4" name="PRnameaddr4" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber4" name="PRtelnumber4" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle4" name="PRjobtitle4" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving4" name="PRreasonforleaving4" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom4" style="width:100px;height: 30px;" name="PRdatefrom4" class="datepicker  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto4" style="width:100px;height: 30px;" name="PRdateto4" class="datepicker  form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr5" name="PRnameaddr5" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber5" name="PRtelnumber5" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle5" name="PRjobtitle5" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving5" name="PRreasonforleaving5" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom5" style="width:100px;height: 30px;" name="PRdatefrom5" class="datepicker  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto5" style="width:100px;height: 30px;" name="PRdateto5" class="datepicker  form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameaddr6" name="PRnameaddr6" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRtelnumber6" name="PRtelnumber6" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRjobtitle6" name="PRjobtitle6" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreasonforleaving6" name="PRreasonforleaving6" class="form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatefrom6" style="width:100px;height: 30px;" name="PRdatefrom6" class="datepicker  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdateto6" style="width:100px;height: 30px;" name="PRdateto6" class="datepicker  form-control m-input" />
            </td>
        </tr>
    </table>
       
</div>

<br /><br />
<div class="form-group m-form__group row">
    @*<label class="col-lg-12  col-form-label"><b>3.PREVIOUS EMPLOYMENT (List most recent experience first.If additional space is needed, please attach a separate page.)</b></label>*@
    <label class="col-lg-12  col-form-label"><b>4. EDUCATION</b></label>
</div>

<div class="m-form__group form-group row">
    <label class="col-lg-2 col-form-label">HIGHEST YEAR COMPLETED</label>
    <div class="col-lg-4">
        <div class="m-checkbox-inline">
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation6" name="PReducation" >6
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation7" name="PReducation" >7
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation8" name="PReducation" >8
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation9" name="PReducation" >9
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation10" name="PReducation" >10
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation"  type="checkbox" id="PReducation11" name="PReducation" >11
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input class="PReducation" type="checkbox" id="PReducation12" name="PReducation" >12
                <span></span>
            </label>
        </div>
    </div>
    <script>
        $('input.PReducation').on('change', function () {
            $('input.PReducation').not(this).prop('checked', false);
        });
    </script>

    <label class="col-lg-1  col-form-label">DIPLOMA</label>
    <div class="col-lg-2">
        <input type="text" id="PRdiploma" name="PRdiploma" class=" form-control m-input" />
    </div>
</div>

<div class="m-form__group form-group row">
    <label class="col-lg-4 col-form-label">CURRENTLY ENROLLED IN HIGH SCHOOL COMPLETION COURSE?</label>
    <div class="col-lg-2">
        <div class="m-checkbox-inline">
            <label class="m-checkbox ">
                <input type="checkbox" class="PRenrolled" id="PRenrolledyes" name="PRenrolled" >YES
                <span></span>
            </label>
            <label class="m-checkbox ">
                <input type="checkbox" class="PRenrolled" id="PRenrolledno" name="PRenrolled" >NO
                <span></span>
            </label>
        </div>
    </div>
    <script>
        $('input.PRenrolled').on('change', function () {
            $('input.PRenrolled').not(this).prop('checked', false);
           
        });
    </script>

    <label class="col-lg-3  col-form-label">IF YES, GIVE EXPECTED COMPLETION DATE</label>
    <div class="col-lg-3">
        <input type="text" id="PRcompletiondate" name="PRcompletiondate" class="datepicker  form-control m-input" style="width:199px;" disabled/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-12  col-form-label"><b>EMPLOYMENT - RELATED EDUCATION COURSES</b></label>
</div>

<div class="form-group m-form__group row">
    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:20%;"></colgroup>
        <colgroup style="width:30%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <colgroup style="width:18%;"></colgroup>
        <colgroup style="width:18%;"></colgroup>
        <tr>
            <td>COURSE TITLE</td>
            <td>NAME OF SCHOOL OR ORGANIZATION AND ADDRESS</td>
            <td>NUMBER OF UNITS COMPLETED</td>
            <td>DATE COMPLETED</td>
            <td>CURRENTLY ENROLLED</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRcoursetitle1" name="PRcoursetitle1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnameofschool1" name="PRnameofschool1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnumunitscompleted1" name="PRnumunitscompleted1" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRcoursedatecompleted1" name="PRcoursedatecompleted1" class="datepicker  form-control m-input" style="height: 29px;" />
            </td>
            <td>
                <input type="text" id="PRcurrentlyenrolled1" name="PRcurrentlyenrolled1" class=" form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRcoursetitle2" name="PRcoursetitle2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnameofschool2" name="PRnameofschool2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnumunitscompleted2" name="PRnumunitscompleted2" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRcoursedatecompleted2" name="PRcoursedatecompleted2" class="datepicker  form-control m-input" style="height: 29px;" />
            </td>
            <td>
                <input type="text" id="PRcurrentlyenrolled2" name="PRcurrentlyenrolled2" class=" form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRcoursetitle3" name="PRcoursetitle3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnameofschool3" name="PRnameofschool3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnumunitscompleted3" name="PRnumunitscompleted3" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRcoursedatecompleted3" name="PRcoursedatecompleted3" class="datepicker  form-control m-input" style="height: 29px;" />
            </td>
            <td>
                <input type="text" id="PRcurrentlyenrolled3" name="PRcurrentlyenrolled3" class=" form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRcoursetitle4" name="PRcoursetitle4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnameofschool4" name="PRnameofschool4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRnumunitscompleted4" name="PRnumunitscompleted4" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRcoursedatecompleted4" name="PRcoursedatecompleted4" class="datepicker  form-control m-input" style="height: 29px;" />
            </td>
            <td>
                <input type="text" id="PRcurrentlyenrolled4" name="PRcurrentlyenrolled4" class=" form-control m-input" />
            </td>
        </tr>
    </table>
</div>

<div class="form-group m-form__group row">
    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:30%;"></colgroup>
        <colgroup style="width:25%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <colgroup style="width:20%;"></colgroup>
        <colgroup style="width:10%;"></colgroup>
        <tr>
            <td>NAME OF UNIVERSITY, COLLEGE OR BUSINESS SCHOOL ADDRESS</td>
            <td>MAJOR SUBJECT</td>
            <td>NO. OF YEARS COMPLETED</td>
            <td>NO. OF UNITS COMPLETED</td>
            <td>DIPLOMA DEGREE OR CERTIFICATE</td>
            <td>DATE COMPLETED</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameofuniversity1" name="PRnameofuniversity1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRmajorsubject1" name="PRmajorsubject1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRyearscompleted1" name="PRyearscompleted1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRunitscompleted1" name="PRunitscompleted1" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdiplomacert1" name="PRdiplomacert1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatecompleted1" name="PRdatecompleted1" class="datepicker  form-control m-input" style="height: 29px;width: 180px;" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameofuniversity2" name="PRnameofuniversity2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRmajorsubject2" name="PRmajorsubject2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRyearscompleted2" name="PRyearscompleted2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRunitscompleted2" name="PRunitscompleted2" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdiplomacert2" name="PRdiplomacert2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatecompleted2" name="PRdatecompleted2" class="datepicker  form-control m-input" style="height: 29px;width: 180px;" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameofuniversity3" name="PRnameofuniversity3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRmajorsubject3" name="PRmajorsubject3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRyearscompleted3" name="PRyearscompleted3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRunitscompleted3" name="PRunitscompleted3" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdiplomacert3" name="PRdiplomacert3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatecompleted3" name="PRdatecompleted3" class="datepicker  form-control m-input" style="height: 29px;width: 180px;" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRnameofuniversity4" name="PRnameofuniversity4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRmajorsubject4" name="PRmajorsubject4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRyearscompleted4" name="PRyearscompleted4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRunitscompleted4" name="PRunitscompleted4" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdiplomacert4" name="PRdiplomacert4" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRdatecompleted4" name="PRdatecompleted4" class="datepicker  form-control m-input" style="height: 29px;width: 180px;" />
            </td>
        </tr>
    </table>
</div>

<br /><br />
<div class="form-group m-form__group row">
    @*<label class="col-lg-12  col-form-label"><b>3.PREVIOUS EMPLOYMENT (List most recent experience first.If additional space is needed, please attach a separate page.)</b></label>*@
    <label class="col-lg-12  col-form-label"><b>5. REFERENCES</b></label>
</div>


<div class="form-group m-form__group row">
    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:25%;"></colgroup>
        <colgroup style="width:30%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>
        <colgroup style="width:30%;"></colgroup>
        <tr>
            <td colspan="4">List names of three persons who can give information about your background, character, abilities, etc. </td>
        </tr>
        <tr>
            <td>NAME</td>
            <td>ADDRESS</td>
            <td>TELEPHONE NUMBER</td>
            <td>RELATIONSHIP TO YOU (FRIEND, EMPLOYER, ETC.)</td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRrefname1" name="PRrefname1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefadd1" name="PRrefadd1" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreftel1" name="PRreftel1" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefrel1" name="PRrefrel1" class=" form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRrefname2" name="PRrefname2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefadd2" name="PRrefadd2" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreftel2" name="PRreftel2" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefrel2" name="PRrefrel2" class=" form-control m-input" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="PRrefname3" name="PRrefname3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefadd3" name="PRrefadd3" class=" form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRreftel3" name="PRreftel3" class="numonly  form-control m-input" />
            </td>
            <td>
                <input type="text" id="PRrefrel3" name="PRrefrel3" class=" form-control m-input" />
            </td>
        </tr>
    </table>
</div>

<br /><br />
<div class="form-group m-form__group row">
    @*<label class="col-lg-12  col-form-label"><b>3.PREVIOUS EMPLOYMENT (List most recent experience first.If additional space is needed, please attach a separate page.)</b></label>*@
    <label class="col-lg-12  col-form-label"><b>6. PROFESSIONAL AND TECHNICAL QUALIFICATIONS</b></label>
</div>

<div class="form-group m-form__group row">
    <table style="width:90%;margin:auto" cellspacing="2">
        <colgroup style="width:40%;"></colgroup>
        <colgroup style="width:30%;"></colgroup>
        <colgroup style="width:15%;"></colgroup>
        <colgroup style="width:30%;"></colgroup>
        <tr>
            <td>A. List Licenses or Certificates of Competence held: </td>
            <td colspan="2"><textarea id="PRlistofcerts" name="PRlistofcerts" rows="4" cols="50" class="form-control"></textarea></td>
        </tr>
        <tr>
            <td>B. Names of Professional Associations of which you are a member: </td>
            <td colspan="2"><textarea id="PRlistofprofassocs" name="PRlistofprofassocs" rows="4" cols="50" class="form-control"></textarea></td>
        </tr>
        <tr>
            <td>
                NOTES:
            </td>
            <td colspan="3">
                <textarea id="PRnotes" name="PRnotes" rows="4" cols="50" class="form-control"></textarea>
            </td>
        </tr>
    </table>

    <br /><br />
    <p style="width:90%;margin-left: 20px;">
        I hereby  certify under penalty of perjury that the above statements are true and correct. I give my permission for any necessary verification.
    </p>
</div>