﻿
    <div id="tabs-1" class="form resForm">
        <!---<ul style="width:100%">-->
        <header>
            @*<center><h1>PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)</h1><br /></center>*@
            @*<br />
            <br />*@
            <p>**NOTE: Edit uneditable inputs through the Resident Information tab</p>
        </header>

        <table class="form-fieldset" style="width:100%">
            <tr>
                <td>
                    <fieldset style="overflow:hidden;">
                        <legend>FACILITY INFORMATION (To be completed by the licensee/designee)</legend>

                        <table style="width:100%;">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <tr>
                                <td>
                                    <label>NAME OF FACILITY</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityNameField" name="facilityNameField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                                <td>
                                    <label>TELEPHONE</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityTelephoneField" name="facilityTelephoneField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>LICENSEE'S NAME</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityLicenseeNameField" name="facilityLicenseeNameField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                                <td>
                                    <label>ADDRESS</label>
                                <td>
                                    <input type="text" id="facilityAddressField" name="facilityAddressField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label>FACILITY LICENSE NUMBER</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityLicenseNoField" name="facilityLicenseNoField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                                <td>
                                    <label>CITY</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityCityField" name="facilityCityField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LICENSEE TELEPHONE</label>
                                </td>
                                <td>
                                    <input type="text" id="LicenseePhone" name="LicenseePhone" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                                <td>
                                    <label>ZIP CODE</label>
                                </td>
                                <td>
                                    <input type="text" id="facilityZipcodeField" name="facilityZipcodeField" class="w100px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>RESIDENT/PATIENT INFORMATION (To be completed by the resident/resident's responsible person)</legend>
                        <table style="width:100%">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td>
                                    <label>First Name</label>
                                </td>
                                <td>
                                    <input name="residentFirstnameField" id="residentFirstnameField" type="text" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                                <td>
                                    <label>BIRTH DATE</label>
                                </td>
                                <td>
                                    <input type="text" id="residentBirthDateField" name="residentBirthDateField" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Middle Initial</label>
                                </td>
                                <td>
                                    <input type="text" id="residentMiddleInitialField" name="residentMiddleInitialField" class="w20px form-control m-input form-control m-input" maxlength="1" disabled/>
                                </td>
                                <td>
                                    <label>AGE</label>
                                </td>
                                <td>
                                    <input type="text" id="residentAgeField" name="residentAgeField" class="w20px form-control m-input form-control m-input" maxlength="2" disabled/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Last Name</label>
                                </td>
                                <td>
                                    <input id="residentLastnameField" name="residentLastnameField" type="text" class="w250px form-control m-input form-control m-input" disabled/>
                                </td>

                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>AUTHORIZATION FOR RELEASE OF MEDICAL INFORMATION (To be completed by the resident/resident's legal representative)</legend>

                        @*<p style="font-size: medium;padding: 10px;">I hereby authorize release of medical information in this report to the facility named above.</p>*@

                        <table style="width:100%">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            @*<tr>
                                <td>
                                    <label>SIGNATURE OF RESIDENT AND/OR RESIDENT'S LEGAL REPRESENTATIVE</label>
                                </td>
                                <td>
                                    <input name="authorizationSignatureField" id="authorizationSignatureField" type="text" class="w250px" />
                                </td>
                                <td>
                                    <label>DATE</label>
                                </td>
                                <td>
                                    <input id="authorizationDateCompletedField" name="authorizationDateCompletedField" type="text" class="w250px" />
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <label>ADDRESS OF RESIDENT AND/OR RESIDENT'S LEGAL REPRESENTATIVE</label>
                                </td>
                                <td>
                                    <input name="authorizationAddressField" id="authorizationAddressField" type="text" class="w500px form-control m-input form-control m-input" disabled/>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>PATIENT'S DIAGNOSIS (To be completed by the physician)</legend>
                        <br /><br />    
                        <span style="font-size:13px;"><strong>NOTE TO PHYSICIAN:</strong></span><span style="font-size:13px;"> The person named above is either a resident or prospective resident of a residential care facility for the elderly licensed by the Department of Social Services. The license requires the facility to provide primarily non-medical care and supervision to meet the needs of that person. <u>THESE FACILITIES DO NOT PROVIDE SKILLED NURSING CARE.</u> The information that you provide about this person is required by law to assist in determining whether the person is appropriate for care in this non-medical facility. It is important that all questions be answered. </span>
                   
                        <table style="width:100%">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td>
                                    <label>DATE OF EXAM</label>
                                </td>
                                <td>
                                    <input type="text" id="diagExamDateField" name="diagExamDateField" class="w250px form-control m-input form-control m-input" />
                                <td>
                                    <label>SEX</label>
                                </td>
                                <td>
                                    <input type="text" id="diagSexField" name="diagSexField" class="w20px form-control m-input form-control m-input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>HEIGHT</label>
                                </td>
                                <td>
                                    <input type="text" id="diagHeightField" name="diagHeightField" class="w250px form-control m-input form-control m-input" />
                                </td>
                                <td>
                                    <label>WEIGHT</label>
                                </td>
                                <td>
                                    <input type="text" id="diagWeightField" name="diagWeightField" class="w250px form-control m-input form-control m-input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>BLOOD PRESSURE</label>
                                </td>
                                <td>
                                    <input type="text" id="diagBloodPressureField" name="diagBloodPressureField" class="w250px form-control m-input form-control m-input" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>TUBERCULOSIS (TB) TEST</legend>

                        <table style="width:100%">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Date TB Test Given</label>
                                </td>
                                <td>
                                    <input type="text" id="diagDateTBTestGivenField" name="diagDateTBTestGivenField" class="w250px form-control m-input form-control m-input" />
                                <td>
                                    <label>Date TB Test Read</label>
                                </td>
                                <td>
                                    <input type="text" id="diagDateTBTestReadField" name="diagDateTBTestReadField" class="w250px form-control m-input form-control m-input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type of TB Test</label>
                                </td>
                                <td>
                                    <input type="text" id="diagTBTestTypeField" name="diagTBTestTypeField" class="w250px form-control m-input form-control m-input"/>
                                </td>
                                <td>
                                    <label>Please Check if TB Test is</label>
                                </td>
                                <td>
                                    <label class="chckbox">
                                        <input type="checkbox" id="diagTbResult2Field" name="diagTbResultField" value="1" />Negative
                                    </label>
                                    <label class="chckbox" style="padding-left:20px;">
                                        <input type="checkbox" id="diagTbResult1Field" name="diagTbResultField" value="1" />Positive
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Results</label>
                                </td>
                                <td>
                                    <input name="diagResultsmmField" id="diagResultsmmField" type="text" class="w250px form-control m-input form-control m-input" />
                                </td>
                                <td>
                                    <label>Action Taken (if positive)</label>
                                </td>
                                <td>
                                    <input name="diagActionTakenField" id="diagActionTakenField" type="text" class="w250px form-control m-input form-control m-input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Chest X-ray Results</label>
                                </td>
                                <td>
                                    <input name="diagChestXRayResultsField" id="diagChestXRayResultsField" type="text" class="w250px form-control m-input form-control m-input" />
                                </td>
                                <td>
                                    <label>Please Check One of the Following</label>
                                </td>
                                <td>
                                    <label  class="chckbox" style="padding-left:20px;"><input type="checkbox" id="diagTbDiseaseStatusResult1Field" name="diagTbDiseaseStatusField" value="1" />Active TB Disease</label>
                                    <label  class="chckbox" style="padding-left:20px;"><input type="checkbox" id="diagTbDiseaseStatusResult2Field" name="diagTbDiseaseStatusField" value="1" />Latent TB Infection</label>
                                    <label class="chckbox" style="padding-left:20px;"><input type="checkbox" id="diagTbDiseaseStatusResult3Field" name="diagTbDiseaseStatusField" value="1" />No Evidence of TB Infection or Disease</label>
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>PRIMARY DIAGNOSIS</legend>


                        <table style="width:100%">
                            <colgroup style="width:40%;"></colgroup>
                            <colgroup style="width:60%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Treatment/medication (type and dosage)/equipment</label>
                                </td>
                                <td>
                                    <textarea id="diag1TreatmentMedicationField" name="diag1TreatmentMedicationField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Can patient manage own treatment/medication/equipment?</label>
                                </td>
                                <td>
                                    <label style="padding-left:15px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag1PatientCanManageOwnTreatmentYesField" name="diag1PatientCanManageOwnTreatmentField" value="1" />Yes
                                    </label>
                                    <label style="padding-left:10px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag1PatientCanManageOwnTreatmentNoField" name="diag1PatientCanManageOwnTreatmentField" value="1" />No
                                    </label>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>If not, what type of medical supervision is needed?</label>
                                </td>
                                <td>
                                    <textarea id="diag1TreatmentSupervisionField" name="diag1TreatmentSupervisionField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>SECONDARY DIAGNOSIS</legend>


                        <table style="width:100%">
                            <colgroup style="width:40%;"></colgroup>
                            <colgroup style="width:60%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Treatment/medication (type and dosage)/equipment</label>
                                </td>
                                <td>
                                    <textarea id="diag2TreatmentMedicationField" name="diag2TreatmentMedicationField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Can patient manage own treatment/medication/equipment?</label>
                                </td>
                                <td>
                                    <label style="padding-left:15px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag2PatientCanManageOwnTreatmentYesField" name="diag2PatientCanManageOwnTreatmentField" value="1" />Yes
                                    </label>
                                    <label style="padding-left:10px"  class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag2PatientCanManageOwnTreatmentNoField" name="diag2PatientCanManageOwnTreatmentField" value="1" />No
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If not, what type of medical supervision is needed?</label>
                                </td>
                                <td>
                                    <textarea id="diag2TreatmentSupervisionField" name="diag2TreatmentSupervisionField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>CHECK IF APPLICABLE TO SECONDARY OR PRIMARY DIAGNOSIS</legend>

                        <br /><br />
                        <label style="display:block" class="chckbox">
                            <input type="checkbox" id="checkApplicableTo7or8AboveOption1Field" name="checkApplicableTo7or8AboveOption1Field" value="1" /><u>Mild Cognitive Impairment</u>: Refers to people whose cognitive abilities are in a "conditional state" between normal aging and dementia.
                        </label>
                        <label style="display:block" class="chckbox">
                            <input type="checkbox" id="checkApplicableTo7or8AboveOption2Field" name="checkApplicableTo7or8AboveOption2Field" value="1" /><u>Dementia</u>: The loss of intellectual function (such as thinking, remembering, reasoning, excercising judgement and making decisions) and other cognitive functions, sufficient to interfere with an individual's ability to perform activities of daily living or to carry out social or occupational activities.
                        </label>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>CONTAGIOUS/INFECTIOUS DISEASE</legend>
                        <table style="width:100%">
                            <colgroup style="width:40%;"></colgroup>
                            <colgroup style="width:60%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Treatment/medication (type and dosage)/equipment:</label>
                                </td>
                                <td>
                                    <textarea id="diag3TreatmentMedicationField" name="diag3TreatmentMedicationField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Can patient manage own treatment/medication/equipment?</label>
                                </td>
                                <td>
                                    <label style="padding-left:15px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag3PatientCanManageOwnTreatmentYesField" name="diag3PatientCanManageOwnTreatmentField" value="1" />Yes
                                    </label>
                                    <label style="padding-left:10px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag3PatientCanManageOwnTreatmentNoField" name="diag3PatientCanManageOwnTreatmentField" value="1" />No
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If not, what type of medical supervision is needed?</label>
                                </td>
                                <td>
                                    <textarea id="diag3TreatmentSupervisionField" name="diag3TreatmentSupervisionField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>ALLERGIES</legend>
                        <table style="width:100%">
                            <colgroup style="width:40%;"></colgroup>
                            <colgroup style="width:60%;"></colgroup>
                            <tr>
                                <td>
                                    <label>Treatment/medication (type and dosage)/equipment</label>
                                </td>
                                <td>
                                    <textarea id="diag4TreatmentMedicationField" name="diag4TreatmentMedicationField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Can patient manage own treatment/medication/equipment?</label>
                                </td>
                                <td>
                                    <label style="padding-left:15px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag4PatientCanManageOwnTreatmentYesField" name="diag4PatientCanManageOwnTreatmentField" value="1" />Yes
                                    </label>
                                    <label style="padding-left:10px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag4PatientCanManageOwnTreatmentNoField" name="diag4PatientCanManageOwnTreatmentField" value="1" />No
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If not, what type of medical supervision is needed?</label>
                                </td>
                                <td><textarea id="diag4TreatmentSupervisionField" name="diag4TreatmentSupervisionField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea></td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>OTHER CONDITIONS</legend>
                        <table style="width:100%">
                            <colgroup style="width:40%;"></colgroup>
                            <colgroup style="width:60%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Treatment/medication (type and dosage)/equipment</label>
                                </td>
                                <td>
                                    <textarea id="diag5TreatmentMedicationField" name="diag5TreatmentMedicationField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Can patient manage own treatment/medication/equipment?</label>
                                </td>
                                <td>
                                    <label style="padding-left:15px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag5PatientCanManageOwnTreatmentYesField" name="diag5PatientCanManageOwnTreatmentField" value="1" />Yes
                                    </label>
                                    <label style="padding-left:10px" class="chckbox">
                                        <input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="diag5PatientCanManageOwnTreatmentNoField" name="diag5PatientCanManageOwnTreatmentField" value="1" />No
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If not, what type of medical supervision is needed?</label>
                                </td>
                                <td>
                                    <textarea id="diag5TreatmentSupervisionField" name="diag5TreatmentSupervisionField" style="height:30px" class="w500px form-control m-input form-control m-input"></textarea>
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>PHYSICAL HEALTH STATUS</legend>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td class="" style="width:238px"></td>
                                <td class=" center"><strong>YES</strong></td>
                                <td class=" center"><strong>NO</strong></td>
                                <td class=" center"><strong>ASSISTIVE DEVICE</strong><span style="display:block">(If applicable)</span></td>
                                <td class=" center"><strong>EXPLAIN</strong></td>
                            </tr>
                            <tr>
                                <td class="">a. Auditory Impairment</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusAuditoryImpairmentYesField" name="physicalStatusAuditoryImpairmentField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusAuditoryImpairmentNoField" name="physicalStatusAuditoryImpairmentField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusAuditoryImpairmentAssistiveDeviceField" name="physicalStatusAuditoryImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusAuditoryImpairmentExplainField" name="physicalStatusAuditoryImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">b. Visual Impairment</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusVisualImpairmentYesField" name="physicalStatusVisualImpairmentField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusVisualImpairmentNoField" name="physicalStatusVisualImpairmentField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusVisualImpairmentAssistiveDeviceField" name="physicalStatusVisualImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusVisualImpairmentExplainField" name="physicalStatusVisualImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">c. Wears Dentures</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusWearsDenturesYesField" name="physicalStatusWearsDenturesField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusWearsDenturesNoField" name="physicalStatusWearsDenturesField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusWearsDenturesAssistiveDeviceField" name="physicalStatusWearsDenturesAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusWearsDenturesExplainField" name="physicalStatusWearsDenturesExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">d. Wears Prosthesis</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusWearsProsthesisYesField" name="physicalStatusWearsProsthesisField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusWearsProsthesisNoField" name="physicalStatusWearsProsthesisField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusWearsProsthesisAssistiveDeviceField" name="physicalStatusWearsProsthesisAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusWearsProsthesisExplainField" name="physicalStatusWearsProsthesisExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">e. Special Diet</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusSpecialDietYesField" name="physicalStatusSpecialDietField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusSpecialDietNoField" name="physicalStatusSpecialDietField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusSpecialDietAssistiveDeviceField" name="physicalStatusSpecialDietAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusSpecialDietExplainField" name="physicalStatusSpecialDietExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">f. Substance Abuse Problem</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusSubstanceAbuseProblemYesField" name="physicalStatusSubstanceAbuseProblemField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusSubstanceAbuseProblemNoField" name="physicalStatusSubstanceAbuseProblemField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusSubstanceAbuseProblemAssistiveDeviceField" name="physicalStatusSubstanceAbuseProblemAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusSubstanceAbuseProblemExplainField" name="physicalStatusSubstanceAbuseProblemExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">g. Use of Alcohol</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusUseOfAlcoholYesField" name="physicalStatusUseOfAlcoholField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusUseOfAlcoholNoField" name="physicalStatusUseOfAlcoholField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusUseOfAlcoholAssistiveDeviceField" name="physicalStatusUseOfAlcoholAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusUseOfAlcoholExplainField" name="physicalStatusUseOfAlcoholExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">h. Use of Cigarettes</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusUseOfCigarettesYesField" name="physicalStatusUseOfCigarettesField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusUseOfCigarettesNoField" name="physicalStatusUseOfCigarettesField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusUseOfCigarettesAssistiveDeviceField" name="physicalStatusUseOfCigarettesAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusUseOfCigarettesExplainField" name="physicalStatusUseOfCigarettesExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">i. Bowel Impairment</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusBowelImpairmentYesField" name="physicalStatusBowelImpairmentField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusBowelImpairmentNoField" name="physicalStatusBowelImpairmentField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusBowelImpairmentAssistiveDeviceField" name="physicalStatusBowelImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusBowelImpairmentExplainField" name="physicalStatusBowelImpairmentExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">j. Bladder Impairment</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusBladderImpairmentYesField" name="physicalStatusBladderImpairmentField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusBladderImpairmentNoField" name="physicalStatusBladderImpairmentField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusBladderImpairmentAssistiveDeviceField" name="physicalStatusBladderImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusBladderImpairmentExplainField" name="physicalStatusBladderImpairmentExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">k. Motor Impairment/Paralysis</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusMotorImpairmentYesField" name="physicalStatusMotorImpairmentField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusMotorImpairmentNoField" name="physicalStatusMotorImpairmentField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusMotorImpairmentAssistiveDeviceField" name="physicalStatusMotorImpairmentAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusMotorImpairmentExplainField" name="physicalStatusMotorImpairmentExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">l. Requires Continuous Bed Care</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusRequiresContinuousBedCareYesField" name="physicalStatusRequiresContinuousBedCareField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusRequiresContinuousBedCareNoField" name="physicalStatusRequiresContinuousBedCareField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusRequiresContinuousBedCareAssistiveDeviceField" name="physicalStatusRequiresContinuousBedCareAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusRequiresContinuousBedCareExplainField" name="physicalStatusRequiresContinuousBedCareExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">m. History of Skin Condition or Breakdown</td>
                                <td class=" center"><input type="checkbox" id="physicalStatusHistoryOfSkinConditionYesField" name="physicalStatusHistoryOfSkinConditionField" value="1" /></td>
                                <td class=""><input type="checkbox" id="physicalStatusHistoryOfSkinConditionNoField" name="physicalStatusHistoryOfSkinConditionField" value="1" /></td>
                                <td class=" center"><input type="text" id="physicalStatusHistoryOfSkinConditionAssistiveDeviceField" name="physicalStatusHistoryOfSkinConditionAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                                <td class=" center"><input type="text" id="physicalStatusHistoryOfSkinConditionExplainField" name="physicalStatusHistoryOfSkinConditionExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <fieldset>
                        <legend>MENTAL CONDITION</legend>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td class="" style="width:238px"></td>
                                <td class=" center"><strong>YES</strong></td>
                                <td class=" center"><strong>NO</strong></td>
                                <td class=" center"><strong>EXPLAIN</strong></td>
                            </tr>
                            <tr>
                                <td class="">a. Confused/Disoriented</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionConfusedDisorientedYesField" name="mentalConditionConfusedDisorientedField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionConfusedDisorientedNoField" name="mentalConditionConfusedDisorientedField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionConfusedDisorientedExplainField" name="mentalConditionConfusedDisorientedAssistiveDeviceField" class="w250px  form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">b. Inapproriate Behavior</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionInapproriateBehaviorYesField" name="mentalConditionInapproriateBehaviorField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionInapproriateBehaviorNoField" name="mentalConditionInapproriateBehaviorField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionInapproriateBehaviorExplainField" name="mentalConditionInapproriateBehaviorAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">c. Aggressive Behavior</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionAggressiveBehaviorYesField" name="mentalConditionAggressiveBehaviorField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionAggressiveBehaviorNoField" name="mentalConditionAggressiveBehaviorField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionAggressiveBehaviorExplainField" name="mentalConditionAggressiveBehaviorExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">d. Wandering Behavior</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionWanderingBehaviorYesField" name="mentalConditionWanderingBehaviorField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionWanderingBehaviorNoField" name="mentalConditionWanderingBehaviorField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionWanderingBehaviorExplainField" name="mentalConditionWanderingBehaviorExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">e. Sundowning Behavior</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionSundowningBehaviorYesField" name="mentalConditionSundowningBehaviorField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionSundowningBehaviorNoField" name="mentalConditionSundowningBehaviorField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionSundowningBehaviorExplainField" name="mentalConditionSundowningBehaviorExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">f. Able to Follow Instructions</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionAbleToFollowInstructionsYesField" name="mentalConditionAbleToFollowInstructionsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionAbleToFollowInstructionsNoField" name="mentalConditionAbleToFollowInstructionsField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionAbleToFollowInstructionsExplainField" name="mentalConditionAbleToFollowInstructionsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">g. Depressed</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionDepressedYesField" name="mentalConditionDepressedField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionDepressedNoField" name="mentalConditionDepressedField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionDepressedExplainField" name="mentalConditionDepressedExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">h. Suicidal/Self-Abuse</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionSuicidalYesField" name="mentalConditionSuicidalField" value="1"></td>
                                <td class=""><input type="checkbox" id="mentalConditionSuicidalNoField" name="mentalConditionSuicidalField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionSuicidalExplainField" name="mentalConditionSuicidalExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">i. Able to Communicate Needs</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionAbleToCommunicateNeedsYesField" name="mentalConditionAbleToCommunicateNeedsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionAbleToCommunicateNeedsNoField" name="mentalConditionAbleToCommunicateNeedsField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionAbleToCommunicateNeedsExplainField" name="mentalConditionAbleToCommunicateNeedsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">j. At Risk if Allowed Direct Access to Personal Grooming and Hygiene Items</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsYesField" name="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsNoField" name="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsExplainField" name="mentalConditionAtRiskIfAllowedDirectAccessToPersonalHygieneItemsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">k. Able to Leave Facility Unassisted</td>
                                <td class=" center"><input type="checkbox" id="mentalConditionAbleToLeaveFacilityUnassistedYesField" name="mentalConditionAbleToLeaveFacilityUnassistedField" value="1" /></td>
                                <td class=""><input type="checkbox" id="mentalConditionAbleToLeaveFacilityUnassistedNoField" name="mentalConditionAbleToLeaveFacilityUnassistedField" value="1" /></td>
                                <td class=" center"><input type="text" id="mentalConditionAbleToLeaveFacilityUnassistedExplainField" name="mentalConditionAbleToLeaveFacilityUnassistedExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>

                        </table>
                        </fieldset>
                    </td>
                </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>CAPACITY FOR SELF-CARE</legend>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td class="" style="width:238px"></td>
                                <td class=" center"><strong>YES</strong></td>
                                <td class=" center"><strong>NO</strong></td>
                                <td class=" center"><strong>EXPLAIN</strong></td>
                            </tr>
                            <tr>
                                <td class="">a. Able to Bathe Self</td>
                                <td class=" center"><input type="checkbox" id="capacityForSelfCareAbleToBathSelfYesField" name="capacityForSelfCareAbleToBathSelfField" value="1" /></td>
                                <td class=""><input type="checkbox" id="capacityForSelfCareAbleToBathSelfNoField" name="capacityForSelfCareAbleToBathSelfField" value="1" /></td>
                                <td class=" center"><input type="text" id="capacityForSelfCareAbleToBathSelfExplainField" name="capacityForSelfCareAbleToBathSelfAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">b. Able to Dress/Groom Self</td>
                                <td class=" center"><input type="checkbox" id="capacityForSelfCareAbleToDressSelfYesField" name="capacityForSelfCareAbleToDressSelfField" value="1" /></td>
                                <td class=""><input type="checkbox" id="capacityForSelfCareAbleToDressSelfNoField" name="capacityForSelfCareAbleToDressSelfField" value="1" /></td>
                                <td class=" center"><input type="text" id="capacityForSelfCareAbleToDressSelfExplainField" name="capacityForSelfCareAbleToDressSelfAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">c. Able to Feed Self</td>
                                <td class=" center"><input type="checkbox" id="capacityForSelfCareAbleToFeedSelfYesField" name="capacityForSelfCareAbleToFeedSelfField" value="1" /></td>
                                <td class=""><input type="checkbox" id="capacityForSelfCareAbleToFeedSelfNoField" name="capacityForSelfCareAbleToFeedSelfField" value="1" /></td>
                                <td class=" center"><input type="text" id="capacityForSelfCareAbleToFeedSelfExplainField" name="capacityForSelfCareAbleToFeedSelfExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">d. Able to Care for Own Toileting Needs</td>
                                <td class=" center"><input type="checkbox" id="capacityForSelfCareAbleToCareForOwnToiletingNeedsYesField" name="capacityForSelfCareAbleToCareForOwnToiletingNeedsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="capacityForSelfCareAbleToCareForOwnToiletingNeedsNoField" name="capacityForSelfCareAbleToCareForOwnToiletingNeedsField" value="1" /></td>
                                <td class=" center"><input type="text" id="capacityForSelfCareAbleToCareForOwnToiletingNeedsExplainField" name="capacityForSelfCareAbleToCareForOwnToiletingNeedsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">e. Able to Manage Own Cash Resources</td>
                                <td class=" center"><input type="checkbox" id="capacityForSelfCareAbleToManageOwnCashResourcesYesField" name="capacityForSelfCareAbleToManageOwnCashResourcesField" value="1" /></td>
                                <td class=""><input type="checkbox" id="capacityForSelfCareAbleToManageOwnCashResourcesNoField" name="capacityForSelfCareAbleToManageOwnCashResourcesField" value="1" /></td>
                                <td class=" center"><input type="text" id="capacityForSelfCareAbleToManageOwnCashResourcesExplainField" name="capacityForSelfCareAbleToManageOwnCashResourcesExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>MEDICATION MANAGEMENT</legend>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:5%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td class="" style="width:238px"></td>
                                <td class=" center"><strong>YES</strong></td>
                                <td class=" center"><strong>NO</strong></td>
                                <td class=" center"><strong>EXPLAIN</strong></td>
                            </tr>
                            <tr>
                                <td class="">a. Able to Administer Own Prescription Medications</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAdministerOwnPrescriptionMedicationsYesField" name="medicationManagementAdministerOwnPrescriptionMedicationsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAdministerOwnPrescriptionMedicationsNoField" name="medicationManagementAdministerOwnPrescriptionMedicationsField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAdministerOwnPrescriptionMedicationsExplainField" name="medicationManagementAdministerOwnPrescriptionMedicationsAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">b. Able to Administer Own Injections</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAdministerOwnInjectionsYesField" name="medicationManagementAdministerOwnInjectionsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAdministerOwnInjectionsNoField" name="medicationManagementAdministerOwnInjectionsField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAdministerOwnInjectionsExplainField" name="medicationManagementAdministerOwnInjectionsAssistiveDeviceField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">c. Able to Perform Own Glucose Testing</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAbleToPerformOwnGlucoseTestingYesField" name="medicationManagementAbleToPerformOwnGlucoseTestingField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAbleToPerformOwnGlucoseTestingNoField" name="medicationManagementAbleToPerformOwnGlucoseTestingField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAbleToPerformOwnGlucoseTestingExplainField" name="medicationManagementAbleToPerformOwnGlucoseTestingExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">d. Able to Administer Own PRN Medications</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAbleToAdministerOwnPRNMedicationsYesField" name="medicationManagementAbleToAdministerOwnPRNMedicationsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAbleToAdministerOwnPRNMedicationsNoField" name="medicationManagementAbleToAdministerOwnPRNMedicationsField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAbleToAdministerOwnPRNMedicationsExplainField" name="medicationManagementAbleToAdministerOwnPRNMedicationsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">e. Able to Administer Own Oxygen</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAbleToAdministerOwnOxygenYesField" name="medicationManagementAbleToAdministerOwnOxygenField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAbleToAdministerOwnOxygenNoField" name="medicationManagementAbleToAdministerOwnOxygenField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAbleToAdministerOwnOxygenExplainField" name="medicationManagementAbleToAdministerOwnOxygenExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                            <tr>
                                <td class="">f. Able to Store Own Medications</td>
                                <td class=" center"><input type="checkbox" id="medicationManagementAbleToStoreOwnMedicationsYesField" name="medicationManagementAbleToStoreOwnMedicationsField" value="1" /></td>
                                <td class=""><input type="checkbox" id="medicationManagementAbleToStoreOwnMedicationsNoField" name="medicationManagementAbleToStoreOwnMedicationsField" value="1" /></td>
                                <td class=" center"><input type="text" id="medicationManagementAbleToStoreOwnMedicationsExplainField" name="medicationManagementAbleToStoreOwnMedicationsExplainField" class="w250px form-control m-input form-control m-input" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>AMBULATORY STATUS</legend>
                        <br /><br />
                        <label  class="chckbox">This person is considered:</label>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <tr>
                                <td>
                                    <label class="chckbox"><input type="checkbox" id="ambulatoryStatusAmbulatoryField" name="ambulatoryStatus" value="1" />Ambulatory</label>
                                </td>
                                <td>
                                    <label class="chckbox" style="padding-left:20px;"><input type="checkbox" id="ambulatoryStatusNonAmbulatoryField" name="ambulatoryStatus" value="1" />Non Ambulatory</label>
                                </td>
                                <td>
                                    <label class="chckbox" style="padding-left:20px;"><input type="checkbox" id="ambulatoryStatusBedriddenField" name="ambulatoryStatus" value="1" />Bedridden</label>
                                </td>
                            </tr>
                            
                        </table>

                        <div style="padding-top:15px;margin-left:20px;"><span class="smalltext"><strong>Nonambulatory</strong>: Means persons unable to leave a building unassisted under emergency conditions. It includes any person who is unable, or likely to be unable, to physically and mentally respond to a sensory signal approved by the State Fire Marshal, or to an oral instruction relating to fire danger, and persons who depend upon mechanical aids such as crutches, walkers, and wheelchairs. (Health & Safety Code Section 13131)</span></div>
                        <div style="padding:15px 0 15px 0;margin-left:20px;"><span class="smalltext"><strong>Bedridden</strong>: Means either requiring assistance in turning and repositioning in bed, or being unable to independently transfer to and from bed, except in facilities with appropriate and sufficient care staff, mechanical devices if necessary, and safety precautions. No resident shall be admitted or retained in a residential care facility for the elderly if the resident is bedridden, other than for a temporary illness or for recovery from surgery. (Health & Safety Code Section 1569.72)</span></div>
                    
                        <br /><br />
                        <label class="chckbox">If resident is nonambulatory, this status is based upon:</label>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <tr>
                                <td>
                                    <label class="chckbox" style="font-size:11px;"><input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="nonAmbulatoryPhysicalConditionField" name="nonAmbulatoryConditionField" value="1" /> Physical Condition</label>
                                </td>
                                <td>
                                    <label class="chckbox" style="font-size:11px;padding-left:15px"><input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="nonAmbulatoryMentalConditionField" name="nonAmbulatoryConditionField" value="1" /> Mental Condition</label>
                                </td>
                                <td>
                                    <label class="chckbox" style="font-size:11px;padding-left:15px"><input style="padding: 0 !important;margin: 0 !important;vertical-align: -2px;" type="checkbox" id="nonAmbulatoryBothPhysicalAndMentalConditionField" name="nonAmbulatoryConditionField" value="1" /> Both Physical and Mental Condition</label>
                                </td>
                            </tr>

                        </table>

                        <br /><br />
                        <label  class="chckbox">If a resident is bedridden, check one or more of the following and describe the nature of the illness, surgery or other cause:</label>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <tr>
                                <td>
                                    <label class="chckbox" style="display:block">
                                        <input type="checkbox" id="bedriddenIllnessYesField" name="bedriddenIllnessYesField" value="1" /> Illness: <input type="text" id="bedriddenIllnessDescriptionField" name="bedriddenIllnessDescriptionField" class="form-control m-input form-control m-input"/>
                                    </label>
                                </td>
                                <td>
                                    <label class="chckbox" style="display:block">
                                        <input type="checkbox" id="bedriddenRecoveryFromSurgeryYesField" name="bedriddenRecoveryFromSurgeryYesField" value="1" /> Recovery from Surgery: <input type="text" id="bedriddenRecoveryFromSurgeryDescriptionField" name="bedriddenRecoveryFromSurgeryDescriptionField" class="form-control m-input form-control m-input" />
                                    </label>
                                </td>
                                <td>
                                    <label  class="chckbox" style="display:block">
                                        <input type="checkbox" id="bedriddenOtherYesField" name="bedriddenOtherYesField" value="1" /> Other: <input type="text" id="bedriddenOtherDescriptionField" name="bedriddenOtherDescriptionField" class="form-control m-input form-control m-input"/>
                                    </label>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <span class="smalltext"><strong>NOTE: An illness or recovery is considered temporary if it will last 14 days or less.</strong></span>
                        </div>

                        <br /><br />
                        <label class="chckbox">If a resident is bedridden, how long is bedridden status expected to persist?</label>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:65%;"></colgroup>
                            <tr>
                                <td>
                                    <label>
                                      Number of days
                                    </label>
                                </td>
                                <td>
                                   
                                    <input type="text" class="w50px  form-control m-input form-control m-input" id="bedriddenNoOfDaysField" name="bedriddenNoOfDaysField" />
                                   
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Estimated date illness or recovery is expected to end or when resident will no longer be confined to bed
                                    </label>
                                </td>
                                <td>
                                    <input type="text" class="w100px  form-control m-input form-control m-input" id="bedriddenEstimatedDateIllnessField" name="bedriddenEstimatedDateIllnessField" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If illness or recovery is permanent, please explain:</label>
                                </td>
                                <td>
                                    <input type="text" class="w300px  form-control m-input form-control m-input" id="bedriddeIllnessPermanentExplainField" name="bedriddeIllnessPermanentExplainField" />
                                </td>
                            </tr>
                        </table>

                        <br /><br />
                        <label class="chckbox">Is resident receiving hospice care?</label>
                        <table style="width:100%; font-size: 12px;">
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:35%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <tr>
                                <td>
                                    <label class="chckbox"><input type="checkbox" id="hospiceCareNoField" name="hospiceCareField" value="1" /> No</label>
                                </td>
                                <td>
                                    <label class="chckbox"><input type="checkbox" id="hospiceCareYesField" name="hospiceCareField" value="1" /> Yes</label>
                                </td>
                                <td>
                                    If yes, specify the terminal illness: <input type="text" id="hospiceCareTerminialIllnessDescriptionField" name="hospiceCareTerminialIllnessDescriptionField" class="form-control m-input form-control m-input" />
                                </td>
                            </tr>
                        </table>

                     </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>PHYSICAL HEALTH STATUS</legend>
                        <br /><br />
                        <label class="chckbox"><input type="checkbox" id="physicalHealthStatusGoodField" name="physicalHealthStatus" value="1" /> Good</label>
                        <label class="chckbox" style="padding-left:20px;"><input type="checkbox" id="physicalHealthStatusFairField" name="physicalHealthStatus" value="1" /> Fair</label>
                        <label  class="chckbox" style="padding-left:20px;"><input type="checkbox" id="physicalHealthStatusPoorField" name="physicalHealthStatus" value="1" /> Poor</label>

                    </fieldset>
                </td>
            </tr>


            <tr>
                <td>
                    <fieldset>
                        <legend>Comments</legend>
                        <textarea id="commentsField" name="commentsField" style="height:125px" class="w500px  form-control m-input form-control m-input"></textarea>
                    </fieldset>
                </td>
            </tr>


            <tr>
                <td>
                    <fieldset>
                        <legend>Physician Information</legend>
                        <table style="width:100%">
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>
                            <colgroup style="width:20%;"></colgroup>
                            <colgroup style="width:30%;"></colgroup>

                            <tr>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <input type="text" id="physicianNameField" name="physicianNameField" class="w250px  form-control m-input form-control m-input" />
                                </td>

                                <td>
                                    <label>ADDRESS</label>
                                </td>
                                <td>
                                    <input type="text" id="physicianAddressField" name="physicianAddressField" class="w250px  form-control m-input form-control m-input" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>TELEPHONE</label>
                                </td>
                                <td>
                                    <input type="text" id="physicianPhoneField" name="physicianPhoneField" class="form-control m-input form-control m-input"/>
                                </td>
                                <td>
                                    <label>LENGTH OF TIME RESIDENT HAS BEEN YOUR PATIENT</label>
                                </td>
                                <td>
                                    <input type="text" id="physicianLengthOfTimeBeenPatientField" name="physicianLengthOfTimeBeenPatientField" class="form-control m-input form-control m-input"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            @*<tr>
                                <td>
                                    <label>
                                        PHYSICIAN'S SIGNATURE
                                    </label>
                                </td>
                                <td>
                                    <input type="text" id="physicianSignatureField" name="physicianSignatureField" class="w200px" />
                                </td>
                                <td>
                                    <label>
                                        DATE
                                    </label>
                                </td>
                                <td>
                                    <input type="text" id="PhysicianSignatureDate" name="PhysicianSignatureDate" class="w200px" />
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                </td>
            </tr>


</table>

                        <!-- </ul>-->
</div>
    