﻿

@{ Layout = null; }
<script type="text/javascript">
    $(document).ready(function () {
        $('#authTimeout').keypress(function(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]/;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }).focus(function(){
            this.select();
        });
    });
 </script>
<style type="text/css">
    .ui-datepicker {
        z-index: 9999 !important; /*datepicker not shown behind dialog important*/
    }

    #content-tz label {float:none;}
    #content-tz div {overflow:hidden !important;padding:4px 4px;}
    #content-tz textarea {width:99%;outline:none;resize:none;}
    #content-tz input[type=text],#content-tz textarea {border:none;border-bottom:1px solid #a4a4a4 !important;}
    #content-tz p.note{font-size:12px;}
    #content-tz span.subheader {font-size:12px;font-weight:bold;}
    #content-tz table{width:100%;}
    .container {border:solid 1px #a4a4a4;margin-top:1px;overflow:hidden;}
    .smalltext {font-size:11px;}
    .verysmalltext{font-size:10px;}
    .center { text-align:center;}
    
</style>
<div id="preferenceContainer">
    <div id="preferenceContent">
        <div id="PreferenceForm" class="form" style="overflow:hidden !important;">
            <div id="Preference" style="padding:10px;">
                <div id="content-tz">
                    <section>
                        <div class="container">
                            <span class="smalltext"><strong>Timezone</strong> (Select timezone for this agency)</span>
                            <div>
                                <select id="ddlTz" name="Timezone" class="w300px required">

                                    @foreach (var r in Model.Timezone.Timezones)
                                    {
                        <option value="@r.Id" @(Model.Timezone.SelectedValue == r.Id ? " selected" : "")>@r.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="container">
                            <span class="smalltext"><strong>Authentication Timeout</strong> (Agency settings for timeout expiration when user is idle or inactive)</span>
                            <div>
                                <input id="authTimeout" style="border: 1px solid #aaa;width: 60px;" type="text" size="4" value="@(Model.AuthTimeout.ToString())" pattern="\d*" /><span style="font-style:italic">(In Minutes)</span>
                            </div>
                        </div>

                        <!-- transfer code here for revise of issue of address-->

                        @if (@ViewBag.isHomeCare == "False")
                        {
                            <div class="container">
                                <span class="smalltext"><strong>Use Prior Admission Address </strong></span>
                                <div>

                                    <input id="Checkaddress" name="Checkaddress" style="border: 1px solid #aaa;width: 60px;" type="checkbox" value="@(Model.Useaddress.ToString())" /><span style="font-style:italic">(Untick the checkbox to use Room Number)</span>

                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>