﻿
@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ChecklistForm").tabs();
        var checkboxes = $("#ChecklistForm").find('input:checkbox').each( function () {
            var $box = $(this);
            $box.prop("checked", false);
        });
    });
</script>
<style>
    div.ui-jqgrid div {
        width: 200px;word-wrap: break-word;overflow: hidden !important;
    }
    div.ui-jqgrid label { float:none !important;white-space:normal!important;}
    div.ui-jqgrid table td { vertical-align:top;}
</style>
<div id="checklistContainer">
    <div id="checklistContent">
        <div id="ChecklistForm" class="form" style="overflow:hidden !important;">
            <div id="cltabs" class="tabs">
                <ul style="width: 94%">
                    <li><a href="#social_emotional">Socialization & Emotion</a></li>
                    <li><a href="#physical">Physical</a></li>
                    <li><a href="#mental">Mental</a></li>
                    <li><a href="#func_skills">Functioning Skills</a></li>
                </ul>
            </div>
            <div id="checklistTabsContent" class="tabPanels" style="overflow:hidden !important;">
                <div id="social_emotional" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="padding:10px;overflow:hidden !important">
                   <table class="ui-jqgrid-htable ui-common-table">
                       <thead>
                           <tr class="jqgrow ui-row-ltr ui-widget-content">
                               <th class="ui-th-column ui-th-ltr ui-state-default">SOCIALIZATION</th>
                               <th class="ui-th-column ui-th-ltr ui-state-default">OBJECTIVE/PLAN</th>
                               <th class="ui-th-column ui-th-ltr ui-state-default">TIME FRAME</th>
                               <th class="ui-th-column ui-th-ltr ui-state-default">RESPONSIBLE PERSON(S)</th>
                               <th class="ui-th-column ui-th-ltr ui-state-default">EVALUATION METHOD</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr class="jqgrow ui-row-ltr ui-widget-content">
                               <td style="width:200px"><label><input type="checkbox" />Resident is a bit shy and always observed to isolate self if permitted. Resident prefers to be alone in the room and watch TV. </label></td>
                               <td style="width:250px"><label><input type="checkbox" />Resident will be encourage to actively participate in all activities of the community inlcuding special functions and events as frequently as possible. </label></td>
                               <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                               <td><label><input type="checkbox" />Administrator and Activity Director including Residents Aide </label></td>
                               <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary. </label></td>
                           </tr>
                           <tr class="jqgrow ui-row-ltr ui-widget-content">
                               <td style="width:200px"><label><input type="checkbox" />Resident is selectively friendly and very quiet and will only interact with peers and staff when prompted. </label></td>
                               <td style="width:250px"><label><input type="checkbox" />Resident will be  introduced to peers with same interest and capabilities to promote self confidence and enjoy more the company of others. </label></td>
                               <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                               <td><label><input type="checkbox" />Administrator and Activity Director including Residents Aide </label></td>
                               <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary. </label></td>
                           </tr>
                       </tbody>
                   </table>
                    <table class="ui-jqgrid-htable ui-common-table" style="margin-top:10px">
                        <thead>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <th class="ui-th-column ui-th-ltr ui-state-default">EMOTION</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">OBJECTIVE/PLAN</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">TIME FRAME</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">RESPONSIBLE PERSON(S)</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">EVALUATION METHOD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td style="width:200px"><label><input type="checkbox" />Resident is still in the process of adjusting to its new environment and observed to be at times fearful to be around people. Resident is shy and will not initiate conversation unless prompted.  </label></td>
                                <td style="width:250px"><label><input type="checkbox" />All staff to initiate conversation with resident at least a few times a day. Introduce resident to other peers and get the resident involed in all scheduled activities and gatherings whenever possible. </label></td>
                                <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator and Activity Director including Residents Aide </label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="physical" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="padding:10px;overflow:hidden !important">
                    <table class="ui-jqgrid-htable ui-common-table">
                        <thead>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <th class="ui-th-column ui-th-ltr ui-state-default">PHYSICAL HEALTH</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">OBJECTIVE/PLAN</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">TIME FRAME</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">RESPONSIBLE PERSON(S)</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">EVALUATION METHOD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td style="width:200px"><label><input type="checkbox" />Resident observed to have generalized Weakness that is contributory to residents having poor balance and unsteady gait resulting to inability to perform the activities of daily living including doing personal laundry, bathing,  grooming and daily hygiene.</label></td>
                                <td style="width:250px"><label><input type="checkbox" />Twice a week schedule will be develop in assisting resident taking a shower including assistance in grooming and dressing. Assistance in personal laundry service will also be provided on a weekly basis. Escort to and from the dining room will be made available as needed. </label></td>
                                <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator and Residents Aide </label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="mental" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="padding:10px;overflow:hidden !important">
                    <table class="ui-jqgrid-htable ui-common-table">
                        <thead>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <th class="ui-th-column ui-th-ltr ui-state-default">MENTAL</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">OBJECTIVE/PLAN</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">TIME FRAME</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">RESPONSIBLE PERSON(S)</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">EVALUATION METHOD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td  style="width:200px"><label><input type="checkbox" />Resident has a short term memory and observed to be forgetful and even confused at times resulting to inability to manage own medication regimen. </label></td>
                                <td  style="width:250px"><label><input type="checkbox" />Assistance in medication management will be provided to assure compliance of medication regimen ordered by physician.</label></td>
                                <td  style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator & Medication Assistant </label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td  style="width:200px"><label><input type="checkbox" />Resident suffers from depression and loneliness, needs to be involve in scheduled activities offered by the Community.</label></td>
                                <td  style="width:250px"><label><input type="checkbox" />Resident will be  reminded of daily scheduled activities and encourage resident to participate in order to help them to remain happy, healthy and active. </label></td>
                                <td  style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator and Activity Director including Residents Aide</label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="func_skills" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="padding:10px;overflow:hidden !important">
                    <table class="ui-jqgrid-htable ui-common-table">
                        <thead>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <th class="ui-th-column ui-th-ltr ui-state-default">FUNCTIONING SKILLS</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">OBJECTIVE/PLAN</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">TIME FRAME</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">RESPONSIBLE PERSON(S)</th>
                                <th class="ui-th-column ui-th-ltr ui-state-default">EVALUATION METHOD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td  style="width:200px"><label><input type="checkbox" />Residents current medical condition limit its ability to perform some of its abilty to perform instrumental activities of daily living.</label></td>
                                <td style="width:250px"><label><input type="checkbox" />All staff to provide assistance and reminders of all scheduled activities inlcuding Beauty Salon hours and scheduled trips to market/stores as needed.</label></td>
                                <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator, Activity director, including Residents Aide</label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td style="width:200px"><label><input type="checkbox" />Residents current physical condition limits its ability to transfer from in and out of chair/bed including difficulty to wheel self to and from diningroom. </label></td>
                                <td style="width:250px"><label><input type="checkbox" />All staff to provided support and assistance whenever needed including occasional meal tray service if requested.</label></td>
                                <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Administrator, Activity Director, Kitchen Staff, Housekeeping including Residents Aide</label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                            <tr class="jqgrow ui-row-ltr ui-widget-content">
                                <td style="width:200px"><label><input type="checkbox" />Residents current mental condition limits its ability to handle cash and personal finance.</label></td>
                                <td style="width:250px"><label><input type="checkbox" />Family member will continue to handle residents cash and meet its financial obligations and the facility will not be involved in anyway.</label></td>
                                <td style="width:70px"><label><input type="checkbox" />On going </label></td>
                                <td><label><input type="checkbox" />Resident and its family member</label></td>
                                <td><label><input type="checkbox" />Continued monitoring , documenting effectiveness of the plan will be done so all parties concerned will be informed of the ongoing progress. Necessary adjustment, planning and improvement in the plan will be implemented as deemed necessary.</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>