﻿<style>
    .underline-input {
        border: none;
        border-bottom: 1px solid grey; /* Adjust thickness & color */
        outline: none; /* Removes focus highlight */
        background: transparent; /* Optional: Makes the background transparent */
        width: 100%; /* Adjust width as needed */
        padding: 5px; /* Optional: Adds space */       
    }
        .underline-input:focus {
            border-bottom: 1px solid grey; /* Keep it grey */
        }

        /* Optional: Add focus effect */
       
</style>
<center>
    <h3>REQUEST FOR LIVE SCAN SERVICE</h3>
    <br />
    <h4>COMMUNITY CARE LICENSING</h4>
</center>
<br />

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label"><b>1. ORI:</b></label>
    <div class="col-lg-3">
        <input type="text" id="RLSori" name="RLSori" class=" form-control m-input " />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label"><b>2. Working Title: (Check one)</b></label>
</div>

<div class="m-form__group form-group">
    <div class="col-lg-4">
        <div class="m-checkbox-inline">
            <label class="m-checkbox">
                <input type="radio" class="chk" id="RLSadultresident" name="RLS_workingtitle" value="1" />Adult Resident other than Client
                <span></span>
            </label>
            @if (ViewBag.isHomeCare == "True")
            {
                <label class="m-checkbox">
                    <input type="radio" class="chk" id="RLSemployee" name="RLS_workingtitle" value="1" /> Caregiver
                    <span></span>
                </label>
            }
            else
            {
                <label class="m-checkbox">
                    <input type="radio" class="chk" id="RLSemployee" name="RLS_workingtitle" value="1" /> Employee
                    <span></span>
                </label>
            }

            <label class="m-checkbox">
                <input type="radio" class="chk" id="RLSlicensecertificateapplicant" name="RLS_workingtitle" value="1" /> License Certificate Applicant
                <span></span>
            </label>
            <label class="m-checkbox">
                <input type="radio" class="chk" id="RLSvolunteer" name="RLS_workingtitle" value="1" />Volunteer
                <span></span>
            </label>
        </div>
    </div>
    <script>
        $('input.chk').on('change', function () {
            $('input.chk').not(this).prop('checked', false);
        });
    </script>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-6  col-form-label"><b>3. Authorized Applicant Type - Enter from list on Page 2, "DOJ Abbreviated CCLD Facility Type."</b></label>
    <div class="col-lg-2">
        <input type="text" id="RLSauthorizedapptype" name="RLSauthorizedapptype" class=" form-control m-input " />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label"><b>4. &nbsp; Agency Address Set Contributing Agency:</b></label>
</div>

<div class="form-group m-form__group row">
    <div class="col-lg-12">
        <table>
            <!--<tr>
                <td style="float:right">
                    Agency authorized to receive criminal history information
                </td>
                <td>-->
                    @*<input type="text" id="RLSauthorized" name="RLSauthorized" class=" form-control m-input " />*@
                    <!--<input type="text" id="RLSauthorized" name="RLSauthorized" class="form-control m-input underline-input" />

                </td>
            </tr>-->
            <tr>
                <td>Agency authorized to receive criminal history information:</td>
                <td>
                    <input type="text" id="RLSauthorized" name="RLSauthorized" class="form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Mail Code
                    <span style="font-style:italic">(five-digit code assigned by DOJ)</span>
                </td>
                <td>
                    <input type="text" id="RLSmailcode" name="RLSmailcode" maxlength="5" class="numonly  form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Street No. &nbsp;
                </td>
                <td>
                    <input type="text" id="RLSstreetnumber" name="RLSstreetnumber" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Street or PO Box
                </td>
                <td>
                    <input type="text" id="RLSpobox" name="RLSpobox" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Contact Name <span style="font-style:italic">(Mandatory for all school submissions)</span>
                </td>
                <td>
                    <input type="text" id="RLScontactname" name="RLScontactname" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    City
                </td>
                <td>
                    <input type="text" id="RLScity" name="RLScity" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    State
                </td>
                <td>
                    <input type="text" id="RLSstate" name="RLSstate" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Zip Code
                </td>
                <td>
                    <input type="text" id="RLSzipcode" name="RLSzipcode" class=" form-control m-input underline-input" />
                </td>
            </tr>
            <tr>
                @*<td style="float:right">*@
                <td>
                    Contact Telephone No.
                </td>
                <td>
                    <input type="text" id="RLStelnumber" name="RLStelnumber" class="numonly  form-control m-input underline-input" />
                </td>
            </tr>
        </table>
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label"><b>5. Applicant Information</b></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label">Name of Applicant: <span style="font-style:italic">(Please print)</span></label>
    <label class="col-lg-1 col-form-label">LAST NAME</label>
    <div class="col-lg-2">
        <input type="text" id="RLSlastname" name="RLSlastname" class="form-control m-input"/>
    </div>
    <label class="col-lg-1 col-form-label">FIRST NAME</label>
    <div class="col-lg-2">
        <input type="text" id="RLSfirstname" name="RLSfirstname" class="form-control m-input"/>
    </div>
    <label class="col-lg-1 col-form-label">MI</label>
    <div class="col-lg-1">
        <input type="text" id="RLSmiddleinitial" name="RLSmiddleinitial" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label">AKA's:</label>
    <label class="col-lg-1 col-form-label">LAST NAME</label>
    <div class="col-lg-2">
        <input type="text" id="RLSakalast" name="RLSakalast" class="form-control m-input" />
    </div>
    <label class="col-lg-1 col-form-label">FIRST NAME</label>
    <div class="col-lg-2">
        <input type="text" id="RLSakafirst" name="RLSakafirst" class="form-control m-input" />
    </div>
</div>
<br /><br />

<div class="form-group m-form__group row">
    <label class="col-lg-1 col-form-label">CDL No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLScdlnumber" name="RLScdlnumber" class="numonly form-control m-input" />
    </div>

    <label class="col-lg-1 col-form-label">DOB</label>
    <div class="col-lg-2">
        <input type="text" id="RLSdob" name="RLSdob" class="datepicker form-control m-input" />
    </div>

    <label class="col-lg-1 col-form-label">SEX</label>
    <div class="col-lg-2">
        <div class="m-checkbox-inline">
            <label class="m-checkbox chckbox">
                <input type="checkbox" class="chk_g" id="RLSmale" name="RLSmale" value="1" />MALE
                <span></span>
            </label>
            <label class="m-checkbox chckbox">
                <input type="checkbox" class="chk_g" id="RLSfemale" name="RLSfemale" value="1" />FEMALE
                <span></span>
            </label>
        </div>
    </div>
    <script>
        $('input.chk_g').on('change', function () {
            $('input.chk_g').not(this).prop('checked', false);
        });
    </script>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">Height:</label>
    <div class="col-lg-2">
        <input type="text" id="RLSheight" name="RLSheight" class="form-control m-input"/>
    </div>

    <label class="col-lg-1  col-form-label">Weight:</label>
    <div class="col-lg-2">
        <input type="text" id="RLSweight" name="RLSweight"class="form-control m-input" />
    </div>

    <label class="col-lg-1  col-form-label">Misc. No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLSmiscno" name="RLSmiscno" placeholder="BIL-" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">EYE Color:</label>
    <div class="col-lg-2">
        <input type="text" id="RLSeyecolor" name="RLSeyecolor" class="form-control m-input"/>
    </div>

    <label class="col-lg-1  col-form-label">HAIR Color:
    </label>
    <div class="col-lg-2">
        <input type="text" id="RLShaircolor" name="RLShaircolor" class="form-control m-input"/>
    </div>

    <label class="col-lg-1  col-form-label">Misc. No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLSmiscnoalien" name="RLSmiscnoalien" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-1  col-form-label">POB:</label>
    <div class="col-lg-2">
        <input type="text" id="RLSpob" name="RLSpob" class="form-control m-input"/>
    </div>

    <label class="col-lg-1  col-form-label">SOC:</label>
    <div class="col-lg-2">
        <input type="text" id="RLSsoc" name="RLSsoc" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3 col-form-label"><strong>Home Address</strong></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">STREET OR PO BOX</label>
    <div class="col-lg-3">
        <input type="text" id="RLSstreet" name="RLSstreet" class="form-control m-input" />
    </div>

    <label class="col-lg-2 col-form-label">City, State,and Zip Code</label>
    <div class="col-lg-3">
        <input type="text" id="RLScitystatezip" name="RLScitystatezip"  class="form-control m-input" />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-2  col-form-label"><b>6. Facility Number</b></label>
    <div class="col-lg-2">
        <input type="text" id="RLSfacilitynumber" name="RLSfacilitynumber"  class="form-control m-input"  />
    </div>

    <label class="col-lg-2  col-form-label">Level of Service</label>
    <div class="col-lg-3">
        <div class="m-checkbox-inline">
            <label class="m-checkbox">
                <input type="checkbox" class="los" id="RLSdoj" name="RLSdoj" />DOJ
                <span></span>
            </label>
            <label class="m-checkbox">
                <input type="checkbox" class="los" id="RLSfbi" name="RLSfbi" />FBI
                <span></span>
            </label>
        </div>
        <script> //added script bcoz radio won't reflect on this part : 3-24-2022 : Cheche
            $('input.los').on('change', function () {
                $('input.los').not(this).prop('checked', false);
            });
        </script>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-4 col-form-label">If resubmission for fingerprint quality (select R2), list Original ATI No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLSatinumber" name="RLSatinumber"  class="form-control m-input" />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-12 col-form-label"><b>7. Employer: <span style="font-style:italic;">(Additional response for Department of Social Services, DMV/CHP licensing, and Department of Corporations submissions only)</span></b></label>
</div>


<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Employer Name</label>
    <div class="col-lg-5">
        <input type="text" id="RLSemployername" name="RLSemployername" class=" form-control m-input " />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Mail Code <span style="font-style:italic">(five digit code assigned by DOJ)</span></label>
    <div class="col-lg-2">
        <input type="text" id="RLSemployermailcode" name="RLSemployermailcode" class="numonly form-control m-input" maxlength="5" />
    </div>
    <label class="col-lg-1  col-form-label">Street No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLSempstreet" name="RLSempstreet" class=" form-control m-input " />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Street or PO Box</label>
    <div class="col-lg-2">
        <input type="text" id="RLSstreetpobox" name="RLSstreetpobox" class=" form-control m-input " />
    </div>
    <label class="col-lg-1  col-form-label">City</label>
    <div class="col-lg-2">
        <input type="text" id="RLScity2" name="RLScity2" class=" form-control m-input " />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">State</label>
    <div class="col-lg-2">
        <input type="text" id="RLSstate2" name="RLSstate2" class=" form-control m-input " />
    </div>
    <label class="col-lg-1  col-form-label">Zip Code</label>
    <div class="col-lg-2">
        <input type="text" id="RLSzip" name="RLSzip" class=" form-control m-input "  />
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="col-lg-3  col-form-label">Agency Telephone No. <span style="font-style:italic">(Optional)</span></label>
    <div class="col-lg-2">
        <input type="text" id="RLSagencytelno" name="RLSagencytelno" class="numonly form-control m-input" />
    </div>
</div>

<br /><br />
<div class="form-group m-form__group row">
    <label class="col-lg-12 col-form-label"><b>8. Live Scan Transaction Completed by:</b></label>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">Name of Operator</label>
    <div class="col-lg-2">
        <input type="text" id="RLScompletedby" name="RLScompletedby" class="form-control m-input"/>
    </div>

    <label class="col-lg-2 col-form-label">Date</label>
    <div class="col-lg-2">
        <input type="text" id="RLScompleteddate" name="RLScompleteddate" class="datepicker form-control m-input" />
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">Transmitting Agency</label>
    <div class="col-lg-2">
        <input type="text" id="RLStransmittingagency" name="RLStransmittingagency" class="form-control m-input"/>
    </div>

    <label class="col-lg-2 col-form-label">LSID #</label>
    <div class="col-lg-2">
        <input type="text" id="RLSlsid" name="RLSlsid" class="form-control m-input"/>
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">ATI No.</label>
    <div class="col-lg-2">
        <input type="text" id="RLSatino" name="RLSatino" class="form-control m-input"/>
    </div>

    <label class="col-lg-2 col-form-label">Amount Collected/Billed #</label>
    <div class="col-lg-2">
        <input type="text" id="RLSamountcollected" name="RLSamountcollected" class="numonly form-control m-input" />
    </div>
</div>

