﻿<style type="text/css">
    .forgot {
        width: 500px;
        border: 1px #eee solid;
        border-radius: 15px 15px;
        box-shadow: #ccc 2px 2px;
        padding: 20px 20px;
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-bottom: 40px;
    }

        .forgot h2 {
            font-size: 20px;
            padding-top: 20px;
        }

        .forgot p {
            font-size: 12px;
            padding-top: 10px;
        }

        .forgot hr {
            border: 1px solid #339bdc;
        }

        .forgot a {
            color: #0164d0;
            text-decoration: none;
        }
</style>
<div class="forgot">
    <h2>Datasoft Logic - Assisted Living Centre</h2>
    <hr />
    <div>
        <p>Greetings <%=TP_Name%>!</p>
        <p style="padding-top: 20px;">You will be receiving notifications when services are rendered to <%=TP_FName%> <%=TP_LName%>.<br /><br />
        You have to log in to your own account to be able to view the rendered services. 
        You will be able to input your comments to each services rendered through the link that will be sent to you.   </p>
    </div> 
</div>