﻿<center>
    <h3>JOB DESCRIPTION ACKNOWLEDGEMENT</h3>
</center>
<br />
<table class="form-fieldset" style="width:98%; font-size:small;">
    <tr>
        <td>
            <fieldset>
                <legend></legend>
                <table style="width:90%;margin:auto" cellspacing="2">
                    <tr>
                        <td>
                            <br />
                            I have received, reveiwed and fully understand the job description for &nbsp; &nbsp;<input type="text" id="JDtitle" name="JDtitle" class="w300px" disabled/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            I am expected and take full resposibility for the satisfactory execution of the essential functions and duties described therein, and I certify that I do not have any limitations or medical condition that would prevent me from doing so.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            Furthermore, I acknowledge that this job description is a guideline and does not entail all duties expected. From time to time, I understand I may be asked to perform duties and handle responsibilities that are not specifically addressed in my job     description.
                        </td>
                    </tr>
                    <tr>
                        @if (ViewBag.isHomeCare == "True")
                        {
                            <td colspan="2">
                                <br />
                                <br />
                                Caregiver Printed Name&nbsp; <input type="text" id="JDAemp_name" name="JDAemp_name" class="w300px" disabled />
                            </td>
                        }
                        else
                        {
                            <td colspan="2">
                                <br />
                                <br />
                                Employee Printed Name&nbsp; <input type="text" id="JDAemp_name" name="JDAemp_name" class="w300px" disabled/>
                            </td>
                        }

                    </tr>
                    
                </table>
            </fieldset>
        </td>
    </tr>
</table>
