﻿<table class="form-fieldset" style="width:100%">
    @*<tr>
        <td>
            <header>
                <center><span style="font-size: 16px;"><strong><br/><br/>TELECOMMUNICATIONS DEVICE NOTIFICATION</strong></span></center>
            </header>
        </td>
    </tr>*@
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" align="center" style="width:60%; margin:auto;">
                <tr>
                    <td>
                        <input type="checkbox" id="AdultResidentialFacility" /> <span>ADULT RESIDENTIAL FACILITY</span>
                    </td>
                    <td>
                        <input type="checkbox" id="FosterFamilyHome" /> <span>FOSTER FAMILY HOME</span>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="AdultDaySupportCenter" />
                        <span style="text-align:justify;">
                            ADULT DAY SUPPORT CENTER
                        </span>
                    </td>
                    <td>
                        <input type="checkbox" id="GroupHome" />
                        <span style="text-align:justify;">
                            GROUP HOME
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="AdultDayCareFacility" />
                        <span style="text-align:justify;">
                            ADULT DAY CARE FACILITY
                        </span>
                    </td>
                    <td>
                        <input type="checkbox" id="SmallFamilyHome" />
                        <span style="text-align:justify;">
                            SMALL FAMILY HOME
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="RCFForChronicallyIll" />
                        <span style="text-align:justify;">
                            RESIDENTIAL CARE FACILITY FOR THE CHRONICALLY ILL
                        </span>
                    </td>
                    <td>
                        <input type="checkbox" id="RCFForElderly" />
                        <span style="text-align:justify;">
                            RESIDENTIAL CARE FACILITY FOR THE ELDERLY
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="SocialRehabilitationFacility" />
                        <span style="text-align:justify;">
                            SOCIAL REHABILITATION FACILITY
                        </span>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr><td><br /><br /></td></tr>
    <tr>
        <td>
            <table style="width:70%; margin:auto;">
             
                <tr>
                    <td style="width:63%;float:right;">
                        <span style="font-size:12px;">FACILITY NAME </span>
                    </td>
                    <td>
                        <input type="text" id="TDNfacilityName" size="55" value="The Residences at the Royal Bellingham" disabled class=" form-control m-input form-control m-input"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:12px;float:right;">FACILITY ADDRESS </span>
                        
                    </td>
                    <td>
                       <input type="text" id="TDNfacilityAddress" size="40" value="The Residences at the Royal Bellingham" class=" form-control m-input form-control m-input"/>
                    </td>
                </tr>

            </table>
        </td>
        
    </tr>
    
</table>


