﻿<style type="text/css">
    .forgot {
        width: 500px;
        border: 1px #eee solid;
        border-radius: 15px 15px;
        box-shadow: #ccc 2px 2px;
        padding: 20px 20px;
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-bottom: 40px;
    }

        .forgot h2 {
            font-size: 20px;
            padding-top: 20px;
        }

        .forgot p {
            font-size: 12px;
            padding-top: 10px;
        }

        .forgot hr {
            border: 1px solid #339bdc;
        }

        .forgot a {
            color: #0164d0;
            text-decoration: none;
        }
</style>
<div class="forgot">
    <h2>Datasoft Logic - Assisted Living Centre</h2>
    <hr />
    <div>
        <p>Hello, <%=TP_FName%> <%=TP_LName%>!</p>

    </div>
</div>