﻿@model Datasoft.AssistedLiving.Web.Models.LoginViewModel

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/assets/demo/demo7/base/style.bundle.css" rel="stylesheet" type="text/css" />
<script src="~/scripts/message/message.js"></script>

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>

<style>
    .show_message, .taskdtl {
        cursor: pointer;
    }

    .panel-body {
        overflow: auto;
    }

    .drpdwn {
        padding: 2px;
    }

    #admMessage {
        height: 50px;
        z-index: 0;
        background-color: #f2f3f8;
        border-radius: 25px;
    }

    #sendmessage{
        z-index: 1;
    }
    .send_btn {
        margin-top: -37px;
        float: right;
        margin-right: 51px;
    }

    .chat-panel {
        /*border-color: #ffffff;*/
        border: 1px solid #a7abad75 !important;
        
    }

   .chat-panel .panel-heading {
        border-color: #f2f3f8;
        border-bottom: 1px solid #f2f3f8 !important;
        font-weight: 400;
        font-size: 13px;
    }

    .comment_content {
        font-weight: 400;
        font-size: 13px;
        background-color: #e4e6eb;
        padding: 3px 8px 3px 8px;
        border-radius: 9px;
    }


    #tmsgPanel .panel-footer {
        padding: 5px 15px;
        border-top: 0px solid #ddd;
        background-color: #ffffff;
    }
    #mdiv{
        overflow-y:auto;
    }
    @@media (max-width:1024px) {
        #tmsgPanel {
            margin-top: 5px !important;
        }
        /*.form-control {
                font-size: 11px !important;
            }*/
        .panel-heading {
            padding: 2px 15px;
        }

        .tcontainer {
            padding: 5px 10px;
        }

        .m-content {
            padding: 5px 5px !important;
        }

        .t2 {
            top: -15px;
        }

        
        .panel-body {
            padding: 5px;
        }

        #ftr {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    }
</style>

<div style="overflow:auto; height:100%;">
    <div>
        <div class="col-md-2">

            <label id="dtlabel"><strong>Residents: </strong></label>
            <select id="resident_list_admin_side" name="resident_list_admin_side" class="form-control m-input drpdwn"></select>
        </div>
        <div class="col-md-2">

            <label><strong>Date: </strong></label>
            <select id="date_commented" name="date_commented" class="form-control m-input drpdwn"></select>
        </div>
        <div class="col-md-2">

            <label><strong>Task: </strong></label>
            <select id="task" name="task" class="form-control m-input drpdwn"></select>
        </div>
      
    </div>
    <div id="tmsgPanel" style="margin-top: 60px;">

        <div class="col-md-12 col-xl-6 col-lg-6 col-xs-12 col-sm-12">
            @*<h2>Messaf</h2>*@
            <div class="chat-panel panel "  >
                <div class="panel-heading">

                    <span>Task</span>

                </div>

                <!-- /.panel-heading -->
                <div class="tcontainer">
                   
                    <div class="col-md-12 panel-body " id="tdiv">
                        <table class="table table-condensed" id="task_tbl" style="display:none;">
                            <thead>
                                <tr>
                                    <th style="font-weight:400; font-size: 13px">
                                        Date
                                    </th>
                                    <th style="font-weight:400; font-size: 13px">
                                        Task Description
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="taskdetaillist"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12  col-xl-6 col-lg-6 col-xs-12 col-sm-12 t2">
            @*<h2>Messaf</h2>*@
            <div class=" chat-panel panel" id="msg_panel_div">
                <div class="panel-heading" id="msg_heading">
                    <span >Message</span>
                </div>
                <!-- /.panel-heading -->
                <div class="tcontainer_msg">
                    <div class="panel-body" id="mdiv">

                        <p id="message">

                        </p>

                    </div>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer" style="height: 73px;">
                    <div class="input-group">
                        <input id="admMessage" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />
                    </div>

                    <span class="input-group-btn send_btn">

                        <input type="button" class="btn btn-success btn-sm" id="sendmessage" value="Send">

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
