﻿@model Datasoft.AssistedLiving.Web.Models.ActivityScheduleData


<style>
    .dailytask_icon {
        background: url(images/schedtask_icon.png) 5px 3px no-repeat;
        width: 24px;
        height: 23px;
        /*background-size: 17%;*/
        /*display: inline-block;*/
    }

    .largetask_icon {
        background: url(images/idt-signed.png) 5px 3px no-repeat;
        width: 24px;
        height: 23px;
        background-size: 50%;
        /*display: inline-block;*/
    }

    .actionButton {
        width: 27px !important;
        height: 27px !important;
    }

    .table td {
        padding: 5px 10px 5px 10px !important;
    }

    table.fc-border-separate {
        table-layout: fixed;
    }

    .transpo_icon {
        background: url(images/car.png) 3px 5px no-repeat;
        width: 24px;
        height: 23px;
        background-size: 20%;
        /*display: inline-block;*/
    }

    .datepicker.dropdown-menu {
        z-index: 9999 !important;
    }

    .transchedftrs {
        display: block;
        width: 100%;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #monthfilter, #yrfilter, #ftrResident, #ftrStaff, #ftrDept, #ftrStatus, #ftrTask {
        display: block;
        width: 100%;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ftrspacing {
        padding-right: 10px;
        position: initial;
    }
    /*.bdy_modal{
        overflow-x:scroll;
        max-height:350px;
        overflow-y:auto;
    }*/

    .body-height {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #weekly_wrapper .dt-buttons {
        /*float: right;
        margin-top: -30px;*/
    }

    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #weekly tbody tr {
        max-height: 10px;
        min-height: 5px; /* or whatever height you need to make them all consistent */
        color: #050505; /*ANGELIE HERE*/
    }

    .datepicker .datepicker-days table tbody tr td.disabled {
        color: #ccc;
        background-color: #ebedf2;
    }

    #trans_datelbl {
        color: #625e62;
    }

    .sorting_asc {
        color: white;
    }

    .m-stack--demo.m-stack--hor .m-stack__demo-item, .m-stack--demo.m-stack--ver .m-stack__item {
        padding: 10px;
        border: 1px solid #eee;
        background: #fbfbfb;
        border: none !important;
        font-weight: 500;
    }

    #weekly_schedule {
        color: #050505;
        font-weight: 400;
    }

    #weekly_wrapper, #calendar, .input-group {
        /* kim code 03/18/2022 add capitalize below*/ text-transform: capitalize;
    }

    select, input {
        /* kim code 03/18/2022 add capitalize below*/
        text-transform: capitalize;
    }

    .for_posting {
        color: #c9cbd9 !important;
    }

    .fc-list-table td {
        border-width: 0 !important;
    }

    .resNamehcc {
        font-weight: 700;
        color: #575962;
        margin:0;
    }

    .cal-icon {
        font-size: 1.5rem !important;
        color: #575962;
    }

    .fc-widget-header {
        background-color: rgba(238, 238, 238, 0.4) !important;
    }

    .hcmobilestyle select {
        width: 100% !important;
    }

    @@media (max-width:600px) {
        .btns_mobile {
            justify-content: center;
        }

        #add_services_btn {
            margin-left: 25%;
        }

        .btns_mobile {
            padding: 8px 20px !important;
        }

        #legend_list_hmc_staff {
            font-size: smaller;
        }

        .fc-list-item-title h6 {
            font-size: smaller;
        }

        #monthfilter, #yrfilter, #ftrCaregiver {
            font-size: smaller;
            height: 27px;
        }

        .services_mobile{
            margin-bottom: 0.3rem;
        }        
        
    }

    @@media (max-width:990px) {
        .hcmodalheader_mobile {
            margin: 0;
        }

        .hcmodalheaderheight_mobile {
            /*height: 115px !important;*/
            padding: 10px 25px !important;
        }

        #services_modal .body-height{
            padding: 5px !important;
        }

        #services_modal .for_edit_service {
            line-height: 0.8;
            margin: 0 !important;
        }

        #transchedContainer {
            padding:0;
        }

        .isAddService {
            height: 10px !important;
        }

        .dtminput_mobile {
            width: 80% !important;
        }

        .dtminput_icon_mobile {
            width: 20% !important;
        }

        /* padding: 17px; */
        
    }
</style>
@*<script src="~/assets/dist/bootstrap-timepicker.init.js"></script>*@

@if (ViewBag.isHomeCare == "True" && ViewBag.RoleID != 1)
{
    <style>
        
    </style>
}
<script src="~/Scripts/jquery.timepicker.js"></script>
<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>
<script src="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="~/assets/dist/moment.js"></script>

<script src="~/Scripts/Transsched/scheduletask.js"></script>
<script src="~/Scripts/Transsched/transsched.js"></script>
<script src="~/Scripts/Transsched/weekpicker.js"></script>
<script src="~/Scripts/Transsched/scheduletask_svc.js"></script>

@*<script src="~/assets/dist/jquery-3.3.1.min.js"></script>*@
@*<script src="~/Scripts/jquery.maskedinput.js"></script>*@
<link href="~/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />

<div class="loader" style="display:block;z-index:3000 !important"></div>

<div class="row">
    <div class="col-xl-12 col-lg-12" id="transchedContainer" style="overflow: auto">
        <div class="m-portlet m-portlet--full-height ">

            <div class="portlet-title col-xl-12 col-lg-12 col-xs-12">
                <div class="caption col-xl-12 col-lg-12 col-xs-12 row">



                    @if (ViewBag.isHomeCare == "True" && ViewBag.RoleID != 1)
                    {

                        <h3 class="m-portlet__head-text col-xl-12 col-lg-12 col-xs-12" style="padding-right: 50px;margin-top:23px;margin-left:0px;font-size:1.3rem;">
                            <span><i class="flaticon-clipboard"></i> <span class="caption-subject"> Schedule </span></span>
                        </h3>
                    }
                    else
                    {
                        <h3 class="m-portlet__head-text" style="padding-right: 50px;margin-top:23px;margin-left:0px;font-size:1.3rem;">
                            <span><i class="flaticon-clipboard"></i> <span class="caption-subject"> Schedule </span></span>
                        </h3>
                    }

                    @if (ViewBag.isHomeCare == "True")
                    {
                        <div class="col-12" style="margin-left: -13px;margin-top:10px">
                            <span class="filtr" style="font-weight:bold;font-size: 11px;">Filter By:</span>
                        </div>
                    }
                        <div class="ftrspacing calviewftr hcmobileftr1" style="display:none;margin-top: 0px;margin-right: -2px;">
                            <label style="margin-top: 4px;">Month:</label>
                            <select name="monthfilter" id="monthfilter" class="form-control m-input transchedftrs" data-col-index="3" style="padding: 2px;margin-top: -7px;width:100px;">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    <div class="ftrspacing calviewftr hcmobileftr1" style="display:none">
                        <label style="margin-top: 4px;">Year:</label>
                        <select name="yrfilter" id="yrfilter" class="form-control m-input transchedftrs" data-col-index="3" style="padding: 3px;margin-top: -7px;"></select>
                    </div>

                    <div class="filtr ftrspacing taskviewftr for_alc_only">
                        <form autocomplete="off">
                            <label style="margin-top: 4px;">
                                Day:

                                <span id="curday" style="color:#109be6;font-size: 12px;"></span>
                            </label>

                            <div class="m-input-icon m-input-icon--right" style="width: 176px;margin-top: -7px;">

                                <input id="daypicker" class="day-picker form-control dtpicker transchedftrs" placeholder="Select day">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-calendar-alt"></i></span></span>
                            </div>
                        </form>

                    </div>
                    <div class="filtr ftrspacing col-xs-2 for_homecare hcmobileftr2">
                        <label style="margin-top: 4px;">
                            Caregiver:
                        </label>
                        <select name="ftrCaregiver" id="ftrCaregiver" class="form-control m-input transchedftrs" data-col-index="2" style="padding: 3px;width: 150px;margin-top: -7px;">
                            @*<option value="0">All</option>*@
                            @if (Model.Users != null)
                            {
                                foreach (var u in Model.Users)
                                {
                                    if (u.Role != 1 && u.Name != "")
                                    {

                                        <option value="@u.Id">@u.Name</option>
                                    }
                                }


                            }
                        </select>
                    </div>
                    <div class="filtr ftrspacing taskviewftr for_alc_only">
                        <form autocomplete="off">
                            <label style="margin-top: 4px;">
                                Week:


                                <span id="wstartDate" style="color:#109be6;font-size: 12px;"></span>

                                <span>&nbsp;-&nbsp;</span>
                                <span id="wendDate" style="color:#109be6;font-size: 12px;"></span>
                            </label>

                            <div class="m-input-icon m-input-icon--right" style="width: 176px;margin-top: -7px;">
                                <input id="weekpicker" class="week-picker form-control dtpicker transchedftrs" placeholder="Select week">
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-calendar-alt"></i></span></span>
                            </div>
                        </form>
                    </div>


                    <div style="padding: 20px;" class="row col-12 btns_mobile">
                        <div style="padding-right: 5px;padding-bottom: 4px;" class="col-xs-3 for_alc_only">
                            <a id="btnAddTask" data-toggle="modal" href="#" class="btn btn-primary  m-btn m-btn--custom m-btn--pill m-btn--air add" style="padding: 7px; ">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Add Service Task</span>
                                </span>
                            </a>
                        </div>

                        <div style="padding-right: 5px;padding-bottom: 4px;" class="for_alc_only">
                            <a id="add_schedule" data-toggle="modal" href="#" class="btn btn-primary  m-btn m-btn--custom m-btn--pill m-btn--air add" style="padding: 7px;">
                                <span>

                                    <i class="la la-plus"></i>
                                    <span>Add Transportation Schedule</span>
                                </span>
                            </a>
                        </div>
                        @*Added this for HOMECARE view: angelie, 04-27-22*@
                        <div style="padding-right: 5px;padding-bottom: 4px;" class="for_homecare">
                            <a id="add_services_btn" data-target="#services_modal" data-toggle="modal" href="#" class="btn btn-primary  m-btn m-btn--custom m-btn--pill m-btn--air add" style="padding: 7px;">
                                <span>

                                    <i class="la la-plus"></i>
                                    <span>Add Services</span>
                                </span>
                            </a>
                        </div>
                        <div style="padding-right: 5px;padding-bottom: 4px;" hidden>
                            <a href="#" id="calendar_view_hmc" class="btn btn-accent  m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill " style="padding: 8px;">
                                <span>
                                    <i class="m-nav__link-icon flaticon-event-calendar-symbol"></i>
                                    <span>Services Calendar </span>
                                </span>
                            </a>
                        </div>
                        @*Ends here*@
                        <div class="for_alc_only">
                            <a id="weekly_view" style="background: url(images/calendar.png) 5px 9px no-repeat;display: none;">Weekly View</a>
                        </div>
                        <div class="for_alc_only">
                            <a id="daily_view" style="background: url(images/calendar.png) 5px 9px no-repeat;display: none;">Daily View</a>
                        </div>
                        <div class="dw_btns for_alc_only" style="padding-bottom: 4px;">
                            <a id="dayReload" href="#" class="btn btn-accent  m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill add refresh currentTaskbtn" style="padding: 8px;display:none;">
                                <span>
                                    <i class="m-nav__link-icon flaticon-calendar-3"></i>
                                    <span id="cd_label">Current Day</span>
                                </span>
                            </a>
                        </div>
                        <div class="dw_btns for_alc_only" style="padding-bottom: 4px;">
                            <a href="#" id="btnReload" class="btn btn-accent  m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill add refresh currentTaskbtn" style="padding: 8px;display:none;">
                                <span>
                                    <i class="m-nav__link-icon flaticon-calendar-1"></i>
                                    <span id="cw_label">Current Week</span>
                                </span>
                            </a>
                        </div>
                        <div class="for_alc_only">
                            <a href="#" id="monthly_view" class="btn btn-accent  m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill add calendarbtn" style="padding: 8px;">
                                <span>
                                    <i class="m-nav__link-icon flaticon-event-calendar-symbol"></i>
                                    <span>View Transportation Calendar </span>
                                </span>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="row" id="ftrs">

                    <div class="col-md-12" style="margin-top: -10px;">

                        <form class="m-form m-form--fit m--margin-bottom-20m" autocomplete="off">
                            @if (ViewBag.isHomeCare == "False")
                            {
                                <div class="col-lg-2 col-xs-12" style="margin-left: -13px;">
                                    <span class="filtr" style="font-weight:bold;font-size: 11px;">Filter By:</span>
                                </div>
                            }
                            <div class="row m--margin-bottom-20 col-xs-12" style="margin-left: 0px;">

                                @*<div class="row m--margin-bottom-20">*@


                                <div class="filtr ftrspacing col-xs-2 for_alc_only">

                                    <label>Resident:</label>
                                    <select name="ftrResident" id="ftrResident" class="form-control m-input transchedftrs" data-col-index="2" style="padding: 3px;width: 150px;"></select>
                                </div>
                                <div class="filtr ftrspacing col-xs-2 for_alc_only">
                                    <label>Staff:</label>
                                    <select name="ftrStaff" id="ftrStaff" class="form-control m-input transchedftrs" data-col-index="2" style="padding: 3px;width: 150px;"></select>
                                </div>

                                <div class="filtr ftrspacing col-xs-2 for_alc_only">
                                    <label>Department:</label>
                                    <select name="ftrDept" id="ftrDept" class="form-control m-input transchedftrs" data-col-index="2" style="padding: 3px;width: 150px;"></select>
                                </div>
                                <div class="filtr ftrspacing col-xs-2 for_alc_only">
                                    <label>Status:</label>
                                    <select name="ftrStatus" id="ftrStatus" class="form-control m-input transchedftrs" data-col-index="2" style="padding: 3px;width: 150px;">
                                        <option>All</option>
                                        <option>Missed</option>
                                        <option>Completed</option>
                                        <option>Not Completed</option>
                                    </select>
                                </div>
                                <div class="filtr ftrspacing col-xs-2 for_alc_only">
                                    <label>Task:</label>
                                    <select style="width: 150px;padding: 3px;" name="ftrTask" id="ftrTask" class="form-control m-input transchedftrs" data-col-index="2"></select>
                                </div>


                            </div>
                        </form>


                        <div class="col-md-12 for_alc_only" style="margin-top: -5px;float:right">
                            <div id="legend_list" class="m-portlet__nav row" style="margin-left: 1px;">
                                <div class="col-12">
                                    <label class="m-portlet__nav-item legend" id="legend">
                                        Legend:
                                    </label>
                                </div>


                                <div class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #f45171c2;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Once
                                </div>
                                <label class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #34bfa3c9;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Daily
                                </label>
                                <div class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #24dc006b;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Weekly
                                </div>
                                <div class="m-portlet__nav-item legend col-xs-2 " style="width: max-content;">
                                    <div style="background-color: #00c5dcba;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Bi-Weekly
                                </div>
                                <div class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #de4537db;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div> Monthly
                                </div>
                                <div class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #abf347de;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Quarterly
                                </div>
                                <div class="m-portlet__nav-item legend col-xs-2 ">
                                    <div style="background-color: #fd7bb8;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Annually
                                </div>


                            </div>

                        </div>

                        <div class="col-md-12 " style="margin-top: -5px;float:right">
                            <div id="legend_list_hmc" class="m-portlet__nav row" style="margin-left: 1px;">
                                <div class="col-xs-12">
                                    <label class="m-portlet__nav-item " id="legend_hmc_label">
                                        Legend:
                                    </label>
                                </div>
                                <div class="m-portlet__nav-item  col-xs-2 ">
                                    <div style="background-color: #24dc006b;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Planned Service
                                </div>

                                <div class="m-portlet__nav-item col-xs-2 ">
                                    <div style="background-color: #34bfa3c9;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>Actual Service
                                </div>
                                <div class="m-portlet__nav-item  col-xs-2 ">
                                    <div style="background-color: #c9cbd9;float: left;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"></div>For Posting
                                </div>



                            </div>

                        </div>

                        <div class="col-md-12 " style="margin-top: -5px;float:right; padding: 0">
                            <div id="legend_list_hmc_staff" class="m-portlet__nav row" style="margin-left: 1px;">
                                <div class="col-12">
                                    <label class="m-portlet__nav-item " id="legend_hmc_label">
                                        Legend:
                                    </label>
                                </div>
                                <div class="m-portlet__nav-item ">
                                    <div style="background-color: #24dc006b;float: left;width: 20px;height: 20px;margin: -2px 2px 0px 15px; text-align: center">
                                        <ins class="jstree-icon fas fa-paste fa-fw" style="color: #575962;padding-left: 2px;vertical-align: middle;">&nbsp;</ins>
                                    </div>Planned Service
                                </div>

                                <div class="m-portlet__nav-item">
                                    <div style="background-color: #34bfa3c9;float: left;width: 20px;height: 20px;margin: -2px 2px 0px 18px; text-align: center" ">
                                        <ins class="jstree-icon fas fa-calendar-check" style="color: #575962;padding-left: 2px;vertical-align: middle;">&nbsp;</ins>
                                    </div>Actual Service
                                </div>
                                <div class="m-portlet__nav-item ">
                                    <div style="background-color: #c9cbd9;float: left;width: 20px;height: 20px;margin: -2px 2px 0px 18px; text-align: center" ">
                                        <ins class="jstree-icon fas fa-edit" style="color: #575962;padding-left: 2px;vertical-align: middle;">&nbsp;</ins>
                                    </div>For Posting
                                </div>



                            </div>

                        </div>                        

                    </div>

                </div>
            </div>


            @* ----BODY STARTS HERE------------------------------- *@

            <div class="portlet__body" style="overflow:auto;">


                <div class="row">
                    <div class="col-sm-12">
                        <!--begin::Portlet-->
                        <div class="m-portlet" style="margin-bottom:0 !important">
                            <div class="m-portlet__body">

                                <div id="weekly_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer for_alc_only">
                                    <table id="weekly" class="table table-striped- table-bordered table-hover table-checkable dtr-inline" style="overflow:auto">
                                        <thead>
                                            <tr role="row">
                                                <th><span id="trans_datelbl" style="color:#625e62;">Date</span></th>
                                                <th>Time</th>
                                                <th>Resident</th>
                                                <th>Room #</th>
                                                <th>Task Description</th>
                                                <th>Assigned Staff</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="weekly_schedule"></tbody>
                                    </table>
                                </div>
                                <div id="calendar">

                                    <div id="calendarBody"></div>
                                </div>

                            </div>
                        </div>
                        <!--end::Portlet-->
                    </div>
                </div>

                <!--end: Datatable -->
                <div id="calendarLayoutContainer" class="content" style="color:black; overflow:auto" hidden>
                    <input type="hidden" id="roleID" value="@ViewBag.RoleID" />
                    <input type="hidden" id="userID" value="@ViewBag.Name" />
                    <input type="hidden" id="isHomeCare" value="@ViewBag.IsHomeCare" />
                </div>

            </div>
        </div>
    </div>
    <!--End::Portlet-->
</div>

</div>
@* ------------------------------------------------------------------------ *@
@* -------------------------------------------------------------- *@
@* -------------------------------------------------------------- *@

<div class="modal fade" id="viewEvents" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content m-portlet">

            <div class="portlet-title col-xl-12 col-lg-12 col-xs-12">
                <div class="caption col-xl-12 col-lg-12 col-xs-12 row">

                    <div class="m-stack m-stack--ver m-stack--desktop m-stack--demo">


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <div class="input-group">
                                <h3 class="m-portlet__head-icon" style="float: left;">
                                    <i id="labelHeaderImg" class="flaticon-user-ok"></i>&nbsp;&nbsp;&nbsp;
                                </h3>
                                <select id="res_ID" name="res_ID" style="display:none;">
                                    <option value=""></option>
                                    @foreach (var r in Model.Residents)
                                    {

                                        <option value="@r.Id">@r.Name</option>
                                    }

                                </select>
                                <h3 class="m-portlet__head-text" id="name" style="float: left;"></h3>
                            </div>

                            <div class="input-group-append">

                                <span class="taskLabel"></span>
                            </div>



                        </div>


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <div class="input-group">

                                @*<div class="input-group-append">*@


                                <div style="padding: 3px;">
                                    <button data-toggle="modal" data-target="#diag_add_transpo" class="addSched is_complete btn btn-success  reassignTask forAdminOnly" type="submit" activityid="" id="">
                                        <span id="">
                                            <i class="la la-plus"></i>
                                            Create New Schedule

                                        </span>
                                    </button>
                                </div>

                                <div style="padding: 3px;">
                                    <button data-toggle="modal" data-target="#diag_add_transpo" class="reassign is_complete btn btn-success reassignTask forAdminOnly" type="submit" activityid="" id="">
                                        <span id="">
                                            <i class="la la-repeat"></i>
                                            &nbsp;Edit

                                        </span>
                                    </button>
                                </div>
                                <div style="padding: 3px;">
                                    <button data-toggle="modal" data-target="" class="reschedd is_complete btn btn-success reassignTask forAdminOnly" type="submit" activityid="" id="">
                                        <span id="">
                                            <i class="la la-random"></i>
                                            &nbsp;Delete
                                        </span>
                                    </button>
                                </div>


                                @*</div>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div id="viewEventBody" class="modal-body bdy_modal col-lg-12 col-xs-12">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('viewEvents')">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="diagTask" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Service Task</h5>
                <button type="button" class="close" modalid="diagTask" id="close_task" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body body-height">
                <form id="diagTaskmodal_form" autocomplete="off">
                    @if (ViewBag.IsAdmin)
                    {


                        <div class="form-group">
                            <label for="ddlDept" class="form-control-label">Department:</label>
                            <select id="ddlDept" name="Dept" class="form-control m-input" required>
                                @foreach (var r in Model.Departments.Depts)
                                {

                                    <option value="@r.Id" @(Model.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                }

                            </select>
                        </div>

                    }
                    else
                    {

                        <div class="form-group" style="display:none">
                            <input type="hidden" id="ddlDept" name="Dept" value="@Model.Departments.SelectedValue" />
                        </div>

                    }


                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <label for="txtActivity" class="form-control-label">Activity Description</label>
                        <select id="txtActivity" name="ActivityId" class="form-control m-input" required>
                            <option value=""></option>
                            @{
                                foreach (var r in Model.Activities)
                                {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50)
                                    {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }

                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="viewActivity" class="form-control-label">Activity Procedure</label>
                        <textarea id="viewActivity" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group" id="room_section">
                        <label for="txtRoomId" class="form-control-label">Room</label>
                        <select id="txtRoomId" name="RoomId" class="form-control required">
                            <option value=""></option>
                            @foreach (var r in Model.Rooms)
                            {

                                <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group" id="resident_section">
                        <span style="color: red;">*</span>
                        <label for="txtResidentId" class="form-control-label">Resident</label>
                        <select id="txtResidentId" name="ResidentId" class="form-control m-input" required>
                            <option value=""></option>
                            @foreach (var r in Model.Residents)
                            {
                                if (r.IsAdmitted == "True")
                                {

                                    <option value="@r.Id">@r.Name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <label for="txtTimeIn" class="form-control-label">Schedule Time</label>

                        @*<input type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="form-control required" />*@

                        <div class="input-group timepicker">
                            <input autocomplete="off" type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="form-control m-input time" required>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="reccur" class="form-control-label">Recurring</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="reccur" style="width:auto;" type="radio" name="recurring" value="1" checked="checked" class="form-control" />
                                    </td>
                                    <td>
                                        <table class="dayofweek">
                                            <tbody>
                                                <tr>
                                                    <td>Sun</td>
                                                    <td>Mon</td>
                                                    <td>Tue</td>
                                                    <td>Wed</td>
                                                    <td>Thu</td>
                                                    <td>Fri</td>
                                                    <td>Sat</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input name="Sun" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Mon" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Tue" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Wed" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Thu" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Fri" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Sat" type="checkbox" class="w20px">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="onetime" class="form-control-label">One-Time Service Schedule</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="onetime" style="width:auto" type="radio" name="recurring" value="2" class="form-control" />
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="Onetimedate" class="dtpicker" type="text" name="Onetimedate" disabled="disabled" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="txtId" name="Id" />
                        <span style="color: red;">*</span>
                        <label for="txtCarestaff" class="form-control-label">Carestaff</label>
                        <input type="hidden" xid="hdCarestaffId" value="" />
                        <select id="txtCarestaff" name="CarestaffId" class="form-control m-input"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btncancel" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('diagTask')">Cancel</button>
                <button type="button" id="save_newTask" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewTask" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content m-portlet">
            <div class="portlet-title col-xl-12 col-lg-12 col-xs-12">
                <div class="caption col-xl-12 col-lg-12 col-xs-12 row">

                    <div class="m-stack m-stack--ver m-stack--desktop m-stack--demo col-xl-12 col-lg-12 col-xs-12">


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle col-xl-6 col-xs-6">
                            <div class="input-group">
                                <h3 class="m-portlet__head-icon" style="float: left;">
                                    <i id="labelHeaderImg" class="flaticon-user-ok"></i>&nbsp;&nbsp;&nbsp;
                                </h3>

                                <h3 class="m-portlet__head-text" id="res_name" style="float: left;"></h3>
                            </div>

                            <div class="input-group-append">

                                <span href="#" class="taskLabel"></span>
                            </div>

                        </div>


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle col-xl-6 col-xs-6">
                            <div class="input-group">

                                @*<div class="input-group-append">*@
                                <div id="aSched"></div>
                                <div id="deleteTask" class="forAdminOnly"></div>

                                <div style="padding: 3px;">
                                    <button data-toggle="modal" data-target="#diagReschedule" class="reassign is_complete btn btn-success reassignTask forAdminOnly" type="submit" activityid="" id="">
                                        <span id="btn1_label">
                                            <i class="la la-repeat"></i>
                                            Reassign

                                        </span>
                                    </button>
                                </div>
                                <div style="padding: 3px;">
                                    <button data-toggle="modal" data-target="#diagReschedule" class="reschedd is_complete btn btn-success reassignTask forAdminOnly" type="submit" activityid="" id="">
                                        <span id="btn2_label">
                                            <i class="la la-random"></i>
                                            Reschedule
                                        </span>
                                    </button>
                                </div>

                                @*</div>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-body body-height col-lg-12 col-xs-12">
                <form class="m-form">
                    <div class="form-group">
                        <div id="diag_view" class="col-lg-12 col-xs-12"></div>
                        <div id="weekly_task" class="col-lg-12 col-xs-12"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('viewTask')">Cancel</button>
                <button type="button" id="updateTask" onClick="updateTask()" class="is_complete btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="diagReschedule" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="r_title"></h5>
                <button type="button" class="close" modalid="diagReschedule" id="close_diagReschedule" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body bdy_modal">

                <form id="diagReschedulemodal_form" autocomplete="off">

                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <input type="text" id="comptype" name="comptype" hidden />
                        <label for="txtActivityR" class="form-control-label">Activity Description</label>
                        <select id="txtActivityR" name="ActivityId" class="form-control required">
                            <option value=""></option>
                            @{
                                foreach (var r in Model.Activities)
                                {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50)
                                    {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }

                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="viewActivityR" class="form-control-label">Activity Procedure</label>
                        <textarea id="viewActivityR" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group room_section">
                        <label for="txtRoomIdR" class="form-control-label">Room</label>
                        <select id="txtRoomIdR" name="RoomId" class="form-control required">
                            <option value=""></option>
                            @foreach (var r in Model.Rooms)
                            {

                                <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group resident_section">
                        <span style="color: red;">*</span>
                        <label for="txtResidentIdR" class="form-control-label">Resident</label>
                        <select id="txtResidentIdR" name="ResidentId" class="form-control required">
                            <option value=""></option>
                            @foreach (var r in Model.Residents)
                            {
                                if (r.IsAdmitted == "True")
                                {

                                    <option value="@r.Id">@r.Name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <label for="txtTimeInR" class="form-control-label">Schedule Time</label>
                        @*
                            <input type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="form-control required" />*@

                        <div class="input-group timepicker">
                            <input type="text" id="txtTimeInR" name="ScheduleTime" maxlength="8" class="form-control required time" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>
                        <input id="OnetimedateR" type="text" name="Onetimedate" disabled="disabled" />
                        <input type="hidden" id="date_createdR" name="date_created" value="" />
                    </div>

                    <div>
                        <input type="hidden" id="txtIdR" name="Id" />
                        <span style="color: red;">*</span>

                        <label for="txtCarestaffR" class="form-control-label">Carestaff</label>
                        <input type="hidden" xid="hdCarestaffId" value="" />
                        <select id="txtCarestaffR" name="CarestaffId" class="form-control"></select>
                        @*<div id="changeCarestaff" style="display:none;">

                                Change Carestaff<input name="changedCstaff" id="changedCstaff" type="checkbox" class="form-control" style="margin-top: -15px;margin-left: -110px;">
                            </div>*@

                    </div>


                    <input type="hidden" id="reAssign_reSched" />
                    <input type="hidden" id="cn_resident" />
                    <input type="hidden" id="transpo_id" />
                    <input type="hidden" id="diag_mode" />
                </form>



            </div>
            <div class="modal-footer">
                <button type="button" id="btncancel_re" class="btn btn-secondary cancelt" data-dismiss="modal" onclick="closeModal('diagReschedule')">Cancel</button>
                <button type="button" id="save_re" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="diag_add_transpo" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transpo_label">Add Schedule</h5>
                <button type="button" class="close" id="close_add_transpo" modalid="diag_add_transpo" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addtranspomodal_form" autocomplete="off">
                    <div class="form-group">
                        <label for="r_residents" class="form-control-label">Resident:</label>
                        <span style="display:none;" id="c_resident"></span>
                        <select id="r_residents" name="r_residents" class="form-control"></select>
                        <span style="display:none;" id="c_resident_name"></span>
                    </div>
                    <div class="form-group">
                        <label for="recurrence" class="form-control-label">Recurrence:</label>
                        <select id="recurrence" name="recurrence" class="form-control">
                            <option value="once">Once</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="biweekly">Bi-Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="quarterly">Quarterly</option>
                            <option value="annually">Annually</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <table class="form-group">
                            <tr>
                                <td>
                                    <span style="color: red;">*</span>

                                    <label for="start_date" id="start_date_lbl" class="form-control-label" required>Start Date:</label>
                                    <input type="text" id="start_date" class="form-control date dtpicker" placeholder="Start date" style="width:auto" required />
                                </td>
                                <td>
                                    <label for="end_date" class="form-control-label">End Date:</label>
                                    <input type="text" id="end_date" class="form-control date dtpicker" placeholder="End date" style="width:auto" />
                                </td>
                            </tr>
                            <tr id="r_weekly" class="r_view" style="display:none;">
                                <td>
                                    <label for="day_of_the_week" class="form-control-label">Set Day:</label>
                                    <select id="day_of_the_week" class="form-control">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="r_biweekly" class="r_view" style="display:none;">
                                <td>
                                    <label for="day_of_the_week1" class="form-control-label">Set Day 1:</label>
                                    <select id="day_of_the_week1" class="form-control">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="day_of_the_week2" class="form-control-label">Set Day 2:</label>
                                    <select id="day_of_the_week2" class="form-control">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="r_monthly" class="r_view" style="display:none;">
                                <td>
                                    <label for="monthly_date" class="form-control-label">Set Day of the Month:</label>
                                    <input type="text" id="monthly_date" class="form-control date" placeholder="Set day of the month" style="width:auto" />
                                </td>
                            </tr>
                            <tr id="r_quarterly" class="r_view" style="display:none;">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="start_date1" class="form-control-label">Set Dates:</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" id="start_date1" data-provide="datepicker" class="form-control date" placeholder="First Quarter" />
                                            </td>
                                            <td>
                                                <input type="text" id="start_date2" data-provide="datepicker" class="form-control date" placeholder="Second Quarter" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" id="start_date3" data-provide="datepicker" class="form-control date" placeholder="Third Quarter" />
                                            </td>
                                            <td>
                                                <input type="text" id="start_date4" data-provide="datepicker" class="form-control date" placeholder="Fourth Quarter" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            @*<tr id="r_annually" class="r_view" style="display:none;">
                                    <td>
                                        <label for="annual_date" class="form-control-label">Set Day of the Year:</label>
                                        <input type="text" id="annual_date" class="form-control date" placeholder="Set day of the year" style="width:auto" />
                                    </td>
                                    <td>
                                        <label for="end_date_annually" class="form-control-label">End Date:</label>
                                        <input type="text" id="end_date_annually" class="form-control date dtpicker" placeholder="End date" style="width:auto" />
                                    </td>
                                </tr>*@
                            <tr>
                                <td>
                                    <span style="color: red;">*</span>
                                    <label for="start_time" class="form-control-label">From:</label>

                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input type="text" id="start_time" class="form-control input-small time" placeholder="Start time" style="width:auto" required />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-clock-o"></i>
                                            </span>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <span style="color: red;">*</span>
                                    <label for="end_time" class="form-control-label">To:</label>


                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input type="text" id="end_time" class="form-control input-small time" placeholder="End time" style="width:auto" required />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-clock-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="purpose" class="form-control-label">Purpose:</label>
                        <textarea id="purpose" class="form-control"></textarea>
                    </div>
                    <div id="comment_section" class="form-group">
                        <label for="comment" class="form-control-label">Comment / Remark:</label>
                        <textarea id="comment" class="form-control" disabled></textarea>
                    </div>
                    <input type="hidden" id="cn_resident" />
                    <input type="hidden" id="transpo_id" />
                    <input type="hidden" id="diag_mode" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_transpo" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('diag_add_transpo')">Cancel</button>
                <button type="button" class="btn btn-primary" id="save_transpo">Save</button>
            </div>
        </div>
    </div>
</div>
@*Add code for disable esc button data-keyboard="false" kim 08/01/2022*@
<div class="modal fade" id="services_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header row hcmodalheaderheight_mobile" style="height: 100px;">
                <div class="form-group col-6 hcmodalheader_mobile">
                    <h5 class="modal-title" id="services_modal_lbl" style="width: inherit;">Add Services</h5>

                    <h6 class="for_edit_service" style="margin-top: 5px;font-size: 11px;">
                        <label class="form-control-label">Planned Date: </label>
                        <span style="font-weight:bold" class="for_edit_service" id="scheduled_date" sched_date=""> </span><br />
                        <label class="form-control-label" >Planned Scheduled Time: </label>
                        <span style="font-weight:bold" class="for_edit_service" id="scheduled_time" sched_start_time="" sched_end_time=""> </span>
                        @*<input type="hidden" id="sched_start_time" />
                        <input type="hidden" id="sched_end_time" />*@
                    </h6>

                </div>





                <div class="m-stack__item m-stack__item--center m-stack__item--middle for_edit_service">
                    <div class="input-group" style="margin-left: 10px;padding-bottom: 32px">
                        <div style="padding: 3px;display:none">
                            <button class="btn btn-success add_service_btn" type="button" activityid="" id="">
                                <span id="">
                                    <i class="la la-plus"></i>
                                    Create New Schedule

                                </span>
                            </button>
                        </div>

                        <div style="padding: 3px;">
                            <button class="btn btn-success edit_service_btn" type="button" activityid="" id="">
                                <span id="">
                                    <i class="la la-edit"></i>
                                    &nbsp;Edit

                                </span>
                            </button>
                        </div>
                        <div style="padding: 3px;">
                            <button data-toggle="modal" data-target="" class="btn btn-success delete_service_btn" type="button" activityid="" id="">
                                <span id="">
                                    <i class="la la-trash"></i>
                                    &nbsp;Delete
                                </span>
                            </button>
                        </div>
                        @*<div style="padding: 3px;">
                                <button class="btn btn-success reschedule_service_btn" type="button" activityid="" id="">
                                    <span id="">
                                        <i class="la la-edit"></i>
                                        &nbsp;Reschedule

                                    </span>
                                </button>
                            </div>*@
                        <div style="padding: 3px;">
                            <button class="btn btn-success reassign_service_btn" type="button" activityid="" id="">
                                <span id="">
                                    <i class="la la-edit"></i>
                                    &nbsp;Reassign
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                @*<button type="button" class="close" modalid="services_modal" id="close_task" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body body-height">
                <form id="services_modal_form" autocomplete="off">
                    <div class="form-group col-12 row">
                        <div class="form-group col-6">
                            <input type="hidden" id="txtId" name="Id" />
                            <input type="text" id="presentServiceDate" style="display:none;" />
                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_txtCarestaff" class="form-control-label">Caregiver</label>
                            <input type="hidden" xid="hdCarestaffId" value="" />
                            <select id="svc_txtCarestaff" name="CarestaffId" class="form-control m-input">
                                <option value=""></option>
                                @if (Model.Users != null)
                                {
                                    foreach (var u in Model.Users)
                                    {
                                        if (u.Role != 1 && u.Name != "")
                                        {

                                            <option value="@u.Id">@u.Name</option>
                                        }
                                    }


                                }



                            </select>
                        </div>
                        <div class="form-group col-6">
                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_txtResidentId" class="form-control-label">Client</label>
                            <select id="svc_txtResidentId" name="ResidentId" class="form-control m-input" required>
                                <option value=""></option>
                                @foreach (var r in Model.Residents)
                                {
                                    if (r.IsAdmitted == "True")
                                    {

                                        <option value="@r.Id">@r.Name</option>
                                    }
                                }

                            </select>

                        </div>
                    </div>



                    <div class="form-group" style="margin-left: 13px;">
                        <span class="is_required" style="color: red;">*</span>
                        <label for="services" class="form-control-label">Service Tasks</label>
                        <input type="text" id="services" hidden />

                    </div>
                    <div class="form-group col-12 row services">
                        @{foreach (var r in Model.Activities)
                            {
                                string name = r.Desc;
                                if (r.Desc.Length > 50)
                                {
                                    name = r.Desc.Substring(0, 50) + "...";
                                }
                                <div class="form-group col-4 services_mobile">
                                    <input type="checkbox" name="services" value="@r.Id" title="@r.Proc" /><span> @name</span>
                                </div>

                            }
                        }


                    </div>
                    @*<div class="form-group" style="margin-left: 13px;">
                                <label class="form-control-label">Scheduled Date: </label> <span style="font-weight:bold" class="for_edit_service" id="scheduled_date"> </span>
                            </div>
                            <div class="form-group" style="margin-left: 13px;">
                                <label class="form-control-label">Scheduled Time: </label> <span style="font-weight:bold" class="for_edit_service" id="scheduled_time"> </span>
                            </div>
                        <div class="form-group for_add_service" style="margin-left: 13px;">
                            <label for="svc_schedule_date" class="form-control-label">Schedule Date</label>
                        </div>*@
                    <div class="form-group col-12 row for_add_service">
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_start_date" class="form-control-label">Start Date:</label>

                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_start_date" class="form-control input-small date dtminput_mobile" placeholder="Start date" style="width:auto" required />
                                <div class="input-group-append dtminput_icon_mobile">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_end_date" class="form-control-label">End Date:</label>


                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_end_date" class="form-control input-small date dtminput_mobile" placeholder="End date" style="width:auto" required />
                                <div class="input-group-append dtminput_icon_mobile">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>



                    <div class="form-group for_add_service" style="margin-left: 13px;">
                        <label for="svc_start_time" class="form-control-label">Schedule Time</label>
                    </div>
                    <div class="form-group col-12 row for_add_service">
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_start_time" class="form-control-label">From:</label>

                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_start_time" class="form-control input-small dtminput_mobile" placeholder="Start time" style="width:auto" required />
                                <div class="input-group-append dtminput_icon_mobile">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_end_time" class="form-control-label">To:</label>


                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_end_time" class="form-control input-small dtminput_mobile" placeholder="End time" style="width:auto" required />
                                <div class="input-group-append dtminput_icon_mobile">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <table>
                            <tbody>
                                @*<tr>
                                         <td style="width:150px;text-align:right;">
                                             <label for="svc_reccur" class="form-control-label">Recurring</label>
                                         </td>
                                         <td style="width:50px;padding-left: 15px;">
                                             <input id="svc_reccur" style="width:auto;" type="radio" name="recurring" value="1" checked="checked" class="form-control" />
                                         </td>
                                         <td>
                                             <table class="dayofweek">
                                                 <tbody>
                                                     <tr>
                                                         <td>Sun</td>
                                                         <td>Mon</td>
                                                         <td>Tue</td>
                                                         <td>Wed</td>
                                                         <td>Thu</td>
                                                         <td>Fri</td>
                                                         <td>Sat</td>
                                                     </tr>
                                                     <tr>
                                                         <td>
                                                             <input name="Sun" value="0" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Mon" value="1" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Tue" value="2" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Wed" value="3" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Thu" value="4" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Fri" value="5" type="checkbox" class="w20px">
                                                         </td>
                                                         <td>
                                                             <input name="Sat" value="6" type="checkbox" class="w20px">
                                                         </td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </td>
                                     </tr>
                                    <tr>
                                             <td style="width:150px;text-align:right;">
                                                 <label for="svc_onetime" class="form-control-label">One-Time Service Schedule</label>
                                             </td>
                                             <td style="width:50px;padding-left: 15px;">
                                                 <input id="svc_onetime" style="width:auto" type="radio" name="recurring" value="2" class="form-control" />
                                             </td>
                                             <td>
                                                 <table>
                                                     <tr>
                                                         <td>
                                                             <input id="svc_Onetimedate" class="dtpicker" type="text" name="Onetimedate" disabled="disabled" />
                                                         </td>
                                                     </tr>
                                                 </table>
                                             </td>
                                         </tr>*@
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group col-12 row  completion_div" style="border: solid 2px #34bfa3;padding: 19px;font-size: 13px;margin-left: 2px;">
                        <div class="form-group col-12 row">
                            <div class="form-group col-12 for_completion_question">
                                <label class="form-control-label">Is this service schedule completed?</label>
                                <span> If yes, please input date of posting and actual time of completion.</span>
                            </div>

                            @*<div class="form-group col-2">
                                <div class="input-group">
                                    <input type="radio" class="completion_confirmation" name="is_completed" value="1" /><span style="margin-left: 7px;"> Yes</span>
                                </div>
                            </div>
                            <div class="form-group col-2">
                                <div class="input-group">
                                    <input type="radio" class="completion_confirmation" name="is_completed" value="0" /><span style="margin-left: 7px;"> No</span>
                                </div>
                            </div>*@

                        </div>
                        <div class="form-group col-12 row">
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12 col-6">

                                <span class="is_required" style="color: red;">*</span>
                                <label for="svc_start_date" class="form-control-label">Date of Posting</label>

                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input type="text" id="svc_posted_date" class="form-control input-small date completion_confirmation" placeholder="Date of Posting" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-xs-12 col-sm-12 col-12">

                                <span class="is_required" style="color: red;">*</span>
                                <label for="svc_start_date" class="form-control-label">Time of Completion</label>

                                <div class="form-group">

                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input type="text" id="svc_actual_start_time" class="form-control input-small completion_confirmation" placeholder="Start time" style="width:22%" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-clock-o"></i>
                                            </span>
                                        </div>
                                        &nbsp; - &nbsp;
                                        <input type="text" id="svc_actual_end_time" class="form-control input-small completion_confirmation" placeholder="End time" style="width:22%;border-left:1px solid #c5bebe !important" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-clock-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="input-group bootstrap-timepicker timepicker">

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="form-group col-12 row for_completion_service">
                            <div class="form-group col-12">
                                <label class="form-control-label"> Remarks</label>
                            </div>
                            <div class="form-group col-12">
                                <textarea class="form-control" id="scheduleRemarks" name="remarks" maxlength="1000" spellcheck="false" style="height: 100px;overflow:auto;background-color:#34bfa326"></textarea>
                            </div>

                        </div>

                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btncancel_services_modal" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('services_modal')">Cancel</button>
                <button type="button" id="save_newService" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resched_reassign_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height: 100px;">
                <div class="form-group col-6 row">
                    <h5 class="modal-title" id="resched_reassign_modal_lbl">Reschedule Service/s</h5>

                    @*<h6 class="for_edit_service" style="margin-top: 5px;font-size: 11px;">
                            <label class="form-control-label">Scheduled Date: </label>
                            <span style="font-weight:bold" class="for_edit_service" id="scheduled_date"> </span><br />
                            <label class="form-control-label">Scheduled Time: </label>
                            <span style="font-weight:bold" class="for_edit_service" id="scheduled_time"> </span>

                        </h6>*@

                </div>


            </div>
            <div class="modal-body body-height">
                <form id="resched_reassign_modal_form" autocomplete="off">
                    <div class="form-group col-12 row for_reassign_service">
                        <div class="form-group col-6">
                            <input type="hidden" id="is_resched" />
                            <input type="hidden" id="activity_schedule_id" name="ActivityScheduleId" />
                            <input type="text" id="presentServiceDate" style="display:none;" />
                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_txtCarestaff_re" class="form-control-label">Caregiver</label>
                            <input type="hidden" xid="hdCarestaffId" value="" />
                            <select id="svc_txtCarestaff_re" name="CarestaffId" class="form-control m-input">
                                <option value=""></option>
                                @if (Model.Users != null)
                                {
                                    foreach (var u in Model.Users)
                                    {
                                        if (u.Role != 1 && u.Name != "")
                                        {

                                            <option value="@u.Id">@u.Name</option>
                                        }
                                    }


                                }



                            </select>
                        </div>
                        <div class="form-group col-6">
                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_txtResidentId_re" class="form-control-label">Client</label>
                            <select id="svc_txtResidentId_re" name="ResidentId" class="form-control m-input" required>
                                <option value=""></option>
                                @foreach (var r in Model.Residents)
                                {
                                    if (r.IsAdmitted == "True")
                                    {

                                        <option value="@r.Id">@r.Name</option>
                                    }
                                }

                            </select>

                        </div>
                    </div>

                    @*<div class="form-group col-12 row for_resched_service">


                            <div class="form-group col-6">

                                <span class="is_required" style="color: red;">*</span>
                                <label for="svc_end_date" class="form-control-label">New Schedule Date:</label>


                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input type="text" id="new_svc_end_date" class="form-control input-small date" placeholder="End date" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>*@



                    <div class="form-group for_resched_service" style="margin-left: 13px;">
                        <label for="svc_start_time_re" class="form-control-label">Old Scheduled Time:</label>
                    </div>
                    <div class="form-group col-12 row for_resched_service">
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_start_time_re" class="form-control-label">From:</label>

                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_start_time_re" class="form-control input-small time" placeholder="Start time" disabled />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="svc_end_time_re" class="form-control-label">To:</label>


                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="svc_end_time_re" class="form-control input-small time" placeholder="End time" disabled />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group for_resched_service" style="margin-left: 13px;">
                        <label for="svc_new_scheduled_time" class="form-control-label">New Scheduled Time:</label>
                    </div>
                    <div class="form-group col-12 row for_resched_service">
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="new_svc_start_time_re" class="form-control-label">From:</label>

                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="new_svc_start_time_re" class="form-control input-small time" placeholder="Start time" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-6">

                            <span class="is_required" style="color: red;">*</span>
                            <label for="new_svc_end_time" class="form-control-label">To:</label>


                            <div class="input-group bootstrap-timepicker timepicker">
                                <input type="text" id="new_svc_end_time_re" class="form-control input-small time" placeholder="End time" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btncancel_svc" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('resched_reassign_modal')">Cancel</button>
                <button type="button" id="save_service_re" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
                        //$('#start_time').timepicker();
                        //$("#end_time").timepicker();
                        //$("#txtTimeIn").timepicker();

                        //$("#txtTimeInR").timepicker();
</script>
