﻿
@{
    Layout = null;
}
<script src="~/Scripts/Admin/facility.js"></script>
<style>
    label {
        font-weight: 400;
    }

    #facigrid {
        font-weight: 400 !important;
    }
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">

                    <ul class="m-portlet__nav">
                        @*<li class="m-portlet__nav-item">
                                <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
                                    <!--BEGIN: Search Form -->
                                    <form class="m-header-search__form">
                                        <div class="m-header-search__wrapper">
                                            <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                                <i class="flaticon-search"></i>
                                            </span>
                                            <span class="m-header-search__input-wrapper">
                                                <input autocomplete="off" type="text" name="q" id="search_dam_value" class="m-header-search__input" value="" placeholder="Search...">
                                            </span>
                                            <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                                <i class="la la-remove"></i>
                                            </span>
                                            <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                                <i class="la la-remove"></i>
                                            </span>
                                        </div>
                                    </form>
                                    <!--END: Search Form -->

                                </div>
                            </li>
                            <li class="m-portlet__nav-item">
                                <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="showall">
                                    <span>
                                        <span>
                                            Show All
                                        </span>
                                    </span>
                                </a>
                            </li>*@
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="addFacility" data-target="#facility_modal" data-toggle="modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>



            </div>
            @*<div id="wrapToolbar">
                    <div id="residentGridToolbar" class="toolbar">
                        <iframe id="txtArea1" style="display:none"></iframe>
                        <ul class="left">
                            <li><a class="add">Add</a> </li>
                            <li><a class="del" id="lnkDelete">Discharge</a> </li>
                            <li><a class="upload" id="lnkUpload">Upload Image</a> </li>
                            <li><a class="download" id="lnkExportExcel">Export to Excel</a> </li>
                        </ul>
                    </div>

                    <div id="raToolbar" class="toolbar">
                        <ul class="left">
                            <li><span style="display:block;margin-top:2px;margin-left:5px">Filter By:&nbsp;</span></li>
                            <li style="margin-left:5px">
                                <span>Sort Resident By:</span>
                                <select name="ftrSortResident" id="ftrSortResident" style="margin-top:-5px !important">
                                    <option>Last Name</option>
                                    <option>First Name</option>
                                </select>
                            </li>
                            <li style="margin-left:5px">
                                <span>Resident Name:</span>
                                <input type="text" name="ftrResident" id="ftrResident" style="margin-top:-5px !important" />
                            </li>
                            <li style="margin-left:5px" class="noborder">
                                <span>Room:</span>
                                <select name="ftrRoom" id="ftrRoom" style="margin-top:-5px !important"></select>
                            </li>
                        </ul>
                    </div>
                </div>*@



            <div class="m-portlet__body row">
                <div id="" class="grid" style="width:96%;margin:auto">
                    <div class="col-sm-12 col-md-10">
                        <div class="dataTables_length" id="m_table_1_length">
                            <form class="m-form m-form--fit m--margin-bottom-20m" autocomplete="off">
                                <div class="row m--margin-bottom-20">
                                    <div class="col-sm-12 col-lg-3  m--margin-bottom-10-tablet-and-mobile filtr">
                                        <label>
                                            Amenities
                                        </label>
                                        <select class="form-control m-input" name="ftrFacility" id="ftrFacility">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-3  m--margin-bottom-10-tablet-and-mobile filtr">
                                        <label>
                                            Description
                                        </label>
                                        <select class="form-control m-input" name="ftrDescription" id="ftrDescription">
                                            <option></option>
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="facilityGrid" class="grid" style="width:94%;margin:auto;">
                    <table id="facigrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Name</th>
                                <th>Description</th>
                                <th>Level</th>
                                <th>Rate</th>
                                <th>Action</th> 
                            </tr>
                        </thead>
                        <tbody id="faci_btable">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>




<div id="facilityContent" class="content">
    <div id="headSection">
        <div id="wrapToolbar">
            <div id="gridToolbar" class="toolbar">
                <iframe id="txtArea1" style="display:none"></iframe>
                <ul class="left">
                    @*<li class="noborder"><a class="add">Add</a> </li>
                        <li><a class="download" id="lnkExportExcel">Export to Excel</a> </li>*@
                    @*<li><a class="unsign" id="lnkDeactivate">De-Activate</a> </li>*@
                </ul>
            </div>
            <div id="raToolbar" class="toolbar">
                @*<ul class="left">
                    <li class="noborder"><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                    <li style="margin-left:5px" class="noborder">
                        <select id="ddlFilter" style="margin-top:-6px !important;">
                            <option value="1">Facility</option>
                            <option value="2">Description</option>
                        </select>
                    </li>
                    <li class="noborder">
                        <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                    </li>*@
                @*<li class="noborder" style="margin-left:5px">
                        <input id="isActive" type="checkbox" /><label for="isActive">Is Active</label>
                    </li>*@
                @*</ul>*@
            </div>
        </div>
        @*<div id="facilityGrid" class="grid">
                <table id="grid"></table>
            </div>*@

    </div>
</div>


@*<div id="diag">
        <div class="form">
            <fieldset>
                <legend>Facility Information</legend>
                <ul style="width:600px">
                    <li><input type="hidden" id="txtId" name="Id" />
                        <label>Name</label><input type="text" id="txtName" name="Name" maxlength="250" class="w400px required" />
                    </li>
                    <li>
                        <label>Description</label><textarea id="txtDescription" name="Description" maxlength="500" class="w400px" />
                    </li>
                    <li>
                        <label>Level</label><input type="text" id="txtLevel" name="Level" maxlength="225" class="w400px" />
                    </li>
                    <li>
                        <label>Rate</label><input type="text" id="txtRate" name="Rate" maxlength="10" class="w400px required" />
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>*@


<div class="modal fade" id="facility_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Amenity Information</h5>
                <input type="hidden" name="Id" id="Id" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <form id="facility_modal_form">
                <div class="modal-body facidiv form'" style="width:80%; margin:auto;">
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtName" name="Name" class="form-control m-input  required" maxlength="150" required>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Description</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtDescription" name="Description" class="form-control m-input required" maxlength="150" required>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-sticky-note"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Level</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtLevel" name="Level" class="form-control m-input required" maxlength="150" required>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-door-open"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Rate</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtRate" name="Rate" class="form-control m-input required" maxlength="150" required>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-donate"></i></span></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>
                <button type="submit" class="btn btn-primary" id="saveFacility">Save</button>
            </div>
        </div>

    </div>
</div>
