﻿
@{
    Layout = null;
}
<script src="~/Scripts/Admin/pointssettings.js"></script>
<style>
    #score_table_wrapper {
        width: 98%;
        margin-left: 15px;
        font-weight: 400;
    }
    #score_table_filter {
        margin-top: -35px;
    }

</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
             
            </div>
            
            <div class="m-portlet__body">

                <div class="form-group m-form__group col-lg-2">
                    <label for="exampleSelect1"><strong>Select Group</strong></label>
                    <select class="form-control m-input m-input--square" name="assessGroup" id="assessGroup">
                        <option value="Functional Capabilities">Functional Capabilities</option>
                        <option value="Psycho/Social Capabilities">Psycho/Social Capabilities</option>
                        <option value="Cognitive Capabilities">Cognitive Capabilities</option>
                        <option value="Special Medicinal Needs">Special Medicinal Needs</option>
                    </select>
                </div>

                <table class="table" id="score_table">
                    <thead>
                        <tr>
                            <th>Field Text</th>
                            <th>Score Value</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="score_body"></tbody>

                </table>

            </div>

        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="modal fade" id="score_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Score Value Update</h5>
                <button type="button" class="close close1" modalid="score_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form">
                <form id="score_form">
                    <div class="form-group">

                        <input type="hidden" id="AssessmentPointSettingId" name="AssessmentPointSettingId" />
                        <input type="hidden" id="FieldId" name="FieldId" />
                        <label>Field Text</label>
                        <input type="text" id="FieldText" name="FieldText" class="form-control m-input" readonly />
                        <label>Score Value</label>
                        <input type="text" id="ScoreValue" name="ScoreValue" maxlength="50" class="form-control m-input" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('score_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="update_score">Save Changes</button>
            </div>
        </div>
    </div>
</div>


