﻿@{
    Layout = null;
}
<script src="~/Scripts/Admin/carestaffshift_v2.js"></script>
<div id="csContent" class="content">
    <div id="headerCS">
        <div id="wrapToolbar">
            <div id="csGridToolbar" class="toolbar" style="display:none">
                @*<iframe id="txtArea1" style="display:none"></iframe>
                <ul class="left">
                    <li><a class="add">Add</a> </li>
                    <li><a class="del" id="lnkDelete">Delete</a> </li>
                    <!--<li><a class="unsign" id="lnkDeactivate">De-Activate</a> </li
                    <li><a class="download" id="lnkExportExcel">Export Department Users to Excel</a> </li>-->
                </ul>*@
            </div>
            <div id="raToolbar" class="toolbar">
                <ul class="left">
                    <li class="noBorder"><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                    <li style="margin-left:5px" class="noBorder">
                        <select id="ddlFilter" style="margin-top:-6px !important;">
                            <option value="1">User ID</option>
                            <option value="2">Name</option>
                            <option value="3">Email</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                    </li>
                    <li style="margin-left:5px">
                        <span>Role:</span>
                        <select name="ftrRole" id="ftrRole" style="margin-top:-5px !important"></select>
                    </li>
                    <li style="margin-left:5px">
                        <span>Department:</span>
                        <select name="ftrDepartment" id="ftrDepartment" style="margin-top:-5px !important"></select>
                    </li>
                    <li style="margin-left:5px;display:none">
                        <span>Type:</span>
                        <select name="ftrSysUser" id="ftrSysUser" style="margin-top:-5px !important">
                            <option value="-1">All</option>
                            <option value="0">System User</option>
                            <option value="1">Non-System User</option>
                        </select>
                    </li>
                    <li class="noBorder" style="margin-left: 5px;padding-right:10px">
                        <span>Status:</span>
                        <select name="ftrStatus" id="ftrStatus" style="margin-top:-5px !important">
                            <option value="-1">All</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        
        <div id="csGrid" class="grid">
            <table id="grid"></table>
            <div id="pager" class="noresults"></div>
        </div>
    </div>
    <div id="middleCS">
        <div id="userCSGrid" class="grid">
            <div id="userCSGridToolbar" class="toolbar">
                <iframe id="txtArea1" style="display:none"></iframe>
                <ul class="left">
                    <li><a class="add">Add</a> </li>
                    <li><a class="del" id="lnkDelete">Delete</a> </li>
                    @*<li><a class="download" id="lnkExportExcel">Export Department Users to Excel</a> </li>*@
                </ul>
            </div>
            <table id="urGrid"></table>
            <div id="urPager" class="noresults"></div>
        </div>
    </div>
</div>
<div id="diag">
    <div class="form">
        <fieldset style="margin-top:5px;border:0">
            <ul style="width:100%">
                <li>
                    <input type="hidden" id="txtCSId" name="CSId" />
                    <input type="hidden" id="txtCarestaffId" name="CarestaffId" />
                    @*<label>Carestaff</label><input type="text" id="txtCarestaffName" readonly="readonly" />*@
                </li>
                <li>
                    <input type="hidden" id="txtShiftId" name="ShiftId" />
                    <label>Shift</label><input type="text" id="txtShift" autofocus name="ShiftDesc" maxlength="150" class="w200px required" />
                </li>
                <li><label id="lblSched" style="margin-left:100px;margin-top:-5px;font-weight:bold;width:35%"></label></li>
                <li>
                    <label>Day Schedule</label>
                    <table class="dayofweek" style="margin-left:20px">
                        <tbody>
                            <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                            <tr>
                                <td><input name="Sun" type="checkbox" class="w20px"></td>
                                <td><input name="Mon" type="checkbox" class="w20px"></td>
                                <td><input name="Tue" type="checkbox" class="w20px"></td>
                                <td><input name="Wed" type="checkbox" class="w20px"></td>
                                <td><input name="Thu" type="checkbox" class="w20px"></td>
                                <td><input name="Fri" type="checkbox" class="w20px"></td>
                                <td><input name="Sat" type="checkbox" class="w20px"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="checkall" data-toggle="cc">Check All Days</a>
                </li>
            </ul>
        </fieldset>
    </div>
</div>

<style>
    table.dayofweek td {
        padding: 0px 4px 4px 4px;
        text-align: center;
        font-size: 12px;
    }

    table.dayofweek input {
        margin: 0 !important;
    }

    a.checkall {
        margin-left: 28%;
        float: left;
        padding: 5px 8px 0 0;
        text-align: right;
        color: #3b5998;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
