﻿@model Datasoft.AssistedLiving.Web.Models.CareStaffAdmissionData
@{
    Layout = null;
}

<script src="~/Scripts/Admin/carestaffadmission.js"></script>
<div id="calendarLayoutContainer" class="content">
    <div id="raToolbar" class="toolbar">
        <ul class="left">
            <li><label>Filter By:</label></li>
            <li>
                <select name="filterExp" id="filterExp" class="left" style="margin-top:-5px !important">
                    <option value="">All</option>
                @foreach (var r in Model.CareStaffs) {
                    <option value="@r.Id">@r.Name</option>
                }
                </select>
            </li>
            <li><label>Month:</label></li>
            <li>
                <select name="monthfilter" id="monthfilter" class="left" style="margin-top:-5px !important">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </li>
            <li><label>Year:</label></li>
            <li>
                <select name="yrfilter" id="yrfilter" class="left" style="margin-top:-5px !important"></select>
            </li>
            <li><a id="btnReload" class="refresh">Recreate Calendar</a></li>
            <li style="display:none;"><a class="print">Print</a></li>
            <li style="display:none;"><a id="btnAddAdmission" class="add">New Admission</a></li>
        </ul>
    </div>
    <div id="calendar" class="calendar"></div>
</div>
<style>
    table.dayofweek td {
    padding: 0px 4px 4px 4px;
    text-align:center;
    font-size:12px;

    }
    table.dayofweek input {margin:0 !important;}

</style>
<div id="diag">
    <div class="form">
        <fieldset style="margin-top:5px;border:0">
            <ul style="width:100%">
                <li>
                    <input type="hidden" id="txtId" name="Id" />
                    <input type="hidden" id="txtCarestaffId" name="CarestaffId" />
                    <label>Carestaff</label><input type="text" id="txtCarestaff" value="Search Carestaff name..." autofocus name="CarestaffName" maxlength="150" class="w300px required" />
                </li>
                <li>
                    <input type="hidden" id="txtResidentId" name="ResidentId" />
                    <label>Assigned To Resident</label><input type="text" id="txtResidentName" value="Search Resident name..." name="ResidentName" maxlength="150" class="w300px required" />
                </li>
                <li><label>Day of Week Schedule</label>
                       <table class="dayofweek">
                            <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                            <tr><td><input name="Sun" type="checkbox" class="w20px" /></td>
                                <td><input name="Mon" type="checkbox" class="w20px" /></td>
                                <td><input name="Tue" type="checkbox" class="w20px" /></td>
                                <td><input name="Wed" type="checkbox" class="w20px" /></td>
                                <td><input name="Thu" type="checkbox" class="w20px" /></td>
                                <td><input name="Fri" type="checkbox" class="w20px" /></td>
                                <td><input name="Sat" type="checkbox" class="w20px" /></td></tr>
                    </table></li>
                <li><label></label><label style="width:115px">(Military time format)</label></li>
                <li>
                    <label>Time In</label><input type="text" id="txtTimeIn" name="TimeIn" maxlength="2" class="w50px required" />
                </li>
                <li>
                    <label>Time out</label><input type="text" id="txtTimeOut" name="TimeOut" maxlength="2" class="w50px required" />
               </li>
                <li>
                    <label>Start Date</label><input type="text" id="txtPlanDate" name="PlanDate" maxlength="10" class="w200px required" />
                </li>
                <li>
                    <label>End Date</label><input type="text" id="txtEndDate" name="EndDate" maxlength="10" class="w200px" />
                </li>
                <li>
                    <label>Comments</label><textarea id="txtMemo" autofocus name="Memo" maxlength="150" class="w300px" />
                </li>
            </ul>
        </fieldset>
    </div>
</div>
