﻿
@{
    Layout = null;
}

<script src="~/Scripts/Admin/CSR.js"></script>
<style>
    .m-stack--demo.m-stack--hor .m-stack__demo-item, .m-stack--demo.m-stack--ver .m-stack__item {
        padding: 10px;
        border: 1px solid #eee;
        background: #fbfbfb;
        border: none !important;
        font-weight: 500;
    }
</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">

            <div class="caption col-xl-12 col-lg-12 col-xs-12">

                <div class="m-stack m-stack--ver m-stack--desktop m-stack--demo">


                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h3 class="m-portlet__head-icon" style="float: left;">
                            <i id="labelHeaderImg"></i>&nbsp;&nbsp;&nbsp;
                        </h3>

                        <h3 class="m-portlet__head-text" id="labelHeader" style="float: left;"></h3>
                    </div>

                </div>

                <div class="col-md-2">

                    <label id="dtlabel"><strong>Resident: </strong></label>
                    <select id="resident_list" name="resident_list" class="form-control m-input drpdwn"></select>
                </div>

                <div class="m-portlet__body col-xl-12 col-lg-12  col-xs-12">
                    @*<div class="col-lg-6 row m-widget4" id="csrtile" style="overflow-y: auto;overflow-x: hidden;height: calc(85vh - 100px);">

                        </div>*@
                    <div class="col-lg-12" id="resident_csr">
                        <h3 id="csrname"></h3>
                        <table id="csr_table" class="table m-table m-table--head-bg-success">
                            <thead>
                                <tr>
                                    <th>Supply</th>
                                    <th>Generic</th>
                                    <th>Strength</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="csrqty"></tbody>
                        </table>

                    </div>

                </div>

            </div>



        </div>
        <!--end::Portlet-->
    </div>
</div>