﻿@{
    Layout = null;
}
@*<style>
        th, td {
            padding: 7px;
        }
    </style>*@
<style>
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.111111%;
        flex: 0 0 11.111111%;
        max-width: 11.111111%;
        width: 11.111111%;
    }

    i.pop-icon {
        width: 15%;
    }
    .m-portlet.noshadow{
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }

</style>
<script src="~/Scripts/Admin/dailymeds.js"></script>

<input type="hidden" id="current_selid" />
<div class="row">
    <div class="col-xl-12" style="position:fixed;z-index:99;margin: inherit;width: 95%;padding: 0;top: 8%">
        <!--begin::Portlet-->
        <div class="m-portlet noshadow" id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>

                        @*<div id="roomContent" class="content">
                                <div id="headerRoom">
                                    <div id="wrapToolbar">
                                        <div id="raToolbar" class="toolbar">
                                            <ul class="left">
                                                <li class="noborder"><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                                                <li>
                                                    <span>&nbsp; Resident Name:</span>
                                                    <input type="text" name="ftrResident" id="ftrResident" style="margin-top:-5px !important" />
                                                </li>
                                                <li style="margin-left:5px" class="noborder">
                                                    <span>Room:</span>
                                                    <select name="ftrRoom" id="ftrRoom" style="margin-top:-5px !important"></select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="residentGrid" class="grid">
                                        <table id="grid"></table>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
                                <!--BEGIN: Search Form -->
                                <form class="m-header-search__form">
                                    <div class="m-header-search__wrapper">
                                        <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                            <i class="flaticon-search"></i>
                                        </span>
                                        <span class="m-header-search__input-wrapper">
                                            <input autocomplete="off" type="text" name="q" id="search_dam_value" class="m-header-search__input" value="" placeholder="Search...">
                                        </span>
                                        <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                            <i class="la la-remove"></i>
                                        </span>
                                        <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                            <i class="la la-remove"></i>
                                        </span>
                                    </div>
                                </form>
                                <!--END: Search Form -->

                            </div>
                        </li>
                        <li class="m-portlet__nav-item">
                            <select class="form-control m-input" name="ftrRoom" id="ftrRoom" style="margin-top:-5px !important"></select>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="showall">
                                <span>
                                    <span>
                                        Show All
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>

                    @*<ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                        <span>
                                            <i class="la la-plus"></i>
                                            <span>
                                                Add
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>

<div class="m-portlet__body row" id="dailymedstile" style="padding-top:50px;">

</div>

@* START : Modal for Daily Administering of Meds *@

<div class="modal fade" id="dailymeds_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resident Daily Administration of Medication</h5>

                @* COMMENTED THIS OUT BECAUSE IT DOESN'T WORK. *@
                @*<button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@

            </div>
            <div class="m-portlet__body">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* END : Modal for Daily Administering of Meds *@

<div id="diag">
    <div id="residentForm" class="content">

    </div>
</div>

