﻿@{
    Layout = null;
}
<script src="~/Scripts/Admin/dailymedsdiag.js"></script>
<style type="text/css">
	textarea.editor { width:97% !important;height:100% !important;outline:none;resize:none;}
	input.editor { width:88% !important;height:100% !important;outline:none;resize:none;font-size:11px;}
	body{font-family:Tahoma; font-size:12px;}
	.mcal { border-collapse: collapse;width:100%}
	.mcal td {padding:2px;}
	.ml { width:200px}
	.mc {width:40px;}

	.dl {font-size:11px;border:1px solid #000;text-align:center;}
	.dd {width:13px;font-size:10px;border:1px solid #000;text-align:center;}
	.dn {width:13px;font-size:10px;background-color:#ccc;border:1px solid #000;text-align:center;}
		
	.br {border-right:1px solid #000;}
	.bt {border-top:1px solid #000;}
	.bb {border-bottom:1px solid #000;}
	.bl {border-left:1px solid #000;}
	.ba {border: 1px solid #000;}
		
	.br2 {border-right:2px solid #000;}
	.bt2 {border-top:2px solid #000;}
	.bb2 {border-bottom:2px solid #000;}
	.bl2 {border-left:2px solid #000;}
	.ba2 {border: 2px solid #000;}
		
	.bc {background:#000;}
	.fc_fff { color:#fff;}
		
	.tc {text-align:center;}
	.tl {text-align:left;}
		
	.f14 {font-size:14px;}
	.f12 {font-size:12px;}
	.f11 {font-size:11px;}
	.f10 {font-size:10px;}

    span.warning {
        background: url(images/warning.png) no-repeat;
        color:#FF0000 !important;
        width:16px;
        height:16px;
        display:block;
        margin-left:5px;
        /*opacity: 0.5;
        filter: alpha(opacity=50);*/
    }
    span.complete {
        background: url(images/check.png) no-repeat;
        color:#1e1d1d !important;
        width:16px;
        height:16px;
        margin-left:5px;
        display:block;
        /*opacity: 0.5;
        filter: alpha(opacity=50);*/
    }
</style>
<section>


    <div class="col-lg-12 row">
        <div class="col-lg-2">
            <div class="form-group">
                <label>Month</label>
                <select name="monthfilter" id="monthfilter" class="form-control" style="margin-top:-5px !important">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <label>Year</label>
                <select name="yrfilter" id="yrfilter" class="form-control" style="margin-top:-5px !important"></select>
               
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <a id="btnReload" class="refresh btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">Recreate Calendar</a>
    </div>

    <div id="PCAL" style="padding:5px;overflow:auto;"></div>
</section>