﻿@model Datasoft.AssistedLiving.Web.Models.UserData
@{
    Layout = null;
}
<script src="~/Scripts/Admin/department.js"></script>
<script src="~/Scripts/Admin/department_users.js"></script>
<style>
    .upload-con {
        padding: 10px 10px;
    }

    .upload-header {
        padding: 5px 0px;
        border-bottom: 1px solid #B4B4B4;
    }

        .upload-header #btnAddfiles {
        }

        .upload-header #btnClearList {
            margin-left: 10px;
        }

    .upload-list {
        height: 200px;
        overflow-y: auto;
    }

    .upload-footer {
        margin-top: 10px;
        padding: 10px 5px;
        border-top: 1px solid #B4B4B4;
    }

        .upload-footer .totalfiles {
            color: #515151;
            font-size: 12px;
        }

    .upload-item {
        height: 30px;
        border: 1px solid #B3B3B3;
        background: #F2F2F2;
        border-radius: 5px 5px;
        padding: 3px 10px 3px 10px;
        margin-top: 5px;
    }

        .upload-item div.container {
            height: 12px;
        }

        .upload-item span.filename {
            color: #515151;
            font-size: 12px;
        }

        .upload-item span.size {
            font-size: 11px;
            color: #989495;
            font-weight: normal;
            padding-right: 5px;
        }

        .upload-item a.status-remove {
            display: block;
            background: transparent url("Images/trash.png") no-repeat right top;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        .upload-item a.status-warning {
            cursor: default;
            display: block;
            background: transparent url("Images/warning.png") no-repeat right top;
            width: 16px;
            height: 16px;
            opacity: 0.4;
        }

        .upload-item a.status-loading {
            cursor: default;
            display: block;
            background: transparent url("Images/loader.gif") no-repeat right top;
            width: 16px;
            height: 16px;
            opacity: 0.6;
        }

        .upload-item a.status-done {
            cursor: default;
            display: block;
            background: transparent url("Images/check.png") no-repeat right top;
            width: 16px;
            height: 16px;
            opacity: 0.6;
        }

        .upload-item div.prog {
            background: #fff;
            height: 3px;
            border: 1px solid #B3B3B3;
            border-radius: 5px 5px;
            margin-top: 5px;
        }

        .upload-item div.innerprog {
            background: #3EB7E2;
            height: 3px;
            border: 1px solid #B3B3B3;
            border-radius: 5px 5px;
        }

    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.111111%;
        flex: 0 0 11.111111%;
        max-width: 11.111111%;
        width: 11.111111%;
    }

    i.pop-icon {
        width: 10%;
    }

    .m-portlet.noshadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .resimg {
        width: 200px;
        margin-left: 34%;
        margin-top: 10px;
    }
</style>

<style>
    #tabsSelect {
        display: none;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    background-color: #5d78ff;
    color: #ffffff !important;
}
    #DeptTable_wrapper {
        /*margin-left: 18px !important;
        margin-right: 18px !important;*/
    }
    #DeptBody .dt-buttons {
        margin-left: 135px !important;
    }
    #DeptTable_length {
        margin-left: 12px !important;
    }
    #DeptTableDiv .m-portlet__head{
        height: 3.1rem !important;
    }
    #DeptTableBody {
        font-weight: 500;
    }
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <label style="font-weight:500 !important;width: max-content;padding-right: 10px;">
                        Select Department:

                    </label>
                    <select class="form-control m-input" name="SelectDept" id="SelectDept" style="font-weight: bold; font-size:12px;height: 35px;width: max-content;">
                        <option></option>
                    </select>
                    <ul class="m-portlet__nav">

                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="dept_add" data-toggle="modal" data-target="#dept_modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body" id="DeptBody">
                @*<div class="col-sm-6 col-lg-3 m--margin-bottom-10-tablet-and-mobile filtr">
                    <label style="font-weight:500 !important;">
                        Select Department: 
                       
                    </label>
                    <select class="form-control m-input" name="SelectDept" id="SelectDept" style="font-weight: bold; font-size:12px;height: 35px">
                        <option></option>
                    </select>
                </div>*@
                @*<br />
                <table id="DeptTable" class="m-portlet__body table table-striped- table-bordered table-hover table-checkable dtr-inline">
                    <thead>
                        <tr role="row">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                        </tr>
                    </thead>
                    <tbody id="DeptTableBody"></tbody>
                </table>*@
                <div id="DeptTableDiv" class="grid m-portlet " style="width:97%;margin:auto;margin-top:0px;padding-top: 0px !important">
                    <div class="m-portlet__head" style="background-color: #e7eaf9;">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                @*<span class="m-portlet__head-icon">
                                    <i id="labelHeaderImg"></i>
                                </span>*@
                                <h3 class="m-portlet__head-text" id="dtHeader"></h3>
                            </div>
                        </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="dept_delete m-portlet__nav-link m-portlet__nav-link--icon" id=""><i class="la la-trash-o" style="font-size:2rem"></i></a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" class="dept_edit m-portlet__nav-link m-portlet__nav-link--icon" id="" data-toggle="modal" data-target="#dept_modal"><i class="la la-edit" style="font-size:2rem"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <br/><br />
                    <table id="DeptTable" class="m-portlet__body table table-striped- table-bordered table-hover table-checkable dtr-inline">
                <thead>
                    <tr role="row">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th>Action</th> @*Cheche was here 1/6/2022*@
                    </tr>
                </thead>
                <tbody id="DeptTableBody"></tbody>
            </table>

                </div>

            </div>

        </div>


        <!--end::Portlet-->
    </div>
</div>

<div class="m-portlet__body row" id="department_tiles">

</div>


<div class="modal fade" id="dept_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Department Update</h5>
                <button type="button" class="close close1" modalid="dept_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form">
                <form id="dept_form">
                    <div class="form-group row" style="margin-left: 5px">
                        <label class="form-control-label">Is Maintenance</label> &nbsp;&nbsp;
                        <input type="checkbox" id="txtIsMaintenance" name="IsMaintenance" >
                    </div>
                    <div class="form-group">
                        <input id="txtId" type="hidden" name="Id" />
                        <span style="color: red;">*</span><label class="form-control-label">Department Name</label>
                        <input type="text" id="txtDescription" name="Description" maxlength="150" class="form-control m-input" required>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('dept_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="dept_save">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@* START: EMPLOYEE MODAL *@
<div class="modal fade" id="employee_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="emp_modal_lbl" class="modal-title">Employee - <span id="empname"></span></h5>

                <button type="button" class="close " aria-label="Close" onclick="closeModal('employee_modal')">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="userForm" class="modal-body form">
                @*<form id="usersForm">*@

			
                <div class="tab-content">
                <select class="form-control nav nav-tabs nav-fill" role="tablist" id="tabsSelect">
                            <option value="#tabs-1">Basic Profile Information</option>
                            <option value="#tabs-2">Other Information</option>
                            <option value="#tabs-3">Service Tasks</option>
                            @if (ViewBag.IsAdmin)
                            {
                                //removed this since this  is for viewing purposes only and there is already a role specified on the the first tab; Angelie: 03-23-22
                                @*<option value="#tabs-4">Role Permission</option>*@
                            }

                            @*<option value="#tabs-usr">Employee Forms</option>
                            <option value="#tabs-doc">Print Employee Files</option>
                            <option value="#tabs-dsp">Disciplinary Write-up</option>
                            <option value="#tabs-pdocs">Personal Document</option>
                            <option value="#tabs-pit">Proof of In-Service Trainings</option>*@

                        </select>
                        
                    <ul class="nav nav-tabs nav-fill" role="tablist" id="tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tabs-1">Basic Profile Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2">Other Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3">Service Tasks</a>
                        </li>
                        @if (ViewBag.IsAdmin)
                        {
                            //removed this since this  is for viewing purposes only and there is already a role specified on the the first tab; Angelie: 03-23-22
                            @*<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabs-4">Role Permission</a></li>*@
                        }

                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-usr">Employee Forms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-doc">Print Employee Files</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-dsp">Disciplinary Write-up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-pdocs">Personal Document</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-pit">Proof of In-Service Trainings</a>
                        </li>*@
                    </ul>

                </div>

                <div class="tab-content" id="tabsviews" style="overflow-y:auto;overflow-x:hidden">

                    <div class="tab-pane active form" id="tabs-1" role="tabpanel">
                        <form id="usersForm" class="form">


                            <input type="hidden" id="carestaffRoles" value="@(ViewBag.CarestaffRoles)" />
                            <div class="form-group m-form__group row resinfo-form resdform" style="margin-left:8%">
                                <div class="col-lg-12 resdform">
                                    <div class="resimg">
                                    </div>
                                </div>
                                @*<div class="col-lg-12 resdform">
                                    <div style="margin-left:36.5%; margin-top:7px">
                                        <a href="#" class="upload lnkUpload btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x" id="upload-resimg" data-toggle="modal" data-target="#uploadresimg_modal">
                                            <span>
                                                <i class="la la-archive">
                                                </i>
                                                <span>Upload Image</span>
                                            </span>
                                        </a>

                                    </div>
                                </div>*@
                            </div>
                            <br />



                            <div class="col-lg-8 row" style="width:75%;margin:auto;">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        @if (ViewBag.IsAdmin)
                                        {
                                            <label class="m-checkbox">
                                                <input type="checkbox" id="chkIsSysUser" name="IsSysUser"> Is System User
                                                <span></span>
                                            </label>
                                        }
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        <span style="color: red;">*</span>
                                        <label>User ID</label>
                                        <input type="text" class="form-control m-input nonsysuser" id="txtId" readonly="readonly" name="Id" maxlength="150" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Firstname</label>
                                        <input type="text" class="form-control m-input" id="txtFirstname" name="Firstname" maxlength="150" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Middle Initial</label>
                                        <input type="text" class="form-control m-input" id="txtMI" name="MiddleInitial" maxlength="1">
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Lastname</label>
                                        <input type="text" class="form-control m-input" id="txtLastname" name="Lastname" maxlength="150" required>
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        @if (ViewBag.IsAdmin)
                                        {
                                            <span style="color: red;">*</span>
                                                <label>Password</label>
                                                <input type="password" id="txtPassword" name="Password" maxlength="150" class="form-control m-input nonsysuser" required />
                                                <input type="text" id="txtPass" value="Type to change password" class="form-control m-input" style="color:#a4a4a4" />
                                        }

                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        @if (ViewBag.IsAdmin)
                                        {
                                            <span style="color: red;">*</span>
                                                <label>Confirm Password</label>
                                                <input type="password" id="txtConfirm" name="ConfirmPassword" maxlength="100" class="form-control m-input nonsysuser" required />
                                        }
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label class="">Email</label>
                                        <input type="text" class="form-control m-input email" id="txtEmail" name="Email" maxlength="150" required />
                                    </div>

                                    <div class="col-lg-12 non-sys-user">
                                        <label class="m-checkbox">
                                            <input type="checkbox" id="chkIsActive" name="IsActive"> Is Active
                                            <span></span>
                                        </label>

                                        <label class="m-checkbox">
                                            <input type="checkbox" id="chkIsForce" name="IsForce"> Force Change Password
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="">Role</label>
                                        <select name="Role" id="ddlRole" class="form-control">
                                            @foreach (var r in Model.RolesData.Roles)
                                            {
                                                <option value="@r.Id">@r.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        <label class="">Shift</label>
                                        <input type="hidden" id="txtCSId" name="CSId" />
                                        <input type="hidden" id="txtShiftId" name="ShiftId" />
                                        <input type="text" id="txtShift" name="Shift" autofocus maxlength="150" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        <span id="lblSched" style="font-size:13px;font-weight:bold;margin-left: 34%;"></span>
                                    </div>
                                    <div class="col-lg-12 row non-sys-user">
                                        <div class="col-lg-2">
                                            <label>Day Schedule<br /><a class="checkall" data-toggle="cc">Check All Days</a></label>
                                        </div>
                                        <table class="dayofweek2" style="margin-left:20px">
                                            <tbody>
                                                <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                                <tr>
                                                    <td><input name="Sun" type="checkbox" class="w20px"></td>
                                                    <td><input name="Mon" type="checkbox" class="w20px"></td>
                                                    <td><input name="Tue" type="checkbox" class="w20px"></td>
                                                    <td><input name="Wed" type="checkbox" class="w20px"></td>
                                                    <td><input name="Thu" type="checkbox" class="w20px"></td>
                                                    <td><input name="Fri" type="checkbox" class="w20px"></td>
                                                    <td><input name="Sat" type="checkbox" class="w20px"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="">Department</label>
                                        <select name="Department" id="ddlDepartment" class="form-control">
                                            <option></option>
                                            @foreach (var r in Model.DeptData.Depts)
            {
                                                <option value="@r.Id">@r.Name</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane form" id="tabs-2" role="tabpanel">
                        <form class="form">
                            <div class="col-lg-12">
                                <fieldset>
                                    <legend>Contact Information</legend>
                                </fieldset>
                            </div>
                            <div class="col-lg-8 row">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <label>Address1</label>
                                        <input type="text" id="txtAddress1" name="Address1" maxlength="50" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Address2</label>
                                        <input type="text" id="txtAddress2" name="Address2" maxlength="50" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>City</label>
                                        <input type="text" id="txtCity" name="City" maxlength="50" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>State</label>
                                        <input type="text" id="txtState" name="State" maxlength="2" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Zip</label>
                                        <input type="text" id="txtZip" name="Zip" maxlength="11" class="form-control m-input" />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <label>Gender</label>
                                        <select id="ddlGender" name="Gender" class="form-control">
                                            <option selected value="">-- Select Gender --</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Birthdate</label>
                                        <input type="text" id="txtBirthDate" name="BirthDate" maxlength="8" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Phone</label>
                                        <input type="text" id="txtPhone" name="Phone" maxlength="13" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Fax</label>
                                        <input type="text" id="txtFax" name="Fax" maxlength="13" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>SSN</label>
                                        <input type="text" id="txtSSN" name="SSN" maxlength="9" class="form-control m-input" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        @*<div id="AddServiceToolbar" class="toolbar">
                                <ul class="left">
                                    <li><a class="add">Add</a> </li>
                                    <li><a class="refresh_svctask">Refresh</a> </li>
                                </ul>
                            </div>*@
                        <form class="form">
                            <div id="serviceGrid" class="grid" style="margin-top: 16px;">
                                <table id="sGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th>Activity</th>
                                            <th>Department</th>
                                            <th>Resident</th>
                                            <th>Staff</th>
                                            <th>Room</th>
                                            <th>Schedule</th>
                                            <th>Recurrence</th>
                                            <th>Duration</th>
                                            <th>Date Created</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sGridtbl"></tbody>

                                </table>
                            </div>
                        </form>


                    </div>

                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                        <form class="form">
                            <div class="checkboxes">
                                <div class="col-lg-12" style="margin-top:-10px">
                                    <fieldset>
                                        <legend>Assign User Roles</legend>
                                    </fieldset>
                                </div>
                                <div class="checkbox-grid m-form__group form-group">
                                    <div class="m-checkbox-list">
                                        @{ int i = 1;}
                                        @foreach (var r in Model.RolePerm.Roles)
                                        {
                                            <label class="m-checkbox m-checkbox--success">
                                                <input type="checkbox" id="cbRole@(i)" value="@(r.Id)" /><label for="cbRole@(i)">
                                                    @r.Name
                                                </label>
                                                <span></span>
                                            </label>
                                            i++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="tabs-doc" role="tabpanel">
                        <div class="form">
                            <fieldset>
                                <legend>Employee File</legend>
                                <br />
                                <table class="form-fieldset">
                                    <tr>
                                        <td>
                                            <label>Select Print-out: </label>
                                        </td>
                                        <td>
                                            <select id="printsr" class="form-control">
                                                <option disabled selected></option>
                                                <option value="csr">Criminal Record Statement</option>
                                                <option value="eaa">Elder Abuse Acknowledgement</option>
                                                <option value="eh">Employee Handbook Receipt</option>
                                                <option value="er">Employee Rights</option>
                                                <option value="hsr">Health Screening Report</option>
                                                <option value="pfc">Personnel File Checklist</option>
                                                <option value="pf">Photography/Video Camera Consent Form</option>
                                                <option value="hb">Hepatitis B Vaccine Declination Form</option>
                                                <option value="per">Personnel Record</option>
                                                <option value="rls">Request for Live Scan Service</option>
                                                <option value="eev">Employment Eligibility Verification</option>
                                                <option value="pw">Payroll Withholding Notice</option>
                                                <option value="sjd">Signed Job Description</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="text-align:right">
                                            <button id="btn-printsr" class="btn btn-success">Print</button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>

                    @*<div class="tab-pane form" id="tabs-dsp" role="tabpanel">
                        <div id="DocumentToolbar" class="toolbar">
                            <ul class="left">
                                @* <li><a data-toggle="modal" data-target="#dwu_modal" id="dwu_upld"> New Disciplinary Write-up</a> </li>*@
                    @*<li><a class="download">Download</a> </li>*@
                    @*<li><a class="deldsp"><img src="~/Images/delete.png" alt=""> Delete</a> </li>*@
                    @*<li class="noBorder"><a class="refresh">Refresh</a> </li>*@
                    @*</ul>
                            </div>
                            <div id="documentGrid" class="grid">
                                <table id="wGrid">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Reason for Disciplinary Action</th>
                                            <th>Uploaded By</th>
                                            <th>Date Uploaded</th>
                                            <th>Filename</th>
                                            <th>Size</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody id="wubody"></tbody>
                                </table>
                            </div>
                        </div>*@

                    <div id="tabs-dsp" class="form tab-pane" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-dwu" data-target="#dwu_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Upload Document
                                </span>
                            </span>
                        </a>

                        @*<button type="submit" class="btn btn-primary" id="btnUploadDocument">Save</button>*@
                        <div id="documentGrid" class="grid">
                            <table id="dwuGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Reason for Disciplinary Action</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody id="dwubody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>

                    <div class="tab-pane form" id="tabs-pdocs" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-pdoc" data-target="#pdoc_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Add New File
                                </span>
                            </span>
                        </a>
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="refresh-pdoc" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-refresh"></i>
                                <span>
                                    Refresh
                                </span>
                            </span>
                        </a>
                        <div class="grid">
                            <table id="pdocGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="pdocbody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>

                    <div class="tab-pane form" id="tabs-pit" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-pit" data-target="#pit_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Upload In-Service Training Proof
                                </span>
                            </span>
                        </a>
                        <div class="grid">
                            <table id="pitGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody id="pitbody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>


                    <div class="tab-pane form" id="tabs-usr" role="tabpanel">
                        @Html.Partial("EmployeeForms")
                    </div>
                </div>
                @*</form>*@
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" id="saveemployeeinfo">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('employee_modal')">Cancel</button>*@
            </div>
        </div>
    </div>
</div>
@* END: EMPLOYEE MODAL *@

@* START: SERVICE TASK MODAL *@

<div class="modal fade" id="servicetask_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Service Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('servicetask_modal')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form">
                @if (ViewBag.IsAdmin)
                {
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">Department</label>
                        <div class="col-10">
                            <select id="ddlDept" name="Dept" class="form-control" required>
                                @foreach (var r in Model.ActivityScheduleData.Departments.Depts)
                                {
                                    <option value="@r.Id" @(Model.ActivityScheduleData.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                }
                            </select>
                        </div>
                    </div>


                }
                else
                {
                    <div class="col-8">
                        <input class="form-control m-input" type="hidden" id="ddlDept" name="Dept" value="@Model.ActivityScheduleData.Departments.SelectedValue">
                    </div>
                }

                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-4 col-form-label">Activity Description</label>
                    <div class="col-8">
                        <select id="txtActivity" name="ActivityId" class="form-control " required>
                            <option value=""></option>
                            @{
                                foreach (var r in Model.ActivityScheduleData.Activities)
                                {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50)
                                    {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }
                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-4 col-form-label">Activity Procedure</label>
                    <div class="col-8">
                        <textarea id="viewActivity" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control" style="outline:none;resize:none;width:292px !important" readonly="readonly" />
                    </div>
                </div>

                <div id="liRoom" class="form-group m-form__group row">
                    <label for="example-text-input" class="col-4 col-form-label">Room</label>
                    <div class="col-8">
                        <select id="txtRoomId" name="RoomId" class="form-control" required>
                            <option value=""></option>
                            @foreach (var r in Model.ActivityScheduleData.Rooms)
                            {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div id="liResident" class="form-group m-form__group row">
                    <label for="example-text-input" class="col-4 col-form-label">Resident</label>
                    <div class="col-8">
                        <select id="txtResidentId" name="ResidentId" class="form-control" disabled="disabled" required>
                            <option value=""></option>
                            @foreach (var r in Model.ActivityScheduleData.Residents)
                            {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-4 col-form-label">Schedule Time</label>
                    <div class="col-8">
                        <input class="form-control m-input" type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8">
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-12 col-form-label">Schedule Type</label>

                    <label class="m-radio col-4">
                        <input type="radio" name="recurring" value="1" id="reccur" checked="checked"> Recurring
                        <span></span>
                    </label>

                    <div class="col-8">
                        <table class="dayofweek" style="margin-left:20px">
                            <tbody>
                                <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                <tr>
                                    <td><input name="Sun" type="checkbox" class="w20px"></td>
                                    <td><input name="Mon" type="checkbox" class="w20px"></td>
                                    <td><input name="Tue" type="checkbox" class="w20px"></td>
                                    <td><input name="Wed" type="checkbox" class="w20px"></td>
                                    <td><input name="Thu" type="checkbox" class="w20px"></td>
                                    <td><input name="Fri" type="checkbox" class="w20px"></td>
                                    <td><input name="Sat" type="checkbox" class="w20px"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <label class="m-radio col-4">
                        <input id="onetime" style="width:auto" type="radio" name="recurring" value="2">
                        One-Time Service Schedule
                        <span></span>
                    </label>

                    <div class="col-8">

                        <input id="Onetimedate" type="text" name="Onetimedate" disabled="disabled" class="form-control m-input" />
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <input type="hidden" id="txtId" name="Id" />
                    <label for="example-text-input" class="col-4 col-form-label">
                        Carestaff
                    </label>
                    <div class="col-8">
                        <input type="hidden" xid="hdCarestaffId" value="" />
                        <select id="txtCarestaff" name="CarestaffId" class="form-control"></select>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('servicetask_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="savesvctask">Save changes</button>
            </div>
        </div>
    </div>
</div>


@* END: SERVICE TASK MODAL *@

@* START: UPLOAD IMAGE MODAL *@
<div class="modal fade" id="uploadresimg_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-residentName">Upload Image</h5>
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body">

                @* @using (Html.BeginForm("UploadImg", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {*@

                <form id="uploadresimg_form">
                    <input type="file" name="ImageData" id="ImageData" />
                    <input type="hidden" name="resid" id="resid" />
                    @*<input type="submit" id="uploadimg" value="Upload" />*@

                    @*}*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploadresimg_modal')">Cancel</button>
                <button type="submit" class="btn btn-primary" id="btnUploadResImg">Save</button>
            </div>
        </div>
    </div>
</div>
@* END: UPLOAD IMAGE MODAL *@

@* START: DISCIPLINARY WRITE UP MODAL *@

<div class="modal fade" id="dwu_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Upload Disciplinary Write-up File</h5>
                <input type="hidden" name="uid" id="uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body dwu_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadDWU" class="btn btn-primary" onclick="closeModal('dwu_modal')">Close</button>
            </div>
        </div>
    </div>
</div>

@* END: DISCIPLINARY WRITE UP MODAL *@

@* START: PERSONAL DOCUMENT MODAL *@

<div class="modal fade" id="pdoc_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Add Personal Document File</h5>
                <input type="hidden" name="pd_uid" id="pd_uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body pdoc_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadPDOC" class="btn btn-primary" onclick="closeModal('pdoc_modal')">Close</button>
            </div>
        </div>
    </div>
</div>

@* END:PERSONAL DOCUMENT MODAL *@

@* START: PROOF OF IN-SERVICE TRAINING MODAL *@
<div class="modal fade" id="pit_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Add Personal Document File</h5>
                <input type="hidden" name="pit_uid" id="pit_uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body pit_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadPIT" class="btn btn-primary" onclick="closeModal('pit_modal')">Close</button>
            </div>
        </div>
    </div>
</div>
@* END: PROOF OF IN-SERVICE TRAINING MODAL *@

