﻿
@{
    Layout = null;
}
<script src="~/Scripts/Admin/facilityconfig.js"></script>

<style>
    .ui-jqgrid-bdiv label {
        float: none !important;
        margin-right: 20px;
    }
</style>
<div id="facilityConfigContent" class="content">
    <div id="headerfacilityConfig">
        <div id="facilityGrid" class="grid">
            <table id="grid"></table>
            <div id="pager" class="noresults"></div>
        </div>
    </div>
    <div id="middlefacilityConfig">
        <div id="configGridToolbar" class="toolbar">
            <ul class="left">
                <li style="margin-top:-4px">
                    <label style="float:none" for="roleSelect">Role:</label>
                    <select style="float:none;width:200px" id="roleSelect" name="RoleId">
                        <option value="rooms">Rooms</option>
                        <option value="services">Services</option>
                        <option value="shifts">Shifts</option>
                    </select>
                </li>
                <li><a class="edit">Edit</a> </li>
                <li><a class="save" style="display:none">Save</a> </li>
                <li><a class="cancel" style="display:none">Cancel</a> </li>
            </ul>
        </div>
        <div id="configGrid" class="grid">
            <table id="cGrid"></table>
            <div id="cPager" class="noresults"></div>
        </div>
    </div>
</div>