﻿
@{
    ViewBag.Title = "Assisted Living Centre";
    Layout = null;

}

    <link href="~/Content/adminpage.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme -->

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
    section {
    padding: 0;
    }
</style>

<script src="~/Scripts/Admin/home.js"></script>


<div class="admtop">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- Header -->
<div class="adminpage">

    <div class="admheader">
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="Images/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">Welcome Administrator!</h1>
                        <hr class="star-light">
                        <span class="skills">@ViewBag.Name -- @ViewBag.Role</span>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="logowrap">
        <center><img class="img-responsive alclogo" src="Images/logo2.png" alt=""></center>
    </div>
</div>

