﻿@model Datasoft.AssistedLiving.Web.Models.RolesData
@{
    Layout = null;
}
<script src="~/Scripts/Admin/permission.js"></script>
<style>
    #perm1_filter {
        float: left;
        margin-top: 4px;
    }
    #perm2_filter {
        float: left;
        margin-top: 4px;
    }
    #perm1_tbody{
        font-weight: 400;
    }
    #perm2_tbody {
        font-weight: 400;
    }
</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="form-group m-form__group col-lg-2">
                    <label for="exampleSelect1"  style="font-weight:500">Role</label>
                    <select class="form-control m-input m-input--square" id="roleSelect" name="RoleId">
                        @foreach (var r in Model.Roles)
                        {
                            <option value="@r.Id">@r.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group row">

                    <div class="col-lg-6">

                        <h3 id="role1"></h3>
                        <table class="table" id="perm1">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Node Permission</th>
                                </tr>
                            </thead>
                            <tbody id="perm1_tbody"></tbody>
                        </table>

                    </div>

                    <div class="col-lg-6">

                        <h3 id="description2"></h3>
                        <table class="table" id="perm2">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Node Permission</th>
                                </tr>
                            </thead>
                            <tbody id="perm2_tbody"></tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>


<div class="modal fade" id="permission_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Score Value Update</h5>
                <button type="button" class="close close1" modalid="permission_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form">
                <form id="permission_form">
                    <div class="form-group">

                        @*<input type="hidden" id="AssessmentPointSettingId" name="AssessmentPointSettingId" />
                        <input type="hidden" id="FieldId" name="FieldId" />
                        <label>Field Text</label>
                        <input type="text" id="FieldText" name="FieldText" class="form-control m-input" readonly />

                        <label>Score Value</label>
                        <input type="text" id="ScoreValue" name="ScoreValue" maxlength="50" class="form-control m-input" />*@
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('permission_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="update_score">Save Changes</button>
            </div>
        </div>
    </div>
</div>






@*<div id="permissionContent" class="content">    
    <div id="headerpermission">
        <div id="permissionGridToolbar" class="toolbar">
            <ul class="left">
                <li style="margin-top:-4px">
                    <label style="float:none" for="roleSelect">Role:</label>
                    <select style="float:none;width:200px" id="roleSelect" name="RoleId">
                        @foreach (var r in Model.Roles) {
                            <option value="@r.Id">@r.Name</option>
                        }
                    </select>
                </li>
                <li><a class="edit">Edit</a> </li>
                <li><a class="save" style="display:none">Save</a> </li>
                <li><a class="cancel" style="display:none">Cancel</a> </li>
            </ul>
        </div>
        <div id="permissionGrid" class="grid">
            <table id="grid"></table>
            <div id="pager" class="noresults"></div>
        </div>
    </div>
    <div id="middlepermission">
        <div id="detGridToolbar" class="toolbar">
            <ul class="left">
                <li><a class="edit">Edit</a></li>
                <li><a class="save" style="display:none">Save</a> </li>
                <li><a class="cancel" style="display:none">Cancel</a> </li>
            </ul>
        </div>
        <div id="userpermissionGrid" class="grid">
            <table id="urGrid"></table>
            <div id="urPager" class="noresults"></div>
        </div>
    </div>
</div>*@