﻿@model Datasoft.AssistedLiving.Web.Models.DosageData
@{
    Layout = null;
}

<style>


    /* Auto-complete */
    .ui-helper-hidden-accessible {
        display: none;
    }

    .ui-autocomplete {
        background-color: #fff;
        border-bottom: #133783 1px solid;
        border-left: #133783 1px solid;
        border-right: #133783 1px solid;
        box-shadow: #999 0px 3px 3px;
        /*overflow: hidden;*/
        z-index: 99999;
        position: absolute;
        /*added by Michael*/
        max-height: 165px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .ui-autocomplete .ui-menu-item {
            cursor: default;
            display: block;
            font: menu;
            font-size: 12px;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
        }

            .ui-autocomplete .ui-menu-item a {
                padding: 3px 5px;
                display: block;
            }

            .ui-autocomplete .ui-menu-item .ui-state-focus {
                background-color: #bac9e0;
            }
            /*Angelie Here*/
            #rm_container2 .dt-buttons {
                margin-top: 0px !important;
                margin-left: 0px !important;
            }
            #rm_container3 .dt-buttons {
                margin-top: 0px !important;
                margin-left: 0px !important;
            }
            #dtlabel {
                margin-right: 9px;
            }
</style>
<script src="~/Scripts/Admin/receivemeds.js"></script>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row" >
    <!--begin::Portlet-->
    <div class="col-xl-12">
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    @*<div class="col-md-2">*@

                        <label id="dtlabel"><strong>Resident: </strong></label>
                        <select id="resident_list" name="resident_list" class="form-control m-input drpdwn"></select>
                    @*</div>*@
                </div>
                @*<div class="m-portlet__head-tools">

                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light" id="m_quicksearch" m-quicksearch-mode="default">
                                <!--BEGIN: Search Form -->
                                <form class="m-header-search__form">
                                    <div class="m-header-search__wrapper">
                                        <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                            <i class="flaticon-search"></i>
                                        </span>
                                        <span class="m-header-search__input-wrapper">
                                            <input autocomplete="off" type="text" name="q" id="search_rmd_value" class="m-header-search__input" value="" placeholder="Search...">
                                        </span>
                                        <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                            <i class="la la-remove"></i>
                                        </span>
                                        <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                            <i class="la la-remove"></i>
                                        </span>
                                    </div>
                                </form>
                                <!--END: Search Form -->

                            </div>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="showall">
                                <span>
                                    <span>
                                        Show All
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>*@

            </div>
            @*<div class="m-portlet__body" id="">
                <div class="col-md-2">

                    <label id="dtlabel"><strong>Resident: </strong></label>
                    <select id="resident_list" name="resident_list" class="form-control m-input drpdwn"></select>
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="row"  id="receivingofmeds_wrapper" style="overflow:hidden auto">
    @*<div class="col-lg-4" style="width:30%">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> Resident </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="rm_container">
                <div class=" m-widget4" id="rm_residents">

                </div>
            </div>
        </div>
    </div>*@
    <div class="col-lg-6 col-xs-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> Medication Profile </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="rm_container2">
                <h3 id="rname"></h3>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer" style="overflow:hidden auto">
                    <table id="rm_prescription_tbl" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Medication Profile Number</th>
                                <th>Date </th>
                                <th>Pharmacy</th>
                                <th>Physician</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        <tbody id="prescription_tbl"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> Medicine </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" id="rm_container3">
                <h3 id="prnumber"></h3>
                <div class="dataTables_wrapper dt-bootstrap4 no-footer" style="overflow:hidden auto">
                    <table id="rm_meddetail_tbl" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Description</th>
                                <th>Generic</th>
                                <th>Quantity Prescribed</th>
                                <th>Quantity Left</th>
                                <th>Frequency</th>
                                <th>Received Date</th>
                                <th>PRN Date</th>
                            </tr>
                        </thead>
                        <tbody id="meddetail_tbl"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->
@* START: MODAL ADD PRESCRIPTION *@

<div class="modal fade" id="add_prescription_modal" modalid="add_prescription_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Medication Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('add_prescription_modal')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_prescription_form">
                    <input type="hidden" id="txtId" name="Id" />

                    <div class="form-group row">
                        <label><span style="color: red;">*</span> Medication Profile Number:</label>
                        <input type="text" id="txtPrescriptionNumber" name="PrescriptionNumber" class="form-control m-input" maxlength="30" required />
                    </div>
                    <div class="form-group row">
                        <label> <span style="color: red;">*</span>  Date:</label>
                        <input type="text" id="txtPrescriptionDate" name="PrescriptionDate" class="form-control m-input" maxlength="10" required />
                    </div>
                    <div class="form-group row">
                        @*add this code for searching physician kim 11/16/22*@
                        <label> <span style="color: red;">*</span> Physician:</label>
                        <input list="Physicians" autofocus name="Physician" type="text" id="txtPhysician" class="form-control m-input" style="text-transform: capitalize;" maxlength="50" required />
                        <datalist id="Physicians" onchange="getphysician"></datalist>
                        @*<label> <span style="color: red;">*</span> Physician:</label>
                        <input type="text" id="txtPhysician" autofocus name="Physician" maxlength="150" class="form-control m-input" required />*@
                    </div>
                    <div class="form-group row">
                        @*add this code for searching Pharmacy kim 11/28/22*@
                        <label>  <span style="color: red;">*</span> Pharmacy</label>
                        <input list="Pharmacy" autofocus name="Pharmacy" type="text" id="txtPharmacy" class="form-control m-input" style="text-transform: capitalize;" maxlength="40" required />
                        <datalist id="Pharmacy" onchange="getpharmacy"></datalist>
                        @*<input type="text" id="txtPharmacy" name="Pharmacy" maxlength="150" class="form-control m-input" required />*@
                    </div>
                    <div class="form-group row">
                        (<span style="color: red;">*</span>)<span style="font-style: italic;"> Required fields.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('add_prescription_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="save_prescription">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* END: MODAL ADD PRESCRIPTION *@

@* START: MODAL ADD MEDICINE TO PRESCRIPTION *@ @*added requirements : 3-24-2022 : Cheche*@

<div class="modal fade" id="add_medicine_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Medicine to Prescription <span id="txtprid"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('add_medicine_modal')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_medicine_form">
                    <input type="hidden" id="txtId" name="Id" />
                    <input type="hidden" id="txtPrescriptionId" name="PrescriptionId" />
                    <input type="hidden" id="txtSupplyId" name="SupplyId" />
                    <input type="hidden" id="txtProductType" name="ProductType" />

                    <div class="form-group row ui-widget">
                        <label><span style="color: red;">*</span> Medicine or Supply</label>
                        <input type="text" id="txtSupplyName" autofocus name="SupplyName" maxlength="70" class=" form-control m-input" required />

                    </div>
                    <div class="m-form__group form-group row">

                        <div class="col-9">
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                    <input type="checkbox" id="cbIsPRN" name="IsPRN"> Is PRN
                                    <span></span>
                                </label>


                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label>PRN Administration Date</label>
                        <input type="text" id="txtPRNDate" name="PRNDate" disabled="disabled" class="form-control m-input" maxlength="10" />
                    </div>
                    <div class="form-group row">
                        <label><span style="color: red;">*</span> Quantity</label>
                        <input type="text" id="txtQty" name="Qty" maxlength="10" class="Qty form-control m-input" required />
                        <input type="hidden" id="SupplyCount" name="SupplyCount" />
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label><span style="color: red;">*</span> Dosage</label>
                            @*<input type="text" id="MedDosage" name="MedDosage" placeholder="1" class="MedDosage form-control m-input" required/> 3-25-2022 *@
                            <input type="text" id="txtMedDosage" autofocus name="MedDosage" maxlength="10" class="form-control m-input" required />
                            <label for="MedDosage" style="font-size: 10px;float: left;">
                                e.g. 1tab/1cap/5ml/10ml

                            </label>
                        </div>
                        <div class="col-6">
                            <label> <span style="color: red;">*</span> Medicine Type</label>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--solid">
                                    <input type="radio" id="medType" value="1" name="medType" checked="checked" required> tablet/capsule
                                    <span></span>
                                </label>

                            </div>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--solid">
                                    <input type="radio" id="medType" value="0" name="medType"> syrup
                                    <span></span>
                                </label>
                            </div>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--solid">
                                    <input type="radio" id="medType" value="2" name="medType"> other
                                    <span></span>
                                </label>
                            </div>
                            @*<div class="m-radio-inline" style="display:none;">
                     <label class="m-radio m-radio--solid">
                     <input type="radio" value="3" name="medType" checked="checked"> syrup
                     <span></span>
                     </label>
                </div>*@

                        </div>

                        <div class="col-6">
                            @*// 3-29-2022*@
                            <label> <span style="color: red;">*</span> Medicine Unit</label> &nbsp;
                            <select id="ddlmedicineunit" name="MedicineUnit" class="form-control">
                                <option id="" name="medunit"></option>
                                <option id="cc" name="medunit">cc</option>
                                <option id="g" name="medunit">g</option>
                                <option id="mg" name="medunit">mg</option>
                                <option id="ml" name="medunit">ml</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label>  <span style="color: red;">*</span> Frequency</label>
                            <select name="Dosage" id="txtDosage" class="form-control" required>
                                @foreach (var r in Model.Dosages)
                                {
                                    <option value="@r.Id">@r.Name</option>
                                }
                            </select>

                        </div>
                        <div class="col-6">
                            <label>  <span style="color: red;">*</span> Start time</label>
                            <input type="text" id="txtStartTime" name="StartTime" class="form-control m-input" required/>

                        </div>
                    </div>
                    
                    <div class="form-group row">
                        (<span style="color: red;">*</span>)<span style="font-style: italic;"> Required fields.</span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('add_medicine_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="save_medicine">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* END: MODAL ADD MEDICINE TO PRESCRIPTION *@
