﻿@model Datasoft.AssistedLiving.Web.Models.ResidentAdmissionData
@{
    Layout = null;
}

<script>
    var _FR = @Html.Raw(Json.Encode(Model));
</script>
<script src="~/Scripts/Admin/residentadmission.js"></script>


<div id="calendarLayoutContainer" class="content">
    <div id="raToolbar" class="toolbar">
        <ul class="left">
            <li><label>Filter By:</label></li>
            <li><select name="filterExp" id="filterExp" class="left" style="margin-top:-5px !important">
                    @*<optgroup label="Facilities">
                        @foreach (var r in Model.Facilities) {
                            <option value="facility_@r.Id">@r.Name</option>
                        }
                    </optgroup>*@
                    @*<optgroup label="Rooms">
                       
                    </optgroup>*@
                    @foreach (var r in Model.Rooms) {
                        <option value="room_@r.Id">@r.Name</option>
                    }

                </select></li>
            <li><label>Month:</label></li>
            <li>
                <select name="monthfilter" id="monthfilter" class="left" style="margin-top:-5px !important">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </li>
            <li><label>Year:</label></li>
            <li>
                <select name="yrfilter" id="yrfilter" class="left" style="margin-top:-5px !important"></select>
            </li>
            <li><a id="btnReload" class="refresh">Recreate Calendar</a></li>
            <li style="display:none;"><a class="print">Print</a></li>
            <li style="display:none;"><a id="btnAddAdmission" class="add">New Admission</a></li>
        </ul>
    </div>
    <div id="calendar" class="calendar"></div>
</div>



<div id="diag">
    
</div>
<style type="text/css">
    .calendar table tbody td.planned div, .calendar table tbody td.actual div {
    overflow-y:auto !important;
    }
</style>