﻿@{
    Layout = null;
}
<script src="~/Scripts/Admin/role.js"></script>
<style>
    #roles {
        font-weight: 400;
    }
    #role_detail {
        font-weight: 400;
    }
    
</style>
@*<div id="roleContent" class="content">
    <div id="headerRole">
        <div id="wrapToolbar">
            <div id="roleGridToolbar" class="toolbar">
                <iframe id="txtArea1" style="display:none"></iframe>
                <ul class="left">
                    <li><a class="add">Add</a> </li>
                    <li><a class="del" id="lnkDelete">Delete</a> </li>
                    <li><a class="download" id="lnkExportExcel">Export Role Users to Excel</a> </li>*@
                    @*<li><a class="unsign" id="lnkDeactivate">De-Activate</a> </li>*@
                @*</ul>
            </div>
            <div id="raToolbar" class="toolbar">
                <ul class="left">
                    <li><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                    <li style="margin-left:5px">
                        <span>Description:</span>
                        <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                    </li>
                    <li class="noborder" style="margin-left:5px">
                            <input id="isActive" type="checkbox" /><label for="isActive" style="font-size:11px">Is System Defined</label>
                        </li>
                </ul>
            </div>
        </div>
        <div id="roleGrid" class="grid">
            <table id="grid"></table>
            <div id="pager" class="noresults"></div>
        </div>
    </div>
    <div id="middleRole">
        <div id="userRoleGrid" class="grid">
            <table id="urGrid"></table>
            <div id="urPager" class="noresults"></div>
        </div>
    </div>
</div>*@
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12 col-xs-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">     @*removed comment to allow adding roles : 3-24-2022 : Cheche*@       
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="addRole" data-target="#role_modal" data-toggle="modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           

            <div class="m-portlet__body">
                <div id="" class="grid col-lg-12">
                    <table id="roles" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Description</th>
                                <th>Responsibility</th>
                                <th>Is System Defined</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="roles_btable">
                            @*<tr><td>No data to show</td></tr>*@
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-xs-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="">

            <div class="m-portlet__body">
                <div id="" class="grid col-lg-12 col-xs-12">
                    <h4 id="role_detail_lbl"></h4>
                    <table id="role_detail" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Date Ceated</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody id="role_detail_btable">
                            @*<tr><td colspan="7">* Select a role</td></tr>*@
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>





@*<div id="diag">
    <div class="form">
        <ul style="width:400px;margin-left:20px">
            <li>
                <input id="txtId" type="hidden" name="Id" />
                <label>Role Description</label><input type="text" id="txtDescription" name="Description" maxlength="150" class="w200px required" />
            </li>
        </ul>
    </div>
</div>*@

<div class="modal fade" id="role_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-residentName">Role</h5>
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="form">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group m-form__group">
                        <label class="">Description</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="txtName" name="Description" class="form-control m-input required" maxlength="150">
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>
                        </div>
                    </div>

                    <div class="form-group m-form__group">
                        <label class="">Responsibility</label>
                        <div class="m-input-icon m-input-icon--right">
                            <textarea style="height:150px;" type="text" id="responsibility" name="Responsibility" class="form-control m-input required"></textarea>
                            @*<span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>*@
                        </div>
                    </div>

                </div>             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('role_modal')">Cancel</button>
                <button type="submit" class="btn btn-primary" id="saveRole">Save</button>
            </div>
        </div>
    </div>
</div>