﻿
@{
    Layout = null;
}
@*<script src="~/assets/dist/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/Admin/room.js"></script>
<script src="~/assets/dist/datatables.bundle.js"></script>
<script src="~/assets/dist/dataTables.buttons.min.js"></script>
<script src="~/assets/dist/buttons.html5.min.js"></script>
<link href="~/assets/dist/datatables.bundle.css" rel="stylesheet" />

<style>
    .rm_col {
        padding: 20px;
    }

    .rm_textarea {
        height: 40px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #5d78ff;
    color: #ffffff !important;
    }
    #rm1_tbody {
        font-weight: 400 !important;
    }
    #rm2_tbody {
        font-weight: 400 !important;
    }
    #room_modal {
        margin-left: 16px;
    }
    #rm2, #rm1 {
        text-transform: capitalize;
    }
   
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader">Rooms</h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="addRoomBtn" data-target="#add_room_modal" data-toggle="modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add Room
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="form-group row">

                    <div class="col-lg-6 col-xs-12">

                        <h3 id="room_dtable_lbl">Room List</h3>
                        <table class="table" id="rm1">
                            <thead>
                                <tr>
                                    <th>Room</th>
                                    <th>Room Type</th>
                                    <th>Level</th>
                                    <th>Room Rate</th>
                                    <th>Action</th> 
                                </tr>
                            </thead>
                            <tbody id="rm1_tbody"></tbody>
                        </table>

                    </div>

                    <div class="col-lg-6 col-xs-12">

                        <h3 id="resident_dtable_lbl"></h3>
                        <table class="table" id="rm2">
                            <thead>
                                <tr>
                                    <th>Resident Name</th>
                                    <th>Gender</th>
                                    <th>SSN</th>
                                    <th>Birthdate</th>
                                </tr>
                            </thead>
                            <tbody id="rm2_tbody"></tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>


@* START: ROOM MODAL *@
@*<div class="modal fade" id="room_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">*@
<div class="modal fade" id="room_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;overflow: auto;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:1400px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="room_name_lbl"></h5>

                <button type="button" class="close close1" modalid="room_modal" id="close_room_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="userForm" class="modal-body form">
                <form id="rm_form">
                    <div class="tab-content">
                        <ul class="nav nav-tabs nav-fill" role="tablist" id="tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tabs-1" id="rm_information">Room Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" id="services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" id="serviceHistory">Service History</a>
                            </li>
                        </ul>

                    </div>

                    <div class="tab-content" id="tabsviews">
                        @* =========START: ROOM INFORMATION========= *@
                        <div class="tab-pane active form" id="tabs-1" role="tabpanel">
                            <div class="col-lg-12">
                                <fieldset>
                                    <legend>Room Information</legend>
                                </fieldset>
                            </div>

                            <table id="room_form" style="width:100%;">
                                <tr>
                                    <td class="rm_col">
                                        <label for="txtName" class="form-control-label">Name:</label>
                                        <input type="hidden" id="txtId" name="Id" />
                                        <textarea id="txtName" class="form-control rm_textarea" autofocus name="Name" maxlength="150" required></textarea>
                                    </td>
                                    <td class="rm_col">
                                        <label for="txtLevel" class="form-control-label">Level:</label>
                                        <textarea id="txtLevel" class="form-control rm_textarea" name="Level" maxlength="150" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rm_col">
                                        <label for="ddlRoomType" class="form-control-label">Type:</label>
                                        <select id="ddlRoomType" name="RoomType" class="form-control rm_textarea">
                                            <option value="1">Suite</option>
                                            <option value="2">Residence</option>
                                        </select>
                                    </td>
                                    <td class="rm_col">
                                        <label for="txtRate" class="form-control-label">Rate:</label>
                                        <textarea id="txtRate" class="form-control rm_textarea" name="Rate" maxlength="5" required></textarea>
                                    </td>
                                </tr>
                            </table>


                        </div>
                        @* =========END: ROOM INFORMATION========= *@

                        @if (ViewBag.RoleID != 10 || ViewBag.RoleID != 12)
                        {
                            //if head housekeeper or head maintenance
                            //hide this button
                            @* =========START: SERVICES========= *@
                            <div class="tab-pane form" id="tabs-2" role="tabpanel">

                                <div class="tab-pane form" id="tabs-2" role="tabpanel">
                                    <div id="AddServiceToolbar" class="col-lg-12 toolbar">
                                        <fieldset>
                                            <legend>Services</legend>
                                        </fieldset>

                                        <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air add" data-target="#serviceTask_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                            <span>
                                                <i class="la la-plus"></i>
                                                <span>
                                                    Add Service Task
                                                </span>
                                            </span>
                                        </a>
                                        @*<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air del" data-target="#" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                            <span id="">
                                                <i class="la la-trash-o"></i>
                                                Delete
                                            </span>
                                        </a>*@
                                        <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air refresh" data-target="#" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                            <span id="">
                                                <i class="la la-refresh"></i>
                                                Refresh
                                            </span>
                                        </a>
                                    </div>
                                    <div id="serviceGrid" class="grid" style="margin-top:20px;">
                                        <table id="sGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                            <thead>
                                                <tr>
                                                    <th>Activity</th>
                                                    <th>Department</th>
                                                    <th>Staff</th>
                                                    <th>Room</th>
                                                    <th>Schedule</th>
                                                    <th>Recurrence</th>
                                                    <th>Duration</th>
                                                    <th>Date Created</th>
                                                    <th>Delete</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="sGrid_body"></tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                            @* =========END: SERVICES========= *@
                            @* =========START: SERVICE HISTORY========= *@
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div id="AddServiceToolbar" class="col-lg-6 toolbar">
                                    <fieldset>
                                        <legend>Service History</legend>
                                    </fieldset>

                                </div>
                                <div id="historyServiceToolbar" class="col-lg-12 row toolbar">
                                    <div class="col-lg-3">
                                        <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air refresh" data-target="#" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                            <span id="">
                                                <i class="la la-refresh"></i>
                                                Refresh
                                            </span>
                                        </a>
                                        <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air generate" data-target="#" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                            <span id="">
                                                <i class="la la-share-alt-square"></i>
                                                Generate
                                            </span>
                                        </a>
                                    </div>

                                        <div class="col-sm-2">
                                            <span>Filter:   From</span>
                                            <div class="m-input-icon m-input-icon--right">
                                                <input id="fromDate" class="day-picker form-control dtpicker" placeholder="Select day">
                                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-calendar-alt"></i></span></span>
                                            </div>

                                        </div>
                                    <div class="col-sm-2">
                                        <span>To</span>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input id="toDate" class="day-picker form-control dtpicker" placeholder="Select day">
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-calendar-alt"></i></span></span>
                                        </div>
                                    </div>
                                        


                                    </div>

                                <div id="historyGrid" class="grid">

                                    <table id="hGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr>
                                                <th>Task</th>
                                                <th style="max-width:500px;">Procedure</th>
                                                <th>Department</th>
                                                <th>Resident</th>
                                                <th>Room</th>
                                                <th>Staff</th>
                                                <th>Schedule</th>
                                                <th>Duration (Minute)</th>
                                                <th>Status</th>
                                                <th>Acknowledge Date</th>
                                                <th>Acknowledge By</th>
                                                <th>Remarks</th>

                                            </tr>
                                        </thead>
                                        <tbody id="hGrid_body"></tbody>
                                    </table>
                                   
                                </div>


                            </div>
                            @* =========END: SERVICE HISTORY========= *@
                        }



                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addRoom">Save</button>
                <button type="button" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('room_modal')">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* END: ROOM MODAL *@

@* START: ADD SERVICE TASK MODAL *@

<div class="modal fade" id="serviceTask_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style= "display:none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Service Task</h5>
                <button type="button" class="close close1" data-dismiss="modal" modalid="serviceTask_modal" id="close_serviceTask" aria-label="Close">
            <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="stModal_form" autocomplete="off">
                    @if (ViewBag.IsAdmin)
                    {


                        <div class="form-group">
                            <span style="color: red;">*</span>
                            <label for="ddlDept" class="form-control-label">Department:</label>
                            <select id="ddlDeptRM" name="Dept" class="form-control" required>
                                @foreach (var r in Model.Departments.Depts)
                                {

                                    <option value="@r.Id" @(Model.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                }

                            </select>
                        </div>

                    }
                    else
                    {

                        <div class="form-group" style="display:none">
                            <input type="hidden" id="ddlDeptRM" name="Dept" value="@Model.Departments.SelectedValue" />
                        </div>

                    }


                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <label for="txtActivity" class="form-control-label">Activity Description</label>
                        <select id="txtActivityRM" name="ActivityId" class="form-control" required>
                            <option value=""></option>
                            @{
                                foreach (var r in Model.Activities)
                                {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50)
                                    {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }

                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="viewActivity" class="form-control-label">Activity Procedure</label>
                        <textarea id="viewActivityRM" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group" id="rm_room_section">
                        <span style="color: red;">*</span>
                        <label for="txtRoomId" class="form-control-label">Room</label>
                        <select id="txtRoomIdRM" name="RoomId" class="form-control" required>
                            <option value=""></option>
                            @foreach (var r in Model.Rooms)
                            {

                                <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group" id="rm_resident_section">
                        <label for="txtResidentId" class="form-control-label">Resident</label>
                        <select id="txtResidentIdRM" name="ResidentId" class="form-control">
                            <option value=""></option>
                            @foreach (var r in Model.Residents)
                            {
                                <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <span style="color: red;">*</span>
                        <label for="txtTimeIn" class="form-control-label">Schedule Time</label>
                        @*
                            <input type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="form-control required" />*@

                        <div class="input-group timepicker">
                            <input type="text" id="txtTimeInRM" name="ScheduleTime" maxlength="8" class="form-control" required />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="reccur" class="form-control-label">Recurring</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="rm_reccur" style="width:auto;" type="radio" name="recurring" value="1" checked="checked" class="form-control" />
                                    </td>
                                    <td>
                                        <table class="dayofweek">
                                            <tbody>
                                                <tr>
                                                    <td>Sun</td>
                                                    <td>Mon</td>
                                                    <td>Tue</td>
                                                    <td>Wed</td>
                                                    <td>Thu</td>
                                                    <td>Fri</td>
                                                    <td>Sat</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input name="Sun" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Mon" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Tue" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Wed" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Thu" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Fri" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Sat" type="checkbox" class="w20px">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="onetime" class="form-control-label">One-Time Service Schedule</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="onetimeRM" style="width:auto" type="radio" name="recurring" value="2" class="form-control" />
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="OnetimedateRM" type="text" name="Onetimedate" disabled="disabled" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="txtIdRM" name="Id" />
                        <span style="color: red;">*</span>
                        <label for="txtCarestaff" class="form-control-label">Carestaff</label>
                        <input type="hidden" xid="hdCarestaffId" value="" />
                        <select id="txtCarestaffRM" name="CarestaffId" class="form-control" required></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_st" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('addtask_modal')">Cancel</button>
                <button type="button" class="btn btn-primary save" id="new_service_task">Save</button>
            </div>
        </div>
    </div>
</div>


@* END: ADD SERVICE TASK MODAL *@