﻿@model Datasoft.AssistedLiving.Web.Models.DeptData
@{
    Layout = null;
}
<script src="~/Scripts/Admin/services.js"></script>
<style>
    #ftrProc.option {
        width: 150px;
    }

    select, option {
        width: 150px;
    }

    #ServGrid {
        width: 97%;
        margin-left: 9px;
        font-weight: 400;
    }

    #srvcsGrd_filter {
        margin-top: -32px !important;
    }
    
    #service_datatable {
        font-weight: 400 !important;
    }
</style>
@*<div id="taskContent" class="content">
    <div id="headTask">
        <div id="wrapToolbar">
            <div id="taskToolbar" class="toolbar">
                <iframe id="txtArea1" style="display:none"></iframe>
                <ul class="left">
                    <li><a class="add">Add Service</a> </li>
                    <li><a class="del">Delete Service</a> </li>
                    <li><a class="download" id="lnkExportExcel">Export to Excel</a> </li>
                </ul>
            </div>
            <div id="raToolbar" class="toolbar">
                <ul class="left">
                    <li class="noborder"><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                    <li style="margin-left:5px" class="noborder">
                        <select id="ddlFilter" style="margin-top:-6px !important;">
                            <option value="1">Activity</option>
                            <option value="2">Procedure</option>
                            <option value="3">Duration</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                    </li>
                    <li style="margin-left:5px" class="noborder">
                        <span>Department:</span>
                        <select name="ftrRole" id="ftrRole" style="margin-top:-5px !important"></select>
                    </li>*@
@*<li class="noborder" style="margin-left:5px">
        <input id="isActive" type="checkbox" /><label for="isActive" style="font-size:11px;">Is Active</label>
    </li>*@
@*</ul>
                </div>
            </div>
            <div id="activityGrid" class="grid">
                <table id="grid"></table>
            </div>
        </div>
    </div>*@

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    @*//kim for homecare 07/13/22*@
    <input type="hidden" id="agency_ishomecare" value="@ViewBag.isHomeCare">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="servicesRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">

                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="addServices" data-target="#services_modal" data-toggle="modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add Service
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body row">
                <div class="row col-lg-12" style="margin-left: 3px !important;">

                    <div class="col-sm-12 col-md-10">
                        <div class="dataTables_length" id="m_table_1_length">
                            <form class="m-form m-form--fit m--margin-bottom-20m" autocomplete="off">
                                <div class="row m--margin-bottom-20">
                                    @*//kim for homecare 07/13/22*@
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <div class="col-sm-12 col-lg-3 m--margin-bottom-10-tablet-and-mobile filtr">

                                            <label>
                                                Activity
                                            </label>
                                            <select class="form-control m-input" name="ftrActivity" id="ftrActivity">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div class="col-sm-12 col-lg-3 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                Procedure
                                            </label>
                                            <select class="form-control m-input" name="ftrProc" id="ftrProc">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div class="col-sm-12 col-lg-3 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                Duration
                                            </label>
                                            <select class="form-control m-input" name="ftrDuration" id="ftrDuration">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-lg-3 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                Department
                                            </label>
                                            <select class="form-control m-input" name="ftrRole" id="ftrRole">
                                                <option></option>
                                            </select>
                                        </div>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>


                    <div id="ServGrid" class="grid">

                        <table id="service_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                            <thead>
                                <tr id="filters" role="row">
                                    <th class="ftr" style="max-width:300px;">Activity</th>
                                    <th style="max-width:300px;">Procedure</th>
                                    @*//kim for homecare 07/13/22*@
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <th style="max-width:100px;">Duration(minutes)</th>
                                        <th>Department</th>
                                    }
                                    <th>Created By</th>
                                    <th>Date Updated</th>
                                    <th>Updates Made</th>
                                    <th>Action</th> @*Cheche was here 1/25/2022*@

                                </tr>
                            </thead>
                            <tbody id="srvcs_btable">
                                @**@<tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                @*<div class="m-portlet" style="width:95%;margin:auto">
                        <div class="m-portlet__body">
                            <div id="ServGrid" class="grid" style="width:100%">

                                <table id="srvcsGrd" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                    <thead>
                                        <tr id="filters" role="row">
                                            <th class="ftr" style="max-width:300px;">Activity</th>
                                            <th style="max-width:500px;">Procedure</th>
                                            <th style="max-width:100px;">Duration(minutes)</th>
                                            <th>Department</th>
                                            <th>Created By</th>
                                            <th>Date Created</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="srvcs_btable">
                                        <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>



@*<div id="diag">
        <div class="form">
            <fieldset style="margin-top:5px;border:0">
                <ul style="width:100%">
                    @if (ViewBag.IsAdmin) {
                    <li><label>Department</label><select id="ddlDept" name="Dept" class="w300px required">
                        @foreach (var r in Model.Depts) {
                            <option value="@r.Id"@(Model.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                        }
                        </select>
                    </li>
                    }else {
                    <li style="display:none"><input type="hidden" id="ddlDept" name="Dept" value="@Model.SelectedValue" /></li>
                    }
                    <li>
                        <input type="hidden" id="txtId" name="Id" />
                        <label>Activity Description</label><textarea id="txtActivity" autofocus name="Activity" maxlength="1000" class="w300px required" style="outline:none;resize:none; height:50px" />
                    </li>
                    <li>
                        <label>Task Procedue</label><textarea id="txtProc" autofocus name="Proc" maxlength="1000" class="w300px required" style="outline:none;resize:none;" />
                    </li>
                    <li>
                        <label>Duration</label><input type="text" id="txtDuration" maxlength="3" name="Duration" class="required" style="width:30px !important"/><span style="font-size:10px;font-style:italic;vertical-align:-3px">(In-Minutes)</span>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>*@

<div class="modal fade" id="services_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Service</h5>
                <input type="hidden" name="Id" id="Id" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            @*<form>*@
            <div class="modal-body form'" style="width:80%; margin:auto;">
                <form id="service_modal_form">
                    @if (ViewBag.isHomeCare == "False")
                    {
                        <div class="form-group m-form__group">
                            <label class="">Department</label>
                            <div class="m-input-icon m-input-icon--right">
                                <select id="ddlDept" name="Dept" class="w300px form-control m-input" required>
                                    @foreach (var r in Model.Depts)
                                    {
                                        <option value="@r.Id" @(Model.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Activity Description</label>
                        <div class="m-input-icon m-input-icon--right">
                            <textarea id="txtActivity" name="Activity" class="form-control m-input" maxlength="150" rows="2" required></textarea>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-edit"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Task Procedure</label>
                        <div class="m-input-icon m-input-icon--right">
                            <textarea id="txtProc" name="Proc" class="form-control m-input" rows="5" required></textarea>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-door-open"></i></span></span>
                        </div>
                    </div>
                    @if (ViewBag.isHomeCare == "False")
                    {
                        <div class="form-group m-form__group">
                            <span style="color: red;">*</span>
                            <label class="">Duration</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" id="txtDuration" name="Duration" class="form-control m-input" maxlength="150" required>
                                <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-donate"></i></span></span>
                            </div>
                        </div>
                    }
                </form>
            </div>
            @*</form>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('services_modal')">Cancel</button>
                <button type="submit" class="btn btn-primary" id="saveServices">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewServicesEditDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Services - Update Details</h5>
                <button type="button" class="close close1" id="close_viewShiftEditDetails" modalid="viewShiftEditDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewShift')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="servicesEditDetailsmodal_form">

                    <table id="servicesEditDetails_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                           
                            <tr style="width: 30px;" role="row">
                                @*adjust update details modal kim 8/11/22*@
                                <th class="ftr" style="max-width:300px; padding-left:40px">Activity </th>
                                <th style="max-width:300px; padding-left:30px">Procedure</th>
                                <th style="max-width:100px;  padding-left:30px">Duration(minutes)</th>
                                <th style="padding-left:40px">Department</th>
                                <th style="padding-left:30px">Updated By</th>
                                <th style="padding-left:30px">Date Updated</th>

                            </tr>
                        </thead>

                        <tbody id="servicesEditDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>

        </div>
    </div>
</div>
@if (!ViewBag.IsAdmin)
{
    <script type="text/javascript">
        $(function () {
            var G = $("#grid");
            var w = G.jqGrid('getGridParam', 'width');
            G.hideCol("Department");
            G.jqGrid('setGridWidth', w, true);
        });
    </script>
}