﻿@model Datasoft.AssistedLiving.Web.Models.ActivityScheduleData
@{
    Layout = null;
}

@*<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>*@
<script src="~/Scripts/Admin/serviceschedule.js"></script>

<style>
</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
            </div>
  
            <div class="m-portlet__body row">
                <div class="col-12" style="margin-top:10px">
                    <span class="filtr" style="font-weight:bold;font-size: 11px;">Filter By:</span>
                </div>

                <div class="row col-12 m--margin-bottom-20 filterdiv" style="margin-left: 0px;">
                    <div class="filtr col-md-2">
                        <div class="m-input-icon m-input-icon--right" style="">
                            <label>Start Date</label>
                            <input id="ftrDate1" autocomplete="off" class="day-picker form-control dtpicker" placeholder="Select day">
                            <span class="m-input-icon__icon m-input-icon__icon--right" style="height: 140%;"><span><i class="fas fa-calendar-alt"></i></span></span>
                        </div>
                    </div>
                    <div class="filtr col-md-2">
                        <div class="m-input-icon m-input-icon--right" style="">
                            <label>End Date</label>
                            <input id="ftrDate2" autocomplete="off" class="day-picker form-control dtpicker" placeholder="Select day">
                            <span class="m-input-icon__icon m-input-icon__icon--right" style="height: 140%;"><span><i class="fas fa-calendar-alt"></i></span></span>
                        </div>
                    </div>
                    <div class="filtr col-md-2">
                        <label>Resident</label>
                        <select id="ftrResident" name="ResidentId" class="form-control m-input">
                            <option value="0">All</option>
                            @foreach (var r in Model.Residents)
                            {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filtr col-md-2">
                        <label>Staff</label>
                        <select name="ftrCarestaff" id="ftrCarestaff" class="form-control m-input">
                            <option value="">All</option>
                            @foreach (var u in Model.Users2)
                            {
                                <option>@u.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filtr col-md-2">
                        <label>Department</label>
                        <select id="ftrDept" name="Dept" class="form-control m-input">
                            <option value="0">All</option>
                            @foreach (var r in Model.Departments.Depts)
                            {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>
                    </div>
                    <div class="filtr ftrspacing col-md-2">
                        <label>Room</label>
                        <select id="ftrRoom" name="RoomId" class="form-control m-input">
                            <option value="0">All</option>
                            @foreach (var r in Model.Rooms)
                            {
                                <option>@r.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-12" style="width:100%;">
                    <table id="ServicesDataTable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Resident</th>
                                <th>Room #</th>
                                <th>Task</th>
                                <th>Staff</th>
                                <th>Actual Completion Date</th>
                            </tr>
                        </thead>
                        <tbody id="ServicesDataTable_body"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>




