﻿@model Datasoft.AssistedLiving.Web.Models.ActivityScheduleData
@{
    Layout = null;
}

<script src="~/Scripts/Admin/settings.js"></script>
<style>

    #tabs {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: #dcdcdc;
        color: #ffffff !important;
    }

    .lbl {
        padding-left: 20px;
        width: 12%;
        /*text-align:right;*/
    }

    #agencyGrid {
        font-weight: 600;
        width: 100%;
        overflow-y: auto;
        margin-left: 15px;
    }

    .upload-con {
        padding: 10px 10px;
    }

    .upload-header {
        padding: 5px 0px;
        border-bottom: 1px solid #B4B4B4;
    }

        .upload-header #btnAddfiles {
        }

        .upload-header #btnClearList {
            margin-left: 10px;
        }

    .upload-list {
        height: 200px;
        overflow-y: auto;
    }

    .upload-footer {
        margin-top: 10px;
        padding: 10px 5px;
        border-top: 1px solid #B4B4B4;
    }

        .upload-footer .totalfiles {
            color: #515151;
            font-size: 12px;
        }

    .upload-item {
        height: auto;
        border: 1px solid #B3B3B3;
        background: #F2F2F2;
        border-radius: 5px 5px;
        padding: 3px 10px 3px 10px;
        margin-top: 5px;
    }

    .tabsviews div.container {
        height: 12px;
    }

    .upload-item span.filename {
        color: #515151;
        font-size: 12px;
    }

    .upload-item span.size {
        font-size: 11px;
        color: #989495;
        font-weight: normal;
        padding-right: 5px;
    }

    .upload-item a.status-remove {
        display: block;
        background: transparent url("Images/trash.png") no-repeat right top;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .upload-item a.status-warning {
        cursor: default;
        display: block;
        background: transparent url("Images/warning.png") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.4;
    }

    .upload-item a.status-loading {
        cursor: default;
        display: none;
        background: transparent url("Images/loader.gif") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    .upload-item a.status-done {
        cursor: default;
        display: block;
        background: transparent url("Images/check.png") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    .upload-item div.prog {
        background: #fff;
        height: 3px;
        border: 1px solid #B3B3B3;
        border-radius: 5px 5px;
        margin-top: 5px;
    }

    .upload-item div.innerprog {
        /*background: #3EB7E2;*/
        background: #5bfda3;
        height: 3px;
        border: 1px solid #B3B3B3;
        border-radius: 5px 5px;
    }

    .ftrspacing {
        padding-right: 10px;
        position: initial;
    }
</style>
@*<div id="agencyContent" class="content">
        <div id="headSection">
            <div id="wrapToolbar">
                <div id="gridToolbar" class="toolbar">
                    <iframe id="txtArea1" style="display:none"></iframe>
                    <ul class="left">
                        <li class="noborder"><a class="edit">Edit</a> </li>
                    </ul>
                </div>
            </div>
                <div id="agencyGrid" class="grid">
                    <div class="form" >
                        <form id="a_form"></form>
                    </div>

                </div>

        </div>
    </div>*@
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="headerRoom">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <div id="settingsTab" style="width:600px">
                            <ul class="nav nav-tabs nav-fill" role="tablist" id="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="tabs1" data-toggle="tab" href="#tabs-as">
                                        Agency Settings
                                    </a>
                                </li>
                                @if (ViewBag.isHomeCare == "False")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="tabs2" data-toggle="tab" href="#tabs-cefr">Custom Employee Form Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tabs2" data-toggle="tab" href="#tabs-usract"> User Activity History</a>
                                    </li>
                                }

                                else
                                { @*add EPP tab kim 08/11/22*@
                                <li class="nav-item">
                                    <a class="nav-link" id="tabs3" data-toggle="tab" href="#tabs-epp">EPP</a>
                                </li>

                            }
                                <li class="nav-item">
                                    <a class="nav-link" id="tabs3" data-toggle="tab" href="#tabs-lib">Library</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" id="edit_agency" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                <span>
                                    <i class="la la-edit"></i>
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <span>
                                            Edit Facility Info
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            Edit Agency Info
                                        </span>
                                    }
                                </span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" id="upload-efr" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" data-target="#efr_modal" data-toggle="modal" style="display:none">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add request
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="m-portlet__body row">

                <div class="tab-content" id="tabsviews" style="width:100%;height:auto">


                    <div class="tab-pane active form" id="tabs-as" role="tabpanel">
                        <div id="agencyGrid" class="grid" style="width:100%">

                            <div class="col-xl-12" id="a_form">
                                <input type='hidden' id="Id" name='Id' maxlength='150' disabled='disabled' />
                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        <span class="">
                                            Is Home Care?
                                            @*<div class="m-input-icon col-xs-1">*@
                                            <input type="checkbox" id="isHomeCare" name="IsHomeCare" class="form-control m-input" maxlength="150" style="margin-top: -14px;" />
                                            @*<span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user"></i></span></span>*@
                                            @*</div>*@
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        @*Added by Angelie: 07-13-22*@
                                        @if (ViewBag.isHomeCare == "True")
                                        {
                                            <label class="">Agency Name</label> @* Cheche was here changing AgencyName to Facility Name 12/22/2021 *@
                                        }
                                        else
                                        {
                                            <label class="">Facility Name</label>
                                        }
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="facilityName" name='FacilityName' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-building"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @*kim change Agency ID to Facility ID 03/01/2022*@
                                        @*<label class="">Facility ID</label> @* Reverted this on 01/7/2022: angelie *@

                                        @*Added by Angelie: 07-13-22*@
                                        @if (ViewBag.isHomeCare == "True")
                                        {
                                            <label class="">Agency ID</label> @* Cheche was here changing AgencyName to Facility Name 12/22/2021 *@
                                        }
                                        else
                                        {
                                            <label class="">Facility ID</label>
                                        }

                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="agencyName" name='AgencyName' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-building"></i></span></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">

                                        <label class="">Primary Address</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="address1" required name='Address1' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-map-marker"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 resinfo-form-col2">
                                        <label class="">Secondary Address</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="address2" required name='Address2' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-map-marker"></i></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        <label class="">City</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="city" required name='City' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-map-marker"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 resinfo-form-col2">
                                        <label class="">State</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="state" required name='State' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <input type='text' id="state_id" required name='StateId' maxlength='150' disabled='disabled' class="form-control m-input" hidden />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-map-marker"></i></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        <label class="">Zip</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="zip" required name='Zip' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-map-pin "></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 resinfo-form-col2">
                                        <label class="">Phone</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="phone" required name='Phone' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-phone"></i></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        <label class="">Fax</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="fax" required name='Fax' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-fax"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 resinfo-form-col2">
                                        <label class="">Email</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="agencyEmail" required name='AgencyEmail' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-envelope"></i></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row resinfo-form">
                                    <div class="col-lg-3">
                                        <label class="">Licensee Name</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="lname" required name='Lname' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-user"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 resinfo-form-col2">
                                        @*kim code here change licensee to license 02/28/2022*@
                                        <label class="">License Number</label>
                                        <div class="m-input-icon m-input-icon--right">
                                            <input type='text' id="lnumber" required name='Lnumber' maxlength='150' disabled='disabled' class="form-control m-input" />
                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-file"></i></span></span>
                                        </div>
                                    </div>

                               </div>
                                <button class="btn btn-primary saveagency" type="button" disabled='disabled'>
                                    <span> Save</span>
                                </button>
                                <button class="btn btn-secondary cancelagency" type="button" disabled='disabled'>
                                    <span> Cancel</span>
                                </button>

                                <div class="form-group m-form__group row resinfo-form">
                                    @*<div class="col-lg-3">
                <label class="">Licensee Name</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type='text' id="lname" required name='Lname' maxlength='150' disabled='disabled' class="form-control m-input" />
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-user-friends"></i></span></span>
                </div>
            </div>*@

                                    @* kim comment out redunduncy of license telephone and phone number 03/01/2022*@
                                    @*<div class="col-lg-3 resinfo-form-col2">
                <label class="">Licensee Telephone</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type='text' id="lphone" required name='Lphone' maxlength='150' disabled='disabled' class="form-control m-input" />
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-phone"></i></span></span>
                </div>
            </div>
                                    *@
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane form" id="tabs-cefr" role="tabpanel">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <center><h3>Custom Form Requests</h3></center>
                                <div class="grid">
                                    <table id="efrGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Requested By</th>
                                                <th>Request Date</th>
                                                <th>Filename</th>
                                                <th>Size</th>
                                                <th>Type</th>
                                                <!-- add <th>Type</th>  for deletion of documents in employee kim 11/23/2021-->
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="efrbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane form" id="tabs-usract" role="tabpanel">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <center><h3>User Activity</h3></center>

                                <div class="col-12" style="margin-left: -13px;margin-top:10px">
                                    <span class="filtr" style="font-weight:bold;font-size: 11px;">Filter By:</span>
                                </div>

                                <div class="row col-12 m--margin-bottom-20 filterdiv" style="margin-left: 0px;">
                                    <div class="filtr col-md-2">
                                        <div class="m-input-icon m-input-icon--right" style="">
                                            <label>From:</label>
                                            <input id="ftrDate" autocomplete="off" class="day-picker form-control dtpicker" placeholder="Select day">
                                            <span class="m-input-icon__icon m-input-icon__icon--right" style="height: 140%;"><span><i class="fas fa-calendar-alt"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="filtr col-md-2">
                                        <div class="m-input-icon m-input-icon--right" style="">
                                            <label>To:</label>
                                            <input id="ftrDate2" autocomplete="off" class="day-picker form-control dtpicker" placeholder="Select day">
                                            <span class="m-input-icon__icon m-input-icon__icon--right" style="height: 140%;"><span><i class="fas fa-calendar-alt"></i></span></span>
                                        </div>
                                    </div>
                                    <div class="filtr col-md-2">
                                        <label>Action</label>
                                        <select name="ftrAction" id="ftrAction" class="form-control m-input">
                                            <option value="all"> All</option>
                                            <option value="1"> Add </option>
                                            <option value="2"> Edit </option>
                                            <option value="3"> Delete </option>
                                            <option value="4"> Deactivate </option>
                                            <option value="8"> Reactivate </option>
                                            <option value="6"> Discharge </option>
                                        </select>
                                    </div>
                                    <div class="filtr col-md-2">
                                        <div class="m-input-icon m-input-icon--right" style="">
                                            <label>User</label>
                                            <select name="ftrUserId" id="ftrUserId" class="form-control m-input" data-col-index="2" >
                                                @*<option disabled selected> Select user</option>*@
                                                <option value="all">All</option>
                                                @foreach (var u in Model.Users)
                                                {
                                                    <option value="@u.Id">@u.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid">
                                    <table id="usractGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th>Timestamp</th>
                                                <th>UserId</th>
                                                <th>User Name</th>
                                                @*<th>Resident</th>*@
                                                <th>Module</th>
                                                <th>Action</th>
                                                <th>RecordId</th>
                                                <th>Record</th>
                                            </tr>
                                        </thead>
                                        <tbody id="usractbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*add empty tab kim 08/10/22*@
                    <div class="tab-pane form" id="tabs-epp" role="tabpanel">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <center><h3>EPP</h3></center>
                                <div class="grid">
                                    <table id="efrGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                @*<th>Title</th>
                                                    <th>Status</th>
                                                    <th>Requested By</th>
                                                    <th>Request Date</th>
                                                    <th>Filename</th>
                                                    <th>Size</th>
                                                    <th>Type</th>*@
                                                <!-- add <th>Type</th>  for deletion of documents in employee kim 11/23/2021-->
                                                @*<th>Action</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="efrbody"></tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*add empty tab kim 08/10/22*@
                    <div class="tab-pane form" id="tabs-lib" role="tabpanel">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div id="library_datatable" class="grid">
                                    <table id="libGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>

                                        </thead>

                                        <tbody id="libbody"></tbody>
                                    </table>
                                </div>
                                <div class="m-portlet__body row">

                                    <div class="tab-content" id="tabsviews" style="width:100%;height:auto">


                                        <div class="tab-pane active form" id="tabs-lib" role="tabpanel">
                                            <div id="libraryGrid" class="grid" style="width:100%">

                                                <div class="col-xl-12" id="a_form">
                                                    <div class="form-group m-form__group row resinfo-form">
                                                        <div class="col-lg-6">
                                                            @*ADD CONDITION KIM *@
                                                            @if (ViewBag.isHomeCare == "True")
                                                            {
                                                                <div class="form-group m-form__group row resinfo-form">

                                                                    <h5 style="padding-top: 8px; padding-right: 20px;">Payer &nbsp;&nbsp;</h5>
                                                                    <input type="text" style="width:200px;" name="lib" id="search_payer_value" value="">
                                                                    <button class="btn btn-primary" type="button" id="addnewlib">
                                                                        <i class="la la-plus"></i>
                                                                        <span>
                                                                            Add
                                                                        </span>
                                                                    </button>
                                                                    <button class="btn btn-outline-primary" type="button" id="showalllib" data-target="#viewPayerDetails" data-toggle="modal">
                                                                        <i class="la la-list"></i>
                                                                        Show Payer
                                                                    </button>


                                                                </div>
                                                            }
                                                            <div style="padding-top: 20px;" class="form-group m-form__group row resinfo-form">

                                                                <h5 style="padding-top: 8px;">Allergies &nbsp;&nbsp;</h5>
                                                                <input type="text" style="width:200px;" name="lib" id="search_allergy_value" maxlength="40" value="">
                                                                <button class="btn btn-primary" type="button" id="addnewaller">
                                                                    <i class="la la-plus"></i>
                                                                    <span>
                                                                        Add
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-outline-primary" type="button" id="showallallergies" data-target="#viewAllergyDetails" data-toggle="modal">
                                                                    <i class="la la-list"></i>
                                                                    Show Allegeries
                                                                </button>


                                                            </div>
                                                            <div style="padding-top: 20px;" class="form-group m-form__group row resinfo-form">

                                                                <h5 style="padding-top: 8px;">Physicians &nbsp;&nbsp;</h5>
                                                                <input type="text" style="width:200px;" name="lib" id="search_physician_value" maxlength="40" value="">
                                                                <button class="btn btn-primary" type="button" id="addnewphysician">
                                                                    <i class="la la-plus"></i>
                                                                    <span>
                                                                        Add
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-outline-primary" type="button" id="showallphysician" data-target="#viewPhysicianDetails" data-toggle="modal">
                                                                    <i class="la la-list"></i>
                                                                    Show Physicians
                                                                </button>


                                                            </div>
                                                            @*Add Pharmacy kim 11/25/22*@
                                                            <div style="padding-top: 20px;" class="form-group m-form__group row resinfo-form">
                                                                <h5 style="padding-top: 8px; padding-right: 20px;">Pharmacy &nbsp;&nbsp;</h5>
                                                                <input type="text" style="width:200px;" name="lib" id="search_pharmacy_value" maxlength="40" value="">
                                                                <button class="btn btn-primary" type="button" id="addnewpharmacy">
                                                                    <i class="la la-plus"></i>
                                                                    <span>
                                                                        Add
                                                                    </span>
                                                                </button>
                                                                <button class="btn btn-outline-primary" type="button" id="showallpharmacy" data-target="#viewPharmacyDetails" data-toggle="modal">
                                                                    <i class="la la-list"></i>
                                                                    Show Pharmacy
                                                                </button>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            
        </div>
        <!--end::Portlet-->


    </div>

</div>

<div class="modal fade" id="efr_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto !important">
            <div class="modal-header">
                <h5 id="modal-title-ud">Send Request for Customized Employee Form</h5>

            </div>
            <div class="modal-body empformreq_div">

            </div>
            <div class="modal-footer">

                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadEFR" class="btn btn-secondary" onclick="closeModal('efr_modal')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewPayerDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none; top: 15%;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Library</h5>
                <button type="button" class="close close1" id="close_viewLibraryDetails" modalid="viewPayerDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewPayerDetails')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="servicesLibrarymodal_form">

                    <table id="servicesLibrary_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>

                            <tr style="width: 30px;" role="row">
                                @*adjust update details modal kim 8/11/22*@
                                <th class="ftr" style="max-width:300px; padding-left:40px">Payers Name: </th>
                                <th style="max-width:300px; padding-left:30px">Create Date:</th>
                                <th style="max-width:300px; padding-left:30px">Action:</th>

                            </tr>
                        </thead>

                        <tbody id="servicesLibraryDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>

        </div>
    </div>
</div>

@*<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">*@
<div class="modal fade" id="edit_allergy" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto !important">
            <div class="modal-header">
                <h5 id="modal-title-ud">Edit</h5>

            </div>
            <div class="modal-body ">
                <form id="editallergytable_form">

                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Allergies Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" style="width:250px;" rows="2" class=" m-input" name="Name" id="txtNameallergy">
                            <input type="text" id="txtIdallergy" name="Id" class="form-control m-input" hidden>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-edit"></i></span></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="saveeditallergy">
                    <i class="la la-plus"></i>
                    <span>
                        Save
                    </span>
                </button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadallergy" class="btn btn-secondary" aria-label="Close" data-dismiss="modal" onclick="closeModal('edit_allergy')">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_payer" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto !important">
            <div class="modal-header">
                <h5 id="modal-title-ud">Edit</h5>

            </div>
            <div class="modal-body ">
                <form id="editallergytable_form">

                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Payer's Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" style="width:250px;" rows="2" class=" m-input" name="Name" id="txtNamepayer">
                            <input type="text" id="txtIdpayer" name="Id" class="form-control m-input" hidden>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-edit"></i></span></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="saveeditpayer">
                    <i class="la la-plus"></i>
                    <span>
                        Save
                    </span>
                </button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadallergy" class="btn btn-secondary" aria-label="Close" data-dismiss="modal" onclick="closeModal('edit_payer')">Close</button>
            </div>
        </div>
    </div>
</div>
@*add edit form for physician kim 11/16/22*@
<div class="modal fade" id="edit_physician" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto !important">
            <div class="modal-header">
                <h5 id="modal-title-ud">Edit</h5>

            </div>
            <div class="modal-body ">
                <form id="editallergytable_form">

                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Physician's Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" style="width:250px;" rows="2" class=" m-input" name="Name" id="txtNamephysician">
                            <input type="text" id="txtIdphysician" name="Id" class="form-control m-input" hidden>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-edit"></i></span></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="saveeditphysician">
                    <i class="la la-plus"></i>
                    <span>
                        Save
                    </span>
                </button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadphysician" class="btn btn-secondary" aria-label="Close" data-dismiss="modal" onclick="closeModal('edit_physician')">Close</button>
            </div>
        </div>
    </div>
</div>
@*add edit form for pharmacy kim 11/25/22*@
<div class="modal fade" id="edit_pharmacy" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content" style="height: auto !important">
            <div class="modal-header">
                <h5 id="modal-title-ud">Edit</h5>

            </div>
            <div class="modal-body ">
                <form id="editpharmacytable_form">

                    <div class="form-group m-form__group">
                        <span style="color: red;">*</span>
                        <label class="">Pharmacy's Name</label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" style="width:250px;" rows="2" class=" m-input" name="Name" id="txtNamepharmacy">
                            <input type="text" id="txtIdpharmacy" name="Id" class="form-control m-input" hidden>
                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fas fa-edit"></i></span></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="saveeditpharmacy">
                    <i class="la la-plus"></i>
                    <span>
                        Save
                    </span>
                </button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadpharmacy" class="btn btn-secondary" aria-label="Close" data-dismiss="modal" onclick="closeModal('edit_pharmacy')">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewAllergyDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Allergies</h5>
                <button type="button" class="close close1" id="close_viewAllergyDetails" modalid="viewAllergiesDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewAllergyDetails')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="servicesAllergymodal_form">

                    <table id="servicesAllergy_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>

                            <tr style="width: 30px;" role="row">
                                @*adjust update details modal kim 8/11/22*@
                                <th class="ftr" style="max-width:300px; padding-left:40px">Allergies Name: </th>
                                <th style="max-width:300px; padding-left:30px">Create Date:</th>
                                <th style="max-width:300px; padding-left:30px">Action:</th>


                            </tr>
                        </thead>

                        <tbody id="servicesAllergyDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="viewPhysicianDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Physician</h5>
                <button type="button" class="close close1" id="close_viewPhysicianDetails" modalid="viewPhysicianDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewPhysicianDetails')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="servicePhysicianmodal_form">

                    <table id="servicesPhysician_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>

                            <tr style="width: 30px;" role="row">
                                @*adjust update details modal kim 8/11/22*@
                                <th class="ftr" style="max-width:300px; padding-left:40px">Physician Name: </th>
                                <th style="max-width:300px; padding-left:30px">Create Date:</th>
                                <th style="max-width:300px; padding-left:30px">Action:</th>


                            </tr>
                        </thead>

                        <tbody id="servicesPhysicianDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>

        </div>
    </div>
</div>
@*View form for pharmacy kim 11/25/22*@
<div class="modal fade" id="viewPharmacyDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Pharmacies</h5>
                <button type="button" class="close close1" id="close_viewAllergyDetails" modalid="viewPharmacyDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewAllergyDetails')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="servicesPharmacymodal_form">

                    <table id="servicesPharmacy_datatable" style="table-layout: fixed; width: 100%" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>

                            <tr style="width: 30px;" role="row">
                                @*adjust update details modal kim 8/11/22*@
                                <th class="ftr" style="max-width:300px; padding-left:40px">Pharmacy's Name: </th>
                                <th style="max-width:90px; padding-left:30px">Create Date:</th>
                                <th style="max-width:90px; padding-left:30px">Action:</th>


                            </tr>
                        </thead>

                        <tbody id="servicesPharmacyDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>

        </div>
    </div>
</div>
