﻿
@{
    Layout = null;
}
<script src="~/Scripts/Admin/shifts.js"></script>
<script src="~/assets/dist/datatables.bundle.js"></script>
<style>
    #shiftsGrid {
        width: 96%;
        margin-left: 26px;
    }
    #shift_datatable {
        font-weight: 400;
    }
  
</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet " id="shiftsBody">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>

                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                                                <li>
                                <label style="margin-left: -51px;margin-top: 15px;">
                                    <b>Status: </b>
                                </label>

                                    <select id="ftrStatus" name="ftrStatus" class="form-control" style="margin-top: -31px;">

                                        <option value="2">All</option>
                                        <option value="1" selected>Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="addShift" data-target="#viewShift" data-toggle="modal">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add Shift
                                    </span>
                                </span>
                            </a>
                        </li>


                    </ul>
                </div>



            </div>
            <br />
            <div id="shiftsGrid" class="grid" >
                <table id="shift_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                    <thead>
                        <tr role="row">
                            <th>Description</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Created by</th>
                            <th>Date Created</th>
                            <th>Updates Made</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="shift_table">
                        <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                    </tbody>
                </table>
            </div>
            <br />
            @*<div class="m-portlet" style="width:95%;margin:auto">
            <div class="m-portlet__body">
                <div id="shiftsGrid" class="grid" style="width:100%">
                    <table id="shift_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Description</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Created by</th>
                                <th>Date Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="shift_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
            <br />
            <!--end::Portlet-->
        </div>
    </div>
</div>

@*========================== MODAL================ *@

<div class="modal fade" id="viewShift" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Shift</h5>
                <button type="button" class="close close1" id="close_viewShift" modalid="viewShift" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewShift')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="shiftmodal_form">

                    <div class="form-group">
                        <label for="txtDescription" class="form-control-label">Shift Description</label>
                        <textarea id="txtDescription" class="form-control" autofocus name="Description" maxlength="255" required></textarea>
                        <textarea id="Id" class="form-control" autofocus name="Id" maxlength="255" hidden></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtEndTime" class="form-control-label">Start Time:</label>
                        <div class="input-group timepicker">

                            <input type="text" id="txtStartTime" name="StartTime" maxlength="8" class="form-control required time" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtEndTime" class="form-control-label">End Time:</label>
                        <div class="input-group timepicker">

                            <input type="text" id="txtEndTime" name="EndTime" maxlength="8" class="form-control required time" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_viewShift" class="btn btn-secondary cancel" data-dismiss="modal" onclick="closeModal('viewShift')">Cancel</button>
                <button type="button" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewShiftEditDetails" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <i class="flaticon-clock-2"></i>
                </span>
                <h5 class="modal-title">&nbsp;&nbsp;Shift - Update Details</h5>
                <button type="button" class="close close1" id="close_viewShiftEditDetails" modalid="viewShiftEditDetails" aria-label="Close" data-dismiss="modal" onclick="closeModal('viewShift')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="shiftEditDetailsmodal_form">

                    <table id="shiftEditDetails_datatable" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                        <thead>
                            <tr role="row">
                                <th>Description</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Updated by</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody id="shiftEditDetails_table">
                            <tr><td><span class="m-loader m-loader--primary" style="width: 30px; display: inline-block;"></span></td></tr>
                        </tbody>
                    </table>


                </form>
            </div>
          
        </div>
    </div>
</div>





@* ================================================================================== *@
@*<div id="shiftContent" class="content">
        <div id="headShift">
            <div id="wrapToolbar">
                <div id="shiftToolbar" class="toolbar">
                    <iframe id="txtArea1" style="display:none"></iframe>
                    <ul class="left">
                        <li><a class="add">Add Shift</a> </li>
                        <li><a class="del">Delete Shift</a> </li>
                        <li><a class="download" id="lnkExportExcel">Export to Excel</a> </li>
                    </ul>
                </div>
                <div id="raToolbar" class="toolbar">
                    <ul class="left">
                        <li class="noborder"><span style="display:block;margin-top:2px">Filter By:&nbsp;</span></li>
                        <li style="margin-left:5px" class="noborder">
                            <select id="ddlFilter" style="margin-top:-6px !important;">
                                <option value="1">Description</option>
                                <option value="2">Start Time</option>
                                <option value="3">End Time</option>
                            </select>
                        </li>
                        <li class="noborder">
                            <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                        </li>
                        @*<li class="noborder" style="margin-left:5px">
                            <input id="isActive" type="checkbox" /><label for="isActive" style="font-size:11px;">Is Active</label>
                        </li>
                    </ul>
                </div>
            </div>
    <div id="shiftGrid" class="grid">
        <table id="grid"></table>
    </div>
        </div>
    </div>
    <div id="diag">
        <div class="form">
            <fieldset style="margin-top:5px;border:0">
                <ul style="width:100%">
                    <li>
                        <input type="hidden" id="txtId" name="Id" />
                        <label>Shift Description</label><input type="text" id="txtDescription" autofocus name="Description" maxlength="255" class="200px required" style="outline:none;resize:none;" />
                    </li>
                    <li>
                        <label>Start Time</label><input type="text" id="txtStartTime" name="StartTime" maxlength="8" class="required" style="width:60px !important;outline:none;resize:none;" />
                    </li>
                    <li>
                        <label>End Time</label><input type="text" id="txtEndTime" name="EndTime" maxlength="8" class="required" style="width:60px !important;outline:none;resize:none;" />
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>*@
