﻿
@{
    Layout = null;
}
<script src="~/Scripts/Admin/supply.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<style>

    .m-stack--demo.m-stack--hor .m-stack__demo-item, .m-stack--demo.m-stack--ver .m-stack__item {
        padding: 10px;
        border: 1px solid #eee;
        background: #fbfbfb;
        border: none!important;
        font-weight: 500;
    }

    .scrolledTable {
        overflow-y: auto;
        clear: both;
    }
</style>
<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i id="labelHeaderImg"></i>
                        </span>
                        <h3 class="m-portlet__head-text" id="labelHeader"></h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air add" data-toggle="modal" data-target="#update_supply_diag">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="row col-lg-12">
                        <div class="col-sm-12 col-md-10">
                            <div class="dataTables_length" id="m_table_1_length">
                                <form class="m-form m-form--fit m--margin-bottom-20m" autocomplete="off" id="supply_head">
                                    <div class="row m--margin-bottom-20">
                                        <div class="col-sm-2 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                Filter by:
                                            </label>
                                            <select class="form-control m-input" name="ftrDescGen" id="ftrDescGen">
                                                <option value="2">Description</option>
                                                <option value="3">Generic</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                &nbsp;
                                            </label>
                                            <input type="text" name="ftrText" id="ftrText" class="form-control m-input" />
                                        </div>
                                        <div class="col-sm-3 m--margin-bottom-10-tablet-and-mobile filtr">
                                            @*<label style="display:none;">
            is Active
        </label>*@
                                            @*<span style="margin-left: -10px;margin-top: 20px; display:inline-block">Active<input id="isActive" type="checkbox" name="stat" class="form-control m-input supply_stat" /></span>*@
                                            @*&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="margin-left: -10px;margin-top: 20px; display:inline-block">Inactive<input id="inActive" type="checkbox" name="stat" class="form-control m-input supply_stat"  /></span>*@
                                            <label>
                                                <b>Status: </b>
                                            </label>
                                            <div class="col-xs-12">
                                                @*<label class="m-radio" style="margin-right: 15px;">
            <input type="radio" name="radio_supplyStatus" class="supplyStatus" value="1"> Active<span></span>
        </label>
        <label class="m-radio">
            <input type="radio" name="radio_supplyStatus" class="stat" value="0"> Inactive<span></span>
        </label>*@
                                                <select id="ftrStatus" name="ftrStatus" class="form-control"> @*Modified on 3-6-2022 : Cheche*@
                                                    <option value="2">All</option>
                                                    <option value="1" selected>Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                            </div>
                                            @*<div class="form-group" style="margin-top: 28px;display:inline-block;">
                                                <div class="m-radio-inline">
                                                    <div class="col-xs-12">
                                                        <label>
                                                            <b>Status: </b>
                                                        </label>
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <label class="m-radio">
                                                            <input type="radio" name="radio_supplyStatus" class="supplyStatus" value="1"> Active<span></span>
                                                        </label>
                                                        <label class="m-radio">
                                                            <input type="radio" name="radio_supplyStatus" class="supplyStatus" value="0"> Inactive<span></span>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>*@


                                        </div>
                                        
                                        <div class="col-sm-4 m--margin-bottom-10-tablet-and-mobile filtr">
                                            <label>
                                                <b>Product Type: </b>
                                            </label>
                                            <div class="col-xs-12">
                                                <label class="m-radio" style="margin-right: 15px;">
                                                    <input type="radio" name="radio_supplyType" class="supplyType" value="1"> Medicine<span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="radio_supplyType" class="supplyType" value="2"> Supply<span></span>
                                                </label>
                                            </div>

                                            @*<div class="form-group" style="margin-top: 28px;display:inline-block;">
                                                <div class="m-radio-inline">
                                                    <div class="col-xs-12">
                                                        <label>
                                                            <b>Product Type: </b>
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <label class="m-radio">
                                                            <input type="radio" name="radio_supplyType" class="supplyType" value="1"> Medicine<span></span>
                                                        </label>
                                                        <label class="m-radio">
                                                            <input type="radio" name="radio_supplyType" class="supplyType" value="2"> Supply<span></span>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>*@
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet" id="supplyTable" style="margin-bottom: 0 !important">
                        <div class="m-portlet__body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <table id="supplies_tbl" class="table table-striped- table-bordered table-hover table-checkable dtr-inline" style="overflow:auto">
                                    <thead>
                                        <tr role="row">
                                            <th>Description</th>
                                            <th>Form</th>
                                            <th>Strength</th>
                                            <th>Generic</th>
                                            <th>Reference Drug</th>
                                            <th>Active Ingredient</th>
                                            @*<th>Supply Code</th>*@
                                            <th>Status</th>
                                            @*<th>Product Code</th>*@
                                            <th>Product Type</th>
                                            <th>Units/Pack</th>
                                            <th>Supply Count</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    @*<tbody id="supplies_table"></tbody>*@
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

@* START: ADD SUPPLY MODAL *@
<div class="modal fade" id="update_supply_diag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Medicines & Supplies Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('update_supply_diag')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update_supply_form">
                    <input type="hidden" id="txtId" name="Id" />
                    <input type="hidden" id="updatemode" name="updatemode" />
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Description</label>
                                <input type="text" id="txtDescription" name="Description" maxlength="250" class="form-control m-input " required/>
                            </div>
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Form</label>
                                <input type="text" id="txtForm" name="Form" maxlength="250" class="form-control m-input " required/>
                            </div>
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Strength</label>
                                <input type="text" id="txtStrength" name="Strength" maxlength="250" class="form-control m-input " required/>
                            </div>
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Active Ingredient</label>
                                <input type="text" id="txtActiveIngredient" name="ActiveIngredient" maxlength="250" class="form-control m-input " required/>
                            </div>
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Generic</label>
                                <input type="text" id="txtGeneric" name="Generic" maxlength="225" class="form-control m-input " required/>
                            </div>
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Units/Pack</label>
                                <input type="text" id="txtVolumeSize" name="VolumeSize" maxlength="225" class="VolumeSize form-control m-input " required/>
                                <span style="font-size: 10px;">e.g. 1 tablet, 1 capsule, 60ml/bot, 100ml/bot</span>
                            </div>
                        </div>
                    
                        <div class="col-lg-6">
                            <div class="form-group">
                                <span style="color: red;">*</span>
                                <label>Reference Drug</label>
                                <input type="text" id="txtReferenceDrug" name="ReferenceDrug" maxlength="225" class="form-control m-input " required/>
                            </div>
                            @*<div class="form-group">*@     @* Cheche was here 2/10/2022 *@
                                @*<span style="color: red;">*</span>
                                <label>Supply Code</label>
                                <input type="text" id="txtSupplyCode" name="SupplyCode" maxlength="225" class="form-control m-input" required />
                            </div>
                            <div class="form-group">
                                @*<span style="color: red;">*</span>
                                <label>Product Code</label>
                                <input type="text" id="txtProductCode" name="ProductCode" maxlength="225" class="form-control m-input" required />
                            </div>*@
                            <div class="form-group">
                                <label>Status</label>
                                <select id="ddlStatus" name="Status" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select id="ddlType" name="ProductType" class="form-control">
                                    <option value="1">Medicine</option>
                                    <option value="2">Supply</option>
                                </select>
                            </div>
                            @*<div class="form-group" id="supCountLabel">
                                <span style="color: red;">*</span>
                                <label>Supply Count</label>
                                <input type="text" id="SupplyCount" name="SupplyCount" maxlength="225" class="form-control m-input  error" required/>
                            </div>*@
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('update_supply_diag')">Close</button>
                <button type="button" class="btn btn-primary" id="update_supply">Save changes</button>
            </div>
        </div>
    </div>
</div>
@* END: ADD SUPPLY MODAL *@

    
@* START: ADD SUPPLY COUNT MODAL *@

<div class="modal fade" id="add_supply_count_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Supply Count</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('add_supply_count_dialog')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form  id="update_supply_count_form">
                    <div class="form-group row">
                        <input type="hidden" id="txtId" name="Id" sd="DT_RowId" />

                        <label class="col-lg-4 col-form-label">Description: </label> 
                        <div class="col-lg-8">
                            <input type="text" id="Description" name="Description" sd="0" maxlength="225" class="form-control m-input" disabled />
                        </div>
                        
                        
                        <label class="col-lg-4 col-form-label">Form: </label> 
                        <div class="col-lg-8">
                            <input type="text" id="Form" name="Form" sd="1" maxlength="225" class="form-control m-input" disabled />
                        </div>
                        
                        <label class="col-lg-4 col-form-label">Strength: </label> 
                        <div class="col-lg-8">
                            <input type="text" id="Strength" name="Strength" sd="2" maxlength="225" class="form-control m-input" disabled />
                        </div>
                        
                        <label class="col-lg-4 col-form-label">Unit/Pack: </label> 
                        <div class="col-lg-8">
                            <input type="text" id="VolumeSize" name="VolumeSize" sd="10" maxlength="225" class="form-control m-input" disabled />
                        </div>
                        
                        <label class="col-lg-4 col-form-label">Supply Count: </label>
                        <div class="col-lg-8">
                            <input type="text" id="SupplyCount" name="SupplyCount" maxlength="225" class="form-control m-input" />
                        </div>
                        
                        <input type="text" id="ActiveIngredient" name="ActiveIngredient" sd="5" maxlength="250" hidden />
                        <input type="text" id="txtGeneric" name="Generic" sd="3" maxlength="225" hidden />
                        <input type="text" id="txtReferenceDrug" name="ReferenceDrug" sd="4" maxlength="225" hidden />
                        <input type="text" id="txtSupplyCode" name="SupplyCode" sd="6" maxlength="225" hidden />
                        <input type="text" id="txtProductCode" name="ProductCode" sd="8" maxlength="225" hidden />
                        <select id="ddlType" name="ProductType" sd="9" class="w200px" hidden>
                            <option value="1">Medicine</option>
                            <option value="2">Supply</option>
                        </select>
                        <select id="ddlStatus" name="Status" sd="7" class="w200px" hidden>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('add_supply_count_dialog')">Close</button>
                <button type="button" class="btn btn-primary" id="add_supply_count">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* END: ADD SUPPLY COUNT MODAL *@