﻿@{
    Layout = null;
}
<script src="~/Scripts/Admin/carestaff.js"></script>
<div id="careStaffContent" class="content">
    <div id="careStaffGridToolbar" class="toolbar">
        <ul class="left">
            <li><a class="add">Add</a> </li>
            <li><a class="del" id="lnkDelete">Delete</a> </li>
            @*<li><a class="unsign" id="lnkDeactivate">De-Activate</a> </li>*@
        </ul>
    </div>
    <div id="careStaffGrid" class="grid">
        <table id="grid"></table>
        <div id="pager"></div>
    </div>
</div>
<div id="diag">
    <div class="form">
        <fieldset>
            <legend>Basic Info</legend>
            <ul>
                <li>
                    <input id="txtId" type="hidden" name="Id" />
                    <label>Firstname</label><input type="text" id="txtFirstname" name="Firstname" maxlength="150" class="w200px required" />
                </li>
                <li>
                    <label>Middle Initial</label><input type="text" id="txtMI" name="MiddleInitial" maxlength="1" class="w20px" />
                </li>
                <li>
                    <label>Lastname</label><input type="text" id="txtLastname" name="Lastname" maxlength="150" class="w200px required" />
                </li>
            </ul>
            <ul>
                <li>
                    <label>Gender</label>
                    <select id="ddlGender" name="Gender" class="w200px">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </li>
                <li>
                    <label>Birthdate</label><input type="text" id="txtBirthDate" name="BirthDate" maxlength="8" class="w200px" />
                </li>
                <li>
                    <label>Job Type</label><select id="ddlJobType" name="JobType" class="w200px">
                        <option value="1">Nurse</option>
                        <option value="2">Caregiver</option>
                        <option value="3">Physician</option>
                        <option value="4">Social Worker</option>
                    </select>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Contact Info</legend>
            <ul>
                <li>
                    <label>Address1</label><input type="text" id="txtAddress1" name="Address1" maxlength="50" class="w200px" />
                </li>
                <li>
                    <label>Address2</label><input type="text" id="txtAddress2" name="Address2" maxlength="50" class="w200px" />
                </li>
                <li>
                    <label>City</label><input type="text" id="txtCity" name="City" maxlength="50" class="w200px" />
                </li>
                <li>
                    <label>State</label><input type="text" id="txtState" name="State" maxlength="2" class="w200px" />
                </li>
            </ul>
            <ul>
                <li>
                    <label>Zip</label><input type="text" id="txtZip" name="Zip" maxlength="11" class="w200px" />
                </li>
                <li>
                    <label>Phone</label><input type="text" id="txtPhone" name="Phone" maxlength="13" class="w200px" />
                </li>
                <li>
                    <label>Fax</label><input type="text" id="txtFax" name="Fax" maxlength="13" class="w200px" />
                </li>
                <li>
                    <label>SSN</label><input type="text" id="txtSSN" name="SSN" maxlength="9" class="w200px" />
                </li>
            </ul>
        </fieldset>
    </div>
</div>