﻿@model Datasoft.AssistedLiving.Web.Models.UserData
@{
    Layout = null;

}
<script>
    var _FR = @Html.Raw(Json.Encode(Model));
</script>
<script src="~/Scripts/Admin/users.js"></script>


<style>
    .upload-con {
        padding: 10px 10px;
    }

    .upload-header {
        padding: 5px 0px;
        border-bottom: 1px solid #B4B4B4;
    }

        .upload-header #btnAddfiles {
        }

        .upload-header #btnClearList {
            margin-left: 10px;
        }

    .upload-list {
        height: 200px;
        overflow-y: auto;
    }

    .upload-footer {
        margin-top: 10px;
        padding: 10px 5px;
        border-top: 1px solid #B4B4B4;
    }

        .upload-footer .totalfiles {
            color: #515151;
            font-size: 12px;
        }

    .upload-item {
        height: auto;
        border: 1px solid #B3B3B3;
        background: #F2F2F2;
        border-radius: 5px 5px;
        padding: 3px 10px 3px 10px;
        margin-top: 5px;
    }

    .tabsviews div.container {
        height: 12px;
    }

    .upload-item span.filename {
        color: #515151;
        font-size: 12px;
    }

    .upload-item span.size {
        font-size: 11px;
        color: #989495;
        font-weight: normal;
        padding-right: 5px;
    }

    .upload-item a.status-remove {
        display: block;
        background: transparent url("Images/trash.png") no-repeat right top;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .upload-item a.status-warning {
        cursor: default;
        display: block;
        background: transparent url("Images/warning.png") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.4;
    }

    .upload-item a.status-loading {
        cursor: default;
        display: none;
        background: transparent url("Images/loader.gif") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    .upload-item a.status-done {
        cursor: default;
        display: block;
        background: transparent url("Images/check.png") no-repeat right top;
        width: 16px;
        height: 16px;
        opacity: 0.6;
    }

    .upload-item div.prog {
        background: #fff;
        height: 3px;
        border: 1px solid #B3B3B3;
        border-radius: 5px 5px;
        margin-top: 5px;
    }

    .upload-item div.innerprog {
        /*background: #3EB7E2;*/
        background: #5bfda3;
        height: 3px;
        border: 1px solid #B3B3B3;
        border-radius: 5px 5px;
    }
    /*.col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.111111%;
        flex: 0 0 11.111111%;
        max-width: 11.111111%;
        width: 11.111111%;
    }*/

    i.pop-icon {
        width: 10%;
    }

    .m-portlet.noshadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .resimg {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 10px;
        resize: none;
    }

    .m-stack--
    .m-stack--hor .m-stack__
    -item, .m-stack--demo.m-stack--ver .m-stack__item {
        padding: 10px;
        border: 1px solid #eee;
        background: #fbfbfb;
        border: none !important;
        font-weight: 500;
    }

    @@media (max-width:500px) {
        .empBinfo {
            width: 100% !important;
        }
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: #5d78ff;
        color: #ffffff !important;
    }

    #employee_modal .modal-content {
        height: calc(100vh - 38px);
    }

    #tabsformviews {
        height: calc(100vh -200px) !important;
    }

    input, select, #serviceGrid {
        /* kim code 03/15/2022 add capitalize below*/
        text-transform: capitalize;
    }

    #txtId, #txtEmail {
        text-transform: none;
        /*add this code for email not to capitalize kim 03/21/22 */
    }
</style>

<style>
    #tabsSelect {
        display: none;
    }

    #printEmployeeFile {
        display: none;
    }

    .upload_all_btn {
        margin-left: 194px;
        border-color: #5bfda3 !important;
        background-color: #5bfda3 !important;
    }
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <input type="hidden" id="agency_ishomecare" value="@ViewBag.isHomeCare">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet noshadow" id="headerRoom">

            <div class="portlet-title col-xl-12 col-lg-12 col-xs-12">
                <div class="">

                    <div class="m-stack m-stack--ver m-stack--desktop m-stack--demo">


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <h3 class="m-portlet__head-icon" style="float: left;">
                                <i id="labelHeaderImg"></i>&nbsp;&nbsp;&nbsp;
                            </h3>

                            <h3 class="m-portlet__head-text" id="labelHeader" style="float: left;"></h3>
                        </div>




                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <div class="input-group">

                                <input autocomplete="off" type="text" name="q" id="search_emp_value" class="m-header-search__input form-control" value="" placeholder="Search...">


                                <div class="input-group-append">

                                    <select class="form-control m-input" name="ftr1" id="ftr1">
                                        <option>Role</option>
                                        <option>Department</option>
                                        <option>Type</option>
                                        <option>Status</option>
                                    </select>

                                    <select class="form-control m-input" name="ftr2" id="ftr2"></select>

                                    <button class="btn btn-outline-primary" type="button" id="showall">
                                        Clear
                                    </button>

                                    <button class="btn btn-primary" type="button" id="addnew" data-target="employee_modal" data-toggle="modal"> 
                                        <i class="la la-plus"></i>
                                        @if (ViewBag.isHomeCare == "True")
                                        {
                                            <span>
                                                Add Caregiver
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                Add Employee
                                            </span>
                                        }
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body" style="width:100%;">

                        <div id="userstile" class="row" style="overflow-y: auto;overflow-x: hidden;height: calc(85vh - 100px);">

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>


@* START: EMPLOYEE MODAL *@
<div class="modal fade" id="employee_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                @* kim code 03/15/2022 add capitalize below*@
                <h5 id="emp_modal_lbl" class="modal-title" style="text-transform: capitalize;">
                    @if (ViewBag.isHomeCare == "True")
                    {
                        <label class="">Caregiver </label>
                    }
                    else
                    {
                        <label class="">Employee </label>
                    }
                    <span id="empname"></span>
                </h5>
                <button type="button" class="close" modalid="employee_modal" id="close_user" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="userForm" class="modal-body form">
                @*<form id="usersForm">*@


                <div class="tab-content" id="employee_modal">
                    @*added id for data-backdrop : Cheche 3-3-2022*@
                    <select class="form-control nav nav-tabs nav-fill" role="tablist" id="tabsSelect">
                        <option value="#tabs-1">Basic Profile Information</option>
                        <option value="#tabs-2">Other Information</option>
                        <option value="#tabs-3">Service Tasks</option>
                        @*@if (ViewBag.IsAdmin)
        {
            <option value="#tabs-4">Role Permission</option>
        }*@
                        @if (ViewBag.isHomeCare == "True")
                        {
                            <option value="#tabs-usr">Caregiver Forms</option>
                        }
                        else
                        {
                            <option value="#tabs-usr">Employee Forms</option>
                        }

                        @*<option value="#tabs-doc">Print Employee Files</option>*@
                        <option value="#tabs-dsp">Disciplinary Write-up</option>
                        <option value="#tabs-pdocs">Personal Document</option>
                        <option value="#tabs-pit">Proof of In-Service Trainings</option>

                    </select>
                    @*added id for each tabs by Cheche 12/10/2021*@
                    <ul class="nav nav-tabs nav-fill" role="tablist" id="tabs">
                        <li class="nav-item emptab">
                            <a class="nav-link active show" id="tabs1" data-toggle="tab" href="#tabs-1">Basic Profile Information</a>
                        </li>
                        <li class="nav-item emptab">
                            <a class="nav-link" id="tabs2" data-toggle="tab" href="#tabs-2">Other Information</a>
                        </li>
                        <li class="nav-item emptab">
                            <a class="nav-link" id="tabs3" data-toggle="tab" href="#tabs-3">Service Tasks</a>
                        </li>

                        @*@if (ViewBag.IsAdmin)
                            {
                                    <li class="nav-item emptab"><a class="nav-link" id="tabs4" data-toggle="tab" href="#tabs-4" style="display:none">Role Permissionnn</a></li>
                            }*@

                        <li class="nav-item emptab">
                            @if (ViewBag.isHomeCare == "True")
                            {
                                <a class="nav-link" id="tabs5" data-toggle="tab" href="#tabs-usr">Caregiver Forms</a>
                            }
                            else
                            {
                                <a class="nav-link" id="tabs5" data-toggle="tab" href="#tabs-usr">Employee Forms</a>
                            }

                        </li>
                        @*<li class="nav-item emptab">
                                <a class="nav-link" data-toggle="tab" href="#tabs-doc">Print Employee Files</a>
                            </li>*@
                        <li class="nav-item emptab">
                            <a class="nav-link" id="tabs6" data-toggle="tab" href="#tabs-dsp">Disciplinary Write-up</a>
                        </li>
                        <li class="nav-item emptab">
                            <a class="nav-link" id="tabs7" data-toggle="tab" href="#tabs-pdocs">Personal Document</a>
                        </li>
                        <li class="nav-item emptab">
                            <a class="nav-link" id="tabs8" data-toggle="tab" href="#tabs-pit">Proof of In-Service Trainings</a>
                        </li>
                    </ul>

                </div>

                <div class="tab-content" id="tabsviews">

                    <div class="tab-pane active form" id="tabs-1" role="tabpanel">
                        <form id="usersForm" class="form row" style="margin-top: 5%;">

                            <input type="hidden" id="carestaffRoles" value="@(ViewBag.CarestaffRoles)" />
                            <div class="col-lg-3 form-group m-form__group row resdform">
                                <div class="col-lg-12 resdform">
                                    <div class="resimg">
                                    </div>
                                </div>
                                <div class="col-lg-12 resdform">
                                    <div style="width:120px; margin:auto; margin-top:7px">
                                        <a href="#" class="upload lnkUpload btn btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-resimg" data-toggle="modal" data-target="#uploadresimg_modal">
                                            <span>
                                                <i class="la la-archive">
                                                </i>
                                                <span>Upload Image</span>
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="col-lg-9 row empBinfo" style="width:75%;margin:auto;">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        @if (ViewBag.IsAdmin)
                                        {
                                            <label class="m-checkbox x m-checkbox--state-success">
                                                <input type="checkbox" id="chkIsSysUser" name="IsSysUser"> Is System User
                                                <span></span>
                                            </label>
                                        }
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        <span style="color: red;">*</span>
                                        <label>User ID</label>
                                        <input type="text" class="form-control m-input nonsysuser" id="txtId" readonly="readonly" name="Id" maxlength="150" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Firstname</label>
                                        <input type="text" class="form-control m-input" id="txtFirstname" name="Firstname" maxlength="150" required>
                                    </div>
                                    <div class="col-lg-12">
                                        @*Cheche was here to prevent empty middle initial field from saving 1/5/2022*@
                                        @*<span style="color: red;">*</span> removed on 3-1-2022*@
                                        <label>Middle Initial</label>
                                        <input type="text" class="form-control m-input" id="txtMI" name="MiddleInitial" maxlength="1" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Lastname</label>
                                        <input type="text" class="form-control m-input" id="txtLastname" name="Lastname" maxlength="150" required>
                                    </div>
                                    @if (ViewBag.isHomeCare == "False")
                                    {
                                        <div class="col-lg-12 non-sys-user" id="pw">
                                            <span class="pass_and_confirm"></span>
                                            <label>  <span style="color: red;">*</span> Password</label>@*3-22-2022 : Cheche*@
                                            <input type="password" id="txtPassword" name="Password" maxlength="150" class="form-control m-input nonsysuser" required />
                                            <input type="text" id="txtPass" value="Type to change password" class="form-control m-input" style="color:#a4a4a4" />

                                        </div>
                                        <div class="col-lg-12  confirm_pass" id="pw">
                                            <span style="color: red;">*</span>
                                            <label>Confirm Password</label>
                                            <input type="password" id="txtConfirm" name="ConfirmPassword" maxlength="100" value=" " style="color:#a4a4a4" class="form-control m-input nonsysuser" required />
                                            @*}*@
                                        </div>
                                    }


                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-12 non-sys-user">
                                        @*Cheche was here to hide email for nonsysuser : 3-1-2022*@
                                        <span style="color: red;">*</span>
                                        <label class="">Email</label>
                                        <input type="text" id="txtEmail" name="Email" maxlength="150" class="form-control m-input nonsysuser" required />
                                    </div>

                                    <div class="col-lg-12 @*non-sys-user*@">
                                        @*kim comment out non-sys-user for adding service task for non system user 03/28/22*@
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" id="chkIsActive" name="IsActive"> Is Active
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-12 non-sys-user">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" id="chkIsForce" name="IsForce"> Force Change Password
                                            <span></span>
                                        </label>
                                    </div>
                                    @if (ViewBag.isHomeCare == "True")
                                    {
                                        <div class="col-lg-12 non-sys-user" id="pw">
                                            <span class="pass_and_confirm"></span>
                                            <label>  <span style="color: red;">*</span> Password</label>@*3-22-2022 : Cheche*@
                                            <input type="password" id="txtPassword" name="Password" maxlength="150" class="form-control m-input nonsysuser" required />
                                            <input type="text" id="txtPass" value="Type to change password" class="form-control m-input" style="color:#a4a4a4" />

                                        </div>
                                        <div class="col-lg-12  confirm_pass" id="pw">
                                            <span style="color: red;">*</span>
                                            <label>Confirm Password</label>
                                            <input type="password" id="txtConfirm" name="ConfirmPassword" maxlength="100" value=" " style="color:#a4a4a4" class="form-control m-input nonsysuser" required />
                                            @*}*@
                                        </div>
                                    }
                                    @if (ViewBag.isHomeCare == "True")
                                    {
                                        <div class="col-lg-12" style="display:none">
                                            <span style="color: red;">*</span>
                                            <label class="">Role</label>
                                            <select name="Role" id="ddlRole" class="form-control">
                                                @foreach (var r in Model.RolesData.Roles)
                                                {
                                                    <option value="@r.Id">@r.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-12" style="display:none">
                                            @*kim comment out non-sys-user for adding service task for non system user 03/28/22*@
                                            <span style="color: red;">*</span>
                                            <label class="">Shift</label>
                                            <input type="hidden" id="txtCSId" name="CSId" />
                                            <input type="hidden" id="txtShiftId" name="ShiftId" />
                                            <input type="text" id="txtShift" name="Shift" autofocus maxlength="150" class="form-control m-input" />
                                        </div>
                                        <div class="col-lg-12 @*non-sys-user*@" style="display:none">
                                            >
                                            @*kim comment out non-sys-user for adding service task for non system user 03/28/22*@
                                            <span id="lblSched" style="font-size:12px;"></span>
                                        </div>
                                        <div class="col-lg-12 row @*non-sys-user*@" style="margin-top: 12px;display:none">
                                            <div class="col-lg-pull-6" style="margin-left: 14px;">
                                                <label>Day Schedule<br /><a class="checkall" data-toggle="cc">Check All Days</a></label>
                                            </div>
                                            <table class=" dayofweek2" style="margin-left:20px">
                                                <tbody>
                                                    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                                    <tr>
                                                        <td><input name="Sun" type="checkbox" class="w20px"></td>
                                                        <td><input name="Mon" type="checkbox" class="w20px"></td>
                                                        <td><input name="Tue" type="checkbox" class="w20px"></td>
                                                        <td><input name="Wed" type="checkbox" class="w20px"></td>
                                                        <td><input name="Thu" type="checkbox" class="w20px"></td>
                                                        <td><input name="Fri" type="checkbox" class="w20px"></td>
                                                        <td><input name="Sat" type="checkbox" class="w20px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-12" style="display:none">
                                            <span style="color: red;">*</span>
                                            <label class="">Department</label>
                                            <select name="Department" id="ddlDepartment" class="form-control">
                                                <option></option>
                                                @foreach (var r in Model.DeptData.Depts)
                                                {
                                                    <option value="@r.Id">@r.Name</option>
                                                }
                                            </select>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-12">
                                            <span style="color: red;">*</span>
                                            <label class="">Role</label>
                                            <select name="Role" id="ddlRole" class="form-control">
                                                @foreach (var r in Model.RolesData.Roles)
                                                {
                                                    <option value="@r.Id">@r.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-12 @*non-sys-user*@">
                                            @*kim comment out non-sys-user for adding service task for non system user 03/28/22*@
                                            <span style="color: red;">*</span>
                                            <label class="">Shift</label>
                                            <input type="hidden" id="txtCSId" name="CSId" />
                                            <input type="hidden" id="txtShiftId" name="ShiftId" />
                                            <input type="text" id="txtShift" name="Shift" autofocus maxlength="150" class="form-control m-input" />
                                        </div>
                                        <div class="col-lg-12 @*non-sys-user*@">
                                            @*kim comment out non-sys-user for adding service task for non system user 03/28/22*@
                                            <span id="lblSched" style="font-size:12px;"></span>
                                        </div>
                                        <div class="col-lg-12 row @*non-sys-user*@" style="margin-top: 12px;">
                                            <div class="col-lg-pull-6" style="margin-left: 14px;">
                                                <label>Day Schedule<br /><a class="checkall" data-toggle="cc">Check All Days</a></label>
                                            </div>
                                            <table class=" dayofweek2" style="margin-left:20px">
                                                <tbody>
                                                    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                                    <tr>
                                                        <td><input name="Sun" type="checkbox" class="w20px"></td>
                                                        <td><input name="Mon" type="checkbox" class="w20px"></td>
                                                        <td><input name="Tue" type="checkbox" class="w20px"></td>
                                                        <td><input name="Wed" type="checkbox" class="w20px"></td>
                                                        <td><input name="Thu" type="checkbox" class="w20px"></td>
                                                        <td><input name="Fri" type="checkbox" class="w20px"></td>
                                                        <td><input name="Sat" type="checkbox" class="w20px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-12">
                                            <span style="color: red;">*</span>
                                            <label class="">Department</label>
                                            <select name="Department" id="ddlDepartment" class="form-control">
                                                <option></option>
                                                @foreach (var r in Model.DeptData.Depts)
                                                {
                                                    <option value="@r.Id">@r.Name</option>
                                                }
                                            </select>

                                        </div>
                                    }


                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane form" id="tabs-2" role="tabpanel">
                        <form class="form">
                            <div class="col-lg-12">
                                <fieldset>
                                    <legend>Contact Information</legend>
                                </fieldset>
                            </div>
                            <div class="col-lg-8 row ">

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Address1</label>
                                        <input type="text" id="txtAddress1" name="Address1" maxlength="50" class="form-control m-input" required />
                                    </div>
                                    <div class="col-lg-12">
                                        @*<span style="color: red;">*</span>*@
                                        <label>Address2</label>
                                        <input type="text" id="txtAddress2" name="Address2" maxlength="50" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>City</label>
                                        <input type="text" id="txtCity" name="City" maxlength="50" class="form-control m-input" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>State</label>
                                        <input type="text" id="txtState" name="State" maxlength="2" class="form-control m-input" required />
                                        <input type="text" id="txtStateId" name="StateId" maxlength="2" class="form-control m-input" hidden />
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Zip</label>
                                        <input type="text" id="txtZip" name="Zip" maxlength="11" class="form-control m-input" required />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Gender</label>
                                        <select id="ddlGender" name="Gender" class="form-control" required>
                                            <option selected value="">-- Select Gender --</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Birthdate</label>
                                        @*changed maxlenght from 8 to 10 by Cheche Reason: So the user can just type their birthday*@
                                        @*removed maxlength ANGELIE: 01-04-2022 *@
                                        <input type="text" id="txtBirthDate" name="BirthDate" class="form-control m-input" required />
                                        <span id="bday_error_usr"></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>Phone</label>
                                        <input type="text" id="txtPhone" name="Phone" class="form-control m-input" required />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Fax</label>
                                        <input type="text" id="txtFax" name="Fax" class="form-control m-input" />
                                    </div>
                                    <div class="col-lg-12">
                                        <span style="color: red;">*</span>
                                        <label>SSN</label>
                                        <input type="text" id="txtSSN" name="SSN" maxlength="9" class="form-control m-input" required />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        @*<div id="#servicetask_modal" class="toolbar">
                                <ul class="left">
                                    <li><a class="add">Add</a> </li>
                                    <li><a class="refresh_svctask">Refresh</a> </li>
                                </ul>
                            </div>*@
                        @if (ViewBag.isHomeCare == "False")
                        {
                            <a href="#" class="btn m-btn btn m-btn--air btn-primary m-btn m-btn--icon m-btn--outline-2x" id="add_task" data-target="#servicetask_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add Service Task
                                    </span>
                                </span>
                            </a>
                        }
                        else
                        {
                            <div style="height:20px"></div>
                        }


                        <form class="form">
                            <div id="serviceGrid" class="grid">
                                @if (ViewBag.isHomeCare == "True")
                                {
                                    <table id="sGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr role="row">
                                                <th>Planned Date</th>
                                                <th>Posted Date</th>
                                                <th>Resident</th>
                                                <th>Caregiver</th>
                                                <th>Planned Services</th>
                                                <th>Posted Services</th>
                                                <th>Planned Time</th>
                                                <th>Actual Time of Completion</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sGridtbl"></tbody>
                                    </table>
                                }
                                else
                                {
                                    <table id="sGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                        <thead>
                                            <tr>
                                                <th>Activity</th>
                                                <th>Department</th>
                                                <th>Resident</th>
                                                <th>Staff</th>
                                                <th>Room</th>
                                                <th>Schedule</th>
                                                <th>Recurrence</th>
                                                <th>Duration</th>
                                                <th>Date Created</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sGridtbl"></tbody>
                                    </table>
                                }
                            </div>
                        </form>


                    </div>

                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                        <form class="form">
                            <div class="checkboxes">
                                <div class="col-lg-12" style="margin-top:10px">
                                    <fieldset>
                                        <legend>Assign User Roles</legend>
                                    </fieldset>
                                </div>
                                <div class="checkbox-grid m-form__group form-group">
                                    <div class="m-checkbox-list">
                                        @{ int i = 1;}
                                        @foreach (var r in Model.RolePerm.Roles)
                                        {
                                            <label class="m-checkbox m-checkbox--success  m-checkbox--state-success">
                                                <input type="checkbox" id="cbRole@(i)" value="@(r.Id)" /><label for="cbRole@(i)">
                                                    @r.Name
                                                </label>
                                                <span></span>
                                            </label>
                                            i++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-pane" id="tabs-doc" role="tabpanel">
                        <div class="form">
                            <fieldset>
                                @if (ViewBag.isHomeCare == "True")
                                {
                                    <legend>Caregiver File</legend>
                                }
                                else
                                {
                                    <legend>Employee File</legend>
                                }

                                <br />
                                <table class="form-fieldset">
                                    <tr>
                                        <td>
                                            <label>Select Print-out: </label>
                                        </td>
                                        <td>
                                            <select id="printsr" class="form-control">
                                                @*added id's for each tab under Employee Form: Cheche 12/31/2021*@
                                                <option disabled selected></option>
                                                @if (ViewBag.isHomeCare == "True")
                                                {
                                                    <option id="tab5a" value="csr">Criminal Record Statement</option>
                                                    <option id="tab5b" value="eaa">Elder Abuse Acknowledgement</option>
                                                    <option id="tab5c" value="eh">Caregiver Handbook Receipt</option>
                                                    <option id="tab5d" value="er">Caregiver Rights</option>
                                                    <option id="tab5e" value="hsr">Health Screening Report</option>
                                                    <option id="tab5f" value="pfc">Personnel File Checklist</option>
                                                    <option id="tab5g" value="pf">Photography/Video Camera Consent Form</option>
                                                    <option id="tab5h" value="hb">Hepatitis B Vaccine Declination Form</option>
                                                    <option id="tab5i" value="per">Personnel Record</option>
                                                    <option id="tab5j" value="rls">Request for Live Scan Service</option>
                                                    <option id="tab5k" value="eev">Employment Eligibility Verification</option>
                                                    <option id="tab5l" value="pw">Payroll Withholding Notice</option>
                                                    <option id="tab5m" value="sjd">Signed Job Description</option>
                                                }
                                                else
                                                {
                                                    <option id="tab5a" value="csr">Criminal Record Statement</option>
                                                    <option id="tab5b" value="eaa">Elder Abuse Acknowledgement</option>
                                                    <option id="tab5c" value="eh">Employee Handbook Receipt</option>
                                                    <option id="tab5d" value="er">Employee Rights</option>
                                                    <option id="tab5e" value="hsr">Health Screening Report</option>
                                                    <option id="tab5f" value="pfc">Personnel File Checklist</option>
                                                    <option id="tab5g" value="pf">Photography/Video Camera Consent Form</option>
                                                    <option id="tab5h" value="hb">Hepatitis B Vaccine Declination Form</option>
                                                    <option id="tab5i" value="per">Personnel Record</option>
                                                    <option id="tab5j" value="rls">Request for Live Scan Service</option>
                                                    <option id="tab5k" value="eev">Employment Eligibility Verification</option>
                                                    <option id="tab5l" value="pw">Payroll Withholding Notice</option>
                                                    <option id="tab5m" value="sjd">Signed Job Description</option>
                                                }

                                            </select>
                                            @*added Next Button by Cheche 12/31/2021*@
                                            @*<button id="btn-next" class="btn btn-success" style="text-align:left">Next</button>*@
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" style="text-align:right">
                                            <button id="btn-printsr" class="btn btn-success">Print</button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>

                    @*<div class="tab-pane form" id="tabs-dsp" role="tabpanel">
                        <div id="DocumentToolbar" class="toolbar">
                            <ul class="left">
                                @* <li><a data-toggle="modal" data-target="#dwu_modal" id="dwu_upld"> New Disciplinary Write-up</a> </li>*@
                    @*<li><a class="download">Download</a> </li>*@
                    @*<li><a class="deldsp"><img src="~/Images/delete.png" alt=""> Delete</a> </li>*@
                    @*<li class="noBorder"><a class="refresh">Refresh</a> </li>*@
                    @*</ul>
                            </div>
                            <div id="documentGrid" class="grid">
                                <table id="wGrid">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Reason for Disciplinary Action</th>
                                            <th>Uploaded By</th>
                                            <th>Date Uploaded</th>
                                            <th>Filename</th>
                                            <th>Size</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody id="wubody"></tbody>
                                </table>
                            </div>
                        </div>*@

                    <div id="tabs-dsp" class="form tab-pane" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-dwu" data-target="#dwu_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Upload Document
                                </span>
                            </span>
                        </a>

                        @*<button type="submit" class="btn btn-primary" id="btnUploadDocument">Save</button>*@
                        <div id="documentGrid" class="grid">
                            <table id="dwuGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Reason for Disciplinary Action</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <!-- add <th>Type</th>  for deletion of documents in employee kim 11/23/2021-->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="dwubody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>

                    <div class="tab-pane form" id="tabs-pdocs" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-pdoc" data-target="#pdoc_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Upload New File
                                </span>
                            </span>
                        </a>
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn--accent m-btn m-btn--icon m-btn--pill m-btn--outline-2x" id="refresh-pdoc" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-refresh"></i>
                                <span>
                                    Refresh
                                </span>
                            </span>
                        </a>
                        <div class="grid">
                            <table id="pdocGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <!-- add <th>Type</th>  for deletion of documents in employee kim 11/23/2021-->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="pdocbody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>

                    <div class="tab-pane form" id="tabs-pit" role="tabpanel">
                        <a href="#" class="btn btn-accent m-btn btn m-btn--air btn-outline-accent m-btn m-btn--icon m-btn--outline-2x" id="upload-pit" data-target="#pit_modal" data-toggle="modal" style="margin-top:15px; margin-left: 10px; margin-bottom: 25px">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    Upload In-Service Training Proof
                                </span>
                            </span>
                        </a>
                        <div class="grid">
                            <table id="pitGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th>Title</th>
                                        <th>Uploaded By</th>
                                        <th>Date Uploaded</th>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th>Type</th>
                                        <!-- add <th>Type</th>  for deletion of documents in employee kim 11/23/2021-->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="pitbody"></tbody>
                            </table>
                        </div>
                        <br /><br />
                    </div>


                    <div class="tab-pane form" id="tabs-usr" role="tabpanel">
                        @Html.Partial("EmployeeForms")
                    </div>
                </div>
                @*</form>*@
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="printEmployeeFile">Print</button>
                <button type="button" class="btn btn-primary" id="saveemployeeinfo">Save</button>
                <button type="button" id="_closemodal" modalid="employee_modal" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* END: EMPLOYEE MODAL *@


@* START: CONFLICT TASK MODAL *@
<div class="modal fade" id="employee_conflicttasks_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 id="emp_modal_lbl" class="modal-title">Employee - <span id="empname_lbl"></span></h5>*@
                @if (ViewBag.isHomeCare == "True")
                {
                    <h5 id="emp_modal_lbl" class="modal-title">Caregiver - <span id="empname_lbl"></span> has existing scheduled tasks. Conflicted tasks should be deactivated or reassigned.</h5>
                }
                else
                {
                    <h5 id="emp_modal_lbl" class="modal-title">Employee - <span id="empname_lbl"></span> has existing scheduled tasks. Conflicted tasks should be deactivated or reassigned.</h5>
                }


                <button type="button" class="close " aria-label="Close" onclick="closeModal('employee_conflicttasks_modal')">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="user_conflicttasks" class="modal-body form" style="min-height:611px;">
                <div style="width:100%; display:inline-flex">
                    Legend
                    <div style="background-color: #af0f0f;width: 10px;height: 10px;margin: 3px 2px 0px 18px;border: 1px solid rgba(0, 0, 0, .2)"> </div>
                    <span id="legend"> </span>
                </div>
                <br />
                <form class="form">
                    <div id="CTaskGrid" class="grid">
                        <table id="conflictTaskGrid" class="table table-striped- table-bordered table-hover table-checkable dtr-inline">
                            <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Department</th>
                                    <th>Resident</th>
                                    <th>Staff</th>
                                    <th>Room</th>
                                    <th>Schedule</th>
                                    <th>Recurrence</th>
                                    <th>Duration</th>
                                    <th>Date Created</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="conflictTasktbl"></tbody>
                        </table>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="proceed" class="btn btn-primary" disabled hidden>Proceed</button>
            </div>
        </div>
    </div>
</div>
@* END: CONFLICT TASK MODAL *@


@* START: SERVICE TASK MODAL *@

<div class="modal fade" id="servicetask_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceTaskLabel">Edit Service Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('servicetask_modal')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>


            <form id="servceTask">
                <div class="modal-body form">
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-2 col-form-label">Department</label>
                            <div class="col-10">
                                <select id="ddlDept" name="Dept" class="form-control forreassigntask" disabled="disabled" required>
                                    @foreach (var r in Model.ActivityScheduleData.Departments.Depts)
                                    {
                                        <option value="@r.Id" @(Model.ActivityScheduleData.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-8">
                            <input class="form-control m-input" type="hidden" id="ddlDept" name="Dept" value="@Model.ActivityScheduleData.Departments.SelectedValue">
                        </div>
                    }

                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-4 col-form-label">Activity Description</label>
                        <div class="col-8">
                            <select id="txtActivity" name="ActivityId" class="form-control forreassigntask" required>
                                <option value=""></option>
                                @{
                                    foreach (var r in Model.ActivityScheduleData.Activities)
                                    {
                                        string name = r.Desc;
                                        if (r.Desc.Length > 50)
                                        {
                                            name = r.Desc.Substring(0, 50) + "...";
                                        }
                                        <option value="@r.Id" title="@r.Proc">@name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-4 col-form-label">Activity Procedure</label>
                        <div class="col-8">
                            <textarea id="viewActivity" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control forreassigntask" style="outline:none;resize:none;width:292px !important" readonly="readonly" />
                        </div>
                    </div>

                    <div id="liRoom" class="form-group m-form__group row">
                        <label for="example-text-input" class="col-4 col-form-label">Room</label>
                        <div class="col-8">
                            <select id="txtRoomId" name="RoomId" class="form-control forreassigntask" required>
                                <option value=""></option>
                                @foreach (var r in Model.ActivityScheduleData.Rooms)
                                {
                                    <option value="@r.Id">@r.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div id="liResident" class="form-group m-form__group row">
                        <label for="example-text-input" class="col-4 col-form-label">Resident</label>
                        <div class="col-8">
                            <select id="txtResidentId" name="ResidentId" class="form-control forreassigntask" required>
                                <option value=""></option>
                                @foreach (var r in Model.ActivityScheduleData.Residents)
                                {
                                    if (r.IsAdmitted == "True")
                                    {
                                        <option value="@r.Id">@r.Name</option>
                                    }



                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-4 col-form-label">Schedule Time</label>
                        <div class="col-8">
                            <input class="form-control m-input" autocomplete="off" type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-12">
                            <span id="lblSched2" style="margin-left:160px"></span>
                            <span id="no_carestaff_available" style="color:red;margin-left:160px;">This time and day schedule is not available! </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-12 col-form-label">Schedule Type</label>

                        <label class="m-radio col-4">
                            <input type="radio" name="recurring" value="1" id="reccur" checked="checked"> Recurring
                            <span></span>
                        </label>

                        <div class="col-8">
                            <table class="dayofweek" style="margin-left:20px">
                                <tbody>
                                    <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                    <tr>
                                        <td><input name="Sun" type="checkbox" class="w20px"></td>
                                        <td><input name="Mon" type="checkbox" class="w20px"></td>
                                        <td><input name="Tue" type="checkbox" class="w20px"></td>
                                        <td><input name="Wed" type="checkbox" class="w20px"></td>
                                        <td><input name="Thu" type="checkbox" class="w20px"></td>
                                        <td><input name="Fri" type="checkbox" class="w20px"></td>
                                        <td><input name="Sat" type="checkbox" class="w20px"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label class="m-radio col-4">
                            <input id="onetime" style="width:auto" type="radio" name="recurring" value="2">
                            One-Time Service Schedule
                            <span></span>
                        </label>

                        <div class="col-8">

                            <input id="Onetimedate" type="text" name="Onetimedate" disabled="disabled" class="form-control m-input" />
                        </div>
                    </div>

                    <div class="form-group m-form__group row" id="carestaff_div" hidden>
                        <input type="hidden" id="txtId" name="Id" />
                        <label for="example-text-input" class="col-4 col-form-label">
                            Carestaff
                        </label>
                        <div class="col-8">
                            <input type="hidden" xid="hdCarestaffId" value="" />
                            <select id="txtCarestaff" name="CarestaffId" class="form-control"></select>

                            @*kim add code for textbox 12/29/2021*@
                            @* <input  class="form-control m-input" autocomplete="off" type="text" id="txtCare" maxlength="8" disabled="disabled">*@

                        </div>
                    </div>


                </div>
            </form>
            <div class="modal-footer">
                <input type="hidden" id="mode" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeTaskModal" onclick="closeModal('servicetask_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="savesvctask">Save changes</button>
            </div>
        </div>
    </div>
</div>


@* END: SERVICE TASK MODAL *@

@* START: ADD SERVICE TASK *@
@*<div class="modal fade" id="addtask_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Service Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="form-group">
                            <label for="ddlDept" class="form-control-label"><span class="req" style="color: red;">*</span> Department:</label>
                            <select id="ddlDept1" name="Dept" class="form-control required">
                                @foreach (var r in Model.ActivityScheduleData.Departments.Depts)
                                {

                                    <option value="@r.Id" @(Model.ActivityScheduleData.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                }

                            </select>
                        </div>

                    }
                    else
                    {

                        <div class="form-group" style="display:none">
                            <input type="hidden" id="ddlDept1" name="Dept" value="@Model.ActivityScheduleData.Departments.SelectedValue" />
                        </div>

                    }


                    <div class="form-group">
                        <label for="txtActivity" class="form-control-label"><span class="req" style="color: red;">*</span> Activity Description</label>
                        <select id="txtActivity1" name="ActivityId" class="form-control required">
                            <option value=""></option>
                            @{
                                foreach (var r in Model.ActivityScheduleData.Activities)
                                {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50)
                                    {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }

                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="viewActivity" class="form-control-label">Activity Procedure</label>
                        <textarea id="viewActivity1" exclude-data="1" autofocus name="Activity" maxlength="1000" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group" id="liRoom">
                        <label for="txtRoomId" class="form-control-label">Room</label>
                        <select id="txtRoomId1" name="RoomId" class="form-control">
                            <option value=""></option>
                            @foreach (var r in Model.ActivityScheduleData.Rooms)
                            {

                                <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtResidentId" class="form-control-label"><span class="req" style="color: red;">*</span> Resident</label>
                        <select id="txtResidentId1" name="ResidentId" class="form-control required">
                            <option value=""></option>
                            @foreach (var r in Model.ActivityScheduleData.Residents)
                            {
                                    <option value="@r.Id">@r.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtTimeIn" class="form-control-label"><span class="req" style="color: red;">*</span> Schedule Time</label>
                        @*
                            <input type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="form-control required" />*@

@*<div class="input-group timepicker">
                            <input type="text" autocomplete="off" id="txtTimeIn1" name="ScheduleTime" maxlength="8" class="form-control required" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="reccur" class="form-control-label">Recurring</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="reccur1" style="width:auto;" type="radio" name="recurring" value="1" checked="checked" class="form-control" />
                                    </td>
                                    <td>
                                        <table class="dayofweek">
                                            <tbody>
                                                <tr>
                                                    <td>Sun</td>
                                                    <td>Mon</td>
                                                    <td>Tue</td>
                                                    <td>Wed</td>
                                                    <td>Thu</td>
                                                    <td>Fri</td>
                                                    <td>Sat</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input name="Sun" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Mon" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Tue" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Wed" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Thu" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Fri" type="checkbox" class="w20px">
                                                    </td>
                                                    <td>
                                                        <input name="Sat" type="checkbox" class="w20px">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:150px;text-align:right;">
                                        <label for="onetime" class="form-control-label">One-Time Service Schedule</label>
                                    </td>
                                    <td style="width:50px;padding-left: 15px;">
                                        <input id="onetime1" style="width:auto" type="radio" name="recurring" value="2" class="form-control" />
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="Onetimedate1" type="text" name="Onetimedate" disabled="disabled" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="txtId1" name="Id" />
                        <label for="txtCarestaff" class="form-control-label"><span class="req" style="color: red;">*</span> Carestaff</label>
                        <input type="hidden" xid="hdCarestaffId1" value="" />
                        <select id="txtCarestaff1" name="CarestaffId" class="form-control required"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('addtask_modal')">Cancel</button>
                <button type="button" class="btn btn-primary save" id="btnAddTask">Save</button>
            </div>
        </div>
    </div>*@
@*</div>*@

@* END: ADD SERVICE TASK *@


@* START: UPLOAD IMAGE MODAL *@
<div class="modal fade" id="uploadresimg_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-residentName">Upload Image</h5>

                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body">

                @* @using (Html.BeginForm("UploadImg", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {*@

                <form id="uploadresimg_form">
                    @**add kim for preview of the image 02/17/22*@
                    <img id="image" src="#" width="250" height="300" object-fit="cover" />
                    @*add code kim accept="image/*" for image only 02/16/22**@
                    <input type="file" name="ImageData" id="ImageData" accept="image/*" />

                    <input type="hidden" name="resid" id="resid" />


                    @*<input type="submit" id="uploadimg" value="Upload" />*@

                    @*}*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnclose" data-dismiss="modal" onclick="closeModal('uploadresimg_modal')">Cancel</button>
                <button type="submit" class="btn btn-primary" id="btnUploadResImg">Save</button>
            </div>
        </div>
    </div>
</div>
@* END: UPLOAD IMAGE MODAL *@

@* START: DISCIPLINARY WRITE UP MODAL *@

<div class="modal fade" id="dwu_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Upload Disciplinary Write-up File</h5>
                <input type="hidden" name="uid" id="uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body dwu_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadDWU" class="btn btn-secondary" onclick="closeModal('dwu_modal')">Close</button>
            </div>
        </div>
    </div>
</div>

@* END: DISCIPLINARY WRITE UP MODAL *@

@* START: PERSONAL DOCUMENT MODAL *@

<div class="modal fade" id="pdoc_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Add Personal Document File</h5>
                <input type="hidden" name="pd_uid" id="pd_uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body pdoc_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadPDOC" class="btn btn-secondary" onclick="closeModal('pdoc_modal')">Close</button>
            </div>
        </div>
    </div>
</div>

@* END:PERSONAL DOCUMENT MODAL *@

@* START: PROOF OF IN-SERVICE TRAINING MODAL *@
<div class="modal fade" id="pit_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title-ud">Add Proof of In-service Document</h5>
                <input type="hidden" name="pit_uid" id="pit_uid" />
                @*<button type="button" class="close close1" modalid="uploadresimg_modal" id="close_uploadresimg" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
            </div>
            <div class="modal-body pit_div">
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('uploaddocument_modal')">Cancel</button>*@
                <button type="submit" id="loadPIT" class="btn btn-secondary" onclick="closeModal('pit_modal')">Close</button>
            </div>
        </div>
    </div>
</div>
@* END: PROOF OF IN-SERVICE TRAINING MODAL *@


