﻿@model Datasoft.AssistedLiving.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Assisted Living Centre";
}
@{
    Layout = "";
}

@if (Request.IsAuthenticated)
{
    System.Diagnostics.Debug.WriteLine("Hello!");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")" media="all" />*@
    <!--  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home.min.css")" media="all" />
      <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.min.css")" media="all" />
      <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fonts.min.css")" media="all" />
      <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/master.min.css")" media="screen" />-->
    <script src="@Url.Content("~/scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <!--Added by Roland M. 06-28-17-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/loginpagestyle.css")" media="all">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <script type="text/javascript">
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
    </script>

    <script type="text/javascript">
            @*var loginUrl = "@Url.Content("~/Login")";
            if (location.href.indexOf('Login') == -1){
                location.href = loginUrl;
            }
            loginUrl += "/Authenticate";*@
        var _0x7c4a = ["@Url.Content("~/Login")", "\x4C\x6F\x67\x69\x6E", "\x69\x6E\x64\x65\x78\x4F\x66", "\x68\x72\x65\x66", "\x2F\x41\x75\x74\x68\x65\x6E\x74\x69\x63\x61\x74\x65"]; var loginUrl = _0x7c4a[0]; if (location[_0x7c4a[3]][_0x7c4a[2]](_0x7c4a[1]) == -1) { location[_0x7c4a[3]] = loginUrl }; loginUrl += _0x7c4a[4]

        var ALC_URI = {
            @*Dashboard: '@Url.Content("~/Dashboard")',
                Admin: '@Url.Content("~/Admin")',
                Home: '@Url.Content("~/Home")',
                Login: '@Url.Content("~/Login")',
                Referral: '@Url.Content("~/Referral")',
                MAR: '@Url.Content("~/MAR")',
                Marketer: '@Url.Content("~/Marketer")',*@
            Account: '@Url.Content("~/Account")'
        }
    </script>
    @*<script src="@Url.Content("~/Scripts/site.login.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/site.login.js")" type="text/javascript"></script>
    <style>
        .fielderror {
            background-color: #d14836;
        }

        .fieldlabel {
            font: normal 12px/1.0 'Tahoma';
            color: #d14836;
        }
        /* html {overflow:hidden;}*/
    </style>
</head>
<body>

    <div class="sticky-container">
        <ul class="sticky">
            <a href="https://www.facebook.com/datsoftlogic/" target="_blank">
                <li>

                    <div style="color:	#3b5998;">
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </div>
                    <div>
                        <p>Like Us on<br>Facebook</p>
                    </div>


                </li>
            </a>
            <a href="https://twitter.com/Data_Soft_Logic" target="_blank">
                <li>

                    <div style="color:#00aced;">
                        <i class="fab fa-twitter-square fa-3x"></i>
                    </div>
                    <div>
                        <p>
                            Follow Us on<br>Twitter
                        </p>
                    </div>

                </li>
            </a>
            <a href="https://www.linkedin.com/company/data-soft-logic-corporation" target="_blank">
                <li>
                    <div style="color:#0077b5;">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </div>
                    <div>
                        <p>
                            Follow Us on<br>LinkedIn
                        </p>
                    </div>

                </li>
            </a>
            <a href="https://plus.google.com/+DatasoftlogicCentre" target="_blank">
                <li>
                    <div style="color:#d34836;">
                        <i class="fab fa-google-plus-square fa-3x"></i>
                    </div>
                    <div>
                        <p>
                            Follow Us on<br>Google+
                        </p>
                    </div>

                </li>
            </a>
        </ul>
    </div>
    

    <div  class="wrapper">
        <div class="col-md-9 col-sm-6 col-xs-12 header">
            <img class="img-repsonsive sizeimg" src="~/images/dsl_logo.png">
        </div>
       
        <div class="wrapper">

            <!------ Include the above in your HEAD tag ---------->
            <div class="container">

                <div class="col-md-10 col-md-offset-1 main-b">
                    <div class="col-md-8 left-side contents">
                    
                        <div class="content_title">
                            <br />
                            <h2>Assisted Living Centre</h2>
                            <h5>Brought to you by: DataSoftLogic Inc.</h5>
                            <br>
                       
                        </div>
                          <div>
                              <p>Content Coming Soon....</p>
                          </div>

                    </div><!--col-sm-6-->

                    <div class="col-md-4 right-side" id="loginbox">
                        <h1 class="title">
                            <img src="~/images/formlogo.png" class="sizeimgA" id="c_logo">
                            <span class="wel">Welcome!</span>
                        </h1>

                        <!--Form with header-->
                        <div class="form">

                            <div class="form-group input-group">

                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-globe" style="color: black;"></span>
                                </span>
                                    <input type="text" class="form-control" id="txtCompany" placeholder="Agency ID" value="@Model.AgencyID">

                            </div>


                            <div class="form-group  input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user iconcolor"></span></span>
                                <input type="text" class="form-control" id="txtUsername" placeholder="User ID" value="@Model.UserID">

                            </div>

                            <div class="form-group  input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock iconcolor"></span></span>
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password">

                            </div>

                            <div id="errMsg">
                                <div class="fieldlabel"></div><br />
                            </div>

                            <div class="text-xs-center">
                                <button class="btn btn-deep-purple" id="btn-login" value="LOGIN">Login</button>
                                <a id="btn-forgot" value="FORGOT PASSWORD">Forgot Password?</a>
                            </div>

                        </div>
                       
                    </div>


                </div>

            </div>

          
        </div>

       
        <aside class="aside aside-1">
                <div style="display:inline-block; color: #636669;">

                    <i class="sa fas fa-desktop fa-5x"></i>
                </div>
                <div style="display:inline-block;   vertical-align: top;  margin-left: 3%;">
                    <h4>Chat Live Support Hours</h4>
                    <p>
                        Mondays - Fridays
                        <br /> 8:00 AM - 5:00 PM PST
                    </p>
                </div>

        </aside>

        <aside class="aside main">
                <div style="display:inline-block; color: #636669;">
                    <i class="fas fa-question fa-5x"></i>
                </div>
                
                <div class="row" style="display:inline-block; vertical-align: top; margin-left: 3%;">
                    <h4>Help Desk Office Hours</h4>
                    
                    
                        Mondays - Fridays (6:00 AM - 10:00 PM PST)
                   <br />
                        Saturdays (9:00 AM - 1:00 PM PST)
                   

                </div>
        </aside>
        <aside class="aside aside-2">
            <div>
                <p>
                    <span style="font-size:1.1em;">DataSoftLogic</span>
                    <br /><br /><br />
                    16037 Sherman Way<br />
                    Van Nuys, CA 91406<br /><br />
                </p>
            </div>
        </aside>

        <aside class="aside aside-3">
            <div>
                <p>
                    Phone: 866.430.0263<br />
                    Fax: 626.921.5032<br /><br />

                    sales@datasoftlogic.com<br />
                    techsupport@datasoftlogic.com
                </p>
            </div>

        </aside>

            <footer class="footer">Copyright 2006 -2018 DataSoftLogic Inc. All rights reserved.</footer>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>