﻿
@model Datasoft.AssistedLiving.Web.Models.ResidentAdmissionData
@{
    ViewBag.Title = "Assisted Living Centre - Marketer";
}
<script type="text/javascript" src="~/Scripts/Marketer/marketer.js?v1.1"></script>

<script type="text/javascript" src="~/Scripts/Marketer/referral_marketer.js"></script>
<script type="text/javascript" src="~/assets/demo/demo7/sweetalert2.js"></script>
<script src="~/assets/demo/demo7/form-controls.js"></script>

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>


<script>
    var _FR = @Html.Raw(Json.Encode(Model));
</script>
<style>
     a.complete {
         background: url(images/check.png) no-repeat;
         padding-left: 20px;
     }

     .error {
         color: #f4516c;
     }

     .row.m-row--no-padding {
         margin-right: 10px !important;
     }
     /*.col-xl-3 .tab-content{
        overflow: auto;
     }

    .col-xl-3 .m-portlet__body{
         overflow: auto;
    }*/
     #Home .col-xl-3 {
         /*padding-bottom: 100px;*/
     }

     #admForm .adm-content {
         overflow: hidden !important;
     }
</style>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="m-content">
    <div id="Home" class="row">
        <div class="col-xl-3 col-xs-3">
            <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head" style="height:20px">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">

                            <span class="m-portlet__head-icon m--hide">
                                <i class="flaticon-statistics"></i>
                            </span>
                            <h2 class="m-portlet__head-label m-portlet__head-label--info">
                                <input type="hidden" id="UsrRoleID" value="@ViewBag.RoleID" />
                                <span>REFERRAL</span>
                            </h2>
                        </div>
                    </div>
                    @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                    <div style=" position: absolute; right: 20px;" class="TotalLeads"> <span>Count: </span><span>0</span></div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_1">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <h5 class="m-portlet__head-text">
                                    <a href="#" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x blue no-revert" data-toggle="modal" data-target="#referral_modal" id="newleads">
                                        <span>
                                            <i class="fa fa-plus"></i>
                                            <span>NEW LEADS</span>
                                        </span>
                                    </a>

                                </h5>

                                <div class="m-widget2__item m-widget2__item--blue">
                                    <div class="m-widget2__checkbox">
                                    </div>
                                    <div class="m-widget2__desc content-body-referral">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-info">
                                REFERRAL FOLLOW UP
                            </h3>
                            @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                            <div style=" position: absolute; right: 20px;" class="TotalLeadsFollow"> <span>Count: </span><span>0</span></div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_5">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--info">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc content-body-referral-followup">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3  col-xs-3">
            <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head" style="height:2px">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="flaticon-statistics"></i>
                            </span>

                            <h2 class="m-portlet__head-label m-portlet__head-label--danger">
                                <span>TOUR</span>
                            </h2>
                        </div>
                    </div>
                    @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                    <div style=" position: absolute; right: 20px;" class="TotalTour"> <span>Count: </span><span>0</span></div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_2">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <h5 class="m-portlet__head-text">
                                    SCHEDULE
                                </h5>
                                <div class="m-widget2__item m-widget2__item--red">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-tour">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-danger">
                                COMPLETED TOUR
                            </h3>
                            @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                            <div style=" position: absolute; right: 20px;" class="TotalTourFollow"> <span>Count: </span><span>0</span></div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_6">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--danger">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-tour-schedule">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3  col-xs-3">
            <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head" style="height:2px">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="flaticon-statistics"></i>
                            </span>

                            <h2 class="m-portlet__head-label m-portlet__head-label--accent">
                                <span>ASSESSMENT</span>
                            </h2>
                        </div>
                    </div>
                    @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                    <div style=" position: absolute; right: 20px;" class="TotalAsses"> <span>Count: </span><span>0</span></div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_3">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <h5 class="m-portlet__head-text">
                                    SCHEDULE
                                </h5>
                                <div class="m-widget2__item m-widget2__item--cyan">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-assessment">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-accent">
                                COMPLETED ASSESSMENT
                            </h3>
                            @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                            <div style=" position: absolute; right: 20px;" class="TotalAssesComp"> <span>Count: </span><span>0</span></div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_7">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--accent">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-assessment-followup">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3  col-xs-3">
            <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head" style="height:2px">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="flaticon-statistics"></i>
                            </span>

                            <h2 class="m-portlet__head-label m-portlet__head-label--success">
                                <span>MOVE IN</span>
                            </h2>
                        </div>
                    </div>
                    @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                    <div style=" position: absolute; right: 20px;" class="TotalMoveIn"> <span>Count: </span><span>0</span></div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_4">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <h5 class="m-portlet__head-text">
                                    MOVE IN
                                </h5>
                                <div class="m-widget2__item m-widget2__item--green">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-movein">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">
                                RECENT ADMISSION
                            </h3>
                            @*add code kim here for the total of every dashboard in marketing modal 01/17/2022*@
                            <div style=" position: absolute; right: 20px;" class="TotalRecent"> <span>Count: </span><span>0</span></div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content" id="scroll_8">
                        <div class="tab-pane active" id="m_widget2_tab1_content">
                            <div class="m-widget2">
                                <div class="m-widget2__item m-widget2__item--success">
                                    <div class="m-widget2__checkbox">

                                    </div>
                                    <div class="m-widget2__desc  content-body-movein-followup">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* START: REFERRAL MODAL *@
<div class="modal fade" id="referral_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Referral Form</h5>
                <button type="button" class="close" modalid="referral_modal" id="close_referral" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto">
                @Html.Partial("~/Views/Marketer/Referral.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('referral_modal')">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

@* END: REFERRAL MODAL *@

@* START: ADD CALL LOG MODAL *@

<div class="modal fade" id="add_call_log_modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Call Log</h5>
                <button type="button" class="close close1" modalid="add_call_log_modal" data-dismiss="modal" aria-label="Close" id="add_call_log_close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea class="form-control m-input" rid="" name="CallLog" id="CallLog" rows="3"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('add_call_log_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddCallLog" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
@* END: ADD CALL LOG MODAL *@

@* START: ASSESSMENT MODAL *@
<div class="modal fade" id="assessment_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assessment Wizard</h5>

                <button type="button" class="close" modalid="assessment_modal" id="close_assessment" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="assessment_content" class="modal-body form">
                @Html.Partial("~/Views/Shared/AssessmentWizard.cshtml")
                <div class="form-group m-form__group row" id="revert_status_div">
                    <div class="col-lg-12">
                        <b>Total Score:&nbsp;&nbsp;<span id="label-TotalScore"></span></b>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveassessment">Save</button>
                <button type="button" class="btn btn-info" id="AssessmentPrint">Print</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('assessment_modal')">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* END: ASSESSMENT MODAL *@

@* START: ADMISSION FORM MODAL *@
<div class="modal fade" id="admission_modal" tabindex="-1" role="dialog" style="display: none; overflow: auto;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style=" max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Admission Wizard</h5>

                <button type="button" class="close close1" modalid="admission_modal" id="close_admission" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div id="admission_content" class="modal-body form">
                @Html.Partial("~/Views/Shared/Admission.cshtml")

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="saveadmission">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('admission_modal')">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* END: ADMISSION FORM MODAL *@

@* START: REVERT STATUS MODAL *@
<div class="modal fade" id="revert_status_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Revert Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-form__group">
                    <label for="exampleSelect1">Please select previous status</label>
                    <select class="form-control m-input" id="txtStatus" name="txtStatus"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="save_reverted_status">Save</button>
            </div>
        </div>
    </div>
</div>
@* END: REVERT STATUS MODAL *@