﻿<form class="m-form m-form--fit m-form--label-align-right" id="referral_form" novalidate="novalidate">
    <input type="hidden" name="ReferralId" id="ReferralId" />
    <input type="hidden" name="ResidentId" id="ResidentId" />
    <div class="m-portlet__body">

        <div class="form-group m-form__group row" id="revert_status_div" style="display:none;">
            <div class="col-lg-12">
                <button id="update-status" data-toggle="modal" data-target="#revert_status_modal" type="button" class="btn btn-secondary active" style="float:right">Revert Status</button>
            </div>

        </div>

        @* START : APPOINTMENT DATES *@
        <div class="form-group m-form__group row">
            @*<div class="form-group m-form__group row">
                    <div class="col-lg-12">
                        <span style="color: red;">*</span><span class="m--font-bolder">Required fields.</span>
                    </div>
                </div>*@
            <div class="col-lg-6">
                <div>
                    (<span style="color: red;">*</span>)<span style="font-style: italic;" class="m--font-bolder"> Required fields.</span>
                </div>
            </div>
        </div>

        <div class="form-group m-form__group row hiddencal" id="planned_tourdate">
            <div class="col-lg-6">
                @*kim change label  "Planned Tour Date" to "Referral Follow Up Date:" 03/01/2022*@
                <label>Referral Follow Up Date:</label>
                <div class="input-group date">
                    <input type="text" class="refdate form-control m-input" value="" id="PlannedTourDate" maxlength="10" name="PlannedTourDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row hiddencal" id="completed_tourdate">
            <div class="col-lg-6">
                <label>Completed Tour Date:</label>
                <div class="input-group date">
                    <input type="text" class="refdate form-control m-input" value="" id="TouredDate" name="TouredDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row hiddencal" id="assessment_date">
            <div class="col-lg-6">
                <label>Assessment Start Date:</label>
                <div class="input-group date">
                    <input type="text" class="refdate form-control m-input" value="" id="AssessmentStartDate" name="AssessmentStartDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row hiddencal" id="movein_date">
            <div class="col-lg-6">
                <label>Move In Date:</label>
                <div class="input-group date">
                    <input type="text" class="refdate form-control m-input" value="" id="MoveInDate" name="MoveInDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @* END: APPOINTMENT DATES *@

        @* START: FORM BODY *@
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label><span style="color: red;">*</span>Contact Person:</label>
                <div class="m-input-icon m-input-icon--right">
                    @*kim add code capitalize below for every first letter 01/14/2022*@
                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" maxlength="50" id="ContactPerson" name="ContactPerson" style="text-transform: capitalize;" required>
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-user"></i></span></span>
                </div>
            </div>
            <div class="col-lg-6">
                <label class=""><span style="color: red;">*</span>Reference Source:</label>
                <div class="m-input-icon m-input-icon--right">
                    @*kim add code capitalize below for every first letter 01/14/2022*@
                    @*<input type="text" class="form-control m-input required" id="RefSource" name="RefSource" style="text-transform: capitalize;" required>*@
                    <input list="RefSources" name="RefSource" type="text" id="RefSource" maxlength="50" class="form-control m-input required" style="text-transform: capitalize;" required />
                    <datalist id="RefSources" onchange="getrefsource"></datalist>
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-user">&nbsp;</i></span></span>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label><span style="color: red;">*</span>Contact Person Telephone:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input autocomplete="chrome-off" type="text" maxlength="20" class="form-control m-input required" id="ContactPersonPhone" name="ContactPersonPhone" required>
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-phone"></i></span></span>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="">Email Address:</label>
                <div class="m-input-icon m-input-icon--right">
                    @*kim add code none capitalize below 04/13/2022*@
                    <input autocomplete="chrome-off" style="text-transform: none;" maxlength="30" type="text" class="form-control m-input required" id="Email" name="Email">
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-user"></i></span></span>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label><span style="color: red;">*</span>Resident Name (<i>Firstname, Lastname, Middle Initial</i>):</label>
                <div class="input-group">
                    @*kim add code capitalize below for every first letter 01/14/2022*@
                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" maxlength="20" name="Firstname" id="Firstname" style="text-transform: capitalize;" required />
                    <span class="input-group-addon"></span>
                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" maxlength="20" id="Lastname" name="Lastname" style="text-transform: capitalize;" required />
                    <span class="input-group-addon"></span>
                    <input type="text" class="form-control m-input" id="MiddleInitial"  name="MiddleInitial" style="text-transform: capitalize;" maxlength="1" />
                </div>
            </div>

            <div class="row col-lg-6">
                @*<label class="">Relationship:</label>
                    <br /><br/>
                    <input type="text" class="form-control m-input required" id="Relationship" name="Relationship">*@
                <div class="col-lg-8">
                    <label><span style="color: red;">*</span>Birthday:</label>

                    <div class="input-group date">
                        <input autocomplete="chrome-off" type="text" class="refdate form-control m-input required" value="" id="Rbirthday" name="Rbirthday" required>
                        <span id="bday_error_mar"></span>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label><span style="color: red;">*</span>Age:</label>

                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" id="Age" name="Age" disabled required />
                </div>
            </div>
            @*add ssn for dup check 05/27/22*@
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                @*kim add address and gender 06/15/22*@
                <label><span style="color: red;">*</span>Address Prior Admission:</label>
                <div class="m-input-icon m-input-icon--right">
                    @*kim add code none capitalize below 04/13/2022*@
                    <input autocomplete="chrome-off" style="text-transform: none;" maxlength="30" type="text" class="form-control m-input required" id="txtaddress" name="txtaddress" required>
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-user"></i></span></span>
                </div>
            </div>
            <div class="col-lg-3">
                <label><span style="color: red;">*</span>Gender:</label>
                <div class="m-input-icon m-input-icon--right">
                    @*<select id="txtgender" name="txtgender" class="w200px form-control m-input" required>
                            <option disabled selected value=""> -- Select Gender --</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>*@
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="genderf" name="gender" value="F"> Female
                            <span></span>
                        </label>
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="genderm" name="gender" value="M"> Male
                            <span></span>
                        </label>
                    </div>
                </div>


            </div>
            <div class="col-lg-3">
                <label><span style="color: red;">*</span>SSN:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" id="txtSSN" name="txtSSN" required>

                </div>
            </div>

        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label>Resident Telephone:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input type="text" class="form-control m-input required" maxlength="20" id="ResidentPhone" name="ResidentPhone">
                    <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="la la-phone"></i></span></span>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="">Relationship:</label>
                <div class="m-input-icon m-input-icon--right">
                    <input autocomplete="chrome-off" type="text" class="form-control m-input required" maxlength="20" id="Relationship" name="Relationship">
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label class="">Remarks:</label> <label class="" style="font-size:8px;">(Character limit is 250)</label>

                <textarea autocomplete="chrome-off" class="form-control m-input" maxlength="250" id="Remarks" name="Remarks" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label>Check all that apply:</label>
            </div>
            <div class="col-lg-12">
                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-success">
                                <input type="checkbox" id="ambulatory" name="ambulatory" value="1"> Ambulatory
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--state-success">
                                <input type="checkbox" id="nonambulatory" name="nonambulatory" value="1"> Non-Ambulatory
                                <span></span>
                            </label>

                            @*<label class="m-checkbox m-checkbox--state-brand">
                                    <input type="checkbox"> Brand state
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-primary">
                                    <input type="checkbox"> Primary state
                                    <span></span>
                                </label>*@
                        </div>
                    </div>
                    <div class="m-stack__item">
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="wheelchair" name="wheelchair" value="1"> Wheelchair
                            <span></span>
                        </label><br />
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="canewalker" name="canewalker" value="1"> Cane/Walker
                            <span></span>
                        </label>
                    </div>

                </div>
                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    <div class="m-stack__item">
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="alertoriented" name="alertoriented" value="1"> Alert/Oriented
                            <span></span>
                        </label><br />
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="forgetful" name="forgetful" value="1"> Forgetful
                            <span></span>
                        </label>
                    </div>
                    <div class="m-stack__item">
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="specdiet" name="specdiet" value="1"> Special Diet
                            <span></span>
                        </label><br />
                        <label class="m-checkbox m-checkbox--state-success">
                            <input type="checkbox" id="o2" name="o2" value="1"> O2
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label>Needed Services:</label>
            </div>
            <div class="col-lg-12">
                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="medmgnt" name="medmgnt" value="1"> Medicine Management
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="bathingassist" name="bathingassist" value="1"> Bathing Assist
                                <span></span>
                            </label>
                            @*
                                <label class="m-checkbox m-checkbox--state-primary">
                                    <input type="checkbox"> Primary state
                                    <span></span>
                                </label>*@
                        </div>
                    </div>
                    @* END OF STACK *@
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="incontinentcare" name="incontinentcare" value="1"> Incontinent Care
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="laundry" name="laundry" value="1"> Laundry
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @* END OF STACK *@

                </div>
                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="roomtrayservice" name="roomtrayservice" value="1"> Room Tray Service
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" id="cbspecneed" name="cbspecneed" value="1"> Special Need:
                                <span></span>
                            </label>
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" class="form-control m-input required" id="SpecNeed" name="SpecNeed" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    @* END OF STACK *@
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label>Current Living Condition:</label>
            </div>
            <div class="col-lg-12">
                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-primary">
                                <input type="checkbox" id="RCFE" name="currentLivingCondition" value="1"> RCFE
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-primary">
                                <input type="checkbox" id="OwnHome" name="currentLivingCondition" value="1"> Own Home
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @* END OF STACK *@

                </div>

                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">
                            <label class="m-checkbox m-checkbox--state-primary">
                                <input type="checkbox" id="LivesWithFamily" name="currentLivingCondition" value="1"> Lives With Family
                                <span></span>
                            </label>

                        </div>
                    </div>
                    @* END OF STACK *@
                    @* START OF STACK *@
                    <div class="m-stack__item">
                        <div class="m-checkbox-list">

                            <label class="m-checkbox m-checkbox--state-primary">
                                <input type="checkbox" id="Rehab" name="currentLivingCondition" value="1"> Rehab
                                <span></span>
                            </label>
                        </div>
                    </div>
                    @* END OF STACK *@
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-6">
                <label class="">Budget & Preferred Room:</label>

                <input autocomplete="chrome-off" type="text" class="form-control m-input required" maxlength="30" id="BudgetRoom" name="BudgetRoom">
            </div>
        </div>

        @* END: FORM BODY *@

        @* START: FORM INPUTS WITH RESTRICTIONS *@
        <div class="form-group m-form__group row hiddencal" id="addcalllog">
            <div class="col-lg-12">
                <label class="">Notes:</label>

                <textarea class="form-control m-input" id="Notes" name="Notes" rows="3" readonly="readonly"></textarea>


                <br><button type="button" class="btn btn-warning m-btn m-btn--icon" data-toggle="modal" data-target="#add_call_log_modal">
                    <span>
                        <i class="la la-phone"></i>
                        <span>Add Call Log</span>
                    </span>
                </button>
            </div>
        </div>

        <div class="form-group m-form__group row hiddencal" id="showadmissionform">
            <div class="col-lg-12">
                @*<label class="">Admission:</label>*@

                <button id="btnShowAdmission" type="button" class="btn btn-info m-btn m-btn--icon" data-toggle="modal" data-target="#admission_modal">
                    <span>
                        <i class="la la-file-text"></i>
                        <span>Show Admission Form</span>
                    </span>
                </button>
            </div>
        </div>

        @* END: FORM INPUT WITH RESTRICTIONS *@

        <!-- Modal for Reference Source 3-31-2022 Chechhe-->
        @*<div class="modal fade" id="ModalRefSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="refsources">Add New Reference Source</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
        @*</div>
            <div class="modal-body">
                <div class="m-input-icon m-input-icon--right">
                    <label class=""><span style="color: red;">*</span>Reference Source:</label>
                    <input type="text" class="form-control m-input required" id="newRefSource" name="newRefSource" style="text-transform: capitalize;" required>
                </div>
            </div>
            <div class="modal-footer">*@
        @*<button id="btnrefclose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
        @*<button id="btnrefsave" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>*@

        @*Modal ends here*@
    </div>



</form>