﻿
@{
    ViewBag.Title = "Assisted Living Centre - Medicine Administration Schedule";
}
<style type="text/css">
    a {
        cursor: pointer;
    }

    a:hover{
        color:#00c5dc !important;
    }
    .warning {
        color: red!important;
        font-weight: bold;
    }
    .complete{
        color: #28a745!important;
        font-weight: bold;
    }
    

    tbody {
        /*height: 600px;*/       /* Just for the demo          */
        overflow-y: auto;    /* Trigger vertical scroll    */
        overflow-x: hidden;  /* Hide the horizontal scroll */
    }
    .dataTables_scrollBody{
        overflow: auto !important;
        max-height:none !important;
    }
    /*.body {
        font-family:Tahoma,Arial,Arial, Helvetica, sans-serif;
    }

    .schedule { border:2px solid #6EA8CC; overflow-y:auto;}
    .schedule table{
        border-collapse:unset;
        border-spacing:2px;
    }
    .schedule td.col1 {
        font-size: 12px;color:#6EA8CC;padding:2px;
        background: #6EA8CC;color:#fff;padding:2px;
        font-family:Tahoma,Arial,Arial, Helvetica, sans-serif;
        width:275px;
    }
    .schedule td.col {
        font-size: 12px;color:#6EA8CC;padding:2px;
        background: #E8ECF4;color:#1e1d1d;padding:2px;
        font-family:Tahoma,Arial,Arial, Helvetica, sans-serif;
    }
    .schedule td.col a{
        display:table;
        font-size: 12px;color:#1a6694;padding:2px 2px 2px 2px;
        font-family:Tahoma,Arial,Arial, Helvetica, sans-serif;
    }
    .schedule td.col a:hover{
        font-size: 12px;color:#1a6694;padding:2px 2px 2px 2px;
        text-decoration:underline;
        font-family:Tahoma,Arial,Arial, Helvetica, sans-serif;
    }
    .warning {
        background: url(images/warning.png) right no-repeat;
        color:#FF0000 !important;
        padding-right:18px !important;
    }
    .complete {
        background: url(images/check.png) left no-repeat;
        color:#1e1d1d !important;
        padding-left:18px !important;
    }
    .missed {
        background: url(images/missed.png) right no-repeat;
        padding-right:42px !important;
    }
    label {
        float:none;
    }*/
    .m-stack--demo.m-stack--hor .m-stack__demo-item, .m-stack--demo.m-stack--ver .m-stack__item {
        padding: 10px;
        border: 1px solid #eee;
        background: #fbfbfb;
        border: none !important;
        font-weight: 500;
    }
    /*#medtechCal_body tr{
        height: 166px !important;
    }*/
</style>
<script type="text/javascript" src="~/Scripts/MAR/mar.js?v=1.1"></script>
<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>

<div class="loader" style="display:block;z-index:3000 !important"></div>
<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        @*<div class="m-portlet noshadow" id="headerRoom" style="width:160%;">*@
        <div class="m-portlet noshadow" id="headerRoom" style="width:100%;">

            <div class="portlet-title col-xl-12 col-lg-12 col-xs-12">
                <div class="">

                    <div class="m-stack m-stack--ver m-stack--desktop m-stack--demo">


                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <h3 class="m-portlet__head-icon" style="float: left;">
                                <i id="labelHeaderImg" class="flaticon-calendar"></i>&nbsp;&nbsp;&nbsp;
                            </h3>

                            <h3 class="m-portlet__head-text" id="labelHeader" style="float: left;">Medicine Administration Schedule</h3>
                        </div>

                        <div class="m-stack__item m-stack__item--center m-stack__item--middle" style="width: 20%;">
                            <div class="input-group">
                                <input autocomplete="off" type="text" name="q" id="search_mar_value" class="m-header-search__input form-control" value="" placeholder="Search...">

                                <div class="input-group-append">

                                    <button class="btn btn-outline-primary" type="button" id="showall">
                                        Clear
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <h5 class="m-portlet__head-text">
                                @ViewBag.RoleDescription: @ViewBag.Name
                                <br />
                                <span style="font-size:12px">@DateTime.Now.ToString("MMM d yyyy") | SHIFT START TIME: @ViewBag.StartShiftTime - @ViewBag.EndShiftTime</span>
                            </h5>
                        </div>
                        @*kim add this legend for missed and completed 11/21/22*@
                    </div><div class="col-md-12 for_alc_only" style="margin-top: 5px; margin-bottom: 10px;float:right">
                              <div id="legend_list" class="m-portlet__nav row" style="margin-left: 1px;">
                                  <div class="col-12">
                                      <label class="m-portlet__nav-item legend" id="legend">
                                          Legend:
                                      </label>
                                  </div>



                                  <div class="m-portlet__nav-item legend col-xs-2 ">
                                      <div style="font-weight: bold; color:green;" class="la la-check med_sign"></div>Completed/Taken xx&nbsp;
                                  </div>
                                  <div class="m-portlet__nav-item legend col-xs-2 ">
                                      <div style="font-weight: bold; color:red;" class="med_sign">&nbsp; &nbsp;X </div>
                                  </div>
                                  <div class="m-portlet__nav-item legend col-xs-2 ">
                                      Not yet administered &nbsp; &nbsp;
                                  </div>
                                  <div class="m-portlet__nav-item legend col-xs-2 ">
                                      <div style="color:deepskyblue;" class="la la-exclamation med_sign"></div>
                                  </div>
                                  <div class="m-portlet__nav-item legend col-xs-2 ">
                                      Incomplete/Untaken 
                                  </div>

                              </div>

                              </div>


                    <div class="m-portlet__body" style="width:100%;">


                        <!-- <div id="residentsTile" class="row col-12" style="overflow-y: auto;overflow-x: hidden;height: calc(85vh - 100px);">

    </div> -->
                        @*<div class="col-lg-12 schedule" style="overflow-y: auto;height: calc(85vh - 100px);">*@
                        <div class="col-lg-12 schedule" >
                            <table id="medtechCal" class="table table-striped m-table">
                                <thead>
                                    <tr>
                                        <th><strong>Resident Name</strong></th>
                                        <th><strong>12:00 AM</strong></th>
                                        <th><strong>1:00 AM</strong></th>
                                        <th><strong>2:00 AM</strong></th>
                                        <th><strong>3:00 AM</strong></th>
                                        <th><strong>4:00 AM</strong></th>
                                        <th><strong>5:00 AM</strong></th>
                                        <th><strong>6:00 AM</strong></th>
                                        <th><strong>7:00 AM</strong></th>
                                        <th><strong>8:00 AM</strong></th>
                                        <th><strong>9:00 AM</strong></th>
                                        <th><strong>10:00 AM</strong></th>
                                        <th><strong>11:00 AM</strong></th>
                                        <th><strong>12:00 PM</strong></th>
                                        <th><strong>1:00 PM</strong></th>
                                        <th><strong>2:00 PM</strong></th>
                                        <th><strong>3:00 PM</strong></th>
                                        <th><strong>4:00 PM</strong></th>
                                        <th><strong>5:00 PM</strong></th>
                                        <th><strong>6:00 PM</strong></th>
                                        <th><strong>7:00 PM</strong></th>
                                        <th><strong>8:00 PM</strong></th>
                                        <th><strong>9:00 PM</strong></th>
                                        <th><strong>10:00 PM</strong></th>
                                        <th><strong>11:00 PM</strong></th>

                                    </tr>
                                </thead>
                                <tbody id="medtechCal_body"  ></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>


@* START: MODAL *@
<div class="modal fade" id="mar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Medicine Administration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('mar_modal')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form if="mar_form">
                    
                    <input id="Id" type="hidden" name="Id" />
                    <input id="param1" type="hidden" name="param1" />
                    <input id="param2" type="hidden" name="param2" />

                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <span id="medInfo" style="font-size:14px;"></span>
                            <br />
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                    <input type="checkbox" id="Yes" name="check" /> YES
                                    <span></span>
                                </label>
                                <label class="m-checkbox">
                                    <input type="checkbox" id="No" name="check" /> NO
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <span id="deletedInfo" style="color:red;"> This medicine was already deleted from the medicines and supplies page. </span>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label>Comment if NO:</label>
                            <!--delete size:none and width:250px kim 11/19/2021 -->
                            <textarea style="height: 128px;" id="Comment" disabled="disabled" class="form-control" name="comment" style="margin-top:5px !important;outline:none"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span style="color:red" class="deleted_med_lbl" _></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('mar_modal')">Close</button>
                <button type="button" class="btn btn-primary" id="administer">Save changes</button>

            </div>
        </div>
    </div>
</div>
@* END: MODAL *@