﻿body {
        font-family: Tahoma,Arial, Helvetica, sans-serif;
    }

    #Home {
        margin-top: 15px;
        margin-left: 10px;
    }
    #Home .box-left {
        padding: 10px;
    }

    #Home .header {
        text-align: center;
        font-size: 12px;
        overflow: hidden;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #Home .col-header {
        padding: 10px;
    }

    #Home .next-header {
        padding: 10px;
    }

    #Home .col-header .content-header {
        text-align: center;
        padding: 5px;
        margin-top: 10px;
        color: #fff;
        letter-spacing: 1px;
    }

    #Home .next-header .content-header {
        text-align: center;
        padding: 5px;
        margin-top: 10px;
        color: #808080;
        letter-spacing: 1px;
    }

    #Home table.box td {
        padding: 0px 5px 0px 5px;
        width: 25%;
    }
    #DashboardForm  div {
        overflow: hidden !important;
    }

    #dataTable {
        width: 100%;
    }

    #dataTable thead td {
        font-size: 13px;
        font-weight: bold;
        border: 1px solid #DDDDDD;
        color: #393333;
        padding: 10px 5px 10px 5px;
    }

    #dataTable tbody td {
        font-size: 12px;
        padding: 5px;
        border: 1px solid #DDDDDD;
    }

    #dataTable tbody td a {
        font-size: 12px;
        color: #428BCB;
    }

    #dataTable tbody td a:hover {
        font-size: 12px;
        color: #428BCB;
        text-decoration: underline;
    }

    #dataTable tbody tr:nth-child(odd) {
        background-color: #F9F9F9;
    }

    #dataTable tbody tr:nth-child(even) {
        background-color: #fff;
    }

    /**** BLUE ***********/
     div.below-blue table td{
        border:solid 1px #4F81BD;
        
    }
    div.below-blue2{
        border:solid 1px #4F81BD;
    }
   
    
     div.content-body-blue1 table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        background:#E8ECF4;
     }
     div.content-body-blue table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        
    }
     
    div.content-body-blue table tr:nth-child(odd) {
        background-color: #CFD7E7;
    }
    div.content-body-blue table tr:nth-child(even) {
        background-color: #E8ECF4;
    }
    div.below-blue2 table tr:nth-child(odd) {
        background-color: #CFD7E7;
        border-top:solid 1px #4F81BD;
        border-bottom:solid 1px #4F81BD;
    }
    div.below-blue2 table tr:nth-child(even) {
        background-color: #E8ECF4;
        border-top:solid 1px #4F81BD;
        border-bottom:solid 1px #4F81BD;
    }

     div.below-blue2 table tr:first-child,div.below-blue2 table tr:last-child {
        border-bottom:none;
        border-top:none;
    }

    div.content-body-blue table td a {
        font-size: 12px;
        color: #393333;
    }

    div.content-body-blue table td a:hover {
        font-size: 12px;
        color: #393333;
        text-decoration: underline;
    }
    /**** RED ***********/
   
     div.below-red table td{
        border:solid 1px #C0504D;
    }

     div.below-red2{
        border:solid 1px #C0504D;
    }
     div.content-body-red1 table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        background:#F4E8E8;
    }
    
    div.content-body-red table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        
    }
    
     
    div.content-body-red table tr:nth-child(odd) {
        background-color: #E8CFCF;
    }
    div.content-body-red table tr:nth-child(even) {
        background-color: #F4E8E8;
    }
     div.below-red2 table tr:nth-child(odd) {
        background-color: #E8CFCF;
        border-top:solid 1px #C0504D;
        border-bottom:solid 1px #C0504D;
    }
    div.below-red2 table tr:nth-child(even) {
        background-color: #F4E8E8;
        border-top:solid 1px #C0504D;
        border-bottom:solid 1px #C0504D;
    }

     div.below-red2 table tr:first-child,div.below-red2 table tr:last-child {
        border-bottom:none;
        border-top:none;
    }

    div.content-body-red table td a {
        font-size: 12px;
        color: #393333;
    }

    div.content-body-red table td a:hover {
        font-size: 12px;
        color: #393333;
        text-decoration: underline;
    }

    /**** PURPLE ***********/

    div.below-purple2{
        border:solid 1px #8064A2;
    }
     div.content-body-purple1 table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        background:#ECEAF0;
    }

    div.below-purple table td{
        border:solid 1px #8064A2;
    }
    div.content-body-purple table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        
    }
    div.content-body-purple table tr:nth-child(odd) {
        background-color: #D7D2DF;
    }
    div.content-body-purple table tr:nth-child(even) {
        background-color: #ECEAF0;
    }
    div.below-purple2 table tr:nth-child(odd) {
        background-color: #D7D2DF;
        border-top:solid 1px #8064A2;
        border-bottom:solid 1px #8064A2;
    }
    div.below-purple2 table tr:nth-child(even) {
        background-color: #ECEAF0;
        border-top:solid 1px #8064A2;
        border-bottom:solid 1px #8064A2;
    }

     div.below-purple2 table tr:first-child,div.below-purple2 table tr:last-child {
        border-bottom:none;
        border-top:none;
    }


    div.content-body-purple table td a {
        font-size: 12px;
        color: #393333;
    }

    div.content-body-purple table td a:hover {
        font-size: 12px;
        color: #393333;
        text-decoration: underline;
    }

    /**** lime ***********/
     div.below-lime2{
        border:solid 1px #9BBB59;
    }
     div.content-body-lime1 table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        background:#FFFFFF;
    }


    div.below-lime table td{
        border:solid 1px #9BBB59;
    }
    div.content-body-lime table td{
        font-size: 12px;
        padding: 10px 5px 10px 5px !important;
        width:auto !important;
        
    }
    div.content-body-lime table tr:nth-child(odd) {
        background-color: #EFF3E9;
    }
    div.content-body-lime table tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    div.below-lime2 table tr:nth-child(odd) {
        background-color: #EFF3E9;
        border-top:solid 1px #9BBB59;
        border-bottom:solid 1px #9BBB59;
    }
    div.below-lime2 table tr:nth-child(even) {
        background-color: #FFFFFF;
        border-top:solid 1px #9BBB59;
        border-bottom:solid 1px #9BBB59;
    }

     div.below-lime2 table tr:first-child,div.below-lime2 table tr:last-child {
        border-bottom:none;
        border-top:none;
    }


    div.content-body-lime table td a {
        font-size: 12px;
        color: #393333;
    }

    div.content-body-lime table td a:hover {
        font-size: 12px;
        color: #393333;
        text-decoration: underline;
    }