@font-face {
    font-family: 'robotobold';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_ltregular';
    src: url('roboto/roboto-light-webfont.eot');
    src: url('roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-light-webfont.woff') format('woff'),
         url('roboto/roboto-light-webfont.ttf') format('truetype'),
         url('roboto/roboto-light-webfont.svg#roboto_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('roboto/roboto-bolditalic-webfont.eot');
    src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('roboto/roboto-italic-webfont.eot');
    src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-italic-webfont.woff') format('woff'),
         url('roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_ltitalic';
    src: url('roboto/roboto-lightitalic-webfont.eot');
    src: url('roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('roboto/roboto-lightitalic-webfont.svg#roboto_ltitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}