﻿

/*@media screen and (min-width: 1570px) {
    .form-container {
    }
}*/


body {
    background-color: #7aa8de;
    background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url('../Images/alsbkg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.content-logo {
    margin-bottom: 20px;
    height: 90px;
}

.form-container {
    min-width: 350px;
    max-width: 550px;
    background-color: #f3f3f3;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 35px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 349px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

    .form-container > table {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

        .form-container > table td {
            text-align: center;
        }


.als-login > table {
    width: 100%;
    min-width: 0;
    text-align: center;
}


td * {
    display: inline;
}

.als-login > table input[type=text],
.als-login > table input[type=email],
.als-login > table input[type=tel],
.als-login > table input[type=password] {
    width: 90% !important;
    min-width: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    padding: 10px;
    font-size: 12pt;
}

.als-login label {
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica;
}

.als-login td {
    padding: 10px;
}

.als-btn {
    border-radius: 5px 5px;
}

.als-txtbox {
    border-radius: 5px 5px;
}

.btn-green {
    background-color: #76a73a;
    border-color: #76a73a;
    color: #ffffff;
}

.btn-blue {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #ffffff;
}

#btn-login, #btn-forgot {
    padding: 8px 15px;
    width: 150px;
    font-size: 10pt;
}
