/* ---------- Fonts ---------- */
h1, h2, h3, h4, h5, h6 {font-family: 'robotobold', Arial-Black;}
sup, sub, legend {font-family: 'robotoregular', Arial;}
input, button, label, textarea, select, option, ul, ol, li, a, p, strong, span, sup, sub .select2-results {font-family: 'Tahoma';}
strong {font-weight: bold;}


/* Use this two for floating elements left or right */
.left {float: left;}
.right {float: right;}

/* Options for clearing floated elements and enabling/disabling scrolling */
.clearFloats01, .nonScrollable {overflow: hidden;}
.clearFloats02, .scrollable {overflow: auto;}
.clearFloats03 {clear: both;}

.noBorder {border-right: none !important;}

html, body, form {height: 100%;}
body {background-color: #edf0f5;}

#mainContainer {
    height: auto !important;
    height: 100%;
    margin: 0 auto -41px;
    min-height: 100%;
}
    #headerContainer {
        background-color: #3b5998;
        border-bottom: #133783 1px solid;
        padding: 10px 0;
        position: relative;
        top: 0px;
    }
        #headerInnerWrapper {
            margin: 0 auto;
            overflow: hidden;
            width: 1076px;
        }
            #mainLogo {margin: 0 20px;}

#contentContainer {
    margin: 20px auto;
    overflow: hidden;
    width: 1076px;
}
    #feedsWrapper {
        float: left;
        margin-top: 20px;
        overflow: hidden;
        width: 65%;
    }
        #newsWrapper, #updatesWrapper {
            float: left;
            height: auto;
            padding: 10px 16px 0 16px;
            width: 42%;
        }
            #newsWrapper h2, #updatesWrapper h2 {
                color: #1f4189;
                font-size: 20px;
                margin-bottom: 10px;
            }
            #newsWrapper h4, #updatesWrapper h4 {
                color: #1f4189;
                font-size: 14px;
                margin-bottom: 4px;
                overflow: hidden;
            }
                #newsWrapper h4 span, #updatesWrapper h4 span {
                    color: #94999d;
                    float: right;
                    font-size: 11px;
                    margin-top: 1px;
                }
            #newsWrapper {border-right: #adb9d3 1px solid;}
                .fixedBox {
                    height: 500px;
                    margin: 0 0 15px 0;
                    overflow: auto;
                }
                    .fixedBox ul {margin: 0 6px 0 0;}
                        .fixedBox ul li {
                            display: block;
                            font: normal 12px/1.3 'Tahoma';
                        }
                            .fixedBox a.newsFeed, .fixedBox ul li a {
                                display: block;
                                font: normal 12px/1.3 'Tahoma';
                                padding: 4px 6px;
                                text-decoration: none;
                            }
                                .fixedBox a.newsFeed:hover, .fixedBox ul li a:hover {
                                    background-color: #dee4ed;
                                    border: none;
                                    border-radius: 4px;
                                }
                                .fixedBox a.newsFeed p, .fixedBox ul li p {
                                    color: #333;
                                    margin-bottom: 10px;
                                }
        
        
        /* EULA */
        #eulaTitle {
            color: #fff;
            float: right;
            font-size: 18px;
            margin: 50px 20px 0 20px;
        }
        
        #eula {padding: 0 18px;}
            #eulaContent {
                font: normal 15px/1.6 tahoma;
                height: 460px;
                overflow: auto;
                overflow-y: none;
                padding: 0 20px 0 0;
            }
                #eulaContent p, #eulaContent ol {
                    color: #3E4245;
                    margin-bottom: 14px;
                }
                #eulaContent ol li {
                    list-style: decimal;
                    margin: 0 0 10px 30px;
                }
                    #eulaContent ol li ol {margin-top: 10px;}
                        #eulaContent ol li ol li {margin-bottom: 10px;}
            #eulaButtons {
                margin: 40px 0 10px 0;
                text-align: center;
            }
                #eulaButtons li {
                    display: inline-block;
                    margin: 0 6px;
                }
                    #eulaButtons li input {
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        background-color: #67ae55;
                        border: #3b6e22 1px solid;
                        border-radius: 5px;
                        box-shadow: inset #a4e388 0px 1px 1px;
                        color: #fff;
                        cursor: pointer;
                        float: left;
                        font-size: 18px;
                        height: 34px;
                        width: 200px;
                    }


    #logBox {
        float: right;
        padding-left: 10px;
        width: 360px;
    }
        #logBox h2, h3 {
            color: #1f4189;
            display: block;
            line-height: 1.2;
            margin-left: 25px;
        }
        #logBox h2 {
            font-size: 30px;
            margin-top: 15px;
        }
        #logBox h3 {font-size: 20px;}

        #logBox #helpBox {
            border-top: #adb9d3 1px solid;
            margin: 10px 30px 0 30px;
            padding: 10px 10px;
            text-align: left;
        }
        #logBox #helpBox p {
            color: #333;
            font-size: 13px;
            line-height: 1.5;
            margin: 0 10px 0 0;
        }
            #logBox #helpBox p strong, #logBox #helpBox p a {color: #1f4189;}
            #logBox #helpBox p a {
                font-weight: bold;
                position: static;
                text-decoration: none;
            }
                #logBox #helpBox p a:hover {border-bottom: #1f4189 1px solid;}
                
        #logBox #logWrapper {
            padding: 26px 16px 56px 16px;
            position: relative;
        }
            #logBox #logWrapper ul {}
                #logBox #logWrapper li {
                    overflow: hidden;
                    padding: 7px 10px 7px 0;
                }
                    #logBox #logWrapper li label {
                        color: #333;
                        display: block;
                        float: left;
                        font: normal 15px/1.05 'Tahoma';
                        padding: 9px 6px 0 0;
                        text-align: right;
                        width: 82px;
                    }
                                
                    #logBox #logWrapper li input {
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        background-color: #fff;
                        border: #bdc7d8 1px solid;
                        border-radius: 5px;
                        color: #565656;
                        float: left;
                        font-size: 15px;
                        padding: 6px 8px;
                        width: 62%;
                    }
                    
            #logBox #logWrapper .submit {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                background-color: #67ae55;
                border: #3b6e22 1px solid;
                border-radius: 5px;
                box-shadow: inset #a4e388 0px 1px 1px;
                color: #fff;
                cursor: pointer;
                float: left;
                font-size: 18px;
                height: 34px;
                margin: 10px 0 0 27.2%;
                width: 163px;
            }
            #logBox #logWrapper a {
                color: #2B5968;
                float: right;
                font-size: 12px;
                margin: 19px 39px 0 0;
            }
            #logBox .errorBox { margin-top: 15px; }
                #logBox .errorBox ul li {
                    color: firebrick;
                    display: block;
                    font-style: italic;
                    padding: 2px 6px 6px 6px !important;
                }

input.error, .form ul li select.error, .form ul li textarea.error {border: firebrick 1px solid !important;}
span.error {
    background: url(images/errors_overlay.png) 0px 0px no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-top: 3px;
    width: 16px;
}

.sideBanners {
    float: right;
    margin-right: 20px;
    width: 300px;
}
    .sideBanners p {
        color: #d8dfea;
        font-size: 11px;
        line-height: 1.4;
        text-align: right;
    }
        .sideBanners p a {
            color: #fff;
            text-decoration: none;
        }
            .sideBanners p a:hover {border-bottom: #fff 1px solid;}
    .sideBanners .dslcLogo {
        float: right;
        margin-top: 8px;
    }

#footerContainer, .push {height: 40px;}

#footerContainer {
    background-color: #3b5998;
    border-top: #133783 1px solid;
    font-size: 11px;
}
    #footerContainer p {
        color: #d8dfea;
        float: right;
        font: normal 11px/1.4 'Tahoma';
        margin: 5px 16px 0 0;
        text-align: right;
        width: 500px;
    }
        #footerContainer p a {
            color: #fff;
            text-decoration: none;
        }
            #footerContainer p a:hover {border-bottom: #fff 1px solid;}
    #footerNav {
        float: left;
        margin: 15px 0 0 10px;
    }
        #footerNav li {
            border-right: #d8dfea 1px solid;
            display: inline;
            font: normal 11px/1.0 'Tahoma';
            padding: 0 12px 0 10px;
        }
            #footerNav li a {
                color: #d8dfea;
                text-decoration: none;
            }
                #footerNav li a:hover {
                    border-bottom: #fff 1px solid;
                    color: #fff;
                    padding-bottom: 2px;
                }
        #footerNav li:last-child {border-right: none;}