﻿body, html {
	
    height: 100%;
}

.sizeimg {
	
	padding:15px;
	 width: 50%;
    height: auto;
	
}

@media only screen and (max-width: 500px) {
    .sizeimg {
	

	 width: 100%;
    height: auto;
	
}
}


@media only screen and (max-width: 991px) {
    .sizeimg {
	

	 width: 100%;
    height: auto;
	
}
}


.fonts {
	
	font-family: verdana;
	font-size:12px;
	color:#ffffff;
}

.rowbg {
	
	background-color:#3BA3C6;
	
}

.formbg {
	
	border:2px solid #d6d9e0;
	margin-top:50px;
	padding:20px;
	background-color:#eee;
	border-radius:15px;
	box-shadow:2px 3px 5px #b6bdb7;

}

.formgrp {
	
	margin-top:50px;
}

.formtxt {
	
	color:#2984A2;
	font-size:12px;
	padding:0;
	font-family:verdana;

}

@media only screen and (max-width: 1125px) {
.formtxt {
	
	padding-right:0px;

}
}

.title {
	
	color:#464242;
	margin-bottom:25px;
}

.btn-default {
	
	color:#ffffff;
	background-color:#2984a2;
	border:0px;
}



.btn-default a:hover {
	
	background-color:green;
}

.contents {
	
	margin-top:50px;
}

.contents p {
	
	color:#333333;
}

.contents h2 {
	
	color:green;
	font-size:40px;
	font-weight:bold;
	font-family:verdana;
}

.contents h5 {
	
	font-weight:bold;
	color:#0B627F;
}


.contact {
	
	color:#EEEEEE;
	font-family: sans-serif;
	padding-top:20px;
}

ul {
	
	list-style-type: none;
	padding:0;
}

.contact h5 {
	
	margin-top:0px;
}

.ftbg {
	
	background-color:#E7E7E7;
	padding-bottom:25px;
	padding-top:20px;
	
}

.contentform {
	
	margin-bottom:50px;
}

.goal h1, h3, h4, p {
	
	color:#1F9EC0;
	font-family:verdana;
	
}
/*
.goal {
	
	padding-bottom:264px;
}*/

.bottxt {
	
	color:#ffffff;
	
}

.socialmedia a {
	
	text-decoration:none;
}

.socialfb a:hover {
	
	color:#3D93D4!important;
}

.socialtwtr a:hover {
	
	color:#1BCCFF!important;
}

.socialins a:hover {
	
	color:#F069AE!important;
}

.sociallinked a:hover {
	
	color:#0CA0E7!important;
}

.backf {
	
	background-color:#1f9ec0;
	padding-top:32px;
	padding-bottom:25px;
}

.txtmdle {
	
	text-align:middle;
	padding-top:18px;
	padding-bottom:18px;
}

.txtmdle  p {
	
	color:#ffffff;
	font-size:10.5px;
}


@media only screen and (max-width: 500px) {
   .goal {
	
	padding-bottom:150px;
}
	
}

.btn-default:hover {
	
	background-color:#40b8e0;
	color:#24727d;
}

.contents p {
	
	font-family:verdana;
}

.social {
	
	font-size:48px;
	color:red;
	
}

.socialmedia {
	
	padding-top:75px; 
	padding-bottom:65px;


}

.socialmedia i {
	
	margin-right:5px;


}



@media only screen and (max-width: 767px) {
	
	.contact {
		
		text-align:center;
		padding-top:0;
		margin-top:0;
	}
}

@media only screen and (max-width: 340px) {
	
.sizeimg {
	

	 width: 100%;
    height: auto;
	
}
	
}

@media only screen and (max-width: 1175px) {
	
.contents h2 {
	
	font-size:29px;
	text-align:center;
	font-weight:bold;
	
}

	.contents h5 {
	
	font-size:14px;
	text-align:center;
	
}


 .contents p {
	
	font-size:14px;
	text-align:center;
}
	
}

@media only screen and (max-width: 329px) {
	
.contents h2 {
	
	font-size:19px;
	text-align:center;
	font-weight:bold;
	
}

	.contents h5 {
	
	font-size:12px;
	text-align:center;
	
}


 .contents p {
	
	font-size:14px;
	text-align:center;
}
	
}

@media only screen and (max-width: 781px) {

.socialmedia {

	margin:auto;
	text-align:center;
}

.socialmedia h4 {
	text-align:center;
	
}

.socialmedia {
	
	padding-top:20px;
	padding-bottom:20px;
}

.goal {
	
	padding-bottom:40px;
}

	}

@media only screen and (max-width: 307px) {

.btn-default {
	
	margin-top:5px;
	
}

}

@media only screen and (max-width: 751px) {

.col {
	
	padding-bottom:50px!important;
	
}

}