/* Print Master CSS */
div.printContainer {
    height: 9.5in;
    width: 8in;
}

h1, h2, h3, h4, h5, h6, sub, sup, li, span, label, table.dataTbl tr th, table.dataTbl tr td {font-family: 'Arial';}
p {
    font-family: 'Courier';
    width: 90%;
}
span {
    display: block;
    padding-right: 8px;
    text-align: right;
}

.alignLeft {text-align: left;}

/* --------- Title font sizes --------- */
.printContainer h1, .printContainer h2, .printContainer h3, .printContainer h4, .printContainer h5, .printContainer h6 {
    font-weight: bold;
    padding: 4px;
}
.printContainer h1 {font-size: 22px}
.printContainer h2 {font-size: 20px}
.printContainer h3 {font-size: 18px}
.printContainer h4 {font-size: 16px}
.printContainer h5 {font-size: 14px}
.printContainer h6 {font-size: 12px}

.blackHead, .greyHead {
    color: #fff;
    text-align: center;
}
.blackHead {background-color: #000;}
.greyHead {background-color: #999;}

.spacing10px {height: 10px;}
.spacing20px {height: 20px;}

p, label, li, sub, sup, span {font-size: 12px;}

/* ---------- Short field adjustments ---------- */
.mInitial {width: 20px !important;}
.suffix {width: 80px !important;}
.date {width: 80px !important;}
.phone {width: 120px !important;}
.fax {width: 120px !important;}
.mPhone {width: 120px !important;}
.postal {width: 60px !important;}

/* ---------- Generic field adjustments ---------- */
.w20px {width: 20px !important;}
.w50px {width: 50px !important;}
.w100px {width: 100px !important;}
.w150px {width: 150px !important;}
.w200px {width: 200px !important;}
.w250px {width: 250px !important;}
.w300px {width: 300px !important;}
.w350px {width: 350px !important;}
.w400px {width: 400px !important;}
.w450px {width: 450px !important;}
.w500px {width: 500px !important;}

/* ---------- Generic field adjustments in percentages ----------- */
.w15p {width: 15% !important;}
.w33p {width: 33% !important;}
.w50p {width: 50% !important;}
.w100p {width: 100% !important;}

table.dataTbl {border: #000 1px solid;}
    table.dataTbl tr th, table.dataTbl tr td {
        border: #000 1px solid;
        font-size: 13px;
        padding: 5px;
    }
    table.dataTbl tr th {
        background-color: #ddd;
        font-weight: bold;
    }

/* --------- Border Positions --------- */
.north {border-top: #000 1px solid;}
.east {border-left: #000 1px solid;}
.west {border-right: #000 1px solid;}
.south {border-bottom: #000 1px solid;}
.north-east {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
}
.north-west {
    border-left: #000 1px solid;
    border-top: #000 1px solid;
}
.south-east {
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
}

.printContainer table {width: 100%;}
.printContainer table tr td {
    padding: 6px;
    vertical-align: top;
    width: auto;
}

#headerContainer, #footerContainer {display: none;}

/* --------- Wound Note Diagram --------- */
.woundDiagram {
    background: url(../images/anyImage.png) top left no-repeat;
    position: relative;
}
.woundItem {
    background-color: #000;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 16px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}