﻿@*@model Datasoft.AssistedLiving.Web.Models.ForgotPasswordViewModel*@
@{
    ViewBag.Title = "Register Guest";
}
@*<script src='https://www.google.com/recaptcha/api.js'></script>*@
<script src="~/Scripts/Account/activateguest.js"></script>
<script>
    isAuthPage = false;
</script>
<style type="text/css">
    .forgot {
        width: 500px;
        border: 1px #eee solid;
        border-radius: 15px 15px;
        box-shadow: #ccc 2px 2px;
        padding: 20px 20px;
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-bottom: 40px;
    }

        .forgot h2 {
            font-size: 20px;
            padding-top: 20px;
        }

        .forgot p {
            font-size: 12px;
            padding-top: 20px;
        }

        .forgot hr {
            border: 1px solid #339bdc;
        }

        .forgot a {
            color: #0164d0;
            text-decoration: none;
        }
</style>
@* test commit *@
<section style="margin:5% 30%">
    <div id="forgotPass" class="forgot">
        <h2>Activate Guest Registration</h2>
        
        <div id="success" style="display:none">
            <div style="padding-top:20px;font-size:15px;font-weight:bold;padding-bottom:10px;color:#035f0d">Success! Registration Activated.</div>
            <p> Registration details are the following.<br/><br/>
            Agency: <span id="agency"></span><br/>
            UserID: <span id="userid"></span><br/>
            Password: ** Password registered ** </p>
            <br/>
            @*<p style="padding-top:5px !important">A link has been sent to your email for password reset instructions.</p>*@

            <hr />
            <p style="padding-top:5px !important">To Login to <span style="font-weight: bold">Assisted Living Centre</span>, <a href="~/Login" id="loginlink">click here</a>.</p>

        </div>
       
    </div>

    
</section>
