﻿@*@model Datasoft.AssistedLiving.Web.Models.ForgotPasswordViewModel*@
@{
    ViewBag.Title = "Forgot your password?";
}
@*<script src='https://www.google.com/recaptcha/api.js'></script>*@
<style type="text/css">
    .forgot {
        width:500px;
        border:1px #eee solid;
        border-radius:15px 15px;
        box-shadow: #ccc 2px 2px;
        padding:20px 20px;
        font-family:Tahoma,Arial, Helvetica, sans-serif;
        font-size:12px;
        padding-bottom:40px;

    }
    .forgot h2 {
            font-size:20px;
            padding-top:20px;
    }
    .forgot p {
        font-size:12px;
        padding-top:20px;
    }
    .forgot hr{
        border:1px solid #339bdc;
    }
    .forgot a{
        color: #0164d0;text-decoration:none;
    }
</style>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            $('#enter').hide();
            $.ajax({
                url: ""
            }).success(function (res) {
                $('#success').show();
            });
        });
        $('#txtEmail').keypress(function () {
            $('#error').hide();
        });
    });
</script>

<section style="margin:5% 30%">
    <div id="forgotPass" class="forgot" style="display:none">
        <h2>Can't sign in? Forgotten your password?</h2>
        <div id="enter">
            <p>Enter your email address and we'll send you password reset instructions.</p>
            <div style="padding-top:10px;font-weight:bold;padding-bottom:10px">Enter your email address</div>
            <div style="padding-bottom:5px;"><input id="txtEmail" type="text" class="w200px" /></div>
            <div id="error" style="display:none;padding: 4px 0 4px 0; color:red">There is an error occured during process. Please try again</div>
            <div><input id="btnSubmit" type="button" class="primaryBtn" value="Submit" /></div>
        </div>
        <div id="success" style="display:none">
            <div style="padding-top:20px;font-size:15px;font-weight:bold;padding-bottom:10px;color:#035f0d">Success! Check your email.</div>
            <p style="padding-top:5px !important">A link has been sent to your email for password reset instructions.</p>

        </div>
        <hr />
        <p style="padding-top:5px !important"><span style="color:#a4a4a4;font-weight:bold">A note about spam filters</span></p>
        <p style="padding-top:5px !important">If you don't get an email from us within a few minutes please be sure to check your spam filter.</p>
        <p style="padding-top:5px !important"><span style="color:#a4a4a4;font-weight:bold">Forgotten your email address?</span></p>
        <p style="padding-top:5px !important">Please contact your administrator.</p>
    </div>
    <div id="resetPass" class="forgot" style="display:none">
        <h2>Change Your Password</h2>
        <div id="enter">
            <p>Password policy requires you to change password on first login.</p>
            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">New Password</div>
            <div style="padding-bottom:5px;"><input id="txtPassword" type="password" class="w200px" /></div>
            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">Confirm New Password</div>
            <div style="padding-bottom:5px;"><input id="txtCPassword" type="password" class="w200px" /></div>
            <div id="error" style="display:none;padding: 4px 0 4px 0; color:red">There is an error occured during process. Please try again</div>
            @*<div class="g-recaptcha" data-sitekey="6LeChBYUAAAAAIWFn4qSwCeznGN8eww7uxA2FIko"></div>*@
            <div><input id="btnSubmit" type="button" class="primaryBtn" value="Submit" /></div>
        </div>
        <div id="success">
            <div style="padding-top:20px;font-size:15px;font-weight:bold;padding-bottom:10px;color:#035f0d">Success! You've successfully changed your password.</div>
            <p style="padding-top:5px !important">To sign in with your new password <a href="">click here</a>.</p>
        </div>
        <hr />
        
    </div>
</section>
