﻿@*@model Datasoft.AssistedLiving.Web.Models.ForgotPasswordViewModel*@
@{
    ViewBag.Title = "Reset Password";
}
@*<script src='https://www.google.com/recaptcha/api.js'></script>*@
<script src="~/Scripts/Account/resetpassword.js"></script>
<script>
    isAuthPage = false;
</script>
<style type="text/css">
    .forgot {
        width: 500px;
        border: 1px #eee solid;
        border-radius: 15px 15px;
        box-shadow: #ccc 2px 2px;
        padding: 20px 20px;
        font-family: Tahoma,Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-bottom: 40px;
    }

        .forgot h2 {
            font-size: 20px;
            padding-top: 20px;
        }

        .forgot p {
            font-size: 12px;
            padding-top: 20px;
        }

        .forgot hr {
            border: 1px solid #339bdc;
        }

        .forgot a {
            color: #0164d0;
            text-decoration: none;
        }

        .m-portlet {
            margin-bottom: 3.2rem;
        }
</style>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-xs-3 col-md-12 col-sm-3">
        <!--begin::Portlet-->
        <div class="m-portlet ">
            <div class="m-portlet__body">
                <!--begin::Portlet-->
                <section style="margin:10px 30%">
                    <div id="forgotPass" class="forgot" @(ViewBag.VerifyCodeConfirmed == false ? "" : "style=display:none")>
                        <h2>Can't sign in? Forgotten your password?</h2>
                        <div id="enter">
                            <p>Enter your agency ID and email address and we'll send you password reset instructions.</p>
                            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">Agency ID</div>
                            <div style="padding-bottom:5px;"><input id="txtAgencyID" type="text" class="form-control m-input required" /></div>
                            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">User ID</div>
                            <div style="padding-bottom:5px;"><input id="txtUserID" type="text" class="form-control m-input required" /></div>
                            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">Email address</div>
                            <div style="padding-bottom:5px;"><input id="txtEmail" type="text" class="form-control m-input required" /></div>
                            <div id="error" style="display:none;padding: 4px 0 4px 0; color:red"></div>
                            <div><input id="btnSubmit" type="button" class="primaryBtn" value="Submit" /><img style="display:none" id="loader" src="~/images/loader.gif" /></div>
                        </div>
                        <div id="success" style="display:none">
                            <div style="padding-top:20px;font-size:15px;font-weight:bold;padding-bottom:10px;color:#035f0d">Success! Check your email.</div>
                            <p style="padding-top:5px !important">A link has been sent to your email for password reset instructions.</p>
                            <p style="padding-top:5px !important">Go back to login page <a href="~/Login">click here</a>.</p>

                        </div>
                        <hr />
                        <p style="padding-top:5px !important"><span style="color:#a4a4a4;font-weight:bold">A note about spam filters</span></p>
                        <p style="padding-top:5px !important">If you don't get an email from us within a few minutes please be sure to check your spam filter.</p>
                        <p style="padding-top:5px !important"><span style="color:#a4a4a4;font-weight:bold">Forgotten your agency ID and email address?</span></p>
                        <p style="padding-top:5px !important">Please contact your administrator.</p>
                    </div>
                    <div id="resetPass" class="forgot" @(ViewBag.VerifyCodeConfirmed == true ? "" : "style=display:none")>
                        <h2>Change Your Password</h2>
                        <div id="enterNP">
                            @if (ViewBag.FL)
                        {
                                <p>Password policy requires you to change password on first login.</p>
                        }
                            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">New Password</div>
                            <div style="padding-bottom:5px;"><input id="txtPassword" type="password" class="form-control m-input required" /></div>
                            <div style="padding-top:10px;font-weight:bold;padding-bottom:5px">Confirm New Password</div>
                            <div style="padding-bottom:5px;"><input id="txtCPassword" type="password" class="form-control m-input required" /></div>
                            <div id="errorNP" style="display:none;padding: 4px 0 4px 0; color:red"></div>
                            @*<div class="g-recaptcha" data-sitekey="6LeChBYUAAAAAIWFn4qSwCeznGN8eww7uxA2FIko"></div>*@
                            <div><input id="btnSubmitNP" type="button" class="primaryBtn" value="Submit" /><img style="display:none" id="loaderNP" src="~/images/loader.gif" /></div>
                            <input id="userid" type="hidden" name="userid" value="@ViewBag.userid" />
                            <input id="agencyid" type="hidden" name="agencyid" value="@ViewBag.agencyid" />
                        </div>
                        <div id="successNP" style="display:none;">
                            <div style="padding-top:20px;font-size:15px;font-weight:bold;padding-bottom:10px;color:#035f0d">Success! You've successfully changed your password.</div>
                            <p style="padding-top:5px !important">To sign in with your new password <a href="~/Login">click here</a>.</p>
                        </div>
                        <hr />
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
