﻿@model Datasoft.AssistedLiving.Web.Models.ActivityScheduleData

@{
    Layout = null;
    ViewBag.Title = "Assisted Living Centre - " + ViewBag.Role;
}


@{
    bool IsCarestaff = false;
    bool IsDeptHead = false;

    if (User.IsInRole("4") || User.IsInRole("5") || User.IsInRole("6") || User.IsInRole("7")) {
        IsCarestaff = true;
    }
    // 9, 10, 11, 12, 13
    if (User.IsInRole("9") || User.IsInRole("10") || User.IsInRole("11") || User.IsInRole("12") || User.IsInRole("13")) {
        IsDeptHead = true;
    }
    string GetLink = "";
    if (User.IsInRole("3")) {
        GetLink = Url.Content("~/MAR");
    } else if (User.IsInRole("8")) {
        GetLink = Url.Content("~/Marketer");
    } else if (User.IsInRole("1")) {
        GetLink = Url.Content("~/Staff");
    } else if (IsCarestaff || IsDeptHead) {
        GetLink = Url.Content("~/Staff");
    } else {
        GetLink = Url.Action("Dashboard", "Home");
    }

    string CurrentDateTime = "";
    string CD = "";
    if (Request.IsAuthenticated) {
        CurrentDateTime = DataSoft.Helpers.Utility.ToTimezonedDateTimeFriendlyTZ(DateTime.Now, "ddd, MMM dd yyyy h:mmtt");
        CD = DataSoft.Helpers.Utility.ToTimezonedDateTime(DateTime.Now, "MM/dd/yyyy");
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")"/>*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.min.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fonts.min.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/master.min.css?v=2.3")" media="screen" />

    <script src="@Url.Content("~/scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.plugins.min.js?v=2.1")"></script>
    <script src="@Url.Content("~/Scripts/jquery.timepicker.js")"></script>
    @*<script src="@Url.Content("~/scripts/jquery.qtip.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/scripts/jquery.blockUI.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/scripts/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.fileupload-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.iframe-transport.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.layout.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/scripts/site.layout.min.js?v=1.8")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Staff/istaff.js?v=1.2")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.layout.min.js")" type="text/javascript"></script>

    @*<link href="@Url.Content("~/jGrid/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/jGrid502/css/ui.jqgrid-custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/jGrid502/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/jGrid502/js/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/jGrid502/js/jquery.jqGrid.dynamicLink.js")"></script>
    <script type="text/javascript">
        var ALC_URI = {
            Dashboard: '@Url.Content("~/Dashboard")',
            Admin: '@Url.Content("~/Admin")',
            Home: '@Url.Content("~/Home")',
            Login: '@Url.Content("~/Login")',
            Referral: '@Url.Content("~/Referral")',
            MAR: '@Url.Content("~/MAR")',
            Marketer: '@Url.Content("~/Marketer")',
            Account: '@Url.Content("~/Account")',
            SwitchRole: '@Url.Content("~/SwitchRole")',
            Transsched: '@Url.Content("~/Transsched")',
            Staff: '@Url.Content("~/Staff")'
        }
        var ALC_Util = {
            CurrentDate: '@CD',
            IsAuthenticated : @(Request.IsAuthenticated ? 1 : 0)
        }
    </script>


    <style type="text/css">
        .body {
            font-family: Tahoma,Arial,Arial, Helvetica, sans-serif;
        }

        .warning {
            background: url(../images/warning.png) no-repeat;
            color: #FF0000 !important;
        }

        .complete {
            background: url(../images/check.png) no-repeat;
            color: #1e1d1d !important;
        }

        div.task {
            padding: 10px 15px;
        }

            div.task p {
                white-space: pre-line;
            }

        label {
            float: none;
            white-space: pre-line;
        }

        .taskname {
            color: #191717;
        }

        .taskdesc {
        }

        .staff {
            border: 2px solid #6EA8CC;
            overflow-y: auto;
        }

        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
            color: #fff !important;
            background: #6EA8CC !important;
            border-right: 1px solid #94ac76;
            border-bottom: 1px solid #94ac76;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            border-top: 0px none;
            border-bottom: 0px none;
        }

        .ui-jqgrid tr.ui-row-ltr td {
            text-align: left;
            border-right-width: 1px;
            border-right-color: inherit;
            border-right-style: solid;
            border-color: #fff;
            vertical-align: top;
        }
    </style>

    @if (ViewBag.RoleID == 11 || ViewBag.RoleID == 13) {
        //if head housekeeper or head maintenance
        //hide resident and department column
        <script type="text/javascript">
        Grid.Settings = $.extend(Grid.Settings, {
            init :  function () {
                var G = $("#grid");
                var w = G.jqGrid('getGridParam', 'width');
                G.hideCol("resident");
                G.hideCol("department");
                G.jqGrid('setGridWidth', w, true);
            }
        });
        </script>
    } else if (!ViewBag.IsDeptHead && !ViewBag.IsAdmin) {
        if (ViewBag.RoleID == 5 || ViewBag.RoleID == 7) {
            //if housekeeper or maintenance
            //hide resident and department column
            <script type="text/javascript">
        Grid.Settings = $.extend(Grid.Settings, {
            init :  function () {
                var G = $("#grid");
                var w = G.jqGrid('getGridParam', 'width');
                G.hideCol("resident");
                G.hideCol("carestaff_name");
                G.hideCol("department");
                G.jqGrid('setGridWidth', w, true);
            }
        });
            </script>
        } else {
            <script type="text/javascript">
            Grid.Settings = $.extend(Grid.Settings, {
                init: function () {
                    var G = $("#grid");
                    var w = G.jqGrid('getGridParam', 'width');
                    G.hideCol("carestaff_name");
                    G.hideCol("department");
                    G.jqGrid('setGridWidth', w, true);
                }
            });
            </script>
        }
    }

   
</head>
<body>
    <section id="dcontainer" class="content" style="">
        <div id="dnorthcontainer">
            <div id="dnorth" style="padding:1%;background: #6EA8CC;color:#fff">
                <div style="float:left"><h1>@ViewBag.Role Daily Tasks & Schedules</h1></div>
                <div style="float:right"><h1>@ViewBag.Role: @ViewBag.Name</h1></div>
                <div style="clear:both;"></div>
            </div>
            <iframe id="txtArea1" style="display:none"></iframe>
            <div id="dcenter" style="margin-top:1px;padding:5px;background: #6EA8CC;color:#fff;">
                <div style="float:left">@if (ViewBag.IsDeptHead || ViewBag.IsAdmin) {<button id="btnAddTask" type="button">Add Task</button><button id="btnReschedule" style="margin-left:5px;" type="button">Reschedule</button><button id="btnReassign" style="margin-left:5px;" type="button">Reassign</button><button id="btnExportExcel" style="margin-left:5px;" type="button">Export to Excel</button>}</div>
                <div style="float:right">
                    <span style="font-size:12px">DATE:</span> <input id="curDate" type="text" style="width:83px;cursor:pointer;margin-left:5px !important;margin-top:-4px !important;background:#fff url('../images/schedule_reports.png') no-repeat 70px 2px" /><span style="font-size:12px"> | SHIFT START TIME: @ViewBag.StartShiftTime - @ViewBag.EndShiftTime</span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="dsouth" style="margin-top:0px">
                <div class="toolbar" style="background:#6EA8CC !important;margin-top:1px;border:0;height:30px !important;color:#fff">
                    <ul class="left">
                        <li class="noborder"><span style="display:block;margin-top:0px">Filter By:&nbsp;</span></li>
                        <li style="margin-left:5px" class="noborder">
                            <select id="ddlFilter" style="margin-top:-6px !important;">
                                <option value="1">Task</option>
                                <option value="2">Procedure</option>
                                <option value="3">Schedule</option>
                            </select>
                        </li>
                        <li>
                            <input type="text" name="ftrText" id="ftrText" style="margin-top:-5px !important" />
                        </li>
                        @if (ViewBag.IsDeptHead || ViewBag.IsAdmin) {
                            <li style="margin-left:5px">
                                <span>Department:</span>
                                <select name="ftrRole" id="ftrRole" style="margin-top:-5px !important"></select>
                            </li>
                        }
                        @{ bool isHM = false;}
                        @if (ViewBag.RoleID == 5 || ViewBag.RoleID == 7 || ViewBag.RoleID == 11 || ViewBag.RoleID == 13) {
                            //if head / housekeeper or head / maintenance
                            //hide resident and department column
                            isHM = true;
                        }
                        @if (!isHM) {
                            <li style="margin-left:5px">
                                <span>Resident:</span>
                                <select name="ftrResident" id="ftrResident" style="margin-top:-5px !important"></select>
                            </li>
                        }
                        <li style="margin-left:5px">
                            <span>Room:</span>
                            <select name="ftrRoom" id="ftrRoom" style="margin-top:-5px !important"></select>
                        </li>
                        @if (ViewBag.IsDeptHead || ViewBag.IsAdmin) {
                            <li class="noborder" style="margin-left:5px">
                                <span>Staff:</span>
                                <select name="ftrStaff" id="ftrStaff" style="margin-top:-5px !important"></select>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="staffGrid" class="grid" style="border:2px solid #6EA8CC">
            <table id="grid"></table>
        </div>
    </section>

    <div id="diag" style="display:none">
        <div class="loading ui-state-default" id="load_grid2" style="display:none;text-align:center;position:absolute; left:40%;top:55%;width:auto;z-index:101;padding:6px;margin:6px;background-color:rgba(255, 255, 255, 0);font-family: Tahoma">Loading...</div>
        <div>           
            <table width="100%">
                <tr>
                    <td style="text-align:center;padding:10px 0">
                        <input id="CarestaffActivityId" type="hidden" name="CarestaffActivityId" />
                        <input id="ActivityScheduleId" type="hidden" name="ActivityScheduleId" />
                        <input id="Resident" type="hidden" name="Resident" />
                        <input id="CarestaffName" type="hidden" name="CarestaffName" />
                        <input id="ActivityDesc" type="hidden" name="ActivityDesc" />
                        @*<input id="AcknowledgedBy" type="hidden" name="AcknowledgedBy" />*@
                        <span id="staffInfo" style="font-size:14px;"></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding:4px 0">
                        <label><input type="checkbox" id="Yes" checked="checked" value="1" name="check" />YES</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding:2px 0">
                        <label><input type="checkbox" id="No" name="check" value="0" />NO&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding:10px 0px 10px 0px">
                        <label>Remarks:</label><br />
                        <textarea id="Remarks" name="Remarks" style="margin-top:5px !important;width:250px;resize:none;outline:none"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <style>
        .ui-datepicker-title {
            font-size: 12px;
        }

        .ui-datepicker-year {
            margin: 0 6px 0 20px;
        }

        span.missed {
            background: #d61b1b;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            padding: 2px 4px;
            border-radius: 5px 5px;
        }

        span.comp-yes {
            background: #42B72A;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            padding: 2px 4px;
            border-radius: 5px 5px;
        }

        span.comp-no {
            background: #F37300;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            padding: 2px 4px;
            border-radius: 5px 5px;
        }
    </style>

    <div id="diagReschedule" style="display:none">
        <div class="form">
            <fieldset style="margin-top:5px;border:0">
                <ul style="width:100%">
                    <li>
                        <label>Activity Description</label>
                        <select id="txtActivityR" name="ActivityId" class="w300px required" disabled="disabled"></select>
                    </li>
                    <li><label>Activity Procedure</label><textarea id="viewActivityR" exclude-data="1" autofocus name="Activity" maxlength="1000" class="w300px" style="outline:none;resize:none;width:292px !important;height:50px !important" readonly="readonly"></textarea></li>
                    <li id="liRoom">
                        <label>Room</label>
                        <select id="txtRoomIdR" name="RoomId" class="w300px required" disabled="disabled"></select>
                    </li>
                    <li id="liResident">
                        <label>Resident</label>
                        <select id="txtResidentIdR" name="ResidentId" class="w300px required" disabled="disabled"></select>
                    </li>
                    <li>
                        <label>Schedule Time</label><input type="text" id="txtTimeInR" name="ScheduleTime" maxlength="8" class="required" style="width:60px !important" /><input id="OnetimedateR" type="text" name="Onetimedate" class="required" style="width:65px !important" />
                        <input type="hidden" id="date_created" name="date_created" value="" />
                    </li>
                    <li>
                        <input type="hidden" id="txtIdR" name="Id" />
                        <label>Carestaff</label>
                        <select id="txtCarestaffR" name="CarestaffId" class="w300px required"></select>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>

    <div id="diagTask" style="display:none">
        <div class="form">
            <fieldset style="margin-top:5px;border:0">
                <ul style="width:100%">
                    @if (ViewBag.IsAdmin) {
                        <li>
                            <label>Department</label><select id="ddlDept" name="Dept" class="w300px required">
                                @foreach (var r in Model.Departments.Depts) {
                                    <option value="@r.Id" @(Model.Departments.SelectedValue == r.Id.ToString() ? " selected" : "")>@r.Name</option>
                                }
                            </select>
                        </li>
                    } else {
                        <li style="display:none"><input type="hidden" id="ddlDept" name="Dept" value="@Model.Departments.SelectedValue" /></li>
                    }
                    <li>
                        <label>Activity Description</label>
                        <select id="txtActivity" name="ActivityId" class="w300px required">
                            <option value=""></option>
                            @{
                                foreach (var r in Model.Activities) {
                                    string name = r.Desc;
                                    if (r.Desc.Length > 50) {
                                        name = r.Desc.Substring(0, 50) + "...";
                                    }
                                    <option value="@r.Id" title="@r.Proc">@name</option>
                                }
                            }
                        </select>
                    </li>
                    <li>
                        <label>Activity Procedure</label><textarea id="viewActivity" exclude-data="1" autofocus name="Activity" maxlength="1000" class="w300px" style="outline:none;resize:none;width:292px !important" readonly="readonly"></textarea>
                    </li>
                    <li id="liRoom">
                        <label>Room</label>
                        <select id="txtRoomId" name="RoomId" class="w300px required">
                            <option value=""></option>
                            @foreach (var r in Model.Rooms) {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>
                    </li>
                    <li id="liResident">
                        @*<input type="hidden" id="txtResidentId" name="ResidentId" />*@
                        <label>Resident</label>
                        <select id="txtResidentId" name="ResidentId" class="w300px required">
                            <option value=""></option>
                            @foreach (var r in Model.Residents) {
                                <option value="@r.Id">@r.Name</option>
                            }
                        </select>

                        @*<input type="text" id="txtResidentName" value="Search resident name..." name="ResidentName" maxlength="150" class="w300px required" />*@
                    </li>
                    <li>
                        <label>Schedule Time</label><input type="text" id="txtTimeIn" name="ScheduleTime" maxlength="8" class="required" style="width:60px !important" />
                    </li>

                    <li>
                        <label>Schedule Type</label>
                        <div style="overflow:hidden">
                            <div style="overflow:hidden">
                                <label style="float:none;" for="reccur">Recurring</label><input id="reccur" style="width:auto;" type="radio" name="recurring" value="1" checked="checked" />
                                <table class="dayofweek" style="margin-left:20px">
                                    <tbody>
                                        <tr><td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td></tr>
                                        <tr>
                                            <td><input name="Sun" type="checkbox" class="w20px"></td>
                                            <td><input name="Mon" type="checkbox" class="w20px"></td>
                                            <td><input name="Tue" type="checkbox" class="w20px"></td>
                                            <td><input name="Wed" type="checkbox" class="w20px"></td>
                                            <td><input name="Thu" type="checkbox" class="w20px"></td>
                                            <td><input name="Fri" type="checkbox" class="w20px"></td>
                                            <td><input name="Sat" type="checkbox" class="w20px"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="overflow:hidden;">
                                <label style="float:none" for="onetime">One-Time Service Schedule</label><input id="onetime" style="width:auto" type="radio" name="recurring" value="2" />
                                <table style="margin-left: 20px;margin-top: 5px;">
                                    <tr>
                                        <td><input id="Onetimedate" type="text" name="Onetimedate" disabled="disabled" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="hidden" id="txtId" name="Id" />
                        @*<input type="hidden" id="txtCarestaffId" name="CarestaffId" />*@
                        <label>Carestaff</label>
                        <input type="hidden" xid="hdCarestaffId" value="" />
                        <select id="txtCarestaff" name="CarestaffId" class="w300px"></select>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</body>

