﻿@{
    ViewBag.Title = "Home Care Dashboard";
}
<!--test commit-->

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>
<script src="~/assets/dist/Chart.bundle.js"></script>
<link href="~/assets/dist/chartist.min.css" rel="stylesheet" />
<script src="~/assets/dist/chartist.min.js"></script>
@*<script src="~/Scripts/Home/home.js"></script>*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
<script src="https://unpkg.com/chartist-plugin-tooltips@0.0.17"></script>
<script src="https://unpkg.com/chartist-plugin-pointlabels@0.0.6"></script>

<style>
    .chartist-tooltip {
        opacity: 0;
        position: absolute;
        margin: 20px 0 0 10px;
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
        padding: 5px 10px;
        border-radius: 4px;
    }

        .chartist-tooltip.tooltip-show {
            opacity: 1;
        }
</style>

@*<div class="loader" style="display:block;z-index:3000 !important"></div>*@
<div class="row">
    <div class="col-xl-4">
        <!--begin:: Widgets/Resident Statistics-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  ">

            <div class="m-portlet__body" id="tasksPanel">
                <!--begin::Widget5-->
                <div class="m-widget29">
                    <div class="m-widget_content">
                        <h3 class="m-widget_content-title">For Update</h3>
                        <div class="m-widget_content-items">
                            <div class="m-widget_content-item">
                                <span>Total</span>
                                <span class="m--font-accent" id="tasks_count"></span>
                            </div>
                            <div class="m-widget_content-item">
                                <span>Completed</span>
                                <span class="m--font-brand" id="completed_count"></span>
                            </div>
                            <div class="m-widget_content-item">
                                <span>Incomplete</span>
                                <span id="incomplete_count"></span>
                            </div>
                            <div class="m-widget_content-item">
                                <span>Missed</span>
                                <span id="missed_count"></span>
                            </div>

                        </div>
                    </div>

                    <div class="m-widget_content m-timeline-3">
                        <h3 class="m-widget_content-title">For Update</h3>
                        <div class="m-widget_content-items">
                            <div class="m-timeline-3__items" id="missed_tasks" style="overflow:auto">

                            </div>
                        </div>
                    </div>


                </div>


                <!--end::Widget 5-->
            </div>
        </div>
        <!--end:: Widgets/Resident Statistics-->
    </div>
    <div class="col-xl-4">
        <!--begin:: Widgets/Marketer Statistics-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            For Update
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <div class="m-widget17">
                    <canvas id="marketerChart" width="400" height="400" style="margin-bottom:10px"></canvas>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Marketer Statistics-->
    </div>
    <div class="col-xl-4">
        <!--begin:: Widgets/TOP Reference Source -->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    For Update
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body  m-portlet__body--no-padding" id="topreference" style="padding: 10px;overflow:auto">

                    </div>
                </div>

            </div>
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text  m--font-danger ">
                                    For Update
                                </h3>
                            </div>
                        </div>
                        @*Cheche was here to display count in Dashboard : 2/7/2022*@
                        <div style="left: 200px; padding: 20px;" class="m-portlet__head-title ">
                            Count:
                            <span class="m--font-accent" id="schedule_tour"></span>
                        </div>
                    </div>
                    <div class="m-portlet__body  m-portlet__body--no-padding" id="scheduledtour" style="padding: 10px;overflow:auto">
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/TOP Reference Source -->
    </div>
</div>

<div class="row">
    <div class="col-xl-4">
        <!--begin:: Widgets/Resident Statistics-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            For Update
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <!--begin::Widget5-->
                <div class="m-widget4">
                    <canvas id="referralChart" width="400" height="400"></canvas>
                </div>
                <!--end::Widget 5-->
            </div>
        </div>
        <!--end:: Widgets/Resident Statistics-->
    </div>
    <div class="col-xl-8">
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            For Update &nbsp;<span id="current_year"></span>
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body  m-portlet__body--no-padding">

                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-xl-8">
                        <!--begin:: Widgets/Stats2-1 -->
                        <div class="m-widget1" id="admGraphPanel">
                            <div class="ct-chart ct-perfect-fourth"></div>
                        </div>
                        <!--end:: Widgets/Stats2-1 -->
                    </div>

                    <div class="col-xl-4">
                        <div class="col-xl-12">
                            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text  m--font-info ">
                                                For Update
                                            </h3>
                                        </div>
                                    </div>
                                    <div style="left: 200px; padding: 20px;" class="m-portlet__head-title ">

                                        Count:

                                        <span class="m--font-accent" id="incoming_count"></span>
                                    </div>
                                </div>
                                <div class="m-portlet__body  m-portlet__body--no-padding" id="incomingres" style="padding: 10px;overflow:auto">

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text  m--font-brand ">
                                                For Update
                                            </h3>

                                        </div>
                                    </div>
                                    <div style="left: 200px; padding: 20px;" class="m-portlet__head-title ">

                                        Count:

                                        <span class="m--font-accent" id="recent_count"></span>
                                    </div>
                                </div>
                                <div class="m-portlet__body  m-portlet__body--no-padding" id="recentlyadm" style="padding: 10px;overflow:auto; text-transform: capitalize">

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


