﻿@{
    ViewBag.Title = "Home Care Dashboard";
}
<!--test commit-->

<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.layout.min.js?v=1.5")" type="text/javascript"></script>
<script src="~/assets/dist/Chart.bundle.js"></script>
<link href="~/assets/dist/chartist.min.css" rel="stylesheet" />
<script src="~/assets/dist/chartist.min.js"></script>
@*<script src="~/Scripts/Home/home.js"></script>*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
<script src="https://unpkg.com/chartist-plugin-tooltips@0.0.17"></script>
<script src="https://unpkg.com/chartist-plugin-pointlabels@0.0.6"></script>

<style>
    .chartist-tooltip {
        opacity: 0;
        position: absolute;
        margin: 20px 0 0 10px;
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
        padding: 5px 10px;
        border-radius: 4px;
    }

        .chartist-tooltip.tooltip-show {
            opacity: 1;
        }
</style>

@*<div class="loader" style="display:block;z-index:3000 !important"></div>*@
<div class="row">
    <div class="col-xl-12">
        <!--begin:: Widgets/Resident Statistics-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  ">

            <div class="m-portlet__body" id="tasksPanel" style="height:500px">
                <!--begin::Widget5-->
                <div class="m-widget29">
                    <div class="m-widget_content">
                        <h3 class="m-widget_content-title">HOMECARE STAFF DASHBOARD</h3>
                        <p>Content coming soon ..</p>

                    </div>



                </div>


                <!--end::Widget 5-->
            </div>
        </div>
        <!--end:: Widgets/Resident Statistics-->
    </div>
</div>




